@value colors: "../../variables/colors.css";
@value blue from colors;
@value grey from colors;

@value handleSize: 30px;
@value handlePosition: translate3d(-15px, -11px, 0);

.default {
  position: relative;
  padding: 100px;
}

.rail {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: grey;
}

.track {
  position: absolute;
  height: 10px;
  background-color: green;
}

.handle {
  position: absolute;
  width: handleSize;
  height: handleSize;
  border-radius: 50%;
  opacity: 0.8;
  transform: handlePosition;
}

.handle1 {
  composes: handle;
  background-color: green;
}

.handle2 {
  composes: handle;
  background-color: pink;
}

