@value colors: "../../variables/colors.css";
@value black from colors;
@value xtraLightGrey from colors;
@value dark from colors;

@value handleSize: 30px;
@value handlePosition: translate3d(-15px,-13px,0);

.default {
  position: relative;
  padding: 0 17px;
  user-select: none;
}

.text {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
  user-select: none;
}

.title {
  composes: text;
  color: dark;
  text-align: center;
  user-select: none;
  width: auto;
  padding: 0px 7px;
  border-radius: 25px;
  display: table;
  margin: 0px auto 15px;
}

.bigTitle {
  composes: title;
  font-size: 24px;
  font-weight: 700;
}

.titleLabel {
  composes: text;
  margin-left: -17px;
  font-size: 13px;
  font-weight: 700;
}

.labelsWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 -17px;
}

.label {
  composes: text;
  color: black;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  display: inline-block;
  user-select: none;
}

.labelMin {
  composes: label;
}

.labelMax {
  composes: label;
}

.rail {
  position: relative;
  height: 6px;
  width: 100%;
  border-radius: 10px;
  background-color: xtraLightGrey;
}

.track {
  position: absolute;
  border-radius: 10px;
  height: 6px;
}

.rail:active .handle,
.rail:active .track {
  transition: none;
}

.handle {
  background: white;
  position: absolute;
  width: handleSize;
  height: handleSize;
  border-radius: 50%;
  transform: handlePosition;
  cursor: pointer;
  user-select: none;
}
