@value colors: "../../variables/colors.css";
@value grey from colors;
@value borderGrey from colors;
@value darkGrey from colors;

@value handleSize: 30px;
@value handlePosition: translate3d(-15px,-13px,0);

.default {
  position: relative;
  padding: 0 17px;
  user-select: none;
}

.text {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
  user-select: none;
  margin-left: -17px;
}

.title {
  composes: text;
  color: darkGrey;
  text-align: center;
  user-select: none;
  width: auto;
  padding: 0px 7px;
  border-radius: 25px;
  display: table;
  margin: 0px auto 15px;
}

.titleLabel {
  composes: text;
  font-size: 13px;
  font-weight: 700;
}

.label {
  composes: text;
  color: grey;
  font-size: 10px;
  margin-top: 8px;
  display: inline-block;
  user-select: none;
  visibility: hidden;
}

.labelMin {
  composes: label;
}

.labelMax {
  composes: label;
  float: right;
}

.rail {
  position: relative;
  height: 6px;
  width: 100%;
  border-radius: 10px;
  background-color: borderGrey;
}

.track {
  position: absolute;
  border-radius: 10px;
  height: 6px;
}

.rail:active .handle,
.rail:active .track {
  transition: none;
}

.handle {
  background: white;
  position: absolute;
  width: handleSize;
  height: handleSize;
  border-radius: 50%;
  transform: handlePosition;
  cursor: pointer;
  user-select: none;
}
