@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value dark from colors;

.overlay {
  composes: makeItFlex from './common.css';
  composes: box from './common.css';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.95;
  justify-content: center;
  height: 100%;
  border-radius: 6px;
}

.overlay p {
  justify-content: center;
  text-transform: none;
  color: dark;
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: bold;
}

.arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.icon{
  margin: -5px;
}
