@value colors: "../../variables/colors.css";
@value medium from colors;

.dropZoneContainer {
  composes: makeItFlex from './common.css';
  padding: 32px 87px 24px 87px;
  width: 100%;
  cursor: pointer;
}

.dropZone {
  composes: makeItFlex from './common.css';
  align-items: center;
  min-height: 112px;
  justify-content: center;
  border: 1px dashed medium;
  width: 100%;
  text-align: center;
  border-radius: 3px;
}

.title {
  composes: baseText from './common.css';
  font-size: 20px;
  text-transform: none;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
}

.uploadLabel {
  composes: baseText from './common.css';
  padding: 34px;
  font-size: 16px;
  font-weight: 700;
}

.selectButton {
  margin-top: 26px;
}
