@value colors: "../../variables/colors.css";
@value light from colors;
@value dark from colors;

.wrapper {
  composes: box from './common.css';
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 2%;
  border: 1px solid light;
  outline: none;
}
.arrow {
  color: inherit;
  margin: 0 6px;
}

.back {
  font-family: 'Gilroy';
  font-size: 16px;
  color: dark;
  cursor: pointer;
  padding-bottom: 5px;
  display: inline-block;
}
.back:hover {
  color: color(dark a(60%));
}