@import './common.css';
@value colors: "../../variables/colors.css";
@value light from colors;

.wrapper {
  composes: box;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 2%;
  border: 1px solid light;
  cursor: pointer;
}
