@value colors: "../../variables/colors.css";
@value light from colors;

.wrapper {
  composes: box from './common.css';
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 2%;
  border: 1px solid light;
}
