@import './common.css';
@value colors: "../../variables/colors.css";
@value negative from colors;
@value dark from colors;
@value light from colors;

.reportingContainer {
  width: 100%;
}

.reportHeader {
  width: 100%;
  padding: 15px;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid light;
  background-color: white;
  box-sizing: border-box;
}

.iconContainer {
  width: 43px;
  height: 43px;
  border-radius: 4px;
  padding: 9px;
  justify-content: center;
  margin-left: 24px;
}

.oval {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  padding: 9px;
  box-sizing: border-box;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
}

.iconHeader {
  color: white;
  width: 18px;
  height: 18px;
  margin: 4px;
}

.fileName {
  margin-left: 15px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  color: dark;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.validateIcon {
  width: 20px;
}

.trashIcon {
  width: 20px;
  margin-left: 20px;
  color: #f73f52;
}

.reportContainer {
  padding-top: 53px;
  justify-content: center;
  text-align: center;
}

.emoticon {
  font-size: 40px;
}

.message {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  color: dark;
}

.selectButton {
  margin-top: 26px;
}