@value colors: "../../variables/colors.css";
@value negative from colors;
@value dark from colors;
@value medium from colors;
@value light from colors;
@value orangeAdd from colors;
@value negative from colors;

.reportingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reportHeader {
  width: 100%;
  padding: 15px;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid light;
  background-color: white;
  box-sizing: border-box;
  border-radius: 6px 6px 0 0;
}

.iconContainer {
  width: 43px;
  height: 43px;
  border-radius: 4px;
  padding: 9px;
  justify-content: center;
  margin-left: 24px;
}

.oval {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  padding: 9px;
  box-sizing: border-box;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
}

.iconHeader {
  color: white;
  width: 18px;
  height: 18px;
  margin: 4px;
}

.or {
  font-family: 'Gilroy';
  color: #797979;
}

.drop {
  border: 1px dashed medium;
  margin: 10px 20px 20px 20px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.drop .message{
  margin: auto;
}

.drop .selectButton {
  margin: 10px auto 0 auto;
  line-height: 30px;
}

.fileName {
  margin-left: 15px;
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: bold;
  color: dark;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.validateIcon {
  width: 20px;
  min-width: 20px;
  margin-left: 10px;
}

.fileWrapper {
  display: inline-flex;
  min-width: 0;
  width: 276px;
}

.emptyFileWrapper {
  display: inline-flex;
  flex: 1 0 auto;
}

.actionIcon {
  color: white;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 0 5px white;
  transition: all 0.5s linear;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  min-width: 30px;
  position: relative;
}

.warningIcon {
  border-radius: 50%;
  background: orangeAdd;
  color: white;
  cursor: help;
  margin-left: 10px;
  box-shadow: 0 0 5px white;
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  min-width: 20px;
  position: relative;
}

.warningIcon > svg {
  margin: auto;
}

.actionIcon > svg {
  margin: 3px 5px 0 5px;
}

.trashIcon {
  color: negative;
}

.trashIcon:hover {
  color: negative;
}

.reportContainer {
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
}

.emoticon {
  font-size: 40px;
}

.message {
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: bold;
  color: dark;
}

.selectButton {
  margin: auto;
}

.showToolTip {
  visibility: hidden;
  background-color: color(black a(80%));
  color: #fff;
  text-align: center;
  border-radius: 3px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.8s;
  position: absolute;
  right: 45px;
  bottom: 270px;
  max-width: 230px;
}

.showToolTip::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 20px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.warning:hover .showToolTip{
  visibility: visible;
  opacity: 1;
}

.showToolTip span {
  display: block;
  word-wrap: break-word;
  padding: 3px 10px 5px;
  font-family: "Gilroy";
  font-size: 12px;
  font-weight: bold;
}