@value colors: "../../variables/colors.css";
@value negative from colors;
@value dark from colors;
@value medium from colors;
@value light from colors;

.reportingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reportHeader {
  width: 100%;
  padding: 15px;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid light;
  background-color: white;
  box-sizing: border-box;
  border-radius: 6px 6px 0 0;
}

.iconContainer {
  width: 43px;
  height: 43px;
  border-radius: 4px;
  padding: 9px;
  justify-content: center;
  margin-left: 24px;
}

.oval {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  padding: 9px;
  box-sizing: border-box;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
}

.iconHeader {
  color: white;
  width: 18px;
  height: 18px;
  margin: 4px;
}
.or {
  font-family: 'Open Sans';
  color: #797979;
}
.drop {
  border: 1px dashed medium;
  margin: 10px 20px 20px 20px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.drop .message{
  margin: auto;
}
.drop .selectButton {
  margin: 10px auto 0 auto;
  line-height: 30px;
}
.fileName {
  margin-left: 15px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  color: dark;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.validateIcon {
  width: 20px;
  min-width: 20px;
  margin-left: 10px;
  
}
.fileWrapper {
  display: inline-flex;
  min-width: 0;
  width: 276px;
}
.emptyFileWrapper {
  display: inline-flex;
  flex: 1 0 auto;
}
.actionIcon {
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 0 5px white;
  transition: all 0.5s linear;
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  min-width: 36px;
  position: relative;
}

.actionIcon:hover {
  background: white;
  box-shadow: 0 0 5px dark;
}
.actionIcon > svg {
  margin: auto;
}
.trashIcon {
  background: #f73f52;
}
.trashIcon:hover {
  color: #f73f52;
}
.reportContainer {
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
}

.emoticon {
  font-size: 40px;
}

.message {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  color: dark;
}

.selectButton {
  margin: auto;
}
