@value colors: "../../variables/colors.css";
@value brand from colors;

.default {
  background-color: negative;
  border-radius: 100%;
  border: 1px solid brand;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
