@value colors: "../../variables/colors.css";
@value light from colors;
@value dark from colors;
@value white from colors;
@value cm_grey_400 from colors;
@value surface_input_neutral_strong from colors;

.containerWrapper {
  padding: 15px;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.container {
  position: relative;
  user-select: none;
}

.track {
  height: 10px;
  width: 100%;
  border-radius: 32px;
  background-color: light;
  transform: translate3d(0, -50%, 0);
  position: absolute;
  user-select: none;
}

.rail {
  composes: track;
  width: 0;
  background-color: cm_grey_400;
}

.animatedRail {
  composes: rail;
  transition-property: width, left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.handle {
  background: white;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
  user-select: none;
}

.animatedHandle {
  composes: handle;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.inputsRow {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.moocInput {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  height: auto;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  background-color: surface_input_neutral_strong;
  font-size: 16px;
  cursor: default;
  user-select: none;
  white-space: nowrap;
}

.inputHint {
  color: cm_grey_400;
  font-weight: 700;
  font-size: 16px;
}

.inputValue {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

