@value colors: "../../variables/colors.css";
@value black from colors;
@value xtraLightGrey from colors;
@value negative from colors;
@value dark from colors;
@value white from colors;
@value brand from colors;

.containerWrapper {
  padding: 15px;
  user-select: none;
}

.container {
  position: relative;
  user-select: none;
}

.track {
  height: 6px;
  width: 100%;
  border-radius: 3px;
  background-color: xtraLightGrey;
  transform: translate3d(0, -50%, 0);
  position: absolute;
  user-select: none;
}

.rail {
  composes: track;
  width: 0;
  background-color: brand;
}

.animatedRail {
  composes: rail;
  transition-property: width, left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.handle {
  background: white;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
  user-select: none;
}

.animatedHandle {
  composes: handle;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
