@value breakpoints: "../../../variables/breakpoints.css";
@value tablet from breakpoints;

.wrapper {
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}

.hero {
  height: 350px;
  width: 100%;
}

.popinWithCards {
  position: relative;
  z-index: 7;
}

@media tablet {
  .hero {
    height: 200px;
  }
}
