@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;

@value colors: "../../../variables/colors.css";
@value white from colors;

.wrapper {
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}

@media desktop {
  .section {
    padding-bottom: 20px;
  }
}
