@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;

.wrapper {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 20px;
}

@media desktop {
  .section {
    padding-bottom: 20px;
  }
}
