/* from https://codepen.io/alexerlandsson/pen/yOVdvj */

@value colors: "../../variables/colors.css";
@value positiveColor from colors;
@value negativeColor from colors;
@value primary from colors;
@value BrandOrange from colors;

.container {
  position: absolute;
  width: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: negativeColor ;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  transform: scale(0);
  animation: fx 1300ms ease infinite 0ms;
}

.dot:nth-child(2) {
  background-color: primary ;
  animation: fx 1300ms ease infinite 300ms;
}

.dot:nth-child(3) {
  background-color: positiveColor ;
  animation: fx 1300ms ease infinite 600ms;
}

.dot:nth-child(4) {
  background-color: BrandOrange ;
  animation: fx 1300ms ease infinite 900ms;
}

@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
