@value colors: "../../variables/colors.css";
@value positive from colors;
@value negative from colors;
@value brand from colors;
@value battle from colors;
@value TIME 3s;
@value RED_INITIAL translate3d(-2.5px, 10px, 0) rotate3d(0, 0, 1, 45deg);
@value RED_FINAL translate3d(-5px, -5px, 0) rotate3d(0, 0, 1, 45deg);
@value BLUE_INITIAL translate3d(-2.5px, 40px, 0) rotate3d(0, 0, 1, -45deg);
@value BLUE_FINAL translate3d(-5px, 55px, 0) rotate3d(0, 0, 1, -45deg);
@value YELLOW_INITIAL translate3d(27.5px, 40px, 0) rotate3d(0, 0, 1, 225deg);
@value YELLOW_FINAL translate3d(55px, 55px, 0) rotate3d(0, 0, 1, 225deg);
@value GREEN_INITIAL translate3d(27.5px, 10px, 0) rotate3d(0, 0, 1, 135deg);
@value GREEN_FINAL translate3d(55px, -5px, 0) rotate3d(0, 0, 1, 135deg);

.container {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  animation: scale 9s ease-in-out infinite;
}

.dots {
  animation: rotate TIME ease-in-out infinite;
  width: 100%;
  height: 100%;
}

.dot {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
}

.red {
  composes: dot;
  background-color: negative;
  animation: red TIME infinite;
}

.blue {
  composes: dot;
  background-color: brand;
  animation: blue TIME infinite;
}

.green {
  composes: dot;
  background-color: positive;
  animation: green TIME infinite;
}

.yellow {
  composes: dot;
  background-color: battle;
  animation: yellow TIME infinite;
}

@keyframes scale {
  0% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.5, 0.5, 1);
  }

  15% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.2, 0.2, 1);
  }

  33% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.5, 0.5, 1);
  }

  44% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.5, 0.5, 1);
  }

  50% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
  }

  66% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.5, 0.5, 1);
  }

  77% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.5, 0.5, 1);
  }

  88% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.3, 0.3, 1);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.5, 0.5, 1);
  }
}

@keyframes rotate {
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes red {
  0% {
    transform: RED_INITIAL;
  }

  50% {
    transform: RED_FINAL;
    width: 10px;
  }

  100% {
    transform: RED_INITIAL;
  }
}

@keyframes blue {
  0% {
    transform: BLUE_INITIAL;
  }

  50% {
    transform: BLUE_FINAL;
    width: 10px;
  }

  100% {
    transform: BLUE_INITIAL;
  }
}

@keyframes yellow {
  0% {
    transform: YELLOW_INITIAL;
  }

  50% {
    transform: YELLOW_FINAL;
    width: 10px;
  }

  100% {
    transform: YELLOW_INITIAL;
  }
}

@keyframes green {
  0% {
    transform: GREEN_INITIAL;
  }

  50% {
    transform: GREEN_FINAL;
    width: 10px;
  }

  100% {
    transform: GREEN_INITIAL;
  }
}
