.default {
  composes: default from '../input-text/style.css';
}

.error {
  composes: error from '../input-text/style.css';
  composes: default;
}

.title {
  composes: title from '../input-text/style.css';
}

.preview {
  z-index: 999;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 10px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

.description {
  composes: description from '../input-text/style.css';
}
