@value breakpoints: "../../../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../../../../variables/colors.css";
@value xtraLightGrey from colors;
@value dark from colors;
@value light from colors;
@value medium from colors;

.wrapper {
  min-width: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: xtraLightGrey;
}

.backIcon {
  composes: backIcon from './style.css';
  color: inherit;
}

.contentWrapper {
  padding-right: 16px;
  color: dark;
  stroke: dark;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  max-width: 60%;
}

.contentWrapper:hover {
  color: medium;
  stroke: medium;
}

.content {
  min-width: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.contentTitle {
  font-family: 'Gilroy';
  font-size: 16px;
  color: inherit;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.3s;
  max-width: 100%;
}

.contentDetails {
  font-family: 'Gilroy';
  font-size: 10px;
  font-weight: 700;
}

.subcontent {
  min-width: 0;
  flex-grow: 2;
  height: 100%;
  background-color: light;
  display: flex;
  padding: 0 16px;
  align-items: center;
}

.subcontentTitle {
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 500;
  color: dark;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subcontentDetails {
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 700;
  color: dark;
  margin-right: 10px;
}

.innerHTML {
  composes: innerHTML from '../../../../../atom/label/style.css';
}

.contentWrapperScorm {
  composes: contentWrapper;
  cursor: default;
}

.contentWrapperScorm:hover {
  color: dark;
  stroke: dark;
}

@media mobile {
  .contentWrapper {
    max-width: 90%;
  }

  .content {
    max-width: none;
    width: 100%;
  }

  .subcontent {
    display: none;
  }
}
