@value colors: "../../../../../variables/colors.css";
@value light from colors;

.wrapper {
  background-color: light;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 16px;
}

.life {
  margin-right: 16px;
}
