@value breakpoints: "../../../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../../../../variables/colors.css";
@value dark from colors;
@value medium from colors;

.content {
  min-width: 0;
  padding-right: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: dark;
  stroke: dark;
}

.content:hover {
  color: medium;
  stroke: medium;
}

.backIcon {
  composes: backIcon from './style.css';
  color: inherit;
}

.contentTitle {
  font-family: 'Gilroy';
  font-size: 13px;
  color: inherit;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.3s;
  max-width: 100%;
}

.innerHTML {
  composes: innerHTML from '../../../../../atom/label/style.css';
}

@media mobile {
  .content {
    max-width: none;
    width: 100%;
  }
}
