@value colors: "../../../../../variables/colors.css";
@value light from colors;

.wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: light;
  border-radius: 3px 3px 0 0;
  align-items: center;
}

.backIcon {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  color: inherit;
  stroke: inherit;
  stroke-width: 1px;
  transition: all 0.3s;
  min-width: 16px;
}
