@value colors: "../../../../../variables/colors.css";
@value light, cm_primary_blue from colors;

.wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: light;
  border-radius: 3px 3px 0 0;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0px;
  margin: 0px;
}

.helpButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  color: cm_primary_blue;
}

.backIcon {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  color: inherit;
  stroke: inherit;
  stroke-width: 1px;
  transition: all 0.3s;
  min-width: 16px;
}
