@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.cursuses {
  width: 230px;
}

.title {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 15px;
  color: #B0BEC5;
  text-transform: uppercase;
  background-color: #F0F0F0;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
  border-radius: 2px 2px 0 0;
}

.list {
  list-style-type: none;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  border-radius: 0 0 2px 2px;
}

.list:last-child {
  border-bottom: none;
}

.cursus {
  border-bottom: 1px solid #F0F0F0;
  padding: 0 20px;
}

.cursus:hover {
  background-color: #B0BEC5;;
  cursor: pointer;
}

.cursus a {
  font-family: Open Sans;
  font-size: 14px;
  color: #B0BEC5;
  text-decoration: none;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.cursus:hover a {
  color: #FFFFFF;
}

@media mobile {
  .cursuses {
    display: none;
  }
}
