@value colors: "../../variables/colors.css";
@value cm_grey_50 from colors;
@value cm_grey_300 from colors;
@value cm_grey_400 from colors;
@value cm_grey_900 from colors;
@value cm_green_200 from colors;
@value cm_purple_200 from colors;
@value cm_orange_200 from colors;
@value white from colors;
@value lightBlack from colors;
@value cm_yellow_scorm from colors;
@value cm_bleu_article from colors;
@value cm_red_video from colors;
@value cm_violet_podcast from colors;

.container {
  width: 319px;
  height: 658px;
  border-radius: 7px;
  background-color: cm_grey_50;
  padding-top: 40px;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 32px;
}

.summaryTitle {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: cm_grey_900;
}

.sectionWrapper {
  margin-top: 32px;
}

.title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: cm_grey_400;
}

.value {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
}

.valueSimpleText {
  font-family: Gilroy;
  composes: value;
  margin-top: 8px;
}

.contentWrapper {
  font-family: Gilroy;
  margin-top: 8px;
}

.content {
  display: flex;
  align-items: center;
}

.contentTitle {
  font-size: 13px;
  text-overflow: ellipsis;
}

.author {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  color: cm_grey_300;
}

.level {
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 7px;
  font-style: normal;
  margin-right: 4px;
  color: white;
}

.base {
  composes: level;
  background-color: cm_green_200;
}

.advanced {
  composes: level;
  background-color: cm_purple_200;
}

.coach {
  composes: level;
  background-color: cm_orange_200;
}

.chapter {
  composes: level;
  background-color: lightBlack;
}

.scorm {
  composes: level;
  background-color: cm_yellow_scorm;
}

.article {
  composes: level;
  background-color: cm_bleu_article;
}

.video {
  composes: level;
  background-color: cm_red_video;
}

.podcast {
  composes: level;
  background-color: cm_violet_podcast;
}