@value colors: "../../variables/colors.css";
@value cm_grey_50 from colors;
@value cm_grey_300 from colors;
@value cm_grey_400 from colors;
@value cm_grey_900 from colors;
@value cm_green_200 from colors;
@value cm_purple_200 from colors;
@value cm_orange_200 from colors;
@value white from colors;
@value lightBlack from colors;
@value cm_yellow_scorm from colors;
@value cm_bleu_article from colors;
@value cm_red_video from colors;
@value cm_violet_podcast from colors;

.container {
  font-family: Gilroy;
  width: 245px;
  max-height: 586px;
  border-radius: 7px;
  background-color: cm_grey_50;
  padding-top: 40px;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 32px;
  overflow-y: auto;
}

.summary {
  max-height: 458px;
  overflow-y: auto;
  overflow-x: hidden;
}

.draftZone {
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 14px;
  height: 14px;
}

.summaryTitle {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 24px;
  color: cm_grey_900;
  display: block;
}

.sectionWrapper {
  margin-top: 32px;
}

.sectionWrapper:first-child {
  margin-top: 0px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
}

.counterText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: cm_grey_400;
  display: block;
}

.value {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  display: block;
}

.valueSimpleText {
  composes: value;
  margin-top: 8px;
}

.contentWrapper {
  margin-top: 8px;
  display: flex;
}

.contentItem {
  display: block;
  max-width: calc(100% -25px);
}

.content {
  display: flex;
  align-items: center;
}

.contentCounter {
  margin-right: 8px;
  color: cm_grey_400;
  font-size: 13px;
  min-width: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.contentTitle {
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.author {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  color: cm_grey_300;
}

.level {
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 7px;
  font-style: normal;
  margin-right: 4px;
  color: white;
}

.base {
  composes: level;
  background-color: cm_green_200;
}

.advanced {
  composes: level;
  background-color: cm_purple_200;
}

.coach {
  composes: level;
  background-color: cm_orange_200;
}

.chapter {
  composes: level;
  background-color: lightBlack;
}

.scorm {
  composes: level;
  background-color: cm_yellow_scorm;
}

.article {
  composes: level;
  background-color: cm_bleu_article;
}

.video {
  composes: level;
  background-color: cm_red_video;
}

.podcast {
  composes: level;
  background-color: cm_violet_podcast;
}