@value colors: "../../variables/colors.css";
@value dark from colors;
@value brand from colors;
@value light from colors;
@value black from colors;
@value cm_grey_600 from colors;
@value negative from colors;
@value lightGreen from colors;
@value xtraLightGrey from colors;
@value cm_grey_50 from colors;
@value cm_negative_100 from colors;
@value cm_negative_200 from colors;
@value cm_primary_blue from colors;
@value cm_grey_100 from colors;
@value cm_grey_200 from colors;
@value cm_blue_600 from colors;
@value cm_grey_500 from colors;
@value cm_grey_700 from colors;
@value white from colors;
@value cm_blue_50 from colors;
@value breakpoints: '../../variables/breakpoints.css';
@value mobile from breakpoints;
@value tablet from breakpoints;
@value cm_grey_75 from colors;

.background {
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15% 25%;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  position: fixed;
  z-index: 3;
}

.headerBackground {
  width: calc(100% + 32px);
  height: auto;
  margin: -16px -16px 0px -16px;
}

.popin {
  overflow: auto;
  width: 434px;
  flex-grow: 0;
  margin: 16px;
  padding: 16px 16px 20px 16px;
  border-radius: 20px;
  background-color: cm_grey_50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: popup 0.7s;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 0px;
  background: xtraLightGrey;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.message p {
  margin: 10px 0px;
}
@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.contentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: cm_grey_600;
}

.buttonContainer {
  min-height: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: max-content;
  width: 161px;
  padding: 8px;
}

.largeButton {
  width: 75%;
  padding: 8px;
}

.icon {
  width: 60px;
  height: 60px;
  color: cm_grey_600;
}

.popinHeader {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.popinHeader button {
  position: absolute;
}
.descriptionText {
  text-align: center;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: cm_grey_500;
  font-style: normal;
  white-space: pre-line;
  margin: 0px 32px;
}

.content {
  margin: 20px 32px;
}

.cookieTitleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleContainer {
  padding-top: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cookieHeader {
  width: 100%;
  background-color: cm_grey_700;
  padding: 16px 24px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
}

.popinCookie {
  max-width: 550px;
  flex-grow: 0;
  margin: 16px;
  border-radius: 10px;
  background-color: cm_grey_50;
  animation: popup 0.7s;
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 1000;
}
.cookieTitle {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: white;
  padding-left: 16px;
}
.cookieIcon {
  height: 20px;
  width: 20px;
}
.cookieIconContainer {
  width: 39px;
  height: 39px;
  border-radius: 8px;
  background-color: cm_blue_50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popinCookie .button  {
  width: 100%;
  padding: 0px 8px 0px 0px
}
.popinCookie .button span {
  margin: 0
}

.popinCookie .message {
  padding: 24px 24px 40px 24px 
}

.descriptionBtn {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: cm_grey_500;
  font-style: normal;
  white-space: pre-line;
  margin-top: 24px;
  width: calc(100% - 24px);
  padding-left: 24px;
  margin-bottom: 24px;
}


.firstBtnSwitchContainer {
  height: 56px;
  background-color: cm_grey_75;
  width: 100%;
  display: flex;
  align-items: center;
}
.firstBtnSwitchContainer div:first-child {
  margin-left: 9px;
}
.singleSwitchContainer div:first-child {
 margin-left: 9px;
}

.lastBtnSwitchContainer {
  composes: singleSwitchContainer;
  margin-bottom: 28px;
 }

.singleSwitchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}
a {
  color: cm_primary_blue;
  text-decoration: none;
}

.popinCookie .buttonContainer  {
  min-height: 44px;
  padding-bottom: 16px;
  width: auto;
  padding-left: 24px;
  padding-right: 16px;
}
.popinCookie .largeButton {
  padding: 0px 8px 0px 0px
}

@media tablet {
  .popin {
    width: 80%;
    overflow: hidden;
  }

  .buttonContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 12px 24px 32px 24px;
  }
  
  .largeButton, .button , .titleContainer {
    width: 100%;
  }

  .popinCookie {
    position: fixed;
    bottom: 10px;
    left: unset;
    align-self: center;
    max-height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .popinCookie .button {
    width: 100%;
    padding: 0px 0px 8px 0px
  }

  .popinCookie .largeButton {
    padding: 8px 0px 0px 0px;
  }
  .popinCookie .message {
    padding: 24px 24px 0px 24px
  }
  .descriptionText {
    margin: 0px 16px;
  }
  .content {
    margin: 20px 16px;
  }
  .message { 
    padding: 40px 16px 0px;
  }
}

@media mobile {
  .background {
    padding: 0;
  }

  .popin {
    width: 80%;
    overflow: hidden;
  }

  .buttonContainer {
    display: flex;
    margin: 12px 16px 32px 16px;
  }
  
  .button {
    width: 100%;
  }

  .titleContainer {
    width: 100%;
    margin: 0px 16px;
  }

  .descriptionText {
    margin: 0px 16px;
  }

  .content {
    margin: 16px 32px;
  }
  
  .largeButton { 
    margin: 0px 32px;
  }

  .message { 
    padding: 40px 16px 0px;
  }
}

/* ie11 style */
_:-ms-fullscreen,
.popinHeader
button {
  position: relative;
}

_:-ms-fullscreen,
.buttonContainer {
  width: 85%;
}

_:-ms-fullscreen,
.button {
  width: 100%;
}

_:-ms-fullscreen,
.popin {
  position: relative;
}

_:-ms-fullscreen 
.buttonContainer {
  width: 85%;
}
