@value colors: "../../../variables/colors.css";
@value light from colors;
@value xtraLightGrey from colors;
@value cm_lightGrey from colors;
@value black from colors;
@value cm_grey from colors;
@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value wide from breakpoints;

.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  scroll-behavior: unset;
  margin: 0 auto;
  padding-bottom: 80px 20px;
  display: flex;
  font-family: "Open Sans";
}

.tabs {
  font-family: 'Gilroy';
  margin-left: 16%;
  padding: 1px 34px 1px 16px;
  font-size: 16px;
  font-weight: 700;
  border-left: solid 3px cm_lightGrey;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  overflow: auto;
}

.notifications {
  padding: 35px 120px 0;
}

.notification {
  margin-bottom: 10px;
}

.notification:last-child {
  margin-bottom: 0;
}

.contentHandler {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.dashboardAside {
  scroll-behavior: unset;
  min-width: 223px;
  background: xtraLightGrey;
}

.contentView {
  flex-grow: 1;
  width: 980px;
  text-align: left;
  position: relative;
  margin: 0 auto;
  line-height: 1.4em;
}

.dashboardContent {
  padding: 1rem;
  text-align: left;
  position: relative;
  margin: 0 auto;
  margin-top: 16px;
  line-height: 1.4em;
  border: 1px solid light;
}

.selectedElement {
  font-size: 12px;
  background-color: cm_lightGrey;
  border-radius: 5px;
  color: black;
  font-weight: 600;
}

.unselectedElement {
  font-size: 12px;
  font-weight: 600;
  color: cm_grey;
}

.unselectedElement:hover {
  color: black;
}

.logo {
  height: 32px;
  margin: 32px 20px 54px 20px;
}

@media desktop {
  .contentHandler {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .contentHandler:first-child {
    width: 80%;
  }

  .contentHandler:nth-child(2) {
    width: 80%;
  }

  .contentView {
    width: 92.4%;
    margin: 0 auto;
    margin-right: 17px;
  }
}

@media tablet {
  .container {
    scroll-behavior: unset;
  }

  .contentView {
    margin: 0 auto;
    margin-right: 16px;
  }
}

@media mobile {
  .contentHandler:first-child {
    width: 85%;
  }

  .notification {
    margin: 0 auto;
  }
}
