@value colors: "../../../variables/colors.css";
@value light from colors;
@value white from colors;
@value xtraLightGrey from colors;
@value cm_grey_100 from colors;
@value black from colors;
@value cm_grey_500 from colors;
@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value wide from breakpoints;

.container {
  height: 100%;
  scroll-behavior: unset;
  margin: 0 auto;
  display: flex;
}

.loaderContainer {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 60px;
  width: 60px;
}

.left {
  width: 248px;
}

.contentWrapper {
  width: calc(100% - 351px);
  padding: 0 64px 0 64px;
}

.headerSticky {
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: calc(100% - 351px);
  z-index: 999;
  pointer-events: none;
}

.header {
  padding: 24px 0 5px 0;
}

.tabs {
  padding: 0 0 48px 0;
}

.subTabsView {
  font-family: 'Gilroy';
  margin-left: 16%;
  padding: 1px 34px 1px 16px;
  font-size: 16px;
  font-weight: 700;
  border-left: solid 3px cm_grey_100;
}

.notifications {
  padding: 0 0 32px 0;
}

.notification {
  margin-bottom: 10px;
}

.notification:last-child {
  margin-bottom: 0;
}

.navigation {
  scroll-behavior: unset;
  background: xtraLightGrey;
  position: fixed;
  left: 0;
  height: 100%;
  overflow: scroll;
  z-index: 999;
  min-width: 240px
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  top: 124px;
  position: relative;
}

.contentWithNotifications {
  top: 100px;
}

.selectedElement {
  font-size: 12px;
  background-color: cm_grey_100;
  border-radius: 5px;
  color: black;
  font-weight: 600;
}

.unselectedElement {
  font-size: 12px;
  font-weight: 600;
  color: cm_grey_500;
}

.unselectedElement:hover {
  color: black;
}

.logo {
  height: 32px;
  margin: 32px 20px 54px 20px;
}

.popin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  pointer-events: fill;
}

.documentation{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: calc(100% - 750px);
  width: 538px;
  z-index: 1000;
  padding: 0px 16px 16px 16px;
  margin-right: -100%;
  transition: margin 0.5s ease-in;
  background: #FFFFFF;
  box-shadow: -8px 0px 10px rgba(22, 22, 22, 0.1);
  border-radius: 0px 4px 4px 0px;
}
.documentationContent {
  overflow-y: scroll;
  top: 0px;
  height: 100%;
  position: relative;
}
.open{
    margin-right: 0px;
}
.closeButton {
  background: #fff;
  color: red;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media desktop, tablet {
  .container {
    scroll-behavior: unset;
    margin: 0;
  }

  .content {
    height: calc(100% - 143px);
  }

  .headerSticky {
    width: calc(100% - 287px);
  }

  .contentWrapper {
    width: calc(100% - 287px);
    padding: 0 32px 0 32px;
  }
}

@media mobile {
  .notification {
    margin: 0 auto;
  }
}
