.wrapper {
  width: 300px;
  height: 300px;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.09);
  border-radius: 5px;
  overflow: hidden;
  background-color: #efefef;
  position: relative;
}

.link {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  height: 300px;
  position: relative;
  z-index: 9;
  top: 0;
  left: 0;
}

.link a {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 380px;
  text-align: center;
}

.edit:before {
  display: block;
  content: '+';
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  padding-left: 19px; 
  position: relative;
  top: 110px;
  left: 120px;
  border: solid 2px #00B0FF;
  border-radius: 50%;
  width: 31px;
  height: 50px;
  color: #00B0FF;
}

.link a:hover {
  text-decoration: underline;
}

.edit {
  composes: link;
  border-right: 1px solid #F5F5F5;
}

.edit a {
  color: #455A64;
}
