@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;

.container {
  width: 100%;
}

.header {
  display: flex;
}

.search {
  margin: 0 0 0 16px;
  width: 42%;
  min-width: 309px;
}

.button {
  width: 17%;
  min-width: 129px;
}

.resultContainer {
  margin: 24px 0 0 0;
  width: 100%;
}

li {
  min-width: 126px;
  max-width: 268px;
  display: inline-flex;
  margin: 0 16px 16px 0px;
}