@value colors: "../../variables/colors.css";
@value cm_primary_blue from colors;
@value cm_grey_100 from colors;
@value cm_grey_900 from colors;

.container {
  width: 100%;
}

.header {
  display: flex;
}

.search {
  margin: 0 0 0 16px;
  width: 42%;
  min-width: 309px;
}

.button {
  width: 17%;
  min-width: 129px;
}

.resultContainer {
  margin: 24px 0 0 0;
  width: 100%;
}

.result {
  min-width: 153px;
  max-width: 268px;
  display: inline-block;
  margin: 0 16px 16px 0px;
}

.loaderContainer {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 60px;
  width: 60px;
}