@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;

.container {
  width: 100%;
}

.button {
  font-family: Gilroy;
  width: 129px;
  height: 64px;
  background-color: cm_grey_100;
}