@value colors: "../../variables/colors.css";
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value light from colors;
@value white from colors;
@value dark from colors;
@value positive from colors;
@value negative from colors;
@value black from colors;
@value xtraLightGrey from colors;

.container {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 13px;
  overflow: inherit;
}

.cta {
  padding: 12px 16px;
  min-width: 63px;
  max-width: max-content;
  display: block;
  text-transform: inherit;
  background-color: xtraLightGrey;
  color: dark;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  line-height: inherit;
  text-align: center;
  box-sizing: border-box;
  border-radius: inherit;
  border: solid 1px light;
  width: 100%;
  user-select: none;
  height: 44px;
  cursor: pointer;
}

.cta p {
  margin: 0;
  padding: 0;
}

.cta:hover {
  color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback {
  position: fixed;
  left: 45%;
  bottom: 10%;
  width: max-content;
  height: 56px;
  padding: 8px 16px;
  max-height: 24px;
  border-radius: 3px;
  background-color: positive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.25);
  margin: -25px 0 0 -25px;
  z-index: 1;
}

.errorFeedback {
  background-color: negative;
}

.shareIcon {
  margin: 0 4px;
  color: dark;
}

.cta:hover .shareIcon {
  color: black;
}

.checkIcon {
  margin: 0 4px;
  color: white;
}

@media tablet {
  .container {
    flex-direction: column;
  }

  .cta {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .feedback {
    position: fixed;
    left: 45%;
    bottom: 5%;
  }
}
