@value colors: "../../variables/colors.css";
@value medium from colors;
@value lightGreen from colors;
@value brand from colors;
@value dark from colors;
@value white from colors;
@value xtraLightGrey from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value mobile from breakpoints;
@value desktop from breakpoints;

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  height: 80px;
  box-sizing: border-box;
  background-color: xtraLightGrey;
  align-items: center;
}

.breadcrumb {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumb a {
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 17px;
  color: medium;
  text-decoration: none;
}

.breadcrumb span {
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 17px;
  color: dark;
}

.breadcrumb a:hover {
  color: medium;
}

.breadcrumb:last-child::after {
  content: '';
}

.breadcrumb::after {
  content: '⟩';
  color: medium;
  margin-left: 10px;
}

.link {
  display: inline-block;
  margin-left: 10px;
}

.link > * {
  font-family: 'Gilroy';
  font-size: 15px;
  line-height: 52px;
  color: white;
  display: block;
  height: 52px;
  padding: 0 50px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 700;
}

.primary {
  composes: link;
}

.primary a {
  background-color: brand;
}

.primary a::before {
  background-color: color(brand lightness(70%));
}

.secondary {
  composes: link;
}

.secondary a {
  background-color: lightGreen;
}

.secondary a::before {
  background-color: color(lightGreen lightness(50%));
}

@media desktop {
  .wrapper {
    flex-direction: column;
    padding: 0;
    box-sizing: none;
    background-color: white;
  }

  .link {
    padding: 0;
    padding-top: 10px;
  }
}

@media mobile {
  .wrapper {
    margin: 0 auto;
    padding: 0;
  }

  .link:first-child {
    margin-left: 0;
  }
}
