@value colors: "../../variables/colors.css";
@value white from colors;
@value primary from colors;
@value primaryAdd2 from colors;
@value mediumGrey from colors;
@value darkGrey from colors;
@value lightGrey from colors;
@value extraLightGrey from colors;
@value brandGreen from colors;
@value brandGreenHover from colors;

.wrapper {
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding: 0 40px;
 height: 80px;
 box-sizing: border-box;
 background-color: extraLightGrey;
 align-items: center;
}

.breadcrumbs {

}

.breadcrumb {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumb a {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 17px;
  color: mediumGrey;
  text-decoration: none;
}

.breadcrumb span {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 17px;
  color: darkGrey;
}

.breadcrumb a:hover {
  color: mediumGrey;
}

.breadcrumb:last-child:after {
  content: '';
}

.breadcrumb:after {
  content: '⟩';
  color: lightGrey;
  margin-left: 10px;
}

.links {

}

.link {
  display: inline-block;
  margin-left: 10px;
}

.link > * {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 52px;
  color: white;
  display: block;
  height: 52px;
  padding: 0 50px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 700;
}

.primary {
  composes: link;
}

.primary a {
  background-color: primary;
}

.primary a:before {
  background-color: primaryAdd2;
}

.secondary {
  composes: link;
}

.secondary a {
  background-color: brandGreen;
}

.secondary a:before {
  background-color: brandGreenHover;
}
