@value colors: "../../variables/colors.css";
@value dark from colors;
@value xtraLightGrey from colors;
@value light from colors;
@value white from colors;
@value orange from colors;
@value brand from colors;
@value battle from colors;
@value cm_grey_200 from colors;
@value cm_grey_100 from colors;
@value cm_blue_600 from colors;
@value cm_blue_50 from colors;
@value cm_orange_700 from colors;
@value cm_pink_50 from colors;
@value cm_green_200 from colors;
@value cm_green_50 from colors;
@value cm_primary_blue from colors;

.default {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.coorpManager {
  display: flex;
  align-items: center;
}

.error {
  composes: default;
}

.modified {
  composes: default;
}

.default input,
.coorpManager input {
  display: none;
}

.icon {
  display: none;
  width: 16px;
  height: 14px;
  color: white;
}

.default .title {
  font-family: open sans;
  font-size: 15px;
  text-transform: none;
  color: dark;
  width: 180px;
}

.default .tertiary,
.default .primary,
.default .secondary {
  color: dark;
  background-color: unset;
}

.coorpManager .title {
  font-family: Gilroy;
  font-size: 15px;
  text-transform: none;
  margin: 0 6px;
  padding: 4px 8px;
  border-radius: 27px;
}

.tertiary {
  composes: title;
  color: cm_green_200;
  background-color: cm_green_50;
}

.secondary {
  composes: title;
  color: cm_orange_700;
  background-color: cm_pink_50;
}

.primary {
  composes: title;
  color: cm_blue_600;
  background-color: cm_blue_50;
}

.default label,
.coorpManager label {
  border: solid 1px cm_grey_200;
  background-color: cm_grey_100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 5px;
  font-size: 14px;
  color: dark;
  margin-right: 6px;
  position: relative;
}

.default label {
  margin-left: 20px;
}

.checkbox:disabled + label {
  opacity: 0.4;
}

.checkbox:checked + label {
  border: solid 1px cm_primary_blue;
  background-color: cm_primary_blue;
}

.checkbox:checked + label .icon {
  display: flex;
}

.error label {
  border: 1px solid orange;
}

.error input {
  border-color: orange;
}

.modified input {
  border-color: battle;
}

.modified label {
  border: 3px solid battle;
}
