@value colors: "../../variables/colors.css";
@value dark from colors;
@value xtraLightGrey from colors;
@value orange from colors;
@value brand from colors;
@value battle from colors;

.default {
  display: flex;
}

.error {
  composes: default;
}

.modified {
  composes: default;
}

.default input {
  display: none;
}

.title {
  font-family: "Open Sans";
  font-size: 15px;
  text-transform: none;
  color: dark;
  width: 180px;
}

.checkbox:not(:checked) + label::after,
.checkbox:checked + label::after {
  content: '✔';
  position: absolute;
  top: 6px;
  left: 5px;
  font-size: 18px;
  line-height: 0.8;
  color: brand;
  transition: all 0.2s;
}

/* checked mark aspect changes */
.checkbox:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}

.checkbox:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

.default label {
  border: solid 2px xtraLightGrey;
  background-color: xtraLightGrey;
  width: 23px;
  height: 23px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  margin-left: 20px;
  position: relative;
}

.error label {
  border: 3px solid orange;
}

.error input {
  border-color: orange;
}

.modified input {
  border-color: battle;
}

.modified label {
  border: 3px solid battle;
}
