@keyframes bounceAndPause {
  0% {
    transform: scale(1);
  }

  8% {
    transform: scale(1.2);
  }

  16% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.bounceAndPause {
  animation: bounceAndPause 5s infinite;
}
