@keyframes bounceTwice {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  30% {
    transform: scale(1);
  }

  35% {
    transform: scale(1.3);
  }

  40% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.bounceTwice {
  animation: bounceTwice 5s infinite;
}
