@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  30% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 2s;
  opacity: 0;
}
