@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value white from colors;
@value medium from colors;

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: -200px;
    }

    30% {
        opacity: 0;
        margin-top: -200px;
    }

    100% {
        margin-top: 70px;
        opacity: 1;
    }
}

.banner {
    display: flex;
    align-items: center;
    position: fixed;
    font-family: 'Gilroy';
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    margin: 70px 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 5px 30px;
    animation: fadeIn 3s;
    z-index: 10000;
}

.buttons {
    position: absolute;
    right: 20px;
    top: 4px;
}

.close {
    min-width: 120px;
    margin-left: 10px;
    border-radius: 4px;
}

.button {
    min-width: 120px;
    margin-left: 10px;
    border-radius: 4px;
}

.circle {
    border: 3px solid white;
    height: 44px;
    border-radius: 50%;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle:after {
    opacity: 0.15;
}

.icon {
    height: 22px;
    color: white;
}

.text {
    padding-left: 11px;
    width: 60%;
}

.title {
    height: 15px;
    font-family: 'Gilroy';
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.message {
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

@media mobile {
    .banner {
        flex-direction: column;
    }

    .button {
        margin: 5px 0 10px;
    }
}
