@value colors: "../../variables/colors.css";
@value grey from colors;
@value red from colors;

.default {
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-heart from '../../variables/fontawesome.css';
  font-size: 1.4375rem;
  line-height: 1.725rem;
  color: grey;
  padding: 0 4px;
}

.full {
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-heart from '../../variables/fontawesome.css';
  font-size: 1.4375rem;
  line-height: 1.725rem;
  color: red;
  padding: 0 4px;
}
