.col {
    display: inline-block;
    width: 281px;
    margin-left: 97px;
    height: auto;
    vertical-align: top;
}
.head {
    display: block;
    width: 100%;
}
.price {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    font-family: OpenSans-Semibold;
    font-size: 30px;
    color: #455A64;
    letter-spacing: 0px;
    line-height: 30px;
}
.popularity {
    display: inline-block;
}
.category {
    display: inline-block;
    width: auto;
    text-align: center;
    background: #546E7A;
    border-radius: 15px;
    font-family: OpenSans-Extrabold;
    font-size: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 3px 7px;
}
a.buyall {
    display: block;
    border: 0;
    padding: 20px 0;
    text-align: center;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 14px;
    background: #66BB6A;
    color: white;
    text-transform: uppercase;
    font-family: OpenSans;
    cursor: pointer;
    text-decoration: none;
}
a.buyall:hover {
    background: #3c6e3f;
    border: 0;
}
a.buysample {
    display: block;
    border: 0;
    margin-bottom: 37px;
    padding: 20px 0;
    text-align: center;
    border-radius: 2px;
    width: 100%;
    background: #00B0FF;
    color: white;
    text-transform: uppercase;
    font-family: OpenSans;
    cursor: pointer;
    text-decoration: none;
}
a.buysample:hover {
    background: #007bb2;
    border: 0;
}
.buyall span,
.buysample span
{ font-weight: bold; }

.author {
    font-family: OpenSans-Extrabold;
    font-size: 10px;
    color: #546E7A;
    margin-bottom: 30px;
    padding-bottom: 10px;
    line-height: 10px;
    border-bottom: 1px solid #E0E0E0;
    text-transform: uppercase;
}

.title {
    font-family: OpenSans-Semibold;
    color: #455A64;
    border: 1px solid #E3E3E3;
    padding: 20px;
    text-align: left;
}

.popularity0,
.popularity1,
.popularity2,
.popularity3,
.popularity4,
.popularity5 {
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 5px 10px;
    color: grey;
    font-size: 15px;
    color: #B0BEC5;
}

.popularity1 .pop1 {
    color: #ffb90d;
}

.popularity2 .pop1,
.popularity2 .pop2{
    color: #ffb90d;
}

.popularity3 .pop1,
.popularity3 .pop2,
.popularity3 .pop3{
    color: #ffb90d;
}

.popularity4 .pop1,
.popularity4 .pop2,
.popularity4 .pop3,
.popularity4 .pop4 {
    color: #ffb90d;
}

.popularity5 .pop1,
.popularity5 .pop2,
.popularity5 .pop3,
.popularity5 .pop4,
.popularity5 .pop5 {
    color: #ffb90d;
}