@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.col {
  width: 100%;
  height: auto;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.link {
  font-family: 'social-icons';
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  width: 19px;
  padding: 4px;
  border: 1px solid #455A64;
  color: #455A64;
  border-radius: 50%;
  box-sizing: content-box;
  text-decoration: none;
  margin: 20px 3px;
}

.detailTitle {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 10px;
  color: #546E7A;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  line-height: 10px;
  border-bottom: 1px solid #E0E0E0;
  text-transform: uppercase;
}

.logoContainer {
  width: 100%;
  color: #455A64;
  border: 1px solid #E3E3E3;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  width: 100%;
}

@media desktop {
  .col {
    display: flex;
  }

  .logo {
    width: 50%;
  }

  .ctaWrapper {
    width: 380px;
  }

  .colDetails {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    flex-grow: 1;
  }
}

@media tablet {

}

@media mobile {
  .col {
    display: block;
  }

  .ctaWrapper {
    width: 100%;
  }

  .colDetails {
    flex: none;
    display: block;
    padding-left: 0;
  }
}
