@value breakpoints: "../../../../variables/breakpoints.css";
@value mobile from breakpoints;

@value colors: "../../../../variables/colors.css";
@value negative from colors;
@value light from colors;
@value positive from colors;
@value medium from colors;
@value dark from colors;
@value xtraLightGrey from colors;

.header {
  display: flex;
  height: 100px;
  width: 100%;
  font-family: 'Open Sans';
}

.section {
  height: 100%;
  background-color: light;
}

/*
 * Correction Part
 */

.correctionSectionLoading {
  composes: section;
  position: relative;
  background-color: medium;
  transition: background-color 0.3s;
  flex: 2;
}

.correctionSectionSuccess {
  composes: correctionSectionLoading;
  background-color: positive;
}

.correctionSectionFail {
  composes: correctionSectionLoading;
  background-color: negative;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.titlesWrapper {
  composes: wrapper;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.titleElement {
  margin: 0;
  font-weight: normal;
  margin-left: 32px;
}

.subtitle {
  composes: titleElement;
  font-size: 16px;
}

.title {
  composes: titleElement;
  font-size: 20px;
}

.fullAnswer {
  composes: titleElement;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.answerSeparator {
  margin: 0 3px;
}

.correctAnswer {
  font-size: 14px;
}

.wrongAnswer {
  composes: correctAnswer;
  text-decoration: line-through;
}

.centerContent {
  display: flex;
  align-items: center;
}

.iconsWrapper {
  composes: wrapper;
  composes: centerContent;
  justify-content: flex-end;
}

.life {
  margin-right: 42px;
}

.icon {
  width: 20px;
  height: 20px;
}

.iconBubble {
  display: flex;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.iconText {
  font-family: 'Open Sans';
  color: white;
  font-weight: 600;
  font-size: 22px;
  padding: 0 30px 0 10px;
}

/*
 * Next Question Part
 */

.nextSection {
  composes: section;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: light;
  transition: flex-grow 0.3s;
  color: medium;
  flex: 1;
}

.nextSectionLoading {
  composes: nextSection;
  flex-grow: 0;
}

.nextButton {
  font-family: 'Open Sans';
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: none;
  border: none;
  outline: none;
  text-decoration: none;
  transition: color 0.3s;
}

.nextSection:hover .nextButton {
  color: dark;
}

.nextButtonIcon {
  width: 20px;
  height: 20px;
  margin-left: 14px;
}

@media mobile {
  .header {
    flex-flow: column;
    height: 150px;
  }

  .titleElement {
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  .iconsWrapper {
    flex-flow: column;
    align-items: left;
    justify-content: space-around;
    width: 70px;
    right: 25px;
  }

  .icon {
    width: 15px;
    height: 15px;
  }

  .iconText {
    font-size: 15px;
  }

  .iconsWrapper::before, .iconsWrapper::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
