@value breakpoints: "../../../../variables/breakpoints.css";
@value mobile from breakpoints;

@value colors: "../../../../variables/colors.css";
@value negative from colors;
@value light from colors;
@value positive from colors;
@value medium from colors;

.header {
  display: flex;
  height: 100px;
  width: 100%;
  font-family: 'Open Sans';
}

.section {
  height: 100%;
  background-color: light;
}

/*
 * Correction Part
 */

.correctionSectionDefault {
  composes: section;
  position: relative;
  background-color: positive;
  flex: 2;
}

.correctionSectionFail {
  composes: correctionSectionDefault;
  background-color: negative;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.titlesWrapper {
  composes: wrapper;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.titleElement {
  margin: 0;
  font-weight: normal;
  margin-left: 32px;
}

.subtitle {
  composes: titleElement;
  font-size: 16px;
}

.title {
  composes: titleElement;
  font-size: 20px;
}

.wrongAnswer {
  composes: titleElement;
  text-decoration: line-through;
  font-size: 14px;
}

.lifeWrapper {
  composes: wrapper;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.life {
  margin-right: 42px;
}

.icon {
  font-family: 'Open Sans';
  color: white;
  font-weight: 700;
  font-size: 22px;
  padding: 0 10px;
}

/*
 * Next Question Part
 */

.nextSection {
  composes: section;
  display: flex;
  justify-content: center;
  background-color: light;
  flex: 1;
}

.nextButton:hover {
  transform: scale(1.02);
}

.nextButton:active {
  transform: scale(0.98);
}

.nextButtonContent {
  cursor: pointer;
}

.nextButton {
  composes: nextButtonContent;
  font-family: 'Open Sans';
  color: medium;
  font-size: 16px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: none;
  border: none;
  outline: none;
  transition: transform 0.1s;
  text-decoration: none;
}

.nextButtonIcon {
  composes: nextButtonContent;
  width: 20px;
  height: 20px;
  margin-left: 14px;
}

@media mobile {
  .header {
    flex-flow: column;
    height: 300px;
  }

  .titleElement {
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

}
