@value breakpoints: "../../../../variables/breakpoints.css";
@value mobile from breakpoints;

.header {
  display: flex;
  height: 100px;
  width: 100%;
  font-family: 'Open Sans';
}

.header > section {
  height: 100%;
  background-color: gray;
}

/*
 * Correction Part
 */

.header > section:first-child {
  position: relative;
  background-color: #3EC483;
  flex: 2;
}

.header.fail > section:first-child {
  background-color: #F73F52;
}

.titlesWrapper, .lifeWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.titlesWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.titlesWrapper > * {
  margin: 0;
  font-weight: normal;
  margin-left: 32px;
}

.titlesWrapper > h1 {
  font-size: 16px;
}

.titlesWrapper > h2 {
  font-size: 20px;
}

.titlesWrapper > .wrongAnswer {
  text-decoration: line-through;
  font-size: 14px;
}

.lifeWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.lifeWrapper > * {
  margin-right: 42px;
}


/*
 * Next Question Part
 */

.header > section:last-child {
  display: flex;
  justify-content: center;
  background-color: #ECEFF1;
  flex: 1;
}

.header > section:last-child > button {
  display: flex;
  background-color: transparent;
  border-radius: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.1s;
}

.header > section:last-child > button * {
  cursor: pointer;
}

.header > section:last-child > button:hover {
  transform: scale(1.02);
}

.header > section:last-child > button:active {
  transform: scale(0.98);
}

.header > section:last-child > button > label {
  font-family: 'Open Sans';
  color: #546E7A;
  font-size: 16px;
  margin-right: 1rem;
}

/*
 * button > nextIcon
 */

.nextIcon {
  composes: fa from '../../../../variables/fontawesome.css';
  composes: fa-angle-right from '../../../../variables/fontawesome.css';
  font-size: 30px;
  color: #546E7A;
  margin-top: -4px;
}

@media mobile {
  .header {
    flex-flow: column;
    height: 300px;
  }

  .titlesWrapper > * {
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

}
