@value colors: "../../variables/colors.css";
@value orange from colors;
@value negative from colors;
@value light from colors;
@value dark from colors;
@value medium from colors;

.default {
  display: flex;
}

.error {
  composes: default;
}

.modified {
  composes: default;
}

.default label {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  flex-grow: 0;
  margin-right: 20px;
}

.title {
  font-family: "Open Sans";
  font-size: 15px;
  text-transform: none;
  color: dark;
  width: 180px;
}

.input {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  border: solid 1px light;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  margin-left: 20px;
  width: 230px;
}

.error .input {
  border-color: negative;
}

.modified .input {
  border-color: orange;
}

.description {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 12px;
  color: medium;
  font-style: italic;
}
