@value colors: "../../variables/colors.css";
@value yellow from colors;

.default {
  display: flex;
}

.error {
  composes: default;
}

.modified {
  composes: default;
}

.default label {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  flex-grow: 0;
  margin-right: 20px;
}

.title {
  font-family: "Open Sans";
  font-size: 15px;
  text-transform: none;
  color: #455A64;
  width: 180px;
}

.input {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px #eceff1;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: #607d8b;
  margin-left: 20px;
  width: 230px;
}

.error .input {
  border-color: #eb5c41;
}

.modified .input {
  border-color: yellow;
}

.description {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 12px;
  color: #C2C2C2;
  font-style: italic;
}
