@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value dark from colors;
@value medium from colors;
@value white from colors;
@value lightGrey from colors;
@value xtraLightGrey from colors;
@value black from colors;

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: "Open Sans";
  background-color: white;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid lightGrey;
}

.coorpAppLogoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.coorpAppLogo {
  color: black;
  align-self: center;
}

.headerContainer {
  display: flex;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.step {
  font-weight: normal;
  font-size: 15px;
  padding: 0 10px;
}

.header {
  font-size: 15px;
}

.subHeader {
  margin-top: 0;
  font-weight: normal;
  font-size: 15px;
}

.img {
  margin: 30px;
  max-height: 109px;
  max-width: 209px;
  cursor: pointer;
}

.storeLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 37px;
}

.store {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background-color: xtraLightGrey;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
  margin: 20px;
  flex-direction: column;
}

.dividerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.dividerWrapper > p {
  color: dark;
  font-weight: bold;
}

.divider {
  border-left: 1px solid medium;
  height: 100px;
}

.connectionWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 20px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.iconWrapper > p {
  margin: 0;
}

.magicLinkIcon {
  color: white;
  width: 20px;
  height: 20px;
  padding: 0 5px;
}

.secondStepWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 2px solid lightGrey;
}

.qrcodeWrapper > img {
  height: 240px;
  width: 240px;
}

.qrcodeWrapper {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.qrcodeOverlay {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 220px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.65);
}

.qrcodeModal {
  background-color: white;
  width: 80%;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.qrcodeModalLink {
  margin: 0px 3px;
}
/* Responsive */

@media tablet {
  .headerContainer {
    padding: 0 10px;
    justify-content: center;
    margin: 0 auto;
  }

  .secondStepWrapper {
    width: 100%;
    margin: 0 auto;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    min-height: 300px;
    margin: 0 auto;
  }

  .connectionWrapper {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
  }

  .dividerWrapper {
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0;
    flex-direction: row;
  }

  .divider {
    margin: 0 10px;
    border: 0;
    border-bottom: 1px solid medium;
    width: 100px;
    height: 10px;
  }

  .img {
    padding: 5px 30px;
  }
}

@media mobile {
  .headerContainer {
    margin-top: 20px;
  }

  .headerWrapper {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .img {
    max-height: 110px;
    max-width: 120px;
  }

  .wrapper {
    margin: 2em 0;
  }

  .step {
    margin-bottom: 0;
  }

  .header {
    margin-top: 0;
  }

  .dividerWrapper {
    display: none;
  }

  .connectionWrapper > :nth-child(1) {
    display: none;
  }

  .storeLinksContainer > img {
    padding: 5px;
  }

  .divider {
    margin: 0 auto;
    margin-bottom: 2px;
  }
}
