@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.stackedSlidesYAxisOverflowContainer {
  width: 100%;
  padding-top: 50px;
  height: calc(100vh - 155px);
  /* --- ie11 fallback --- */
  overflow-y: hidden;
  /* --------------------- */
  overflow-y: clip;
  overflow-x: visible;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.stackedSlidesContainer {
  position: relative;
  max-width: 1240px;
  width: 85%;
}

.slideBase {
  box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.05);
  background: white;
  height: calc(100vh - 155px);
  border-radius: 24px;
  overflow: hidden;
  position: absolute;

  transition: transform 0.5s ease-in;
  pointer-events: none;
}

.slideBase.position0 {
  pointer-events: auto;
}

.position0 {
  z-index: 50;
  width: 100%;
  transform: translate(0, 0);
  transition: transform 0.5s ease-in;
}

.position1 {
  z-index: 45;
  width: 98%;
  transform: translate(0.8%, -8px);
  transition: transform 0.5s ease-in;
}

.position2 {
  z-index: 40;
  width: 96%;
  transform: translate(1.6%, -16px);
  transition: transform 0.5s ease-in;
}

.position3 {
  z-index: 35;
  width: 94%;
  transform: translate(2.4%, -24px);
  transition: transform 0.5 ease-in;
}

.position4 {
  z-index: 30;
  width: 92%;
  transform: translate(3.2%, -32px);
  transition: transform 0.5 ease-in;
}

@keyframes slideOutHideAndSlideIn {
  0% {
    width: 100%;
    z-index: 55;
    transform: translate(0, 0);
  }
  50% {
    width: 100%;
    z-index: 50;
    transform: translate(0, 1000px);
    opacity: 1;
  }
  51% {
    z-index: 30;
    opacity: 0;
  }
  100% {
    z-index: 30;
    transform: translate(3.2%, -32px);
    opacity: 0;
  }
}

.slideOutHideAndIn {
  pointer-events: none;
  animation: slideOutHideAndSlideIn 2s ease forwards;
}

@keyframes slideOutAndInPosition4 {
  0% {
    width: 100%;
    z-index: 55;
    transform: translate(0, 0);
  }
  50% {
    width: 97%;
    z-index: 50;
    transform: translate(0, 1000px);
  }
  60% {
    width: 95%;
    z-index: 30;
    transform: translate(3.2%, 900px);
  }
  100% {
    z-index: 30;
    width: 92%;
    transform: translate(3.2%, -32px);
  }
}

.slideOutAndIn4 {
  pointer-events: none;
  animation: slideOutAndInPosition4 2s ease forwards;
}

@keyframes slideOutAndInPosition3 {
  0% {
    width: 100%;
    z-index: 55;
    transform: translate(0, 0);
  }
  50% {
    width: 97%;
    z-index: 50;
    transform: translate(0, 1000px);
  }
  60% {
    width: 95%;
    z-index: 30;
    transform: translate(3.2%, 900px);
  }
  100% {
    z-index: 35;
    width: 94%;
    transform: translate(2.4%, -24px);
  }
}

.slideOutAndIn3 {
  pointer-events: none;
  animation: slideOutAndInPosition3 2s ease forwards;
}

@keyframes slideOutAndInPosition2 {
  0% {
    width: 100%;
    z-index: 55;
    transform: translate(0, 0);
  }
  50% {
    width: 97%;
    z-index: 50;
    transform: translate(0, 1000px);
  }
  60% {
    width: 95%;
    z-index: 30;
    transform: translate(3.2%, 900px);
  }
  100% {
    z-index: 40;
    width: 96%;
    transform: translate(1.6%, -16px);
  }
}

.slideOutAndIn2 {
  pointer-events: none;
  animation: slideOutAndInPosition2 2s ease forwards;
}

@keyframes slideOutAndInPosition1 {
  0% {
    width: 100%;
    z-index: 55;
    transform: translate(0, 0);
  }
  50% {
    width: 97%;
    z-index: 50;
    transform: translate(0, 1000px);
  }
  60% {
    width: 95%;
    z-index: 30;
    transform: translate(3.2%, 900px);
  }
  100% {
    z-index: 45;
    width: 98%;
    transform: translate(0.8%, -8px);
  }
}

.slideOutAndIn1 {
  pointer-events: none;
  animation: slideOutAndInPosition1 2s ease forwards;
}

@keyframes slideOutAndInPosition0 {
  0% {
    width: 100%;
    z-index: 55;
    transform: translate(0, 0);
  }
  50% {
    width: 97%;
    z-index: 50;
    transform: translate(0, 1000px);
  }
  60% {
    width: 95%;
    z-index: 30;
    transform: translate(3.2%, 900px);
  }
  100% {
    z-index: 55;
    width: 100%;
    transform: translate(0, 0);
  }
}

.slideOutAndIn0 {
  pointer-events: none;
  animation: slideOutAndInPosition0 2s ease forwards;
}

.hiddenSlide {
  display: none;
}

@keyframes slideOut {
  0% {}
  90% {
    transform: translate(0, 1000px);
  }
  100% {
    transform: scale(0);
  }
}

.endReview {
  pointer-events: none;
  animation: slideOut 2.5s ease forwards;
}

@media tablet {
  .stackedSlidesContainer {
    max-width: 960px;
  }
}

@media mobile {
  .slideBase {
    height: calc(100vh - 185px);
  }
}
