@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value xtraLightGrey from colors;
@value dark from colors;
@value black from colors;
@value white from colors;
@value cm_grey_500 from colors;

.cardsWrapper {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 0 16px;
  background: white;
}

.noresults {
  font-family: "Gilroy";
  border-top: solid 1px xtraLightGrey;
  box-sizing: border-box;
  padding: 16px 0;
  text-align: center;
  position: relative;
}

.noresults div {
  margin: 8px 0;
}

.quickFilters {
  position: relative;
  max-width: 1080px;
  margin: auto;
  box-sizing: border-box;
}

.title {
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 700;
  color: dark;
  padding: 25px;
  background: white;
}

.noresults > .clear {
  border-radius: 45px;
  height: 40px;
  line-height: 40px;
  width: auto;
}

.noresultstxt {
  color: black;
}

.popinWithCards {
  position: relative;
  z-index: 7;
}

.sectionsWrapper {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  background: white;
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 600;
  color: dark;
}

.contentSection .sectionTitle {
  margin-bottom: 16px;
}

.sectionHeader {
  max-width: 1100px;
  margin: auto;
  padding: 16px 30px 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: start;
}

.contentSection {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: white;
  padding: 16px 30px 8px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.contentSection .sectionHeader {
  padding: 0;
  margin: 16px auto 8px auto;
  max-width: 1100px;
  display: flex;
  line-height: 20px;
  align-items: start;
}

.contentGrid {
  max-width: 1100px;
  width: 100%;
  margin: auto 0 auto -8px;
  box-sizing: border-box;
}

@media mobile {
  .cardsWrapper {
    padding: 5px 0;
  }

  .title {
    display: none;
  }

  .contentSection {
    padding: 16px 8px 0px;
  }
}
