@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value light from colors;
@value borderGrey from colors;
@value darkGrey from colors;

.cardsWrapper {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 0 16px 0;
    background: light;
    box-sizing: border-box;
}

.noresults {
  border-top: solid 2px borderGrey;
  margin: 0 40px;
  min-height: 600px;
  box-sizing: border-box;
  padding: 16px 0;
  text-align: center;
  position: relative;
}

.noresults div {
  margin: 8px 0;
}

.title {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: darkGrey;
  padding: 25px;
}

.noresults .clear {
  width: auto;
  border-radius: 10px;
}

.noresults .clear input {
  line-height: 40px;
}

@media desktop {
  .cardsWrapper {
  }
}

@media tablet {
  .cardsWrapper {
  }
}

@media mobile {
  .cardsWrapper {
    padding: 5px 0px;
  }

  .title {
    display: none;
  }
}

