@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value xtraLightGrey from colors;
@value dark from colors;
@value black from colors;
@value white from colors;

.cardsWrapper {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 0 16px;
  background: white;
}

.noresults {
  border-top: solid 1px xtraLightGrey;
  box-sizing: border-box;
  padding: 16px 0;
  text-align: center;
  position: relative;
}

.noresults div {
  margin: 8px 0;
}

.title {
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 700;
  color: dark;
  padding: 25px;
  background: white;
}

.noresults > .clear {
  border-radius: 45px;
  height: 40px;
  line-height: 40px;
  width: auto;
}

.noresultstxt {
  color: black;
}

@media mobile {
  .cardsWrapper {
    padding: 5px 0;
  }

  .title {
    display: none;
  }
}
