@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value light from colors;

.cardsWrapper {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 0 16px 0;
    background: light;
    box-sizing: border-box;
}

@media desktop {
  .cardsWrapper {
  }
}

@media tablet {
  .cardsWrapper {
  }
}

@media mobile {
  .cardsWrapper {
    padding: 5px 0px;
  }
}

