@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.wrapper {
  display: flex;
  width: 100%;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 380px;
  height: 250px;
  vertical-align: top;
  overflow: hidden;
  border: 1px solid #E3E3E3;
  background-color: #FCFCFC;
}

.courseWrapper {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}

.title {
  display: block;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
  color: #546E7A;
}

.desc {
  font-family: "Open Sans";
  font-size: 15px;
  color: #263238;
  letter-spacing: 0px;
  line-height: 22px;
}

.desc a {
  font-family: Open Sans;
  font-weight: 600;
  color: #00b0ff;
  text-decoration: none;
}

.desc a:hover {
  text-decoration: underline;
}

@media desktop {

}

@media tablet {

}

@media mobile {
  .wrapper {
    flex-direction: column;
  }

  .imgWrapper {
    flex: none;
    height: auto;
    text-align: center;
  }

  .courseWrapper {
    margin-top: 20px;
    padding-left: 0;
  }
}
