@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value light from colors;
@value dark from colors;
@value black from colors;

.wrapper {
  display: flex;
  width: 100%;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 380px;
  height: 250px;
  vertical-align: top;
  overflow: hidden;
  border: 1px solid light;
  background-color: xtraLightGrey;
}

.courseWrapper {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}

.title {
  display: block;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
  color: dark;
}

.desc {
  font-family: "Open Sans";
  font-size: 15px;
  color: black;
  letter-spacing: 0;
  line-height: 22px;
}

.desc a {
  font-family: Open Sans;
  font-weight: 600;
  color: brand;
  text-decoration: none;
}

.desc a:hover {
  text-decoration: underline;
}

.toggle {
  display: none;
}

@media mobile {
  .wrapper {
    flex-direction: column;
  }

  .imgWrapper {
    flex: none;
    height: auto;
    text-align: center;
  }

  .courseWrapper {
    margin-top: 20px;
    padding-left: 0;
  }

  .shortDesc {
    composes: desc;
    height: 66px;
    overflow: hidden;
  }

  .toggle {
    display: block;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: light;
    border: 1px solid light;
    width: 100%;
    text-align: center;
    line-height: 28px;
    border-radius: 3px;
    margin-top: 10px;
  }
}
