@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value light from colors;
@value dark from colors;
@value black from colors;

.wrapper {
  display: flex;
  width: 100%;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 380px;
  height: 250px;
  vertical-align: top;
  overflow: hidden;
  border: 1px solid light;
  background-color: xtraLightGrey;
}

.image {
  width: 100%;
  height: auto;
}

.courseWrapper {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}

.title {
  display: block;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
  color: dark;
}

.desc {
  font-family: "Gilroy";
  font-size: 15px;
  color: black;
  letter-spacing: 0;
  line-height: 22px;
}

.desc a {
  font-family: Gilroy;
  font-weight: 600;
  color: brand;
  text-decoration: none;
}

.desc a:hover {
  text-decoration: underline;
}

.showMoreHidden {
  display: none;
}

.showMore {
  display: block;
  font-size: 14px;
  margin: 0 14px 0 0;
  transition: all time ease-in-out;
  cursor: pointer;
  order: 1;
  font-family: Gilroy;
  font-weight: bold;
  text-align: left;
  color: brand;
}

.showMore:hover {
  opacity: 0.8;
}

.shortDesc {
  composes: desc;
  height: 200px;
  overflow: hidden;
}

@media mobile {
  .wrapper {
    flex-direction: column;
  }

  .imgWrapper {
    flex: none;
    text-align: center;
    max-height: 30vh;
  }

  .courseWrapper {
    margin-top: 20px;
    padding-left: 0;
  }
}
