@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

@value colors: "../../variables/colors.css";
@value dark from colors;
@value white from colors;
@value light from colors;
@value grey from colors;

.cta {
  float: right;
  width: auto;
}

.desc {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  border-left: solid 1px light;
  border-right: solid 1px light;
  border-bottom: 1px solid light;
}

.infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: dark;
}

.time {
  display: inline-block;
  width: auto;
  padding: 3px 13px;
  background: dark;
  border-radius: 15px;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 10px;
  color: white;
}

.column {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-family: "Open Sans";
  font-size: 12px;
  padding-right: 40px;
  color: grey;
}

.coltitle {
  font-family: "Open Sans";
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 10px;
  color: dark;
  border-bottom: solid 1px light;
  vertical-align: top;
}

.dottedlist {
  display: block;
  margin: 0;
  padding: 0;
  list-style: disc;
  list-style-position: inside;
}

.dottedlist li {
  line-height: 26px;
  font-size: 14px;
  font-family: "Open Sans";
  color: dark;
}

.roundedlist {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  position: relative;
}

.roundedlist li {
  line-height: 26px;
  font-size: 14px;
  font-family: "Open Sans";
  color: dark;
}

.roundedlist li:before {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
  width: 9px;
  height: 9px;
  content: '';
}

.medias {
  padding: 24px 11px 0;
  border: solid 1px light;
  border-top: 0;
}

.media {
  display: inline-block;
  margin: 0 12px 24px;
  cursor: pointer;
  text-decoration: none;
}

.imgWrapper {
  width: 180px;
  height: 102px;
  margin-bottom: 5px;
  overflow: hidden;
  border: 1px solid light;
  position: relative;
}

.imgWrapper img {
  width: 100%;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 52px;
  width: 52px;
  margin: -20px 0 0 -20px;
}

.mediaTitle {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 12px;
  color: dark;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

@media desktop {

}

@media tablet {
  .cta {
    float: none;
    width: 60%;
  }
}

@media mobile {
  .cta {
    float: none;
    display: block;
    margin-top: 10px;
    width: 100%;
  }

  .infos {
    display: block;
  }

  .column.skills {
    display: none;
  }

  .title {
    font-size: 16px;
    display: block;
  }

  .time {
    margin-top: 5px;
  }

  .column {
    display: block;
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .medias {
    text-align: center;
  }
}
