@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value dark from colors;
@value white from colors;
@value light from colors;
@value grey from colors;
@value black from colors;
.desc {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  border-left: solid 1px light;
  border-right: solid 1px light;
  border-bottom: 1px solid light;
}

.infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.infos>.cta {
  width: auto;
}

.title {
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: dark;
  width: 100%;
  flex: 1 0 0;
  padding: 0 15px 0 0;
}

.time {
  display: inline-block;
  width: auto;
  padding: 3px 13px;
  background: dark;
  border-radius: 15px;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 10px;
  color: white;
}

.column {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-family: "Open Sans";
  font-size: 12px;
  padding-right: 40px;
  color: grey;
}

.coltitle {
  font-family: "Open Sans";
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 10px;
  color: dark;
  border-bottom: solid 1px light;
  vertical-align: top;
}

.skills {
  composes: column;
}

.dottedlist {
  display: block;
  margin: 0;
  padding: 0;
  list-style: disc;
  list-style-position: inside;
}

.dottedlist li {
  line-height: 26px;
  font-size: 14px;
  font-family: "Open Sans";
  color: dark;
}

.roundedlist {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  position: relative;
}

.roundedlist li {
  line-height: 26px;
  font-size: 14px;
  font-family: "Open Sans";
  color: dark;
}

.roundedlist li::before {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
  width: 9px;
  height: 9px;
  content: '';
}

.column li>p {
  margin: -26px 0 0 15px;
}

.discussion {
  border: 1px solid light;
  box-sizing: border-box;
  min-width: 100%;
}

@media tablet {
  .cta {
    float: none;
    width: 60%;
  }
}

@media mobile {
  .cta {
    float: none;
    display: block;
    margin-top: 10px;
    width: 100%;
  }
  .infos {
    display: block;
  }
  .title {
    font-size: 16px;
    display: block;
    max-width: 100%;
  }
  .time {
    margin-top: 5px;
  }
  .column {
    display: block;
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .skills {
    display: none;
  }
}

.bordered {
  border-left: solid 1px light;
  border-right: solid 1px light;
  border-bottom: 1px solid light;
}
