.wrapper {
  display: flex;
  align-items: center;
}

.value {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  color: #455A64;
}

.buttons {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #ECEFF1;
  border-radius: 4px;
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-decoration: none;
  color: #B0BEC5;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
}

.button:hover {
  background-color: #B0BEC5;
  color: #ffffff;
}

.button:first-child {
  border-right: 1px solid #ECEFF1;
}

.disabled {
  composes: button;
  color: #F7F7F7;
  pointer-events: none;
}

.disabled:hover {
  color: #f7f7f7;
  background-color: #ffffff;
}
