@value colors: "../../variables/colors.css";
@value white from colors;
@value lightGrey from colors;
@value mediumGrey from colors;

.wrapper {
  display: flex;
  align-items: center;
}

.value {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  color: #455A64;
}

.buttons {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid lightGrey;
  border-radius: 4px;
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-decoration: none;
  color: mediumGrey;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
}

.button:hover {
  background-color: mediumGrey;
  color: white;
}

.button:first-child {
  border-right: 1px solid lightGrey;
}

.disabled {
  composes: button;
  color: lightGrey;
}

.disabled:hover {
  color: lightGrey;
  background-color: white;
}
