@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;

.default {
  padding: 75px 0 25px;
  box-sizing: border-box;
  width: 1125px;
  margin: auto;
  overflow-y: auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

@media desktop {
  .default {
    width: 900px;
  }
}

@media tablet {
  .default {
    width: 450px;
  }
}

@media mobile {
  .default {
    width: 100%;
    flex-direction: column;
  }
}
