.teamAvatar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2px;
  width: 40px;
  border: 2px solid #0e3a3d;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(255,255,255,0.6);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.teamAvatar > span {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #0e3a3d;
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.myTeam {
  border: 3px solid #fff;
  font-weight: 700;
}

.blockAvatar {
  width: 25px;
  height: 25px;
}
