{
  "presets": ["es2015", "stage-1"],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    ["transform-h-jsx", { "pragma": "h" }]
  ],
  "ignore": [
    "node_modules/**/*"
  ]
}
