{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "@coorpacademy/coorpacademy",
    "react"
  ],
  "extends": [
    "plugin:@coorpacademy/coorpacademy/core",
    "plugin:@coorpacademy/coorpacademy/ava",
    "plugin:@coorpacademy/coorpacademy/es20XX",
    "plugin:@coorpacademy/coorpacademy/lodash-fp",
    "plugin:react/all"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "ava/no-ignored-test-files": ["error", {"files": ["**/test/**/*.js"]}],
    "fp/no-class": 0,
    "import/no-extraneous-dependencies": "off",
    "no-shadow": ["error", {"builtinGlobals": true, "hoist": "all", "allow": ["Promise", "history", "location", "find", "Notification"]}],
    "no-unused-vars": 0,
    "react/forbid-component-props": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-indent": [2, 2],
    "react/jsx-sort-props": 0,
    "react/no-array-index-key": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "react/jsx-no-literals": 0,
    "react/require-default-props": 0,
    "react/sort-prop-types": 0
  },
  "settings": {
    "import/ignore": ["node_modules", "\\.css$"]
  }
}
