{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "@coorpacademy/coorpacademy",
    "flowtype",
    "flowtype-errors",
    "css-modules",
    "react"
  ],
  "extends": [
    "plugin:@coorpacademy/coorpacademy/core",
    "plugin:@coorpacademy/coorpacademy/ava",
    "plugin:@coorpacademy/coorpacademy/es20XX",
    "plugin:@coorpacademy/coorpacademy/lodash-fp",
    "plugin:@coorpacademy/coorpacademy/prettier",
    "plugin:react/all"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "ava/no-ignored-test-files": ["error", {"files": ["**/test/**/*.js"]}],
    "css-modules/no-undef-class": "error",
    "css-modules/no-unused-class": "error",
    "flowtype-errors/show-errors": "error",
    "flowtype/boolean-style": ["error", "boolean"],
    "flowtype/define-flow-type": "error",
    "flowtype/no-primitive-constructor-types": "error",
    "flowtype/no-types-missing-file-annotation": "error",
    "flowtype/no-weak-types": "error",
    "flowtype/require-parameter-type": ["error", {"excludeArrowFunctions": true}],
    "flowtype/require-return-type": ["error", "always", {"excludeArrowFunctions": "expressionsOnly"}],
    "flowtype/type-id-match": ["error", "^([A-Z][a-z0-9]*)+$"],
    "flowtype/use-flow-type": "error",
    "fp/no-class": "off",
    "import/no-extraneous-dependencies": "off",
    "no-shadow": ["error", {"builtinGlobals": true, "hoist": "all", "allow": ["Promise", "history", "location", "find", "Notification"]}],
    "promise/no-native": "off",
    "react/closing-bracket-location": "off",
    "react/forbid-component-props": "off",
    "react/forbid-foreign-prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent-props": "off",
    "react/jsx-indent": "off",
    "react/jsx-max-props-per-line": "off",
    "react/jsx-no-literals": "off",
    "react/jsx-sort-props": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-array-index-key": "off",
    "react/no-multi-comp": "off",
    "react/no-set-state": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/require-optimization": "off",
    "react/sort-prop-types": "off"
  },
  "settings": {
    "import/ignore": ["node_modules", "\\.css$"],
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
