{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "@coorpacademy/coorpacademy",
    "css-modules",
    "react"
  ],
  "extends": [
    "plugin:@coorpacademy/coorpacademy/core",
    "plugin:@coorpacademy/coorpacademy/ava",
    "plugin:@coorpacademy/coorpacademy/es20XX",
    "plugin:@coorpacademy/coorpacademy/lodash-fp",
    "plugin:@coorpacademy/coorpacademy/prettier",
    "plugin:react/all"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "ava/no-ignored-test-files": ["error", {"files": ["**/test/**/*.js"]}],
    "fp/no-class": "off",
    "import/no-extraneous-dependencies": "off",
    "no-shadow": ["error", {"builtinGlobals": true, "hoist": "all", "allow": ["Promise", "history", "location", "find", "Notification"]}],
    "react/forbid-component-props": "off",
    "react/forbid-foreign-prop-types": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-sort-props": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-indent": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-array-index-key": "off",
    "react/no-multi-comp": "off",
    "react/prop-types": "off",
    "react/jsx-no-literals": "off",
    "react/require-default-props": "off",
    "react/sort-prop-types": "off",
    "react/no-set-state": "off",
    "react/closing-bracket-location": "off",
    "react/jsx-max-props-per-line": "off",
    "css-modules/no-undef-class": "error",
    "css-modules/no-unused-class": "error"
  },
  "settings": {
    "import/ignore": ["node_modules", "\\.css$"]
  }
}
