.env
.DS_Store
node_modules
*-debug.log*
lib
es
!packages/**/locales/es
static
dist
.nyc_output
coverage
coverage.lcov
.vs
.vscode
.idea
package-lock.json
packages/@coorpacademy-components/src/**/test/fixtures.js
packages/@coorpacademy-components/src/**/test/fixtures.native.ts
.prettierrc
yarn-error.log
.flowconfig
.eslintcache
