//registry.npmjs.org/:_authToken $NPM_TOKEN
@coorpacademy:registry http://registry.npmjs.org/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
