sudo: false
language: node_js
node_js:
- '7.1'
cache:
  directories:
  - node_modules
  - packages/@coorpacademy-appster/node_modules
  - packages/@coorpacademy-app-slides/node_modules
  - packages/@coorpacademy-app-forum/node_modules
  - packages/@coorpacademy-components/node_modules
  - packages/@coorpacademy-components-bundler/node_modules
  - packages/@coorpacademy-history/node_modules
  - packages/@coorpacademy-progression-engine/node_modules
  - packages/@coorpacademy-redux-history/node_modules
  - packages/@coorpacademy-translate/node_modules
  - packages/@coorpacademy-treantjs-adapter-angular/node_modules
  - packages/@coorpacademy-treantjs-adapter-dust/node_modules
before_install:
- npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
after_success: npm run coveralls
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_deploy: npm run storybook:export
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: packages/@coorpacademy-components/storybook-static
  on:
    branch: master
