@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value imgHeight: 300px;
@value colors: "../../variables/colors.css";
@value white from colors;
@value darkGrey from colors;

.imgWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: imgHeight;
  overflow: hidden;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 48%, #000000 100%);
}

.imgWrapper img {
  height: auto;
  width: 100%;
  z-index: -1;
}

.courseWrapper {
  display: inline-block;
  vertical-align: top;
}

.title {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 50px;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  left:0; /* firefox/safari */
}

.desc {
  font-family: "Open Sans";
  font-size: 15px;
  color: darkGrey;
  letter-spacing: 0px;
  line-height: 22px;
  margin-top: 20px;
}

@media desktop {

}

@media tablet {
  .imgWrapper {
    height: auto;
  }

  .imgWrapper img {
  }
}

@media mobile {
  .wrapper {
    flex-direction: column;
  }

  .imgWrapper {
    flex: none;
    height: auto;
  }

  .title {
    font-size: 25px;
  }

  .courseWrapper {
    margin-top: 20px;
    padding-left: 0;
  }
}
