@value colors: "../../variables/colors.css";
@value cm_grey_50 from colors;
@value cm_grey_900 from colors;
@value cm_grey_500 from colors;
@value cm_grey_400 from colors;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cm_grey_50;
    font-size: 14px;
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 7px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 83%;
}

.containerInfos {
    margin-left: 16px;
    overflow: hidden;
}

.title {
    color: cm_grey_900;
    line-height: 22px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: bold;
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    text-overflow:ellipsis;
    width: 100%;
}

.author {
    color: cm_grey_500;
    display: block;
    font-family: Gilroy;
    line-height: 20px;
}

.position {
    color: cm_grey_400;
    font-family: Gilroy;
    font-weight: 600;
    line-height: 20px;
    margin: 0 12px 0 32px;
}

.containerImage {
    min-height: 56px;
    min-width: 56px;
}


