@value colors: "../../variables/colors.css";
@value cm_grey_50 from colors;
@value cm_grey_900 from colors;
@value cm_grey_500 from colors;
@value cm_grey_400 from colors;

.container {
    align-items: center;
    background-color: cm_grey_50;
    border-radius: 7px;
    display: flex;
    font-size: 14px;
    justify-content: start;
    margin-top: 8px;
    padding: 8px 16px;
}

.containerInfos {
    margin-left: 16px;
    overflow: hidden;
}

.containerMainInfos {
    display: flex;
    align-items: center;
}

.title {
    color: cm_grey_900;
    line-height: 22px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: bold;
    margin-left: 4px;
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    text-overflow:ellipsis;
}

.author {
    color: cm_grey_500;
    display: block;
    font-family: Gilroy;
    line-height: 20px;
}

.position {
    color: cm_grey_400;
    font-family: Gilroy;
    font-weight: 600;
    line-height: 20px;
    margin: 0 12px 0 32px;
}

.contentBadge {
    font-size: 8px;
    font-weight: bold;
    line-height: 10px;;
}

.containerImage {
    min-height: 56px;
    min-width: 56px;
}