@value colors: "../../variables/colors.css";
@value positive from colors;
@value lightGreen from colors;
@value negative from colors;
@value white from colors;
@value dark from colors;
@value light from colors;

.promoCode {
  box-shadow: 0 0 4px 0 light;
  margin: 20px 5px;
  padding: 5px;
  background-color: white;
}

.promoCodeInputAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promoCodeInput, .promoCodeButton {
  margin: 20px 10px;
  height: 60px;
  font-weight: bold;
}

.promoCodeInput {
  color: dark;
  font-size: 14px;
  border: solid 1px #bbb;
  width: 60%;
  margin: 20px 10px;
  padding: 10px;
}

.promoCodeButton {
  border: 0px;
  font-size: 18px;
  color: white;
  background-color: #BBBBBB;
  width: 30%;
  cursor: pointer;
}

.promoCodeButton:hover {
  background: #959595;
}

.promoCodeButtonOnSuccess {
  box-shadow: 0 0 4px 0 positive;
}

.promoCodeButtonOnError {
  box-shadow: 0 0 4px 0 negative;
}

.promoCodeDescription, .promoCodeError {
  margin: 0px 10px 20px 10px;
  padding: 20px;
}

.promoCodeDescription {
  border: solid 1px positive;
  background-color: lightGreen;
  color: positive;
}

.promoCodeError {
  border: solid 1px negative;
  background-color: white;
  color: negative;
}
