@value colors: "../../variables/colors.css";
@value cm_grey_400 from colors;
@value cm_grey_75 from colors;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.progressBar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: cm_grey_75;
  margin-right: 16px;
}

.progressBar p {
  display: none;
}

.progressText {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  color: cm_grey_400;
}
