@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value dark from colors;
@value white from colors;
@value brand from colors;
@value negative from colors;
@value light from colors;
@value medium from colors;

.wrapper {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  overflow: hidden;
  background-color: white;
}

.modifiedWrapper {
  composes: wrapper;
}

.wrapper::before {
  content: "";
  border-top: 5px solid light;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.modifiedWrapper::before {
  border-top-color: brand;
}

.header {
  width: 100%;
  height: 75px;
  text-align: center;
  border-bottom: 1px solid light;
}

.header h1 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 17px;
  color: dark;
  margin: 0;
  line-height: 75px;
}

.content {
  text-align: center;
  padding: 80px;
}

.content h2 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 17px;
  color: dark;
  margin: 0 0 20px;
}

.description {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 15px;
  color: medium;
  margin-bottom: 20px;
}

.default {
  margin-bottom: 70px;
}

.error {
  composes: default;
}

.default label {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  color: medium;
}

.default input {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px light;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  width: 200px;
  text-align: right;
}

.error input {
  border-color: negative;
}

.loading {
  min-height: 10px;
  border: none;
  position: relative;
}

.wait {
  font-family: 'Open Sans';
  font-size: 14px;
  color: medium;
  margin-bottom: 40px;
}

@media mobile {
  .content {
    padding: 20px;
  }
}
