@value colors: "../../variables/colors.css";
@value dark from colors;
@value brand from colors;
@value white from colors;
@value primaryAdd1 from colors;
@value light from colors;

.wrapper {
  width: 300px;
  height: 300px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.wrapper:hover .circle {
  border: 1px solid primaryAdd1;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: 1px solid light;
  top: 50%;
  left: 50%;
  transition: border 0.4s ease-out;
}

.circle1 {
  composes: circle;
  width: 146px;
  height: 146px;
  margin-top: -75px;
  margin-left: -75px;
  transition-delay: 0.2s;
}

.circle2 {
  composes: circle;
  width: 246px;
  height: 246px;
  margin-top: -125px;
  margin-left: -125px;
  transition-delay: 0.4s;
}

.circle3 {
  composes: circle;
  width: 346px;
  height: 346px;
  margin-top: -175px;
  margin-left: -175px;
  transition-delay: 0.6s;
}

.edit {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 9;
  border-right: 1px solid light;
}

.edit::before {
  display: block;
  content: '+';
  font-weight: bold;
  font-size: 20px;
  line-height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  text-align: center;
  color: brand;
  border: solid 2px brand;
  z-index: -1;
}

.edit a {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: dark;
}

.edit a:hover {
  text-decoration: underline;
}

.edit a span {
  display: inline-block;
  margin-top: 220px;
}
