@value breakpoints: '../../../variables/breakpoints.css';
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: '../../../variables/colors.css';
@value negative from colors;
@value light from colors;
@value grey from colors;
@value positive from colors;
@value medium from colors;
@value dark from colors;
@value black from colors;
@value transparent from colors;
@value cm_grey_75 from colors;
@value lightGreen from colors;
@value cm_green_50 from colors;
@value cm_negative_100 from colors;
@value cm_negative_50 from colors;
@value white from colors;

.header {
  display: flex;
  height: 100px;
  width: 100%;
  font-family: 'Gilroy';
  flex-wrap: wrap;
}

.headerTitle {
  display: flex;
  height: 100px;
  width: 100%;
  font-family: 'Gilroy';
  top: 0;
  z-index: 2;
  border-bottom: solid 1px light;
}

.section {
  height: 100%;
  background-color: light;
}

/*
 * Correction Part
 */

.correctionSectionLoading {
  composes: section;
  position: relative;
  background-color: medium;
  transition: background-color 0.3s;
  flex: 2;
}

.correctionSectionSuccess {
  composes: correctionSectionLoading;
  background-color: positive;
}

.correctionSectionEndSuccess {
  composes: correctionSectionLoading;
  background-color: positive;
}

.correctionSectionEndSuccess .titleElement {
  padding-right: 225px;
}

.correctionSectionFail {
  composes: correctionSectionLoading;
  background-color: negative;
}

.correctionSectionFailGameOver {
  composes: correctionSectionFail;
  background-color: negative;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.titlesWrapper {
  composes: wrapper;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.titlesWrapperScorm {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  color: white;
  height: 20px;
}

.titleElement {
  margin: 0;
  font-weight: normal;
  margin-left: 35px;
  padding-right: 130px;
}

.subtitle {
  composes: titleElement;
  font-size: 22px;
  font-weight: 700;
}

.title {
  composes: titleElement;
  font-size: 17px;
  display: inline-flex;
}

.fullAnswer {
  composes: titleElement;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.answerSeparator {
  margin: 0 3px;
}

.correctAnswer {
  font-size: 15px;
}

.wrongAnswer {
  composes: correctAnswer;
  text-decoration: line-through;
}

.centerContent {
  display: flex;
  align-items: center;
  min-width: 110px;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    fill: yellow;
  }

  80% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.bumped {
  animation: bump 0.3s ease;
  animation-fill-mode: forwards;
}

.iconsWrapper {
  composes: wrapper;
  composes: centerContent;
  justify-content: flex-end;
}

.life {
  margin-right: 15px;
}

.icon {
  width: 20px;
  height: 20px;
}

.iconBubble {
  display: flex;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.iconText {
  font-family: 'Gilroy';
  color: white;
  font-weight: 600;
  font-size: 22px;
  padding: 0 20px 0 10px;
}

.resultContenantContainerScorm {
  width: 884px;
  height: 158px;
  border: 1px solid cm_grey_75;
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
}
.resultSubtitleScorm {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: lightGreen;
  margin-bottom: 0px;
  margin-top: 0px;
}
.resultTitleScorm {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: dark;
  margin-top: 4px;
}
.statusPlayerResultFailScorm {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: cm_negative_100;
  margin-top: 0px;
  margin-bottom: 0px;
}

.iconCloseContainer {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: cm_negative_50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px 0 40px
}
.iconSuccessContainer {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: cm_green_50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px 0 40px
}
.failIcon {
  color: cm_negative_100;
  height: 22px;
  width: 22px;
}
.checkIcon {
  color: lightGreen;
  height: 22px;
  width: 22px;
}

/*
 * Next Question Part
 */

@keyframes showNextButton {
  0% {
    flex-grow: 0;
  }

  100% {
    flex-grow: 1;
  }
}

.nextSection {
  composes: section;
  composes: hoverFill from '../../../atom/button/hover-fill.css';
  position: relative;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: light;
  animation: showNextButton 0.6s;
  text-decoration: none;
  color: medium;
  border-left: solid 1px light;
}

.nextSection::after {
  background-color: grey;
  opacity: 0.15;
}

.gameOver {
  background-color: negative;
}

.gameOver .nextButton {
  color: white;
}

.gameOver::after {
  background-color: black;
}

.oneMoreLife {
  background-color: light;
  color: medium;
  transition: background 0.6s linear 1.6s, color 0.3s linear 1.6s;
}

.wrapperNextSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.nextButton {
  font-family: 'Gilroy';
  color: dark;
  font-size: 17px;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: none;
  outline: none;
  min-height: 30px;
  transition: color 0.3s;
  transform: scale(1); /* fixes a diplay bug safari v10, v11 */
}

.nextButtonIcon {
  width: 20px;
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  margin-left: 2px;
}

.nextStepTitle {
  display: block;
  max-width: 90%;
  min-height: 17px;
  height: auto;
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: medium;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gameOverSubtitle {
  composes: nextStepTitle;
  color: white;
  font-weight: 700;
}

/*
 * remainingLifeRequests Part
 */

@keyframes remainingLifeRequests {
  0% {
    top: 0;
  }

  100% {
    top: 100px;
  }
}

@keyframes addedLife {
  0% {
    top: 100px;
  }

  100% {
    top: 0;
  }
}

@media tablet {
  .iconsWrapper {
    flex-flow: column;
    align-items: left;
    justify-content: space-around;
    width: auto;
    right: 3px;
  }

  .section {
    height: auto;
  }

  .icon {
    width: 15px;
    height: 15px;
  }

  .iconText {
    font-size: 15px;
  }

  .iconsWrapper::before,
  .iconsWrapper::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .correctionSectionEndSuccess .titleElement {
    padding-right: 130px;
  }
  .resultContenantContainerScorm {
    width: 100vw
  }
}

@media mobile {
  .header {
    flex-flow: column;
    flex-wrap: nowrap;
    margin-bottom: 0;
    height: 150px;
  }

  .headerWithoutCTA {
    composes: header;
    height: auto;
  }

  .headerTitle {
    display: block;
    height: auto;
    width: 100%;
  }

  .correctionSectionFailGameOver,
  .correctionSectionFail,
  .correctionSectionSuccess,
  .correctionSectionEndSuccess {
    height: 99px;
  }

  .nextSection {
    border-top: solid 1px light;
    border-left: none;
  }

  .titleElement {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding-right: 90px;
    margin-left: 16px;
  }

  .wrapperNextSection {
    height: 54px;
  }

  .gameOverSubtitle,
  .nextStepTitle {
    width: 177px;
  }
  .iconCloseContainer,
  .iconSuccessContainer {
    margin: auto;
  }
}
