@value colors: "../../variables/colors.css";
@value negative from colors;
@value orangeAdd from colors;
@value lightGreen from colors;
@value xtraLightGrey from colors;
@value dark from colors;
@value brand from colors;
@value positive from colors;

.wrapper {
  width: 100%;
}

.notifications {
  margin: 20px 0 0;
  padding: 0;
}

.back {
  margin-bottom: 30px;
}

.arrowBack {
  width: 15px;
  height: 15px;
  margin-top: -2px;
}


.backDesc {
  margin-left: 10px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: dark;
  text-decoration: none;
}

.backDesc:hover {
  color: brand;
}

.title {
  margin-bottom: 20px;
}

.title h3 {
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 700;
  color: dark;
  margin: 0;
}

.notification {
  margin: 5px 0;
  padding: 15px 25px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;

  animation-name: notificationAppear;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-duration: 0.4s;
}

.notification span {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  color: dark;
}

.error {
  composes: notification;
  background-color: negative;
  font-style: italic;
}

.success {
  composes: notification;
  background-color: lightGreen;
}

.warning {
  composes: notification;
  background-color: orangeAdd;
}

.progress div {
  background: positive;
}

@keyframes notificationAppear {
  0% {
    margin-left: 100%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
