@value colors: "../../variables/colors.css";
@value cm_grey_500 from colors;

.form {
  display: flex;
  justify-content: flex-start;
  flex-flow: nowrap;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapperClear {
  position: relative;
  display: flex;
  cursor: pointer;
  background: transparent;
}

.wrapperNoClear {
  display: none;
}

.clearIcon {
  color: cm_grey_500;
  width: 14px;
  height: 14px;
}

.wrapperClearMooc {
  position: absolute;
  right: 16px;
  width: 14px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2002;
}
