@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  align-items: center;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-out;
  width: 100%;
  height: 100%;
}

.default {
  display: block;
  width: 100%;
  height: 100%;
}

.desktop,
.tablet,
.mobile {
  display: none;
  width: 100%;
  height: 100%;
}

@media desktop {
  .desktop {
    display: block;
  }

  .default,
  .tablet,
  .mobile {
    display: none;
  }
}

@media tablet {
  .tablet {
    display: block;
  }

  .default,
  .desktop,
  .mobile {
    display: none;
  }
}

@media mobile {
  .mobile {
    display: block;
  }

  .default,
  .desktop,
  .tablet {
    display: none;
  }
}
