@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  align-items: center;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-out;
  width: 100%;
  height: 100%;
}

.defaultStyle {
  display: block;
  width: 100%;
  height: 100%;
}

.desktopContainer,
.tabletContainer,
.mobileContainer {
  display: none;
  width: 100%;
  height: 100%;
}

@media desktop {
  .desktopContainer {
    display: block;
  }

  .defaultStyle,
  .tabletContainer,
  .mobileContainer {
    display: none;
  }
}

@media tablet {
  .tabletContainer {
    display: block;
  }

  .defaultStyle,
  .desktopContainer,
  .mobileContainer {
    display: none;
  }
}

@media mobile {
  .mobileContainer {
    display: block;
  }

  .defaultStyle,
  .desktopContainer,
  .tabletContainer {
    display: none;
  }
}
