@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.wrapper {
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-out;
  width: 100%;
  height: 100%;
}

.default {
  composes: background;
  display: block;
}

.desktop,
.tablet,
.mobile {
  composes: background;
  display: none;
}

@media desktop {
  .desktop {
    display: block;
  }

  .default,
  .tablet,
  .mobile {
    display: none;
  }
}

@media tablet {
  .tablet {
    display: block;
  }

  .default,
  .desktop,
  .mobile {
    display: none;
  }
}

@media mobile {
  .mobile {
    display: block;
  }

  .default,
  .desktop,
  .tablet {
    display: none;
  }
}
