@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../../variables/colors.css";
@value dark from colors;
@value light from colors;

.container {
  padding: 40px 0 0;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.dashboardAside {
  padding: 70px 20px 20px;
  min-width: 250px;
  vertical-align: top;
}

.dashboardContent {
  font-family: "Open Sans";
  width: 100%;
  text-align: center;
  padding-right: 40px;
  padding-bottom: 40px;
  position: relative;
}

.dashboardTitle {
  font-size: 24px;
  color: dark;
  border: 1px solid light;
  padding: 10px;
}

.dashboardIframe {
  width: 100%;
  height: 95%;
}

.dashboardNoSelection {
  font-size: 20px;
  font-weight: bold;
  padding: 40px;
}

/* TODO: mobile rendering */
