@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../../variables/colors.css";
@value dark from colors;
@value light from colors;

.container {
  padding: 10px 0 0;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 80px;  /* header height */
}

.dashboardAside {
  padding: 70px 20px 20px;
  min-width: 250px;
  vertical-align: top;
}

.dashboardContent {
  font-family: "Gilroy";
  width: 100%;
  text-align: center;
  margin: 0 30px 20px 40px;
  position: relative;
}

.dashboardSelection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboardTitle {
  font-size: 24px;
  color: dark;
  border: 1px solid light;
  padding: 10px;
  flex-grow: 0;
}

.dashboardIframe {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.dashboardNoSelection {
  font-size: 20px;
  font-weight: bold;
  padding: 40px;
}

/* TODO: mobile rendering */
