@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value cm_grey_400 from colors;
@value cm_grey_700 from colors;
@value cm_negative_red_200 from colors;
@value light from colors;

.wrapper {
  /* overflow-x: auto;
  padding-bottom: 15px; */
  width: 100%;
}

.table {
  table-layout: fixed;  
  border: 1px solid light;
  font-family: 'Gilroy';
  font-style: normal;
  border-spacing: 0;
  border-radius: 8px;
  max-width: 1089px;
}

.table .thead {
  background-color: xtraLightGrey;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: cm_grey_400;
  height: 56px;
  text-align: left; 
}

.table .header {
  width: 182px;
  min-width: 182px;
  max-width: 182px;
  padding-left: 56px;
  box-sizing: border-box;
}

.table .header-0 {
  position: sticky;
  left: 0;
  background-color: xtraLightGrey;
}

.table .header-last {
  display: flex;
  width: 100%;
  justify-content: end;
  position: sticky;
  right: 0;
}

.table .col {
  text-align: left; 
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: cm_grey_700;
  border-top: 1px solid light;
  padding-left: 56px;
}

.table .col-0 {
  position: sticky;
  left: 0;
  padding-left: 16px;
  background-color: white;
}
 .table .col-0 > div {
  display: flex;
  justify-content: start;
  gap: 10px;
 }

.table .col-last {
  text-align: left; 
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: cm_grey_700;
  border-top: 1px solid light;
  display: flex;
  justify-content: end;
  position: sticky;
  right: 0;
}

.table .errorRow{
padding: 10px;
border-top: 1px solid light;  
}
