@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value cm_grey_400 from colors;
@value cm_grey_700 from colors;
@value cm_negative_red_200 from colors;
@value light from colors;

.wrapper {
  overflow-x: auto;
  padding-bottom: 15px;
}

.table {
  table-layout: fixed;  
  border: 1px solid light;
  font-family: 'Gilroy';
  font-style: normal;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.table .thead {
  background-color: xtraLightGrey;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: cm_grey_400;
  height: 56px;
  overflow: hidden;
  text-align: left; 
}

.table .header-0 {
  width: 57px;
}

.table .header-last {
  display: flex;
  width: 100%;
  justify-content: end;
}

.table .header {
  width: 182px;
  min-width: 182px;
  max-width: 182px;
}

.table .col {
  text-align: left; 
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: cm_grey_700;
  border-top: 1px solid light;
}

.table .col-0 {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 57px;
  color: cm_grey_400;
}

.table .col-last {
  text-align: left; 
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: cm_grey_700;
  border-top: 1px solid light;
  display: flex;
  width: 100%;
  justify-content: end;
}

.table .upDownIcon{
  padding-left: 16px;
}

.table .errorRow{
padding: 10px;
border-top: 1px solid light;  
}
