@value colors: "../../variables/colors.css";
@value cm_grey_75 from colors;
@value light from colors;
@value green_success from colors
.resultContenantContainer {
    width: 884px;
    height: 158px;
    border: 1px solid cm_grey_75;
}
.organismPlayerResultContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.smallCricle {
    height: 936px;
    width: 936px;
    border-radius: 50%;
    border: 1px solid light;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mediumCricle {
    height: 1186px;
    width: 1186px;
    border-radius: 50%;
    border: 1px solid light;
    display: flex;
    justify-content: center;
    align-items: center;
}
.largeCricle {
    height: 1434px;
    width: 1434px;
    border-radius: 50%;
    border: 1px solid light;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusPlayerResult {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    color: green_success
}