@value colors: "../../variables/colors.css";
@value black from colors;
@value white from colors;
@value cm_blue_900 from colors;
@value cm_grey_400 from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.fontBase {
  font-family: "Gilroy";
  user-select: none;
}

.slide{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.slideContentContainer {
  margin-top: 15px;
  min-height: calc(100% - 100px);
  max-height: calc(100% - 100px);
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.validateButtonWrapper {
  border-radius: 7px;
  min-width: 250px;
  width: min-content;
  position: relative;
  margin: 15px auto;
}

/* ie fallback */
_:-ms-fullscreen, :root .validateButtonWrapper {
  width: auto;
}

.answerContainer {
  max-width: 95%;
  display: flex;
  justify-content: center;
  height: 100%;
  /*
    To break wrappers layout (to enclose large answers in the scroll bar), works like
    display: contents for this use case but w ie11 support
  */
  display: grid;
}

.question {
  composes: fontBase;
  font-size: 20px;
  font-weight: bold;
  color: cm_blue_900;
  text-align: center;
  margin: 24px 0 4px;
  max-width: 85%;
  box-sizing: border-box;
}

.questionOrigin {
  composes: fontBase;
  font-size: 15px;
  color: cm_blue_900;
  margin-top: 34px;
  text-align: center;
  max-width: 95%;
}

.questionOrigin:empty:after {
  content: "\a0";
}

.help {
  composes: fontBase;
  font-size: 15px;
  color: cm_grey_400;
  flex-grow: 0.1;
  margin: 4px 0 10px;
  text-align: center;
  max-width: 95%;
}

/* to keep the content space even if the help label is empty */
.help:empty:after {
  content: "\a0";
}

@keyframes popInAnimation {
  from {
    transform: translate3d(0, 200px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.correctionPopinWrapper {
  position: absolute;
  bottom: 0px;
  border-radius: 7px;
  margin: 0 15px 15px;
  width: 95%;
}

.popinAnimation {
  animation: popInAnimation 0.5s ease-out forwards;
}

/* ie fallback */
_:-ms-fullscreen, :root .correctionPopinWrapper {
  left: 15px;
}

.validateButton {
  color: white;
  width: 300px;
  transition: opacity 0.25s ease-in;
}

.validateButton:hover {
  opacity: 0.8;
}

.loader {
  height: 60px;
  width: 60px;
}

.disableSlideContent {
  pointer-events: none;
}

@media tablet {
  @keyframes popInAnimation {
    from {
      transform: translate3d(0, 400px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
}

@media mobile {
  .questionOrigin, .question, .help, .answerContainer {
    max-width: 90%;
  }
  
  @keyframes popInAnimation {
    from {
      transform: translate3d(0, 500px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
}
