@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;

@value colors: "../../../variables/colors.css";
@value xtraLightGrey from colors;
@value dark from colors;
@value white from colors;
@value light from colors;
@value negative from colors;
@value black from colors;

.wrapper {
  width: 100%;
  height: 60px;
  display: flex;
}

.backLink {
  display: flex;
  width: 52px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: xtraLightGrey;
}

.backIcon {
  width: 11px;
  height: 16px;
  transition: transform 0.01s;
}

.backIcon:hover {
  transform: scale(1.05);
}

.backIcon:active {
  transform: scale(0.95);
}

.primary {
  min-width: 0px;
  flex-grow: 1;
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: xtraLightGrey;
  height: 100%;
  padding-right: 16px;
  box-sizing: border-box;
}

.primaryTitle {
  font-family: 'Open Sans';
  font-size: 15px;
  color: dark;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primarySubtitle {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 700;
}

.secondary {
  min-width: 0px;
  flex-grow: 2;
  height: 100%;
  background-color: light;
  display: flex;
  padding: 0 16px;
  justify-content: flex-start;
  align-items: center;
}

.secondaryTitle {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondarySubtitle {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: black;
  margin-right: 10px;
}

.livesWrapper {
  flex-shrink: 0;
  width: 80px;
  height: 100%;
  background-color: light;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media mobile {
  .primary {
    max-width: none;
  }

  .secondary {
    display: none;
  }
}
