@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;

.default {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  overflow-y: inherit;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.loader {
  position: relative;
  height: 100px;
  width: 100%;
}

@media desktop {
  .default {
  }
}

@media tablet {
  .default {
  }
}

@media mobile {
  .default {
    flex-direction: column;
    padding: 0px 5px;
  }
}
