@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;

.default {
  box-sizing: border-box;
  width: 100%;
  max-width: 1125px;
  margin: auto;
  overflow-y: inherit;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

@media desktop {
  .default {
  }
}

@media tablet {
  .default {
  }
}

@media mobile {
  .default {
    flex-direction: column;
  }
}
