@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value cm_blue_900 from colors;
@value cm_grey_75 from colors;
@value cm_grey_500 from colors;
@value cm_grey_700 from colors;
@value white from colors;


.textBase {
  font-family: "Gilroy";
  font-style: normal;
  color: cm_blue_900;
  user-select: none;
}

.reviewWrapper {
  width: 100%;
  border-radius: 16px;
  background-color: xtraLightGrey;
  padding-bottom: 40px;
}

.reviewTitle {
  composes: textBase;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  padding: 40px 40px 16px;
}

.reviewText {
  composes: textBase;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 32px;
  padding: 0 40px;
  opacity: 0.7;
  overflow: hidden;
}

.reviewList {
  list-style: none;
}

.reviewListWrapper {
  margin-bottom: 0;
}

.reviewListItemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  margin: 16px 40px 0 0;
  background: cm_grey_75;
  border-radius: 8px;
}

.reviewListText {
  composes: textBase;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-right: 12px;
}

.labelIcon {
  padding-right: 12px;
  height: 16px;
  width: 16px;
}

.informationIcon {
  color: cm_grey_500;
}

.toolTip {
  transition: opacity 0.8s;
  position: absolute;
  height: auto;
  width: 200px;
  border-radius: 7px;
  background-color: cm_grey_700;
  right: -81px;
  bottom: 32px;
}

.toolTip::before {
  content: '';
  display: inline-block;
  visibility: inherit;
  opacity: inherit;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  background-color: cm_grey_700;
  position: inherit;
  bottom: -5px;
  right: 40%;
  border-radius: 2px;
}

.tooltipText {
  composes: textBase;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  border-radius: 3px;
  word-wrap: break-word;
  color: white;
  padding: 8px 14px;
  text-align: center;
}

.tooltipContainer {
  overflow: visible;
  position: relative;
}

.tooltipIconContainer {
  display: flex;
  justify-content: flex-end;
  border: none;
}

@media tablet {
  .reviewWrapper{
    width: 100%;
  }
}

@media mobile {
  .reviewWrapper{
    width: 100%;
  }
}