@value colors: "../../variables/colors.css";
@value cm_primary_blue from colors;
@value cm_grey_50 from colors;
@value lightDark from colors;

.tickeForeignObject {
  overflow: visible;
}

.tickWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 6px;
  width: 100%;
  font-size: 14px;
  font-family: 'Gilroy';
  font-weight: 600;
  padding: 8px;
  box-sizing: border-box;
}

.tickWrapperFocus {
  background-color: cm_grey_50;
  border-radius: 12px;
  width: fit-content;
}

.tickValue {
  padding: 4px;
  border-radius: 12px;
}

.tickLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  width: 100%;
  width: fit-content;
}

.tooltip {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  font-family: 'Gilroy';
  font-weight: 600;
  background-color: lightDark;
  color: cm_grey_50;
  padding: 4px 8px;
  border-radius: 8px;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
}

.tooltipLabel {
  font-size: 10px;
  font-weight: 600;
}

.tooltipValue {
  font-size: 14px;
  font-weight: 700;
}