@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value dark from colors;
@value xtraLightGrey from colors;
@value light from colors;
@value white from colors;

.authorLink {
  width: 100%;
  margin: 10px 0;
}

.authorLink a {
  font-family: 'Gilroy';
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: -0.2px;
  text-align: left;
}

.authorLink a:hover {
  text-decoration: underline;
}

.link {
  margin: 0 3px 0 0;
}

.linkicon {
  position: relative;
  margin-left: 6px;
  top: 1px;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}

.authorName {
  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 600;
  color: dark;
  letter-spacing: -0.22px;
  text-align: left;
}

.logoContainer {
  width: 100%;
  color: dark;
  border: 1px solid xtraLightGrey;
  border-bottom: 0;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid light;
  cursor: pointer;
}

.logo {
  max-width: 190px;
  width: auto;
  max-height: 70px;
  flex: 0 1 auto;
  margin: 8px;
}
.arrowWrapper {
  border-left: 1px solid light;
  flex: 0 1 auto;
  width: 30px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  box-sizing: border-box;
}
.arrow {
  margin: auto 0px;
  transition: transform 0.4s ease-out;
  color: dark;
}

/** One Author **/
.authorWrapper:nth-child(2):nth-last-child(1) .logo {
  height: auto;
  max-height: none;
}
.authorWrapper:nth-child(2):nth-last-child(1) .arrowWrapper {
  display: none;
}
.authorWrapper:nth-child(2):nth-last-child(1) .logoContainer {
  cursor: initial;
}

.toggle {
  display: none;
}
.toggle:checked ~ label .arrow {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  
}
.toggle:checked ~ .authorContent {
  padding: 16px;
  max-height: 140px;
  opacity: 1;
  margin: 0px;
}

.authorContent {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 16px;
  transition: all 0.5s linear;
  text-align: left;
  box-sizing: border-box;
  background: xtraLightGrey;
  opacity: 0;
  margin-top: -1px;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.authorWrapper {
  width: 240px;
  display: inline-block;
  margin: 0 0 10px 1px;
  border: 1px solid light;
  vertical-align: top;
}

.authorWrapper:last-child {
  margin: 0 0 0 1px;
}

.colDetails {
  display: inline-block;
  vertical-align: top;
  flex-shrink: 3;
  flex-grow: 1;
}

.colDetails > * {
  text-align: left;
}

@media desktop {
  .authorWrapper {
    margin: 0 1% 1% 1px;
    width: 32%;
  }
  .authorWrapper:nth-child(3n+4) {
    margin: 0 0 1% 1px;
  }
}

@media tablet {
  .authorWrapper {
    margin: 0 1% 1% 0;
    width: 49%;
  }
  .authorWrapper:nth-child(3n+4) {
    margin: 0 1% 1% 0;
  }
  .authorWrapper:nth-child(2n+1) {
    margin: 0 0 1% 0;
  }
}

@media mobile {
  .authorWrapper {
    width: 100%;
    margin: 0 0 20px;
  }
  .authorWrapper:nth-child(3n+4),
  .authorWrapper:nth-child(2n+1) {
    margin: 0 0 20px;
  }
  .authorWrapper:last-child {
    margin: 0;
  }
}
