@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

@value colors: "../../variables/colors.css";
@value dark from colors;
@value xtraLightGrey from colors;
@value white from colors;

.authorLink {
  width: 100%;
  margin: 16px 0;
}

.authorLink a {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.authorLink a:hover {
  text-decoration: underline;
}

.link {
  margin: 0px 3px 0 0;
}

.linkicon {
  position: relative;
  margin-left: 6px;
  top: -1px;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}

.authorName {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  color: dark;
  letter-spacing: -0.22px;
}

.logoContainer {
  width: 100%;
  color: dark;
  border: 1px solid xtraLightGrey;
  border-bottom: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
}

.logoLink {
  display: block;
}

.logo {
  max-width: 100%;
}

.authorContent {
  width: 100%;
  padding: 16px;
  text-align: left;
  box-sizing: border-box;
  background: xtraLightGrey;
  border: 1px solid xtraLightGrey;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.authorWrapper {
  margin-bottom: 30px;
}

.logo {
  width: 50%;
}

.colDetails {
  display: inline-block;
  vertical-align: top;
  flex-shrink: 3;
  flex-grow: 1;
}
