@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value cm_blue_900 from colors;
@value cm_grey_400 from colors;
@value cm_grey_500 from colors;

.textBase {
  color: cm_blue_900;
  font-family: "Gilroy";
  font-style: normal;
  user-select: none;
}

.containerReviewSkill {
  width: 100%;
  position: relative;
}

.title {
  composes: textBase;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-left: 40px;
}

.informationIcon {
  color: cm_grey_500;
  padding-left: 8px;
}

.listSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 24px 0 40px;
}

.skillCardContainer {
  margin: 0 16px 16px 0;
  max-width: 298px;
  min-width: 205px;
  width: 100%;    
  flex: 1 0 33%;
}

.noSkillsContainer {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titleNoSkills {
  composes: textBase;
  font-weight: 10;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

.textNoSkills {
  color: cm_grey_400;
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 28px;
  margin-top: 8px;
  text-align: center;
  user-select: none;
  width: 493px;
}

.imgNoSkills {
  height: 361px;
  margin-top: 48px;
  width: 361px;
}

.loaderContainer {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 60px;
  width: 60px;
}

@media tablet {
  .titleNoSkills, .textNoSkills {
    width: 90%;
  }

  .imgNoSkills {
    max-width: 361px;
    max-height: 361px;
    width: 100%;
    height: 100%;
  }
}

@media mobile {  
  .skillCardContainer {
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    margin-right: 0;
    max-width: 100%;
  }

  .listSkillsContainer {
    margin: 24px 20px;
  }

  .title {
  margin-left: 0;
  }

  .titleNoSkills,
  .textNoSkills {
    width: 85%;
  }

  .imgNoSkills {
    margin-top: 33px;
    width: 85%;
    height: auto;
  }
}
