@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.listSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 24px 0 40px;
}

.skillCardContainer {
  margin: 0 16px 16px 0;
  max-width: 298px;
  min-width: 205px;
  width: 100%;    
  flex: 1 0 33%;
}


@media mobile {  
  .listSkillsContainer {
    margin: 24px 20px;
  }

  .skillCardContainer {
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    margin-right: 0;
    max-width: 100%;
  }

}
