@value colors: "../../../variables/colors.css";
@value dark from colors;
@value grey from colors;
@value xtraLightGrey from colors;
@value medium from colors;
@value positive from colors;
@value white from colors;
@value brand from colors;
@value tablet, mobile from "../../../variables/breakpoints.css";

@keyframes fadeInBackground {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.initialBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(dark lightness(30%));
  margin: 0;
  padding: 0;
  z-index: 100;
  transition: opacity 0.3s;
  opacity: 0;
}

.titleLink {
  color: white;
  font-family: 'Open Sans';
  font-size: 13px;
}

.wrapperAssistance {
  display: flex;
  margin-top: 16px;
  justify-content: flex-end;
  cursor: pointer;
}

.alertIcon {
  height: 13px;
  margin: 3px 8px;
}

.finalBackground {
  composes: initialBackground;
  opacity: 1;
}

.scrollWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.baseWrapper {
  width: 912px;
  max-width: 100%;
  border-radius: 3px;
  overflow: hidden;
  margin: 50px auto;
  transition: transform 0.3s ease-out;
}

.loadingWrapper {
  transform: scale(0);
}

.wrapper {
  composes: baseWrapper;
}

.baseContent {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.5s;
}

.content {
  composes: baseContent;
  opacity: 1;
}

.loadingContent {
  composes: baseContent;
  opacity: 0;
}

.text {
  font-family: 'Open Sans';
  font-size: 15px;
  margin: 0;
}

.activeLoader {
  opacity: 1;
  transition: opacity 0.3s;
}

.inactiveLoader {
  opacity: 0;
}

/* Question -------------- */

.question {
  padding: 16px 13px;
  background-color: white;
}

.questionHeader {
  composes: text;
  color: medium;
  padding: 5px 22px;
}

.answerWrapper {
  display: flex;
  flex-flow: row;
  color: positive;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 25px;
}

.checkIcon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.answerPrefix {
  composes: text;
  margin-right: 5px;
  min-width: 120px;
}

.answer {
  composes: text;
  font-weight: 700;
  width: 100%;
}

.answer > p {
  margin-bottom: -10px;
}
/* Resources -------------- */

.browserWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.browser {
  margin: 16px 35px;
}

.simpleTextWrapper {
  padding: 8px 30px 24px 71px;
}

.simpleText {
  composes: text;
  color: dark;
}

@media mobile {
  .wrapperAssistance {
    margin-bottom: 8px;
  }
  .finalBackground {
    display: contents;
    top: auto;
  }
}

@media tablet {
  .titleLink {
    color: dark;
  }

  .wrapperAssistance {
    justify-content: center;
  }

  .scrollWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  .baseWrapper {
    width: auto;
    margin: 0;
    border-radius: 0;
  }

  .baseContent {
    border-radius: 0;
  }

  .loadingWrapper {
    transform: translate(0);
  }

  .wrapper {
    animation-name: fadeInBackground;
    animation-duration: 0.1s;
  }

  .answerWrapper {
    flex-wrap: wrap;
  }

  .answer {
    padding-left: 22px;
    padding-top: 5px;
    width: 100%;
  }

  .browser,
  .browserWrapper {
    margin: 5px 0;
    width: 100%;
  }
}

/* quit button -------------- */

.quitCta {
  composes: hoverFill from '../../../atom/button/hover-fill.css';
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.quitCta::after {
  background-color: grey;
  opacity: 0.15;
}

.hideQuitCta {
  composes: quitCta;
  height: 0;
  padding: 0;
  transition: all 1s;
}
