@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;

.wrapper {
  width: 100%;
  flex-grow: inherit;
}

.popinWrapper {
  margin: 32px auto;
  box-sizing: border-box;
  max-width: 960px;
  padding: 0 30px;
}

@media mobile {
  .popinWrapper {
    margin: 0;
    padding: 0;
  }

  .slidesHeader {
    display: none;
  }
}
