@value breakpoints: '../../../variables/breakpoints.css';
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: '../../../variables/colors.css';
@value xtraLightGrey from colors;
@value grey from colors;
@value medium from colors;
@value white from colors;
@value light from colors;
@value positive from colors;
@value dark from colors;

.summaryWrapper {
  width: 100%;
  border: 1px solid light;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.cardsWrapper {
  background-color: xtraLightGrey;
}

.loaderWrapper {
  position: relative;
  height: 100px;
}

.footer {
  composes: hoverFill from '../../../atom/button/hover-fill.css';
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.footer::after {
  background-color: grey;
  opacity: 0.15;
}

/* ----------------------------------------- actions */

.actionWrapper {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 35px;
}

.text {
  font-family: 'Gilroy';
  color: dark;
}

@media mobile {
  .simpleWrapper {
    display: none;
  }
}

/* ------------- simple */

.simpleWrapper {
  composes: actionWrapper;
}

.simpleTexts {
  width: 100%;
}

.simplePrefix {
  composes: text;
  font-size: 25px;
  margin-right: 7px;
}

.simpleTitle {
  composes: text;
  font-size: 25px;
  font-weight: 700;
}

.simpleButton {
  margin-top: 25px;
  border-radius: 30px;
}

/* ------------- nextCourse */

.nextCourseWrapper {
  composes: actionWrapper;
  padding: 15px;
}

.nextCourseTexts {
  text-align: right;
  padding: 70px 80px;
  max-width: 450px;
}

.nextCoursePrefix {
  composes: text;
  font-size: 20px;
}

.nextCourseTitle {
  composes: text;
  font-size: 18px;
  font-weight: 700;
}

.nextCourseCard {
  display: flex;
  align-items: center;
}

@media tablet {
  .nextCourseTexts {
    padding: 70px 30px 70px 0;
  }
}

@media mobile {
  .nextCourseTexts {
    width: 100%;
    text-align: center;
    padding: 20px 30px 35px;
    max-width: 100%;
  }

  .nextCourseTitle,
  .nextCoursePrefix {
    font-size: 15px;
  }
}

/* ------------- subscribe */

.subscribeWrapper {
  composes: actionWrapper;
  padding: 15px;
}

.subscribeTexts {
  text-align: right;
  padding: 70px 109px 70px 20px;
}

.subscribeDescription {
  composes: text;
  font-size: 15px;
}

.subscribeTitle {
  composes: text;
  font-size: 15px;
  font-weight: 700;
  display: inline-flex;
}

.subscribeButtonWrapper {
  text-align: center;
  padding: 40px 0;
}

.subscribeButton {
  background-color: positive;
  border-radius: 30px;
  text-transform: none;
  width: auto;
}

@media tablet {
  .subscribeTexts {
    padding-right: 3%;
  }
}

@media mobile {
  .subscribeTexts {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .summaryWrapper {
    box-shadow: none;
    border: none;
  }
}

/* ------------- CommentSection */

.discussionWrapper {
  border-top: 1px solid light;
}

.commentSection {
  width: 100%;
  padding: 70px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 30%;
  opacity: 0;
  animation: fadeIn 1s forwards cubic-bezier(0.18, 0.89, 0.31, 1.53);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.commentSectionIconWrapper {
  text-align: right;
  margin-right: 5px;
}

.commentSectionIcon {
  height: 29px;
  width: 29px;
}

.commentSectionTexts {
  text-align: left;
  margin: 0;
}

.commentSectionTexts p {
  font-family: Gilroy;
  color: dark;
  font-size: 19px;
  font-weight: 700;
  background-color: transparent;
  outline: none;
  transition: color 0.3s;
  margin: 0;
}

.circle {
  border-radius: 50%;
  border: 1px solid light;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.smallCircle {
  top:  -68px;
  left: calc(50vw - 50vh - 68px);
  height: calc(100vh + 136px);
  width: calc(100vh + 136px);
  composes: circle;
}
.mediumCircle {
  top: -193px;
  left: calc(50vw - 50vh - 193px);
  height: calc(100vh + 386px);
  width: calc(100vh + 386px);
  composes: circle;
}
.largeCircle {
  top: -318px;
  left: calc(50vw - 50vh - 318px);
  height: calc(100vh + 636px);
  width: calc(100vh + 636px);
  composes: circle;
}
.background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.organismPlayerResultContainerScorm {
  height: 100%;
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.lottie {
  display: flex;
  height: 135%;
  width: 135%;
  transform: translate(-13%, -13%);
}
.animationContainer {
  height: calc(100vh - 60px);
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0px;
}
.ie11Backup {
  position: relative;
  transform: translate(0%, 10%);
  height: 80%;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
}


@media mobile {
  .commentSection {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .commentSectionTexts {
    text-align: center;
    width: 100%;
  }
}
@media tablet {
  .largeCircle , .mediumCircle, .smallCircle {
    display: none;
  }
}

.commentSectionLink {
  font-family: Gilroy;
  font-size: 12px;
  color: dark;
  text-decoration: underline;
  cursor: pointer;
}

.commentSectionLink:hover {
  color: medium;
}

.innerHTML {
  composes: innerHTML from '../../../atom/label/style.css';
}
