@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../../variables/colors.css";
@value xtraLightGrey from colors;
@value light from colors;
@value positive from colors;
@value dark from colors;

.summaryWrapper {
  width: 100%;
  background-color: xtraLightGrey;
  border: 1px solid light;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.loaderWrapper {
  position: relative;
  height: 100px;
}

.footer {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

/* ----------------------------------------- actions */

.actionWrapper {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 35px;
}

.text {
  font-family: 'Open Sans';
  color: dark;
}

/* ------------- simple */

.simpleWrapper {
  composes: actionWrapper;
}

.simpleTexts {
  width: 100%;
}

.simplePrefix {
  composes: text;
  font-size: 25px;
  margin-right: 7px;
}

.simpleTitle {
  composes: text;
  font-size: 25px;
  font-weight: 700;
}

.simpleButton {
  composes: button from '../../../atom/button/style.css';
  margin-top: 25px;
  border-radius: 30px;
}

/* ------------- nextCourse */

.nextCourseWrapper {
  composes: actionWrapper;
  padding: 15px;
}

.nextCourseTexts {
  text-align: right;
  padding: 70px 80px;
  max-width: 260px;
}

.nextCourseDescription {
  composes: text;
  font-size: 20px;
  margin-bottom: 30px;
}

.nextCoursePrefix {
  composes: text;
  font-size: 25px;
}

.nextCourseTitle {
  composes: text;
  font-size: 25px;
  font-weight: 700;
}

.nextCourseCard {
  display: flex;
  align-items: center;
}

@media tablet {
  .nextCourseTexts {
    padding: 70px 30px 70px 0;
  }
}

@media mobile {
  .nextCourseTexts {
    width: 100%;
    text-align: center;
    padding: 20px 30px 35px;
    max-width: 100%;
  }

  .nextCourseDescription {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .nextCourseTitle,
  .nextCoursePrefix {
    font-size: 15px;
  }
}

/* ------------- subscribe */

.subscribeWrapper {
  composes: actionWrapper;
  padding: 15px;
}

.subscribeTexts {
  text-align: right;
  padding: 70px 109px 70px 20;
}

.subscribeDescription {
  composes: text;
  font-size: 15px;
}

.subscribeTitle {
  composes: text;
  font-size: 15px;
  font-weight: 700;
}

.subscribeButtonWrapper {
  text-align: center;
  padding: 40px 0;
}

.subscribeButton {
  composes: button from '../../../atom/button/style.css';
  background-color: positive;
  border-radius: 30px;
  text-transform: none;
  width: auto;
}

@media tablet {
  .subscribeTexts {
    padding-right: 3%;
  }
}

@media mobile {
  .subscribeTexts {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .summaryWrapper {
    box-shadow: none;
    border: none;
  }
}
