@value breakpoints: "../../../variables/breakpoints.css";
@value tablet from breakpoints;
@value time: 0.3s;
@value colors: "../../../variables/colors.css";
@value medium from colors;
@value orangeAdd from colors;
@value negative from colors;
@value black from colors;
@value brand from colors;
@value light from colors;
@value xtraLightGrey from colors;

.post {
  opacity: 0;
  display: flex;
  padding: 10px 30px 15px 0;
  text-align: left;
  animation: fadeIn 1s ease-out forwards;
}

.mainPost {
  border-bottom: 1px solid light;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.rejected {
  composes: post;
  border-left: color(negative lightness(20%)) 3px solid;
  padding-left: 10px;
  background: color(orangeAdd lightness(80%));
}

.image {
  width: 41px;
  height: 41px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid xtraLightGrey;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  min-width: 105px;
  align-items: center;
}

.avatar {
  width: 100%;
  height: 100%;
}

.content {
  font-family: 'Gilroy';
  width: 100%;
}

.author {
  font-family: Gilroy;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: medium;
  padding-top: 8px;
  max-width: 90px;
}

.date {
  color: color(medium lightness(80%));
  font-family: Gilroy;
  font-size: 13px;
  padding-bottom: 8px;
  display: block;
}

.body {
  display: flex;
  flex-wrap: wrap;
}

.message {
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Gilroy;
  color: black;
  padding-bottom: 8px;
  display: block;
}

.deletedMessage {
  composes: message;
  font-style: italic;
}

.action {
  font-size: 14px;
  margin: 0 14px 0 0;
  transition: all time ease-in-out;
  cursor: pointer;
  order: 1;
  font-family: Gilroy;
  font-weight: bold;
  text-align: left;
  color: brand;
}

.action:hover {
  opacity: 0.8;
}

/* ---------------------------------------------------------------------------- */

/* comments */

.comment {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  width: 100%;
  transition: all time ease-out;
  opacity: 0;
}

.answer {
  composes: comment;
  order: 2;
}

.edition {
  composes: comment;
  margin-left: 100%;
}

.hiddenMessage {
  display: none;
}

.visible {
  visibility: visible;
  margin: 0;
  height: auto;
  opacity: 1;
  order: 3;
}

@media tablet {
  .avatarWrapper {
    min-width: 80px;
  }
}
