.admin {
  padding: 10px;
  background-image: url('https://user-images.githubusercontent.com/13415878/47146582-aa78b980-d2cc-11e8-9ac3-2e12fb48f070.jpg');
  background-size: cover;
}

.logo {
  height: 127px;
  width: 100%;
  background-image: url('https://user-images.githubusercontent.com/13415878/47146528-8321ec80-d2cc-11e8-9f4a-fab41d5db4eb.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sliders {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 20px 0px;
  margin: 0px auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 480px;
  margin: 0 auto;
  padding: 40px 0px;
}

.slider {
  flex-grow: 1;
  flex-shrink: 0;
}

.button {
}

.card {
}

.description {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #fff;
}
