@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value grey from colors;
@value dark from colors;
@value xtraLightGrey from colors;
@value white from colors;

.default[disabled] {
  pointer-events: none;
}

.default {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  background-color: white;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: left;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
}

.hero {
  composes: default;
  border-radius: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .imageWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.default .image {
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  transition: all 0.25s ease-in-out;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 125px;
}

.default .image::after {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.default .image::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    color(black a(1%)),
    color(rgba(0, 0, 0, 0.7) a(47%)),
    color(black a(96%))
  );
}

.default .image::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.25s ease-in-out;
  background: black;
}

.default:hover .image::before {
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}

.lazy {
  pointer-events: none;
}

.heroButtonWrapper {
  position: relative;
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.heroButtonWrapper .heroButton {
  min-width: 0;
  line-height: 45px;
  border-radius: 27.5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.default[disabled] .imageWrapper {
  opacity: 0.4;
}

.imageWrapper {
  height: 125px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
}

.imageWrapper a {
  text-decoration: none;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (hover: none) {
  .default:hover .image::before {
    opacity: 0;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding: 0 40px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  align-self: center;
}

.title {
  font-family: Gilroy;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;  
  overflow: hidden;
  user-select: none;
  margin: 0;
  align-self: center;
}

.description {
  text-align: center;
  margin-top: 12px;
  font-size: 18px;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  overflow: hidden;
  user-select: none;
  max-width: 650px;
  padding: 0;
  margin: 0;
  align-self: center;
}
