@value colors: "../../variables/colors.css";
@value blue from colors;
@value borderGrey from colors;
@value blueGrey from colors;

@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.tabNavigation {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.tabNavigationPanel {
  margin-right: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.backToCatalogButton {
  padding: 35px;
  border: solid 1px borderGrey;
  color: blueGrey;
  background: #ECEFF1;
  display:inline;
  font-size: 17px;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
}

.backToCatalogButton::before {
  content: "<";
  margin-right: 10px;
}

@media tablet {
  .tabNavigation {
    margin: 5px;
    flex-wrap: wrap;
  }

  .tabNavigationPanel {
    margin: 0;
    width: 100%;
  }
}

@media mobile {
  .tabNavigation {
    margin: 0 5px;
  }

  .backToCatalogButton {
    padding: 20px;
    text-align: center;
    margin: 10px 0;
  }
}
