@value colors: "../../variables/colors.css";
@value medium from colors;
@value dark from colors;
@value light from colors;
@value black from colors;
@value white from colors;
@value medium from colors;
@value brand from colors;

@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.wrapperClue {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 32px 32px;
  width: 100%;
  box-sizing: border-box;
  background-color: light;
}

.clue {
  background: brand;
  border: 10px solid white;
  margin: 58px auto 28px auto;
  padding: 32px;
  text-align: center;
  width: 427px;
  height: 219px;
  display: flex;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease-out;
}

.loadingClue {
  composes: clue;
  background-color: medium;
}

.clueText {
  font-family: 'Open Sans';
  font-style: italic;
  color: white;
  display: block;
  width: 100%;
  float: right;
}

@media mobile {
  .clue {
    width: 70%;
  }
}