@value colors: "../../variables/colors.css";
@value medium from colors;
@value dark from colors;
@value light from colors;
@value black from colors;
@value white from colors;
@value medium from colors;
@value brand from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.wrapperClue {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.7;
  justify-content: center;
  width: 100%;
  background-color: light;
}

.clue {
  background: brand;
  border: 10px solid white;
  padding: 32px;
  text-align: center;
  width: 427px;
  height: 219px;
  display: flex;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease-out;
}

.loadingClue {
  composes: clue;
  background-color: medium;
}

.clueText {
  font-family: 'Open Sans';
  font-style: italic;
  color: white;
  display: block;
  width: 100%;
  float: right;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media mobile {
  .clue {
    width: 70%;
  }
}
