@value colors: "../../variables/colors.css";
@value light from colors;
@value white from colors;
@value brand from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.wrapperClue {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.7;
  justify-content: center;
  width: 100%;
  background-color: white;
  margin-top: 56px;
  perspective: 1000px;
}

.clueCard {
  transition: 1s;
  transition-delay: 0s;
  transform-style: preserve-3d;
  position: relative;
  padding: 32px;
  width: 447px;
  height: 239px;
  box-sizing: content-box;
}

.flip {
  transform: rotateX(180deg);
}

.flip .back {
  opacity: 0;
  transition: opacity 0s linear 0.4s;
}

.back,
.front {
  background: brand;
  padding: 32px;
  text-align: center;
  height: 219px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
}

.back {
  z-index: 2;
  transform: rotateX(0deg);
  flex-direction: column;
  justify-content: space-around;
}

.front {
  transform: rotateX(180deg);
}

.backContent {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  align-items: center;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.loading {
  opacity: 0;
  transition: opacity 0.5s;
}

.stars {
  padding-top: 50px;
  font-family: 'Gilroy';
  font-style: italic;
  color: white;
  display: block;
  width: 100%;
}

.clueText,
.clueText a {
  font-family: 'Gilroy';
  font-weight: bold;
  font-size: 18px;
  color: white;
  display: block;
  width: 100%;
  float: right;
}

@media mobile {
  .wrapperClue {
    margin-top: 24px;
  }

  .clueCard {
    width: 70%;
  }
}
