@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value brand from colors;
@value white from colors;
@value light from colors;
@value dark from colors;

.list {
  list-style-type: none;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 2px light;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  text-transform: initial ;
  background-color: white;
}

.list:before {
  display: block;
  top: -17px;
  left: 50px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0,0,0,0);
  border-bottom-color: light;
  border-width: 8px;
  margin-left: -8px;
}

.item {
  border-bottom: solid 1px light;
}

.item:hover {
  cursor: pointer;
}

.item a {
  font-family: Open Sans;
  font-size: 12px;
  color: dark;
  text-decoration: none;
  padding: 20px;
  display: inline-block;;
  vertical-align: middle;
  text-transform: initial;
  width: 100%;
  box-sizing: border-box;
  font-weight: 600;
}

.item:hover a {
  color: brand;
}

.item:last-child {
  border-bottom: 0;
}

.item:last-child:hover {
  border-color: brand;
}


@media tablet {
  .list {
    box-shadow: none;
    border: none;
    margin-top: 10px;
  }
}
