@value colors: "../../variables/colors.css";
@value white from colors;
@value light from colors;
@value xtraLightGrey from colors;

.tabs {
  display: flex;
  width: 100%;
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding:0;
}

.tab {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  color: brand;
  background: xtraLightGrey;
  border: 1px solid light;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
}

.defaultTab {
  composes: tab;
}

/* icon on module-bubble */
.defaultTab:hover div div div {
  transition: transform 0.3s ease-out;
  transform: scale(1.1);
}

.currentTab {
  composes: tab;
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
}

.arrow {
  display: block;
  position: absolute;
  right: -6px;
  top: 7px;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 0 18px 14px;
}

.currentTab:last-child:after {
  display: none;
}

.name {
  flex-shrink: 1;
  text-transform: capitalize;
}

.module {
  flex-shrink: 0;
  padding-top: 12px;
}

.module span {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.module span:last-child {
  font-size: 12px;
}
