@value colors: "../../variables/colors.css";
@value white from colors;
@value light from colors;
@value xtraLightGrey from colors;
@value dark from colors;

.tabs {
  display: flex;
  width: 100%;
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

.tab {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  color: dark;
  background: xtraLightGrey;
  border: 1px solid light;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  overflow: hidden;
}

.defaultTab {
  composes: tab;
}

/* icon on module-bubble */
.defaultTab:hover div div div {
  transition: transform 0.3s ease-out;
  transform: scale(1.1);
}
.defaultTab:after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background: dark;
  bottom: 0px;
  right: 100%;
  transition: right 0.3s ease-out;
}
.defaultTab:hover:after {
  right: 0px;
}
.currentTab {
  composes: tab;
  font-weight: 800;
}
.defaultTab.currentTab:after {
  right: 0px;
}

.name {
  flex-shrink: 1;
  text-transform: capitalize;
}

.module {
  flex-shrink: 0;
  padding-top: 12px;
}

.module span {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.module span:last-child {
  font-size: 12px;
}
