@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value white from colors;

.scope {
  display: block;
  width: 100%;
  margin: 0 0 40px 0;
  background: white;
}

@media desktop {
  .scope {
    margin: 25px 0 40px 0;
  }
}

@media tablet {
  .scope {
    margin: 25px 0 40px 0;
  }
}

@media mobile {
  .scope {
    margin: 35px 0 40px 0;
  }
}
