@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.wrapper {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 8px;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  margin: 0 4px;
  text-align: center;
}

.answerType {
  display: inline-block;
  margin: 4px 0 8px;
  vertical-align: middle;
}

.answerType .text {
  border: solid 3px red;
}
