@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.wrapper {
  display: block;
  width: auto;
  line-height: 58px;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
}

.field {
  display: inline-block;
}

.field label {
  margin: 0;
  box-sizing: border-box;
}

.wrapper div {
  display: inline-block;
  width: auto;
}

.wrapper div div label {
  display: block;
  width: auto;
  margin-right: 0;
}

@media mobile {
  .wrapper {
    padding: 8px 16px;
    box-sizing: border-box;
  }

  .wrapper div {
    margin-bottom: 8px;
  }

  .wrapper div div select {
    height: 100%;
    width: auto;
    padding-right: 35px;
    box-sizing: border-box;
  }

  .wrapper div div label {
    display: block;
    width: auto;
    margin-right: 0;
  }

  .wrapper div {
    display: inline-block;
    width: auto;
  }
}

@media tablet {
  .wrapper {
    padding: 8px 16px;
    box-sizing: border-box;
  }

  .wrapper div {
    margin-bottom: 8px;
  }

  .wrapper div div select {
    height: 100%;
    width: auto;
    padding-right: 35px;
    box-sizing: border-box;
  }

  .wrapper div div label {
    display: block;
    width: auto;
    margin-right: 0;
  }

  .wrapper div {
    display: inline-block;
    width: auto;
  }
}
