.inputContainer {
  margin-top: 8px;
}

.selectOpponentsContainer {
  margin-top: 16px;
}

.defaultWidth {
  composes: inputContainer;
  width: 300px;
}

.mediumWidth {
  composes: inputContainer;
  width: 444px;
}

.largeWidth {
  composes: inputContainer;
  width: 100%;
}
