@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value mobile from breakpoints;
@value wide from breakpoints;

.container {
  composes: wrapper from '../layout.css';
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.leftSection {
  display: block;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.rightSection {
  box-sizing: border-box;
  position: relative;
  padding-left: 50px;
  margin-bottom: 50px;
  margin-top: 60px;
}

.stickySection {
  box-sizing: border-box;
  position: sticky;
  top: 40px;
  z-index: 1;
  width: 280px;
  padding: 0 20px;
}

.column {
  margin-bottom: 30px;
}

.mobileAuthorCtaSection {
  display: none;
  position: fixed;
  margin-left: 330px;
}

.columnReverse {
  display: flex;
  flex-direction: column-reverse;
  width: 840px;
}

.header,
.content {
  composes: column;
  width: 840px;
}

.cta,
.partners {
  composes: column;
  padding-top: 20px;
}

.buttons {
 display: flex;
 align-items: center;
 margin-top: 15px;
}

.addToMyListBtn {
  flex: 1.3;
  margin-left: 15px;
}

.addToMyListBtnTablet {
  margin-top: 15px;
}

.shareBtnTablet {
  margin-top: 15px;
}

.shareBtn {
  flex: 1;
}

@media desktop {
  .container {
    display: flex;
  }

  .mobileAuthorCtaSection {
    composes: wrapper from '../layout.css';
    position: inherit;
    display: flex;
    flex-basis: 100%;
    order: 2;
    margin-left: 0px;
  }

  .rightSection {
    display: none;
  }

  .column {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 0px;
  }

  .header {
    order: 1;
    width: 100%;
  }

  .cta {
    order: 2;
  }

  .partners {
    order: 3;
  }

  .content {
    order: 4;
    width: 100%;
  }
}

@media mobile {
  .header {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .mobileAuthorCtaSection {
    padding: 0;
  }

  .rightSection {
    display: none;
  }

  .cta {
    margin-bottom: 15px;
  }

  .addToMyListBtnTablet {
    max-width: 100%;
    margin-top: 15px;
  }

  .shareBtnTablet {
    max-width: 100%;
    margin-top: 15px;
  }
}
