@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value mobile from breakpoints;
@value wide from breakpoints;

.wrapper {
  composes: wrapper from '../layout.css';
  display: block;
  overflow: hidden;
  padding: 20px;
}

.column {
  margin-bottom: 30px;
}

.leftColumn {
  composes: column;
  float: left;
  width: 840px;
}

.rightColumn {
  composes: column;
  float: right;
  width: 280px;
}

.header,
.content {
  composes: leftColumn;
}

.cta,
.partners {
  composes: rightColumn;
}

@media desktop {
  .wrapper {
    display: flex;
  }

  .column {
    display: flex;
    flex-basis: 100%;
  }

  .header {
    order: 1;
  }

  .cta {
    order: 2;
  }

  .content {
    order: 3;
  }

  .partners {
    order: 4;
  }
}

@media mobile {
  .content {
    width: 100%;
  }
}
