@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value medium from colors;
@value light from colors;
@value dark from colors;
@value warn from colors;

.default{
  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: dark;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.defaultCockpit{
  composes:default;
  height: 100%;
}

.header, .footer {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
  background-color: white;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  padding: 0 50px;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
}

.leftSection, .rightSection {
  align-self: center;
  flex: 1;
}

.loader {
  position: relative;
  min-height: 86%;
  width: 100%;
}

.quitCta {
  cursor: pointer;
  color: medium;
}
.quitCta:hover {
  color: dark;
}
.loading {
  cursor: default;
  color: light;
}
.loading:hover {
  color: light;
}

.title {
  margin: 0 auto;
}

.iconLabel {
  display: inline-flex;
  align-items: center;
}

.oval {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 9px;
  box-sizing: border-box;
  margin-right: 10px;
}

.iconHeader {
  color: white;
  width: 15px;
  height: 15px;
}

.link {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: medium;
}
.link:hover {
  color: dark;
}
.link:hover .iconQuestion{
  color: warn;
}

.iconQuestion {
  color: color(warn a(70%));
  margin-right: 8px;
}

.completeCta {
  height: 44px;
  border-radius: 22px;
  line-height: 44px;
  margin: 0 auto;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  cursor: initial;
}

@media tablet, mobile {
  .link {
    display:none;
  }
  .title span {
    display: none;
  }
  .header, .footer {
    padding: 0 24px;
  }
  .footer .leftSection, .footer .rightSection {
    display: none;
  }
}

.innerHTML {
  composes: innerHTML from '../../atom/label/style.css'
}
