@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value dark from colors;
@value light from colors;

.engineStars {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 153px;
  border-left: solid 1px light;
  border-top: solid 1px light;
  padding: 0 7px 0 7px;
  box-sizing: border-box;
  position: relative;
  flex: 1 2;
  min-width: 115px;
  transition : border 500ms ease-out;

  user-select: none;
  position: relative;
}

.engineIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 48px;
  border-bottom-right-radius: 8px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition : top 500ms ease-out;
}
.clickable {
  cursor: pointer;
}
.engineIcon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: light;
  transition : opacity 500ms ease-out;
}
.engineStars.clickable:hover {
  background: white;
}
.engineStars.clickable:hover .engineIcon::before {
  opacity: 0;
}
.active .engineIcon::before {
  opacity: 0;
}
.engineStars.clickable:hover .iconHeader {
  color: white;
}
.engineStars.clickable:hover .engineStars {
  background: white;
}

.active{
  background: white;
  cursor: initial;  
}

.active .iconHeader {
  color: white;
}
.disabled:hover {
  background: inherit;
}
.disabled:hover .iconHeader {
  color: dark;
}
.disabled:hover .engineIcon::before {
  opacity: 1;
}
.disabled:hover .engineStars {
  background: light;
}
.score {
  display: flex;
  font-family: 'Gilroy';
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  align-items: flex-end;
  align-content: flex-end;
  margin: 80px 0 1px;
  padding: 0;
  box-sizing: border-box;
}

.score p {
  height: 24px;
  padding: 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
}

.score span {
  height: 27px;
}

.scoreTitle {
  display: block;
  height: auto;
  font-family: 'Gilroy';
  font-size: 13px;
  text-align: left;
  color: dark;
}

.iconStar {
  width: 15px;
  height: 15px;
  margin-left: 4px;
}

.iconHeader {
  width: 25px;
  height: 25px;
  color: dark;
  z-index: 0;
  transition : color 500ms ease-out;
}

/*  tooltip -------------------------------------------- */

.disabled {
  cursor: help;
}

/*.active {
  border-top: 6px solid;
  border-top-color: inherit;
  cursor: default;
}

.active .engineIcon {
  top: 0;
}*/

.disabled .score,
.disabled .scoreTitle,
.disabled .engineIcon {
  opacity: 0.4;
}

.toolTip {
  opacity: 1 !important;
  padding: 0;
  pointer-events: all;
  background-color: transparent !important;
}

.toolTip::after {
  border-left-color: transparent !important;
}

.toolTipContent {
  padding: 10px;
  margin: 0;
  border-radius: 3px;
  font-family: 'Gilroy';
  font-size: 12px;
  width: 270px;
  background-color: white;
  border: 1px solid white;
  color: dark;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 8px 3px 10px rgba(0, 0, 0, 0.23);
}

.toolTipContent > a {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700;
  cursor: pointer;
}

.toolTipContent > a:hover {
  text-decoration: underline;
}

.toolTipContent::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-left-color: inherit;
  border-left-style: solid;
  border-left-width: 6px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  right: -6px;
  top: 50%;
  margin-top: -4px;
}

/* ------------------------------------------------------ */

@media tablet, mobile {
  .engineStars {
    width: auto;
    height: 145px;
    flex: 1 2;
    justify-content: flex-end;
    padding-bottom: 8px;
    overflow: none;
    top: 0;
  }
  .engineStars:first-child {
    border-left: none;
  }

  .engineIcon {
    width: 30px;
    height: 25px;
    right: 5px;
  }

  .score {
    height: 23px;
    font-size: 19px;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 

  .score p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 23px;
  }

  .score span {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 23px;
  }

  .scoreTitle {
    font-size: 12px;
  }

  .iconHeader {
    width: 18px;
    height: 18px;
  }
}
