@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.allStars {
    width: 100%;
    height: 153px;
    display: flex;
    flex-direction: row;
    min-width: 180px;
    overflow: auto;
}

@media tablet, mobile {
    .allStars {
        width: 100%;
        height: auto;
        min-width: 100%;
        max-width: 100%;
        overflow-x: auto;
    }
}