@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value dark from colors;
@value black from colors;
@value light from colors;
@value grey from colors;
@value white from colors;
@value xtraLightGrey from colors;

.progressionItem {
  margin: 0 0 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid   light;
  border-radius: 4px;
  background: xtraLightGrey;
}
.adaptiveIcon {
  width: 20px;
  height: 20px;
  line-height: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-left: 8px;
  font-size: 14px;
  vertical-align: bottom;
}
.disabled {
  position: relative;
}

.disabled:after {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  content: '';
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  pointer-events: none;
}

.adaptiveIcon svg {
  vertical-align: middle;
}

.completion {
  width: 100%;
  height: 10px;
  border-radius: 100px;
  margin-top: 8px;
  background-color: light;
}

.completion p {
  display: none;
}

.wrapperTitle {
  display: flex;
  width: 100%;
  align-items: center;
}

.iconType {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.label {
  display: flex;
  width: 80%;
  height: 23px;
  font-family: 'Gilroy';
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  color: dark;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.stars {
  width: 20%;
  height: 23px;
  font-family: 'Gilroy';
  font-size: 17px;
  font-weight: bold;
  text-align: right;
  justify-content: flex-end;
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.smallStars{
  font-size: 12px;
  font-weight: normal;
  margin: 3px 3px 0;
}

.iconStar {
  width: 15px;
  height: 15px;
  margin-left: 4px;
}

.state {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 17px;
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-top: 8px;
  justify-content: space-between;
}

.state a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.state a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

.cta {
  display: flex;
  align-items: center;
}

.cta svg {
  margin-left: 4px;
}

.state .cta {
  cursor: pointer;
}

.level {
  height: 17px;
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: 100;
  text-align: right;
  color: dark;
  position: relative;
  right: 0;
  text-transform: capitalize;
  flex: auto;
}

@media tablet, mobile {
  .adaptiveIcon {
    width: 20px;
    height: 20px;
    line-height: 15px;
    font-size: 13px;
  }
}

.innerHTML {
  composes: innerHTML from '../../atom/label/style.css'
}
