@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value dark from colors;
@value black from colors;
@value light from colors;
@value grey from colors;
@value white from colors;
@value xtraLightGrey from colors;

.default {
  margin: 16px auto 0;
  box-sizing: border-box;
  max-width: 1080px;
  padding: 0 10px;
}

.mainTitle {
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 300;
  color: black;
  margin: 24px 0;
  text-align: left;
}

.mainTitle span {
  font-weight: 700;
}

.headerProgression {
  width: 100%;
  height: 221px;
  padding: 32px 0;
  background: xtraLightGrey;
  color: black;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid light;
  border-radius: 4px;
}

.headerProgression .cta {
  border-radius: 30px;
  line-height: 42px;
  min-width: auto;
  margin-top: 10px;
}

.headerProgression .cta::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapperCta {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
  margin: 24px 24px 24px 32px;
}

.recommendationSection {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: dark;
  display: inline-block;
  margin: 0 0 5px;
  width: 100%;
}

.recommendationSection .course {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: dark;
  margin: 0 8px 5px 4px;
}

.iconHeader {
  width: 25px;
  height: 25px;
}

.totalStars {
  display: flex;
  width: 100%;
  height: 68px;
  border-bottom-right-radius: 3px;
  justify-content: center;
  align-items: center;
}

.totalStars p {
  padding: 0 0 0 10px;
  margin: 0;
  height: auto;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: right;
  margin-right: 8px;
}

.totalStars span {
  font-family: 'Open Sans';
  font-size: 13px;
  text-align: left;
  color: white;
  padding-top: 8px;
  text-transform: capitalize;
}

.myStars {
  height: 221px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 690px;
}

.core {
  margin-top: 16px;
}

.wrapperProgression {
  margin: 0;
  padding: 0;
}

.iconBubble {
  background-color: white;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.iconBubble .iconHeader {
  width: 17px;
  height: 17px;
}

.loader {
  position: relative;
  height: 100px;
  width: 100%;
}

.select {
  padding-bottom: 15px;
}

@media tablet, mobile {
  .default {
    margin: 0;
    padding: 0;
  }

  .mainTitle {
    display: none;
  }

  .headerProgression {
    flex-direction: column;
    height: auto;
    padding: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .recommendationWrapper {
    display: none;
  }

  .wrapperCta {
    width: 100%;
    margin: 0;
    min-width: auto;
  }

  .wrapperCta select {
    width: 100%;
  }

  .wrapperCta label {
    width: 100%;
    margin: 0;
  }

  .select {
    padding-bottom: 0;
  }

  .selectBorder {
    border: 0;
  }

  .myStars,
  .totalStars {
    width: 100%;
  }

  .totalStars {
    height: 50px;
  }

  .myStars {
    height: auto;
    max-width: 100%;
  }

  .iconHeader {
    width: 13px;
    height: 13px;
  }

  .core {
    margin: 10px 10px 0;
  }
}
