@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;

.default {
  width: 32px;
  height: 32px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: cm_grey_100;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  font-family: Gilroy;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  composes: default;
  width: 40px;
  height: 40px;
  opacity: 1;
  font-size: 16px;
  line-height: 22px;
}

.value {
  display: block;
}