@value colors: "../../variables/colors.css";
@value white from colors;
@value light from colors;
@value brand from colors;
@value medium from colors;

.wrapper {
  width: 100%;
  height: 72px;
  background-color: white;
  display: flex;
}

.tab {
  display: inline-block;
  height: 100%;
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid light;
  border-bottom: 3px solid light;
}

.tab:last-child {
  border-right: none;
}

.tab a {
  display: block;
  line-height: 72px;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 700;
  color: medium;
  text-decoration: none;
}

.tab:hover {
  border-bottom: 3px solid brand;
}

.tab:hover a {
  color: brand;
}

.selected {
  composes: tab;
  border-bottom: 3px solid brand;
}

.selected a {
  color: brand;
}
