@value breakpoints: "../../../variables/breakpoints.css";
@value colors: "../../../variables/colors.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value dark from colors;
@value black from colors;
@value lightMediumGray from colors;
@value medium from colors;
@value light from colors;

.wrapper {
  padding: 16px 30px 8px;
  position: relative;
  overflow: hidden;
}

.icon {
  padding-right: 5px;
  margin: auto 0 3px 0;
  height: 27px;
  width: 27px;
}

.list {
  position: relative;
  max-width: 1080px;
  margin: auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  line-height: 20px;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 16px;
}

.title {
  font-family: 'Gilroy';
  font-size: 19px;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: dark;
}

.titleLink {
  composes: title;
  cursor: pointer;
}

.titleLink:hover {
  text-decoration: underline;
}

.showMore {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: dark;
  padding-right: 16px;
  margin-right: 16px;
}
.showMoreBar {
  composes: showMore;
  border-right: 1px solid color(dark a(70%));
  height: 16px;
  margin: auto 16px auto auto;
  padding-top: 2px;
  padding-bottom: 2px;

}

.showMore:hover {
  text-decoration: underline;
  color: black;
}

.cards {
  display: flex;
  overflow: hidden;
  margin-left: -8px;
  margin-right: 0px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.card {
  box-sizing: border-box;
  padding: 8px;
  transition: all 0.25s linear;
}

.arrow {
  position: flex;
  padding: 9px;
  cursor: pointer;
  opacity: 1;
  user-select: none;
}

.circle:hover {
  box-shadow: 0 0 10px 0  color(medium a(70%));
}

.circle {
  box-shadow: 0 0px 4px 0 color(lightMediumGray a(70%));
  border: solid 1px light;
  border-radius: 50%;
  cursor: pointer;
  line-height: 0;
  margin-left: 5px;
}
.pagingWrapper {
  display: inline-flex;
}

.arrow:hover {
  opacity: 1;
}

.left {
  composes: arrow;
  left: -35px;
  text-align: right;
}

.right {
  composes: arrow;
  right: -35px;
  text-align: left;
}

@media tablet {
  .cards {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .pagingWrapper {
    display: none;
  }
}

@media mobile {
  .wrapper {
    padding: 16px 8px 0;
  }

  .list {
    align-items: stretch;
  }

  .title {
    font-size: 16px;
  }

  .card {
    width: 100%;
    flex: 0 0 210px;
    transition: all 0.25s linear;
  }

  .showMore {
    display: none;
  }
}
