@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.wrapper {
  padding: 20px 30px 10px;
  position: relative;
}

.list {
  position: relative;
  max-width: 1080px;
  margin: auto;
  box-sizing: border-box;
}

.listWrapper {
  overflow: hidden;
}

.title {
  font-family: 'Open Sans';
  font-size: 19px;
  font-weight: 600;
  color: #484848;
  margin-bottom: 16px;
}

.cards {
  display: flex;
  overflow: hidden;
  padding-bottom: 10px;
  margin-left: -8px;
  margin-right: -8px;
}

.card {
  box-sizing: border-box;
  padding: 8px 8px 16px;
}

.arrow {
  composes: fa from '../../../variables/fontawesome.css';
  position: absolute;
  font-size: 30px;
  width: 20px;
  color: #D8D8D8;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
}

.arrow:hover {
  color: #aaaaaa;
}

.left {
  composes: arrow;
  composes: fa-chevron-left from '../../../variables/fontawesome.css';
  left: -35px;
  text-align: right;
}

.right {
  composes: arrow;
  composes: fa-chevron-right from '../../../variables/fontawesome.css';
  right: -35px;
  text-align: left;
}

@media desktop {
  .left {
    left: -25px;
  }

  .right {
    right: -25px;
  }
}

@media tablet {
  .cards {
    overflow-x: scroll;
  }

  .arrow {
    display: none;
  }
}

@media mobile {
  .wrapper {
    padding: 0 8px;
  }

  .list {
    align-items: stretch;
  }

  .title {
    font-size: 16px;
  }

  .card {
    width: 100%;
    margin-bottom: 8px;
  }
}
