@value breakpoints: "../../../variables/breakpoints.css";
@value colors: "../../../variables/colors.css";

@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

@value dark from colors;

.wrapper {
  padding: 20px 30px 10px;
  position: relative;
}

.list {
  position: relative;
  max-width: 1080px;
  margin: auto;
  box-sizing: border-box;
}

.listWrapper {
  overflow: hidden;
}

.title {
  font-family: 'Open Sans';
  font-size: 19px;
  font-weight: 600;
  color: dark;
  margin-bottom: 10px;
  display: inline-block;
}
.titleLink {
  composes: title;
  cursor: pointer;
}
.titleLink:hover {
  text-decoration: underline;
}
.showMore {
  float: right;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 100;
  color: dark;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
  margin-top: 10px;
}
.showMore:hover {
  text-decoration: underline;
}
.showMoreIcon {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  right: -15px;
  top: 50%;
}

.cards {
  display: flex;
  overflow: hidden;
  padding-bottom: 10px;
  margin-left: -8px;
  margin-right: -8px;
}

.card {
  box-sizing: border-box;
  padding: 8px 8px 16px;
}

.arrow {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-top: -8px;
  top: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.arrow:hover {
  opacity: 1;
}

.left {
  composes: arrow;
  left: -35px;
  text-align: right;
}

.right {
  composes: arrow;
  right: -35px;
  text-align: left;
}

@media desktop {
  .left {
    left: -25px;
  }

  .right {
    right: -25px;
  }
}

@media tablet {
  .cards {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .arrow {
    display: none;
  }
}

@media mobile {
  .wrapper {
    padding: 0 8px;
  }

  .list {
    align-items: stretch;
  }

  .title {
    font-size: 16px;
  }

  .card {
    width: 100%;
    margin-bottom: 8px;
    flex: 0 0 272px;
  }
  .showMore {
    display: none;
  }
}
