.default {
  line-height: 25px;
  font-family: Gilroy;
  display: flex;
}

.box {
  position: relative;
  margin-left: auto;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  cursor: pointer;
  order: 1;
  flex: 0 22px;
}

.icon {
  position: absolute;
  display: flex;
  width: 16px;
  left: 2px;
  top: 2px;
  height: 16px;
}

.input {
  position: absolute;
  left: -9999px;
}

.label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
  flex: 1;
}