.default {
  line-height: 25px;
  font-family: Open Sans;
}

.box {
  position: relative;
  float: right;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  cursor: pointer;
}

.icon {
  font-family: 'icons-default';
  position: absolute;
  font-size: 12px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
}

.input {
  position: absolute;
  left: -9999px;
}
