@value colors: "../../../variables/colors.css";
@value breakpoints: "../../../variables/breakpoints.css";
@value xtraLightGrey from colors;
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.container {
  padding: 0;
}

.wrapper {
  width: 1280px;
  margin: auto;
}

.brand {
  margin: 0 10px 20px;
}

.filters {
  display: flex;
  padding-right: 30px;
}

.searchBar {
  width: 800px;
  height: 100px;
  margin: auto;
  padding-bottom: 10px;
  flex: 1 1 100%;
}

.provider {
  flex: 0 1 300px;
}

.filterBar {
  width: 400px;
  margin: auto;
  padding-bottom: 20px;
}


@media desktop {
  .wrapper {
    width: 960px;
  }

  .searchBar {
    width: 500px;
  }
}

@media tablet {
  .wrapper {
    width: 640px;
  }

  .searchBar {
    width: auto;
    margin: 0 30px;
    box-sizing: content-box;
  }

  .filterBar {
    width: auto;
    margin: 0 30px;
    box-sizing: content-box;
  }
}

@media mobile {
  .wrapper {
    width: 300px;
  }

  .brand {
    margin: 0 0 10px;
  }
}
