.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.field {
  margin-bottom: 20px;
  margin-left: 20%;
  text-align: left;
}

.field:last-child {
  margin-bottom: 0;
}

.splitDefault {
  display: flex;
}

.splitLeft {
  width: 50%;
  border-right: 1px solid lightgray;
}

.splitRight {
  width: 50%;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  margin-right: 10px;
  margin-left: 10px;
}

.title {
  font-family: "Gilroy";
  font-size: 15px;
  text-transform: none;
  color: grey;
  margin-right: 20px;
  min-height: 50px;
  align-items: center;
  font-weight: bold;
}

.rowBottom {
  text-align: center;
}

.mandatoryFields {
  font-size: 12px;
  font-style: italic;
  color: grey;
}
