.wrapper {
  width: 100%;
  box-sizing: border-box;
}

.field {
  margin-bottom: 20px;
}
.field:last-child {
  margin-bottom: 0;
}
.split {
  display: flex;
}
.splitLeft{
  width: 50%;
  border-right: 1px solid lightgray;
  
}
.splitRight{
  width: 50%;
}
.buttonGroup{
  margin-left: 22%;
  margin-right: auto
}
.buttonGroup>.wrapper{
  display: inline-flex;
}
.button{
  margin-right: 20px
}