@value colors: "../../variables/colors.css";
@value cm_grey_400 from colors;
@value cm_grey_500 from colors;
@value cm_grey_700 from colors;
@value cm_negative_300 from colors;

.container {
  display: flex;
  gap: 12px;
}

.title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  color: cm_grey_700;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.titlePage {
  composes: title;
  font-size: 32px;
  line-height: 52px;
}

.titleFormGroup {
  composes: title;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.titleFormGroupLightWeight {
  composes: titleFormGroup;
  font-weight: normal;
}

.xlStrongTitle {
  composes: title;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.mediumTitleFormGroup {
  composes: title;
  font-size: 16px;
}

.mediumAndLightColorTitleFormGroup {
  composes: mediumTitleFormGroup;
  color: cm_grey_500;
  font-weight: 600;
}

.smallTitleFormGroup {
  composes: title;
  font-size: 14px;
}

.smallAndLightTitleFormGroup {
  composes: smallTitleFormGroup;
  color: cm_grey_500;
  font-weight: 600;
  line-height: 20px;
}

.subtitle {
  font-family: Gilroy;
  font-style: normal;
}

.subtitleWithMargin {
  composes: subtitle;
  margin: 8px 0 0;
}

.subtitlePage {
  composes: subtitleWithMargin;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: cm_grey_700;
}

.subtitleFormGroup {
  composes: subtitleWithMargin;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: cm_grey_400;
}

.subtitleFormGroupWithoutMargin {
  composes: subtitleFormGroup;
  font-weight: 500;
  margin: 0;
}

.mediumSubtitleFormGroup {
  composes: subtitleFormGroup;
  font-weight: 600;
  margin: 0;
}

.smallSubtitleFormGroup {
  composes: subtitleFormGroup;
  max-width: 455px;
}

.smallSubtitleFormGroupWithoutMargin {
  composes: smallSubtitleFormGroup;
  margin: 0;
}

.extraSmallSubtitleFormGroup {
  composes: subtitle;
  font-size: 12px;
  color: cm_grey_400;
  line-height: 16px;
  font-weight: normal;
}

.icon {
  height: 24px;
  width: 24px;
}

.required {
  color: cm_negative_300; 
  gap: 0;
}
