@value colors: "../../variables/colors.css";
@value cm_grey_700 from colors;
@value cm_grey_400 from colors;

.title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    color: cm_grey_700;
}

.titlePage {
    composes: title;
    font-size: 32px;
    line-height: 52px;
}

.titleFormGroup {
    composes: title;
    font-size: 18px;
}

.subtitle {
    margin: 8px 0 0;
    font-family: Gilroy;
    font-style: normal;   
}

.subtitlePage {
    composes: subtitle;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: cm_grey_700;
}

.subtitleFormGroup {
    composes: subtitle;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: cm_grey_400;
}


.smallSubtitleFormGroup{
    composes: subtitleFormGroup;
    max-width: 450px
}
