@value colors: "../../variables/colors.css";
@value cm_black from colors;

.title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 52px;
    color: cm_black;
}

.subtitle {
    margin: 8px 0 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: cm_black;
}
