.title {
    margin-bottom: 16px;
}

.mandatoryCoursesInput {
    margin: 0 0 32px 16px;
}

.loader {
    width: 60px;
    height: 60px;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}
