@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value white from colors;

.default {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-family: 'Open Sans';
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  user-select: none;
}

.content {
  composes: default;
  padding: 12px 12px 0;
  font-size: 12px;
}

.coorpmanager .content {
  padding: 8px 12px 0;
  font-size: 8px;
}

.coorp,
.original {
  letter-spacing: 3px;
}

.coorpmanager .coorp {
  letter-spacing: 2px;
}

.coorpmanager .original {
  letter-spacing: 2px;
}

.coorp {
  font-weight: 100;
  margin-right: 5px;
  letter-spacing: 4px;
}

.coorpmanager .coorp {
  font-weight: 100;
  margin-right: 5px;
  letter-spacing: 2px;
}

.original {
  font-weight: 600;
}

.content {
  align-items: center;
  align-content: center;
}

@media mobile {
  .content {
    padding: 18px 12px 0;
  }
}
