@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value white from colors;

.default {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-family: 'Gilroy';
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  user-select: none;
}

.customer[disabled] {
  background: none;
}

.content {
  composes: default;
  padding: 12px 12px 0;
  font-size: 12px;
}

.coorpmanager .content {
  padding: 8px 12px 0;
  font-size: 8px;
}

.customer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.customer {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 20%
  );
}
.chapterCustomer {
  padding-top: 10px;
}

.coorpmanager.customer.chapterCustomer {
  padding-top: 0px;
}

.coorp,
.original {
  letter-spacing: 3px;
}

.coorpmanager .coorp {
  letter-spacing: 2px;
}

.coorpmanager.customer.chapterCustomer .coorp {
  letter-spacing: 1px;
}

.coorpmanager .original {
  letter-spacing: 2px;
}

.coorpmanager.customer.chapterCustomer .original {
  letter-spacing: 1px;
}

.coorp {
  font-weight: 100;
  margin-right: 5px;
  letter-spacing: 4px;
}

.coorpmanager .coorp {
  font-weight: 100;
  margin-right: 5px;
  letter-spacing: 2px;
}

.original {
  font-weight: 600;
}

.content {
  align-items: center;
  align-content: center;
}

@media mobile {
  .content {
    padding: 18px 12px 0;
  }
}
