@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value grey from colors;
@value dark from colors;
@value white from colors;
@value black from colors;

.favorite {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
  font-size: 30px;
  overflow: hidden;
  line-height: 20px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  border-radius: 100%;
}

.favorite:hover .moreIcon {
  color: inherit;
}

.favorite .moreIcon {
  color: color(black a(63%));
  transition: color 0.25s ease-in-out;
  margin: 6px;
}
.favorite .checkIcon {
  margin: 6px;
}

.favorite.selected .moreIcon {
  color: inherit;
}

.favorite.selected:hover .moreIcon {
  color: color(black a(20%));
}

.favorite:hover .moreIcon {
  color: inherit;
}

.showToolTip {
  visibility: hidden;
  background-color: color(black a(80%));
  color: #fff;
  text-align: center;
  border-radius: 3px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.8s;
  position: absolute;
  max-width: 104px;
  right: 45px;
  top: 8px;
}

.showToolTip::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 100%;
  border: solid 5px ;
  border-color: transparent transparent transparent color(black a(80%));
}

.blocFavorite:hover .showToolTip {
  visibility: visible;
  opacity: 1;
}

.showToolTip span {
  display: block;
  word-wrap: break-word;
  padding: 3px 10px 5px;
  font-family: "Gilroy";
  font-size: 12px;
  font-weight: bold;
}

@media mobile {
  .favorite {
    font-size: 33px;
  }
}

@media (hover: none) {
  .favorite:hover .moreIcon {
    color: color(black a(40%));
  }
  
  .favorite.selected:hover .moreIcon {
    color: inherit;
  }
}