@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value grey from colors;
@value dark from colors;
@value white from colors;
@value black from colors;

.favorite {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
  font-size: 30px;
  overflow: hidden;
  line-height: 0px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  border-radius: 100%;
  border: none;
}

.favorite:hover .moreIcon {
  color: inherit;
}

.favorite .moreIcon {
  color: color(black a(63%));
  transition: color 0.25s ease-in-out;
}

.favorite.selected .moreIcon {
  color: inherit;
}

.favorite.selected:hover .moreIcon {
  color: color(black a(20%));
}

.favorite:hover .moreIcon {
  color: inherit;
}

.favoriteWrapper {
  position: absolute;
  width: 100%;
}

.favoriteWrapper .favorite + [class*="__react_component_tooltip"]:not([class*="toolTipReact"]) {
  position: sticky;
  top: unset !important;
  left: unset !important;
  transform: translateX(25%);
}

.favoriteWrapper .favorite + [class*="__react_component_tooltip"] {
  opacity: 0.95!important;
}


@media mobile {
  .favorite {
    font-size: 33px;
  }
  .favoriteWrapper .favorite + [class*="__react_component_tooltip"]:not([class*="toolTipReact"]) {
    transform: translateX(10%);
  }
}

@media (hover: none) {
  .favorite:hover .moreIcon {
    color: color(black a(40%));
  }
  
  .favorite.selected:hover .moreIcon {
    color: inherit;
  }
}