@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value grey from colors;
@value dark from colors;
@value white from colors;

.notificationWrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: color(dark a(75%));
  position: absolute;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}

.notification {
  width: 100px;
  height: 100px;
  background: light;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 7px;
  padding: 12px 7px 7px;
  box-sizing: border-box;
  color: grey;
}

.showOverlay .notification {
  animation: scale 3s ease-in-out forwards;
}

.showOverlay {
  animation: fadeIn 3s ease-in-out forwards;
}

.notification .icon {
  font-size: 30px;
  height: 30px;
  width: 100%;
}

.message {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.message span {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  line-height: 16px;
  font-size: 14px;
  font-family: 'Gilroy';
  text-align: center;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    z-index: 3;
  }

  15% {
    visibility: visible;
    opacity: 1;
    z-index: 3;
  }

  85% {
    visibility: visible;
    opacity: 1;
    z-index: 3;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    z-index: 3;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5, 0.5);
  }

  15% {
    transform: scale(1, 1);
  }

  85% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0.5, 0.5);
  }
}
