@value breakpoints: "../../variables/breakpoints.css";
@value colors: "../../variables/colors.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;
@value light from colors;
@value grey from colors;
@value darkGrey from colors;
@value borderGrey from colors;

.default[disabled] {
  pointer-events: none;
}

.default {
  display: inline-block;
  box-sizing: border-box;
  margin: 8px;
  width: 260px;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  overflow: hidden;
  height: 260px;
  text-align: left;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  position: relative;
}

.default:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  background: light;
  transform: translateY(-2px);
  border: 0px solid rgba(0, 0, 0, 0);
}

.imageWrapper:hover .overlay,
.imageWrapper:hover .cta {
  display: block;
  cursor: pointer;
}

.default[disabled] .imageWrapper {
  opacity: 0.4;
}

.lock {
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-lock from '../../variables/fontawesome.css';
  font-size: 45px;
  color: #000;
  opacity: 0.88;
  text-align: center;
  width: 100%;
  line-height: 125px;
  text-shadow: 0px 0px 20px white;
  top: 0;
  position: absolute;
}

.imageWrapper {
  position: relative;
  height: 125px;
  width: 100%;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
}

.imageWrapper a {
  text-decoration: none;
  cursor: pointer;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 5px;
  background: white;
  border-radius: 100px;
  font-size: 10px;
  font-family: "Open Sans";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: darkGrey;
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-clock-o from '../../variables/fontawesome.css';
}

.timer:before {
  font-size: 14px;
  font: normal normal normal 14px/1 FontAwesome;
  color: darkGrey;
  margin-right: 5px;
}

.certification {
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 20px;
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-certificate from '../../variables/fontawesome.css';
}

.certification:before {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  color: white;
}

.adaptiv {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-random from '../../variables/fontawesome.css';
}

.adaptiv:before {
  position: absolute;
  line-height: 27px;
  font-size: 14px;
  top: 0;
  left: 6px;
  color: white;
}

.ctaWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 37px;
}

.cta {
  display: none;
  position: relative;
  z-index: 4;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .8;
  text-align: center;
}

.overlay:before {
  display: block;
  height: 35px;
  width: 100%;
  font-size: 50px;
  color: white;
  opacity: 0.4;
  line-height: 124px;
  margin: 0 auto;
  font-weight: normal;
}

.progressWrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background: borderGrey;
}

.progress {
  display: block;
  height: 5px;
  animation: progressbar 2s ease-in-out;
}

.infoWrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  height: 135px;
}

.type {
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
}

.default[disabled] .type {
  color: grey;
}

.title {
  margin-top: 5px;
  font-size: 18px;
  color: darkGrey;
  letter-spacing: 0;
}
.title a {
  color: darkGrey;
  text-decoration: none;
  cursor: pointer;
}

.infoWrapper:hover .title {
  text-decoration: underline;
}
.infoWrapper:hover{
  cursor: pointer;
}
.author {
  margin-top: 5px;
  font-size: 12px;
  color: grey;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes progressbar {
  0% {
    width: 0;
  }
}

@media desktop {

}

@media tablet {

}

@media mobile {
  .grid .default {
  }
  .grid .title a {
    font-size: 15px;
  }

  .grid .author {
    margin-top: 5px;
  }

  .list {
    width: 100%;
  }

  .list .default {
    width: 100%;
    height: 120px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin: 4px 0px;
  }

  .list .imageWrapper {
    position: absolute;
    width: 100px;
    height: 100%;
  }

  .list .timer {
    top: 5px;
    right: 5px;
  }

  .list .adaptiv {
    top: 5px;
    left: 5px;
  }

  .list .progressWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .list .infoWrapper {
    width: 100%;
    box-sizing: border-box;
    margin-left: 100px;
    padding: 8px 15px;
    height: 100%;
  }

  .list .title {
    margin: 12px 0;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
  }
}
