@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value grey from colors;
@value dark from colors;
@value xtraLightGrey from colors;
@value white from colors;

.default[disabled] {
  pointer-events: none;
}

.default {
  display: inline-block;
  box-sizing: border-box;
  width: 258px;
  vertical-align: top;
  border: solid 1px light;
  background-color: white;
  overflow: hidden;
  height: 260px;
  text-align: left;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
}

.customer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.customer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%);
}

.list.empty,
.grid.empty {
  opacity: 0.6;
}

.course {
  width: 256px;
  height: 258px;
}

.course .imageWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.default .image {
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  transition: all 0.25s linear;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 125px;
}

.default .image::after {
  opacity: 0;
  transition: opacity 0.25s linear;
}

.default:hover .image {
  transform-origin: center;
  transform: scale(1.1);
  transition: all 1s linear;
}

.chapter:hover .progressWrapper {
  background: white;
}

.default:hover .image::after {
  opacity: 0.5;
  transition: opacity 0.25s linear;
}

.default .image::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.35;
  top: 0;
  left: 0;
}

.course .infoWrapper {
  position: relative;
  padding: 0 15px;
  height: 110px;
  margin-top: 134px;
}

.course .title {
  text-align: left;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.course .author {
  font-size: 12px;
  color: white;
  text-align: left;
  text-shadow: 1px 1px 2px black;
}

.course .adaptiv {
  top: 100px;
  filter: drop-shadow(1px 1px 1px grey);
}

.course .author .icon {
  fill: white;
}

.lazy {
  composes: default;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.default:hover {
  background: light;
  cursor: pointer;
  transition: background 0.25s linear;
}

.default[disabled] .imageWrapper {
  opacity: 0.4;
}

.lockWrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 258px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lockWrapper::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.4;
  background: black;
}

.lockIcon {
  font-size: 40px;
  z-index: 1;
}

.imageWrapper {
  height: 125px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
}

.imageWrapper a {
  text-decoration: none;
  cursor: pointer;
}

.adaptiv {
  position: absolute;
  left: 15px;
  top: 90px;
  font-size: 25px;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progressWrapper {
  position: relative;
  left: 0;
  width: 180px;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto;
  background: light;
}

.default[disabled] .progressWrapper {
  display: none;
}

.default[disabled] .customer {
  background: none;
}

.progress {
  display: block;
  height: 2px;
  animation: progressbar 2s ease-in-out;
}

.badge {
  position: absolute;
  width: auto;
  height: auto;
  background-color: white;
  padding: 3px 11px;
  top: 0;
  left: 0;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  border-bottom-right-radius: 7px;
  transition: transform 0.5s linear;
  z-index: 1;
}

.default:hover .badge {
  transform-origin: center;
  transform: scale(1.1);
  transition: transform 0.5s linear;
}

.infoWrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  height: 119px;
}

.title {
  margin-top: 5px;
  font-size: 18px;
  color: dark;
  letter-spacing: 0;
  font-family: 'Open Sans';
  overflow: hidden;
  max-height: 75px;
}

.title.empty::before {
  content: '▅▅▅▅▅▅▅▅▅▅▅  ▅▅▅▅▅▅▅▅▅';
}

.title a {
  color: dark;
  text-decoration: none;
  cursor: pointer;
}

.author {
  margin-top: 5px;
  font-size: 12px;
  color: grey;
  width: 100%;
  font-family: 'Open Sans';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 100;
}

.author.certified .icon {
  display: inline;
}

.author .icon {
  display: none;
  width: 12px;
  height: 12px;
  margin-left: 0.25em;
  fill: grey;
}

.author.empty::before {
  content: '▅▅▅▅▅▅▅▅▅';
}

.emptyIcon {
  vertical-align: middle;
  width: 80px;
  height: 70px;
  position: absolute;
  z-index: 1;
  right: 50%;
  transform: translate(50%, 50%);
  top: 0;
}

@keyframes progressbar {
  0% {
    width: 0;
  }
}

@media mobile {
  .grid .title a {
    font-size: 15px;
  }

  .author {
    margin-top: 5px;
  }

  .list {
    width: 100%;
    height: 120px;
  }

  .grid .default {
    width: 200px;
    height: 260px;
  }

  .grid .progressWrapper {
    width: 150px;
  }

  .list.course .infoWrapper {
    padding: 0 15px;
    height: 42px;
    margin-top: 42px;
  }

  .list .adaptiv {
    top: 15px;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
  }

  .author {
    font-size: 12px;
  }

  .list.course .progressWrapper {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 10px;
    width: inherit;
  }

  .grid .customer {
    padding-top: 10px;
  }

  .list.chapter .customer {
    width: 100px;
    display: flex;
    height: 100%;
  }

  .list .lockWrapper {
    height: 120px;
  }

  .list .default {
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
  }

  .list.chapter .imageWrapper {
    position: absolute;
    width: 100px;
    height: 100%;
  }

  .list.chapter .adaptiv {
    top: 85px;
    left: 5px;
    fill: white;
  }

  .list.chapter .progressWrapper {
    position: absolute;
    bottom: 10px;
    left: 115px;
    right: 15px;
    width: inherit;
  }

  .list .infoWrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 15px 8px 115px;
    height: 100%;
  }

  .list.chapter .infoWrapper {
    position: absolute;
  }

  .list .title {
    margin: 12px 0 0;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
  }

  .list.chapter .title {
    max-height: 60px;
  }

  .list.course .title {
    max-height: 35px;
  }

  .grid.chapter .title {
    max-height: 60px;
  }

  .grid.course .title {
    max-height: 70px;
  }
}
