.resourcePlayer.image {
  overflow: hidden;
  display: flex;
}

.resourcePlayer.image .img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.resourcePlayer.video {
  background-color: black;
}
