@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.container {
  width: 100%;
  padding-top: 50px;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}
