@value colors: "../../variables/colors.css";
@value dark from colors;
@value white from colors;
@value black from colors;

.defaultLink{
  height: 19px;
  width: 19px;
  padding: 4px;
  box-sizing: content-box;
  display: inline-block;
  border-radius: 50%;
}
.link {
  composes: defaultLink;
  border: 1px solid dark;
  color: dark;
}
.linkFooter {
  composes: defaultLink;
  height: 24px;
  width: 24px;
  background-color: color(black lightness(20%));
  color: white;
}
.link:hover {
  border-color: color(dark lightness(60%));
  color: color(dark lightness(60%));
}
.linkFooter:hover {
  background-color: color(dark lightness(30%));
}
.icon {
  width: 14px;
  height: 14px;
  display: block;
}
.linkFooter .icon {
  margin: 5px auto;
}
.link .icon {
  margin: 3px auto;
}