.default {
  background: #FAFAFA;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
  padding: 8px 12px;
  border-radius: 3px;
}

.line {
  list-style: none;
  color: black;
}
