@value colors: "../../../variables/colors.css";
@value black from colors;
@value white from colors;
@value cm_blue_900 from colors;
@value cm_grey_400 from colors;
@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.slidesRevisionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  /* --- ie11 fallback --- */
  height: 100%;
  /* --------------------- */
  height: min-content;
  min-height: 832px;
}

/* 
  mozilla specific styling
  - supports min-content but it calculates dynamic
  flex child height differently than chromium browsers
*/
@supports (-moz-appearance:none) {
  div.slidesRevisionContainer {
    height: 100%;
  } 
}

.stackedSlidesYAxisOverflowContainer {
  width: 100%;
  padding-top: 20px;
  height: 100%;
  min-height: 870px;
  /* --- ie11 fallback --- */
  overflow-y: hidden;
  /* --------------------- */
  overflow-y: clip;
  overflow-x: visible;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.stackedSlidesContainer {
  position: relative;
  padding-top: 20px;
  height: 788px;
  max-width: 1240px;
  width: 85%;
  align-self: center;
}

.reviewHeaderContainer {
  width: 100%;
}

.congrats {
  width: 100%;
  height: 100%;
  min-height: 832px;
  position: absolute;
}

.playerBackground {
  position: absolute;
  display: block;
  height: 100%;
  min-height: 120vh;
  top: 0;
  left: 0;
}

@media tablet {
  .stackedSlidesContainer {
    height: 638px;
    max-width: 960px;
  }
}

@media mobile {
  .stackedSlidesContainer {
    height: 670px;
    max-width: 335px;
  }
}
