.car {
  position: relative;
  height: 100%;
  background: url('https://user-images.githubusercontent.com/1039076/37212426-645a5426-23af-11e8-886c-8048b4461754.png');
  transition: transform 0.6s linear;
}

.head {
  position: absolute;
  top: -2em;
  left: 0;
  width: 100%;
  height: 2em;
}

.path {
  margin-left: 25%;
  height: 100%;
  width: 50%;
  opacity: 0.5;
}
