@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value mobile from breakpoints;

.layoutSection {
  width: 100%;
}

.sectionCTA {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
}

.screen {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-flow: column;
}

.screenWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }

  70% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateX(250%) translateY(0);
  }
}

.message {
  position: absolute;
  font-family: 'Open Sans';
  font-size: 36px;
  color: #ededed;
  top: 20%;
  left: 50%;
  transform: translateX(250%);
  animation: fadeInDown 4s;
}

.sectionHeader {
  height: 5em;
}

.sectionBody {
  flex: 1 1;
}

.sectionRace {
  height: 80%;
}

@media mobile {
  .screen {
    width: 100%;
  }
}
