@value colors: "../../variables/colors.css";
@value orange from colors;
@value medium from colors;
@value white from colors;
@value positive from colors;
@value light from colors;
@value dark from colors;
@value cm_grey_200 from colors;
@value cm_grey_100 from colors;
@value black from colors;
@value cm_primary_blue from colors;

.default {
  display: flex;
  align-items: center;
  align-content: flex-start;
}

.default input {
  display: none;
}

.icon {
  display: none;
  width: 16px;
  height: 14px;
  color: white;
}

.default .title {
  font-family: "Gilroy";
  font-size: 15px;
  text-transform: none;
  color: dark;
  width: 180px;
  margin-right: 20px;
  min-height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: bold;
  color: black;
}

.default .label {
  border: solid 1px cm_grey_200;
  background-color: cm_grey_100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 5px;
  font-size: 14px;
  color: dark;
  margin-right: 6px;
  position: relative;
}

.checkbox:disabled + .label {
  opacity: 0.4;
}

.checkbox:checked + .label {
  border: solid 1px cm_primary_blue;
  background-color: cm_primary_blue;
}

.checkbox:checked + .label .icon {
  display: flex;
}



