@value breakpoints: "../../../variables/breakpoints.css";
@value tablet from breakpoints;

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  background-color: #fff;
}

.playerWrapper {
  margin: 32px auto;
  box-sizing: border-box;
  max-width: 960px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media tablet {
  .playerWrapper {
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }
}
