@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.playerWrapper {
  margin: 32px auto;
  box-sizing: border-box;
  max-width: 960px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media mobile {
  .playerWrapper {
    margin: 0;
    padding: 0;
  }
}
