@value colors: "../../../variables/colors.css";
@value white from colors;
@value breakpoints: "../../../variables/breakpoints.css";
@value tablet from breakpoints;

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: transparent;
  align-items: center;
}

.playerWrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  background-size: 0;
  flex-grow: 1;
  overflow: hidden;
}

.playerBackground {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  transform: translateX(-50%) scale(1.05);
  filter: blur(5px);
}

@media tablet {
  .playerWrapper {
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }
}
