@value colors: "../../../variables/colors.css";
@value white from colors;
@value breakpoints: "../../../variables/breakpoints.css";
@value tablet from breakpoints;

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  background-color: transparent;
}

.wrapperImg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  margin-top: 60px;
  top: 0;
}

.img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: white;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 50%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  transform: scale(1.05);
}

.wrapperImg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  margin-top: 60px;
}

.img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: white;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 50%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  transform: scale(1.05);
}

.playerWrapper {
  margin: 32px auto;
  box-sizing: border-box;
  max-width: 960px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media tablet {
  .playerWrapper {
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }
}
