@value brand: #00B0FF;
@value primaryAdd1: #B3E5FC;
@value primaryAdd2: #0091EA;
@value primaryAdd3: #0277BD;
@value primaryAdd4: #015798;
@value xtraLightGrey: #FAFAFA;
@value light: #ECEFF1;
@value medium: #90A4AE;
@value dark: #546E7A;
@value grey: #607D8B;
@value orangeAdd: #FF7043;
@value orange: #FFA000;
@value positive: #3EC483;
@value lightGreen: #66BB6A;
@value negative: #F73F52;
@value battle: #FFE100;
@value white: #fff;
@value black: #14171A;
@value transparent: transparent;
