@value grey: #8f8f8f;
@value darkGrey: #484848;
@value borderGrey: #d8d8d8;
@value light: #F7F7F7;

@value blueGrey: #90A4AE;
@value darkBlueGrey: #546E7A;

@value green: #3AB63F;
@value lightGreen: #E8F5E9;

@value blue: #00B0FF;
@value darkBlue: #007bb3;

@value yellow: #FFB90D;

@value orange: #EB5C41;
@value lightOrange: #FFE4B7;

@value red: #F4511E;
@value lightRed: #FBE9E7;
