@value brand: #00B0FF;
@value primaryAdd1: #B3E5FC;
@value primaryAdd2: #0091EA;
@value primaryAdd3: #0277BD;
@value primaryAdd4: #015798;
@value xtraLightGrey: #FAFAFA;
@value light: #ECEFF1;
@value medium: #90A4AE;
@value dark: #546E7A;
@value grey: #607D8B;
@value lightMediumGray: #CFD8DC;
@value lightGrey: #f8f8f8;
@value darkGrey: rgba(0, 176, 255, 0.15);
@value orangeAdd: #FF7043;
@value orange: #FFA000;
@value warn: #FFA000;
@value positive: #3EC483;
@value lightGreen: #66BB6A;
@value negative: #F73F52;
@value battle: #FFE100;
@value white: #fff;
@value black: #14171A;
@value lightBlack: #263238;
@value lightDark: rgba(0, 0, 0, 0.67);
@value transparent: transparent;
@value shadow: rgba(0, 0, 0, 0.06);
@value transparentRed: rgba(247, 63, 82, 0.1);
@value battle_bg: #111026;
@value cm_primary_blue: #0061FF;
@value cm_blue_50: #f1f6fe;
@value cm_blue_200: #74A5F6;
@value cm_blue_600: #0051d6;
@value cm_blue_900: #06265B;
@value cm_bleu_article: #365FCD;
@value cm_grey_50: #FAFAFA;
@value cm_grey_75: #F4F4F5;
@value cm_grey_100: #EAEAEB;
@value cm_grey_150: #E1E1E3;
@value cm_grey_200: #d7d7da;
@value cm_grey_300: #C5C5C9;
@value cm_grey_400: #9999A8;
@value cm_grey_450: #8393ad;
@value cm_grey_500: #515161;
@value cm_grey_700: #1D1D2B;
@value cm_grey_800: #3a3a4a;
@value cm_grey_900: #111117;
@value cm_positive_100: #35CC7F;
@value cm_negative_100: #ed3436;
@value cm_negative_200: #b81400;
@value cm_negative_50: #ffe5e6;
@value cm_green_50: #e8fcf8;
@value cm_green_200: #16ac8c;
@value cm_orange_200: #FF7043;
@value cm_orange_700: #FF4105;
@value cm_pink_50: #ffefeb;
@value cm_purple_200: #7340FF;
@value cm_yellow_scorm: #FFB800;
@value cm_yellow_secondary_200: #ffde03;
@value cm_yellow_100: #ffc043;
@value cm_yellow_200: #DB9200;
@value cm_yellow_400: #bd7e00;
@value cm_red_200: #FF4040;
@value cm_red_video: #E8335E;
@value cm_violet_podcast: #432ba7;
@value cm_warning_50: rgba(255, 192, 67, 0.13);
@value box_shadow_medium_dark: rgba(0, 0, 0, 0.15);
@value box_shadow_light_dark: rgba(0, 0, 0, 0.12);
@value box_shadow_medium_dark: rgba(0, 0, 0, 0.2);
@value box_shadow_orange_700: rgba(255, 84, 31, 0.15);
@value light_blue: #ADC9F5;

@value go1_backgound: #144953;
@value go1_primary: #D5FD42;
@value go1_primary_hover: #BFE33B;
