@value colors: "../../variables/colors.css";
@value dark from colors;
@value light from colors;
@value xtraLightGrey from colors;

.default {
    display: block;
    position: relative;
    font-family: "Open Sans";
}

.select {
    display: block;
    width: auto;
    height: 50px;
    margin: 0;
    padding: 0 30px 0 15px;
    box-sizing: border-box;
    background: xtraLightGrey;
    line-height: 50px;
    color: dark;
    font-size: 12px;
    font-family: "Open Sans";
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.select:before {
    display: block;
    position: absolute;
    font-size: 20px;
    right: 10px;
    color: dark;
    font-weight: 700;
    font-family: FontAwesome;
}

.title {
    font-family: Open Sans;
    font-size: 13px;
    color: dark;
    margin-bottom: 10px;
}

.choices {
    display: none;
}

.activeChoices {
    display: block;
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    position: absolute;
    z-index: 4;
    top: 76px;
    left: 0;
    border: 1px solid light;
}

.activeChoices:before {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #2E2E2E;
    font-weight: 300;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: transparent;
}

.activeChoices li {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}
.activeChoices li div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}
.list {
    margin: 0;
    padding: 0;
}
