@value colors: "../../variables/colors.css";
@value darkGrey from colors;

.default {
    display: block;
    position: relative;
}

.select {
    display: block;
    width: auto;
    height: 50px;
    margin: 0 20px;
    padding: 0 15px;
    box-sizing: border-box;
    background: white;
    line-height: 50px;
    color: darkGrey;
    font-size: 14px;
    composes: fa from '../../variables/fontawesome.css';
    composes: fa-angle-down from '../../variables/fontawesome.css';
    position: relative;
}
.select:before {
    display: block;
    position: absolute;
    font-size: 20px;
    right: 10px;
    color: darkGrey;
    font-weight: 700;
}

.title {
    font-family: Open Sans;
    font-size: 14px;
    color: darkGrey;
    margin-bottom: 10px;
    margin-left: 20px;
}

.choices {
    display: none;
}

.activeChoices {
    display: block;
    width: 250px;
    height: auto;
    padding: 15px;
    background: white;
    position: absolute;
<<<<<<< HEAD
    top: 0;
    left: 0;
    z-index: 3;
=======
    z-index: 4;
    top: 27px;
    left: 20px;
>>>>>>> ftr(filter): mobile, select fixture
    composes: fa from '../../variables/fontawesome.css';
    composes: fa-times from '../../variables/fontawesome.css';
}

.activeChoices:before {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #2E2E2E;
    font-weight: 300;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: transparent;
}

.activeChoices li {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

<<<<<<< HEAD
.list {}
=======
.list {
    margin: 0;
    padding: 0;
}
>>>>>>> ftr(filter): mobile, select fixture
