@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.containerWithLogo,
.containerWithoutLogo {
  composes: container from '../layout.css';
}

.productsWrapper {
  composes: productsWrapper from '../product-cursus/style.css';
}

.containerWithLogo {
  margin-top: -130px;
}

.containerWithoutLogo {
  margin-top: 15px;
}

@media desktop {
  .containerWithoutLogo,
  .containerWithLogo {
    margin-top: 0px;
  }
}

@media tablet {
}

@media mobile {
}
