@value breakpoints: "../../../variables/breakpoints.css";
@value desktop from breakpoints;
@value wide from breakpoints;

.wrapper {
  composes: wrapper from '../layout.css';
  display: block;
  overflow: hidden;
  padding: 20px;
}

.container {
  composes: container from '../layout.css';
}

.cardsTitle {
  composes: cardsTitle from '../layout.css';
}

.column {
  margin-bottom: 30px;
}

.leftColumn {
  composes: column;
  float: left;
  width: 840px;
}

.rightColumn {
  composes: column;
  float: right;
  width: 280px;
}

.header, .content, .related {
  composes: leftColumn;
}

.cta, .partners {
  composes: rightColumn;
}

@media desktop {
  .wrapper {
    display: flex;
  }

  .column {
    display: flex;
    flex-basis: 100%;
  }

  .header {
    order: 1;
  }
  .cta {
    order: 2;
  }
  .content {
    order: 3;
  }
  .partners {
    order: 4;
  }
  .related {
    order: 5;
  }
}
