@value colors: "../../variables/colors.css";
@value white from colors;
@value xtraLightGrey from colors;
@value cm_grey_100 from colors;
@value cm_grey_400 from colors;
@value cm_grey_500 from colors;

.container {
  border-radius: 16px;
  font-family: Gilroy;
  background-color: xtraLightGrey;
  padding: 32px;
}

.titleContainer {
  padding-bottom: 24px;
}

.statscontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  color: cm_grey_400;
}

.statsNumber {
  color: cm_grey_500;
  padding-right: 4px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.divider {
  width: 4px;
  height: 4px;
  background-color: #d7d7da;
  border: solid #d7d7da 1px;
  border-radius: 4px;
}

.progression {
  display: flex;
  justify-content: end;
}

.customProgressBar {
  height: 8px;
  background-color: cm_grey_100;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: "center";
  flex-direction: row;
  padding-top: 24px;
  gap: 16px;
}

.detailsSectionCommon {
  display: flex;
  align-items: center;
  border-radius: 20px;
  gap: 20px;
  padding: 16px;
  background-color: white;
  height: 114px;
}

.detailsSection0 {
  composes: detailsSectionCommon;
  flex: 1;
}
.detailsSection1 {
  composes: detailsSection0;
}
.detailsSection2 {
  composes: detailsSectionCommon;
  width: 245px;
}

.detailsInfo {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailsInfoText {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detailsTitle {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 600;
}

.img {
  height: 100%;
}

.buttonContainer {
  width: fit-content;
}

.stars {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 32px;
  font-weight: 700;
}
