@value colors: "../../variables/colors.css";
@value transparent from colors;
@value cm_grey_100 from colors;

.bulletPointWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 44px;
  position: relative;
}

.bulletPointWrapper > button {
  position: relative;
  cursor: pointer;
 }

.bulletPointMenu {
  min-width: 80px;
  /* positioning */
  position: absolute;
  align-self: flex-end;
  bottom: 54px;
  right: 0px;
  /* elevation shadow */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  z-index: 1;
  /* round corners */
  border-radius: 7px;
  overflow: hidden;
  background-color: cm_grey_100;
}

/* Fade-in - Fade-out, does target button class but bulletPointMenu only */
button + .bulletPointMenu {
  /* fade out combo */
  visibility: hidden;
  opacity:0;
  transition:visibility 0.5s ease,opacity 0.5s ease;
}

/* Does target button class but bulletPointMenu only */
button:focus + .bulletPointMenu {
  /* fade in combo */
  max-height: max-content;
  visibility:visible;
  opacity:1;
}

/* 
  Recover - unset pointer-events,
  to be able to click on the button when the menu is open to close it
*/
.bulletPointWrapper > button:focus { pointer-events: none; }
.bulletPointWrapper > button:not(:focus) { pointer-events: auto; }

/* 
  bulk theme
*/
.bulkBulletPointMenu{
  min-width: 80px;
  /* positioning */
  position: absolute;
  align-self: flex-end;
  bottom: 54px;
  right: 0px;
  /* elevation shadow */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  z-index: 1;
  /* round corners */
  border-radius: 7px;
  overflow: hidden;
  background-color: cm_grey_100;
  width: 142px;
}