@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.scope {
  display: block;
  width: 100%;
  margin: 35px 0 40px 0;
}

@media desktop {

}

@media tablet {

}

@media mobile {

}
