@value colors: "../../variables/colors.css";
@value dark from colors;
@value orange from colors;
@value battle from colors;
@value lightGreen from colors;
@value white from colors;
@value negative from colors;

.message {
  width: 100%;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: dark;
  border: 1px solid dark;
  border-radius: 2px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.message span {
  display: inline-block;
  line-height: 22px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: dark;
  color: white;
  text-align: center;
  margin-right: 10px;
}

.success {
  composes: message;
  color: lightGreen;
  border-color: lightGreen;
}

.success span {
  background-color: lightGreen;
}

.error {
  composes: message;
  color: negative;
  border-color: negative;
}

.error span {
  background-color: negative;
}

.warning {
  composes: message;
  color: orange;
  border-color: orange;
}

.warning span {
  background-color: orange;
}