@value colors: "../../variables/colors.css";
@value darkGrey from colors;
@value orange from colors;

.message {
  width: 100%;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: darkGrey;
  border: 1px solid darkGrey;
  border-radius: 2px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.message span {
  display: inline-block;
  line-height: 22px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: darkGrey;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
}

.success {
  composes: message;
  color: green;
  border-color: green;
}

.success span {
  background-color: green;
}

.error {
  composes: message;
  color: orange;
  border-color: orange;
}

.error span {
  background-color: orange;
}
