@value colors: "../../variables/colors.css";
@value orange from colors;
@value medium from colors;
@value white from colors;
@value positive from colors;
@value light from colors;
@value dark from colors;
@value cm_grey_200 from colors;
@value black from colors;
@value cm_primary_blue from colors;

.default {
  display: flex;
}

.modified {
  composes: default;
}

.coorpmanager {
  composes: default;
}

.coorpmanagerModified {
  composes: modified;
}

.partielUncheck {
  composes: coorpmanager;
}

.default label {
  height: 30px;
  position: relative;
  flex-grow: 0;
  display: block;
  width: 52px;
  background: medium;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.default label::after {
  position: absolute;
  left: 1px;
  top: 1px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all 0.3s ease;
}

.modified label::after {
  position: absolute;
  left: 1px;
  top: 1px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background: orange;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all 0.3s ease;
}

.checkbox {
  display: none;
}

.checkbox:active::after {
  transform: scale(1.15, 0.85);
}

.checkbox:checked ~ label {
  background: positive;
}

.default input:checked ~ label::after {
  left: 23px;
}

.checkbox:disabled ~ label {
  background: light;
  pointer-events: none;
}

.checkbox:disabled ~ label::after {
  background: medium;
}

.title {
  font-family: "Gilroy";
  font-size: 15px;
  text-transform: none;
  color: dark;
  width: 180px;
  margin-right: 20px;
  min-height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
}

.description {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 12px;
  color: medium;
  font-style: italic;
  margin-left: 20px;
}

.coorpmanager label, .coorpmanagerModified label {
  width: 48px;
  height: 24px;
  border: solid 2px cm_grey_200;
  margin-right: 8px;
  background: cm_grey_200;
}

.coorpmanager label::after, .coorpmanagerModified label::after {
  width: 22px;
  height: 22px;
}

.coorpmanager span, .coorpmanagerModified span {
  font-family: Gilroy;
  font-weight: bold;
  color: black;
  min-width: 190px;
}

.coorpmanager .checkbox:checked ~ label {
  background: cm_primary_blue;
  border-color: cm_primary_blue;
}

.coorpmanager .checkbox:disabled ~ label {
  border-color: cm_grey_200;
  pointer-events: none;
  background: cm_grey_200;
  opacity: 0.4;
}

.coorpmanager .checkbox:disabled ~ label::after {
  background: white;
}

.partielUncheck label::after {
  width: 18px;
  height: 18px;
  border: 3px solid cm_primary_blue;
  margin-left: 8px;
}
.partielUncheck label {
  width: 50px;
  height: 26px;
  background: cm_grey_200;
  border: 0px;
}
.partielUncheck .checkbox:checked ~ label {
  background-color: cm_primary_blue;
  border: 0px;
  width: 50px;
  height: 26px;
}

.partielUncheck .checkbox:checked ~ label::after {
  margin-left: 0px;
}

.btnSwicthContainer {
  display: flex;
  height: 50px;
  align-items: center;
}
.alignedTxtContainer {
  display: flex;
  align-items: center;
  align-content: center;
}
.detailsTxt {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: black;
  font-style: normal;
  white-space: pre-line;
}
.requiredSelection label, .requiredSelection .checkbox:disabled ~ label {
  background-color: cm_primary_blue;
  border-color: cm_primary_blue;
  opacity: 0.4;
}
