.default {
  display: flex;
}

.unset {
  composes: default;
}

.default label {
  height: 30px;
  position: relative;
  flex-grow: 0;
  position: relative;
  display: block;
  width: 52px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.default label:after {
  position: absolute;
  left: 1px;
  top: 1px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}

.unset label:after {
  left: 11.5px;
}

.checkbox {
  display: none;
}

.checkbox:active:after {
  transform: scale(1.15, 0.85);
}

.checkbox:checked ~ label {
  background: #00DC88;
}

.default input:checked ~ label:after {
  left: 23px;
}

.checkbox:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.checkbox:disabled ~ label:after {
  background: #bcbdbc;
}

.title {
  font-family: "Open Sans";
  font-size: 15px;
  text-transform: none;
  color: #455A64;
  width: 180px;
  margin-right: 20px;
  min-height: 50px;
}

.description {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 12px;
  color: #C2C2C2;
  font-style: italic;
  margin-left: 20px;
}
