@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value cm_blue_900 from colors;

@keyframes translateTitle {
  0% {
    transform: translate(0, 50%);
  }
  50% {
    transform: translate(0, 50%) scale(1);
  }
  100% {
    transform: translate(0, -350%) scale(0.6);
  }
}


@keyframes translateYCardStar {
  0% {
    height: 350px;
  }
  30% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} 

/* @keyframes translateYCardStar {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

@keyframes translateXCardStar {
  from {
    opacity: 1;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes translateCardRank {
  0% {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transform: translateX(50%);
  }
  1% {
    position: relative;
  }
  100% {
    position: relative;
    visibility: visible;
    z-index: 0;
    opacity: 1;
    transform: translateX(0);
  }
}
/* 
@keyframes translateCardRank {
  from {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    position: relative;
    visibility: visible;
    z-index: 0;
    opacity: 1;
    transform: translateX(0);
  }
} */

.mainContainer {
  height: 100%;
  position: relative;
}

.containerCongrats {
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.title {
  animation: translateTitle 1.4s ease-out forwards;
  color: cm_blue_900;
  font-family: 'Gilroy';
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-shrink: 1;
  flex-basis: auto;
  position: absolute;
}

.containerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

/* .hiddenCardStar {
  opacity: 0;
  height: 350px;
} */
/* .hiddenCardRank {
  display: none;
} */

/* .cardStarTranslateX {
  animation: translateXCardStar 0.2s ease-in-out 2s forwards;
} */

.cardStar {
  opacity: 0;
  animation: translateYCardStar 0.5s ease-out 0.8s forwards,
  translateXCardStar 0.2s ease-in-out 2s forwards;
}

.cardRank {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  animation: translateCardRank 0.2s ease-in-out 2s forwards;
  margin-left: 32px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  margin-top: 64px;
}

.buttonRevise {
  width: fit-content;
  margin-left: 16px;
  padding: 12px 16px;
}

@media mobile {
  @keyframes translateTitle {
    0% {
      transform: translate(0, 50%);
    }
    50% {
      transform: translate(0, 50%) scale(1);
    }
    100% {
      transform: translate(0, -450%) scale(0.8);
    }
  }
  @keyframes translateCardRank {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .containerCongrats {
    /* background-color: green; */
    overflow-x: hidden;
    overflow-y: auto;
  }

  .title {
    font-size: 48px;
    animation: translateTitle 1.6s ease-out forwards;
  }

  .test {
    content:"\a0";
    font-size: 85px;
    height: 85px;
    min-height: 85px;
  }

  .containerCards {
    padding-bottom: 10px;
    width: 100%;
    min-height: 350px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 24px;
  }

  .hiddenCardStar {
    height: 318px;
  }

  .cardStarTranslateY {
    animation: translateYCardStar 0.6s ease-in-out forwards;
  }

  .cardRank {
    /* animation: none; */
    animation: translateCardRank 0.2s ease-in-out forwards;
    flex-shrink: 0;
    margin-right: calc((100% - 280px)/2);
  }

  .cardStarTranslateX {
    animation: none;
    flex-shrink: 0;
    margin-left: calc(100% - (100% - 280px));
    margin-right: calc((100% - 280px)/2);
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 50px;
  }

  .buttonRevise {
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
  }
}
