@value colors: "../../variables/colors.css";
@value cm_blue_900 from colors;

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: cm_blue_900;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  margin-top: 104px;
  margin-bottom: 64px;
  text-align: center;
}
