@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value white from colors;
@value black from colors;
@value light from colors;

.wrapper {
  text-align: center;
}

.answer {
  width: 100%;
  max-width: 100%;
  min-width: 80px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  border: 1px solid light;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 11px 24px;
  line-height: 24px;
  white-space: normal;
}

.longestAnswer {
  composes: answer;
  width: auto;
}

.answer:last-child {
  margin-bottom: 0;
}

.answer:hover {
  background-color: light;
}

.unselectedAnswer {
  color: black;
}

.selectedAnswer {
  color: white;
}

@media mobile {
  .wrapper {
    min-width: 100%;
  }

  .longestAnswer {
    composes: answer;
    width: 100%;
  }

  .answer:hover {
    background-color: white;
  }

  .answer {
    padding: 8px 24px;
  }
}
