@value colors: "../../../variables/colors.css";
@value white from colors;
@value black from colors;
@value light from colors;

.wrapper {
  min-width: 100%;
  text-align: center;
}

.answer {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  color: black;
  background-color: white;
  border: 1px solid light;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 11px 24px;
  line-height: 24px;
  white-space: normal;
}

.answer:last-child {
  margin-bottom: 0;
}

.answer:hover {
  background-color: light;
}

.selected {
  composes: answer;
  color: white;
}
