@value colors: "../../variables/colors.css";
@value dark from colors;
@value medium from colors;
@value light from colors;
@value negative from colors;

.default {
  display: flex;
}

.error {
  composes: default;
}

.default label {
  display: flex;
  align-items: center;
  height: 130px;
  position: relative;
  flex-grow: 0;
  margin-right: 20px;
}

.title {
  font-family: "Open Sans";
  font-size: 15px;
  text-transform: none;
  color: dark;
  width: 180px;
}

.default textarea {
  font-family: "Open Sans";
  text-transform: none;
  padding: 10px 15px;
  border: solid 2px light;
  height: 125px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  margin-left: 20px;
  width: 500px;
  resize: none;
}

.error textarea {
  border-color: negative;
}

.description {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 12px;
  color: medium;
  font-style: italic;
}
