@value colors: "../../variables/colors.css";
@value orange from colors;
@value medium from colors;

.default {
  color: medium;
  margin-right: 2px;
}

.popular {
  color: orange;
  margin-right: 2px;
}
