@value colors: "../../variables/colors.css";
@value darkGrey from colors;
@value brandOrange from colors;

.default {
  color: darkGrey;
  margin-right: 2px;
}

.popular {
  color: brandOrange;
  margin-right: 2px;
}
