.container {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.header {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  display: inline-block;
  margin: 0;
  position: relative;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: #546e7a;
}

.title:before {
  content: "";
  position: absolute;
  background-color: rgba(255,185,13,.6);
  height: 15px;
  width: 115px;
  z-index: -1;
  top: 20px;
  left: -20px;
}

.card {
  width: 500px;
  background-color: #ffffff;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
}
