@value colors: "../../variables/colors.css";
@value orange from colors;
@value negative from colors;
@value light from colors;
@value dark from colors;
@value medium from colors;
@value white from colors;

.default {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.default label {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    flex-grow: 0;
    margin-right: 20px;
}

.error {
    composes: default;
}

.modified {
    composes: default;
}

.title {
    font-family: "Gilroy";
    font-size: 15px;
    text-transform: none;
    color: dark;
    width: 180px;
}

.description {
    margin-top: 1px;
    font-size: 20px;
}

.isNoTitle input {
    margin-left: 0;
}

.isNoTitle .title {
    display: none;
}

.isNoTitle .description {
    margin-left: 8px;
}

.description {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 12px;
    color: medium;
    font-style: italic;
}

/*  classes for Autosuggest, do not change them nor use this names
    see here https://github.com/moroshko/react-autosuggest#theme-optional
 */

.container {
    position: relative;
}

.input {
    font-family: "Gilroy";
    text-transform: none;
    padding: 0 15px;
    border: solid 2px light;
    height: 50px;
    border-radius: 2px;
    font-size: 14px;
    color: dark;
    margin-left: 20px;
    width: 230px;
    box-sizing: border-box;
}

.error .input {
    border-color: negative;
}

.modified .input {
    border-color: orange;
}

.suggestionsContainer {
    display: none;
}

.suggestionsContainerOpen {
    display: block;
    position: absolute;
    top: 50px;
    border: solid 2px light;
    font-family: "Gilroy";
    font-size: 14px;
    color: dark;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 20px;
    width: 230px;
    box-sizing: border-box;
    z-index: 2;
}

.suggestionsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: white;
}

.suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.suggestionHighlighted {
    background-color: #ddd;
}