.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  background-color: transparent;
  justify-content: space-around;
  background-image: url('https://user-images.githubusercontent.com/1039076/37212425-643044ba-23af-11e8-9c0f-37488f7c5f84.png');
  background-size: cover;
}
