.wrapper {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #B9B9B9;
  border-bottom: 0px;
}

.wrapper:last-child {
  border-bottom: 1px solid #B9B9B9;
}
