@value colors: "../../variables/colors.css";
@value lightGreen from colors;
@value dark from colors;
@value white from colors;
@value light from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.wrapper {
  max-width: 100%;
}

.refresh {
  font-family: 'Gilroy';
  color: dark;
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
  padding-right: 20px
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.searchWrapper {
  display: flex;
  border: 1px solid light;
  margin: 0 8px 0 0;
  height: 38px;
  flex: 1;
}

.loading {
  position: relative;
  height: 200px;
}

.empty {
  height: 200px;
  font-family: 'Gilroy';
  color: dark;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
