@value colors: "../../variables/colors.css";
@value lightGreen from colors;
@value dark from colors;
@value white from colors;

.wrapper {
  width: 100%;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.create a {
  display: block;
  width: 40px;
  height: 40px;
  color: white;
  background-color: lightGreen;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  border-radius: 2px;
}

.create a:hover {
  background-color: color(lightGreen lightness(60%));
}

.search {

}

.pagination {

}

.tableWrapper {

}

.footerWrapper {

}

.loading {
  position: relative;
  height: 200px;
}

.empty {
  height: 200px;
  font-family: 'Open Sans';
  color: dark;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
