.wrapper {
  width: 100%;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.create a {
  display: block;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #A5D6A7;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  border-radius: 2px;
}

.create a:hover {
  background-color: #81c784
}

.search {

}

.pagination {

}

.tableWrapper {

}

.footerWrapper {

}
