@value colors: "../../variables/colors.css";
@value dark from colors;
@value orange from colors;
@value white from colors;
@value light from colors;
@value medium from colors;
@value negative from colors;

.wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.value {
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 700;
  color: dark;
}

.sectionConfirm {
  background-color: medium;
  text-align: center;
  max-width: 500px;
  padding: 20px 0;
}

.confirmForm {
  position: relative;
  min-height: 126px;
}

.confirmEmptySpace {
  min-height: 63px;
}

.description {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  color: white;
  margin: 0 20px;
}

.input {
  font-family: "Gilroy";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px light;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  margin: 15px 0;
  width: 230px;
  appearance: none;
}

.confirmationCTAWrapper {
  display: flex;
  margin: auto;
  width: 50%;
  gap: 16px;
}