@value colors: "../../variables/colors.css";
@value dark from colors;
@value orange from colors;
@value white from colors;
@value light from colors;
@value medium from colors;

.wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.value {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: dark;
  margin-right: 20px;
}

.sectionConfirm {
  background-color: medium;
  text-align: center;
  max-width: 500px;
  padding: 20px 0;
}

.toggle {
  height: 52px;
  padding: 0 40px;
  line-height: 52px;
  border-radius: 2px;
  font-family: 'Open Sans';
  font-size: 15px;
  color: white;
  font-weight: 700px;
  display: block;
  background-color: orange;
  cursor: pointer;
  text-align: center;
}

.button {
  height: 32px;
  padding: 0 15px;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
}

.cancel {
  composes: button;
  border: 1px solid dark;
  color: white;
  background-color: dark;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  display: inline-block;
  min-width: 120px;
}

.delete {
  composes: button;
  border: 1px solid orange;
  color: white;
  background-color: orange;
  margin-right: 5px;
  margin-bottom: 10px;
  font-weight: 600;
  display: inline-block;
  min-width: 120px;
}

.disabled {
  composes: delete;
  background-color: light;
  border: 1px solid light;
}

.description {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 14px;
  color: white;
  margin: 0 20px;
}

.input {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px light;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  margin: 15px 0;
  width: 230px;
  appearance: none;
}
