@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value white from colors;
@value positive from colors;

.head {
  display: block;
  width: 100%;
}

.head a {
  display: block;
  text-transform: uppercase;
  color: white;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  line-height: 52px;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 15px;
}

.head a:last-child {
  margin-bottom: 0;
}

.head a span span {
  font-family: "Gilroy";
  font-weight: 800;
}

.buy {
  composes: hoverFill from '../../atom/button/hover-fill.css';
  cursor: pointer;
  background-color: positive;
}

.buy::after {
  background-color: white;
  opacity: 0.15;
}

.start {
  composes: hoverFill from '../../atom/button/hover-fill.css';
  cursor: pointer;
}

.start::after {
  background-color: white;
  opacity: 0.15;
}

@media desktop {
  .head {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    vertical-align: top;
  }
}

@media mobile {
  .head {
    flex: none;
    text-align: center;
  }

  .head a {
    margin-bottom: 15px;
  }
}
