@value colors: "../../variables/colors.css";
@value medium from colors;
@value dark from colors;
@value light from colors;
@value black from colors;
@value white from colors;
@value brand from colors;

@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;


.wrapper {
  width: 100%;
  flex-grow: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media mobile {

}
