@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 0.7;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.media {
  width: 835px;
  height: 400px;
  margin: 25px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.video {
  height: 343px;
  width: 609px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.audio {
  height: 180px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media mobile {
  .wrapper {
    margin: 0 8px;
  }

  .formWrapper {
    width: 100%;
  }
}

@media tablet {
  .media {
    margin: 0 auto 25px;
    height: 300px;
    width: 100%;
  }

  .video {
    max-width: 80vw;
    height: auto;
  }

}