@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value white from colors;
@value primary from colors;
@value primaryAdd2 from colors;
@value brandGreen from colors;
@value brandGreenHover from colors;

.head {
  display: block;
  width: 100%;
}

.starRating {
  display: inline-block;
  margin-bottom: 30px;
}

.head a {
  display: block;
  text-transform: uppercase;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  line-height: 52px;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 15px;
}

.head a:hover {
  color: white;
}

.head a span span {
  font-family: "Open Sans";
  font-weight: 800;
}

.buy {
  background-color: brandGreen;
}

.buy:before {
  background-color: brandGreenHover;
}

.try {
  background-color: primary;
}

.try:before {
  background-color: primaryAdd2;
}

@media desktop {
  .head {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    vertical-align: top;
  }
}

@media tablet {

}

@media mobile {
  .head {
    flex: none;
    text-align: center;
  }

  .head a {
    margin-bottom: 15px;
  }
}
