@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

@value colors: "../../variables/colors.css";
@value orange from colors;
@value dark from colors;
@value light from colors;
@value black from colors;

.default {
  display: flex;
}

.error {
  composes: default;
}

.modified {
  composes: default;
}

.default label {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  flex-grow: 0;
  margin-right: 20px;
}

.title {
  font-family: "Open Sans";
  font-size: 15px;
  text-transform: none;
  color: dark;
  width: 180px;
}

.label {
  display: none;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  text-overflow: ellipsis;
  height: 18px;
}

.default select {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px light;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  margin-left: 20px;
  width: 230px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.modified select {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px orange;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  margin-left: 20px;
  width: 230px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.default select:focus::-ms-value {
  background-color: transparent;  /*make the select background transparent in ie */
  color: dark;
 }

.arrow {
  position: absolute;
  right: 10px;
  margin-top: -4px;
  top: 50%;
  pointer-events: none;
  width: 12px;
  height: 12px;
}

@media mobile {
  .arrow:after {
    right: 10px;
    top: 30px;
  }
}

.default select[multiple] {
  padding: 0;
  height: 80px;
}
