@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value orange from colors;
@value negative from colors;
@value dark from colors;
@value light from colors;
@value medium from colors;
@value black from colors;
@value white from colors;
@value xtraLightGrey from colors;
@value transparent from colors;
@value box_shadow_light_dark from colors;
@value box_shadow_medium_dark from colors;
@value cm_blue_900 from colors;
@value cm_grey_450 from colors;

.default {
  display: flex;
}

.error {
  composes: default;
}

.modified {
  composes: default;
}

.selectWrapper {
  position: relative;
}

.default .selectWrapper {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  flex-grow: 0;
  margin-right: 20px;
  font-family: "Gilroy";
}

.title {
  font-family: "Gilroy";
  font-size: 15px;
  text-transform: none;
  color: dark;
  width: 180px;
}

.selectSpan {
  display: none;
  position: relative;
  z-index: 10;
  white-space: nowrap;
  pointer-events: none;
  height: 18px;
}

.default .selectBox {
  font-family: "Gilroy";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px light;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  margin-left: 20px;
  width: 230px;
  outline: none;
  appearance: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.selectOption,
.no-label .selectWrapper{
  min-width: min-content;
  height: min-content;
}

.player .selectWrapper {
  min-width: min-content;
  height: min-content;
  margin-right: 0;
}

.modified select {
  font-family: "Gilroy";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px orange;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: dark;
  margin-left: 20px;
  width: 230px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.error select {
  border: solid 2px negative;
}

.description {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 12px;
  color: medium;
  font-style: italic;
  margin: auto 0;
}

.default select:focus::-ms-value {
  background-color: transparent;  /* make the select background transparent in ie */
  color: dark;
}

.arrow {
  position: absolute;
  right: 10px;
  margin-top: -4px;
  top: 50%;
  pointer-events: none;
  width: 12px;
  height: 12px;
  z-index: 11;
}

.selectedArrow {
  composes: arrow;
}

.player .selectWrapper .arrow {
  color: cm_grey_450;
}

.player:hover .arrow {
  color: cm_blue_900;
}

.player:hover .selectedArrow {
  color: inherit;
}

@media mobile {
  .arrow::after {
    right: 10px;
    top: 30px;
  }
}

.default .selectBox[multiple] {
  padding: 0;
  height: 80px;
}

/*
  Filter
*/

.filter .selectWrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 0;
  flex-wrap: wrap;
  height: auto;
  margin: 0;
}

.filter .selectSpan {
  display: block;
  padding: 15px 30px 15px 15px;
  font-size: 12px;
  padding-right: 30px;
  background: white;
  text-transform: none;
  text-align: initial;
}

.filter .title {
  display: block;
  width: 100%;
  font-weight: 700;
  margin-bottom: 10px;
}

.filter .selectBox {
  position: absolute;
  top: 27px;
  display: block;
  width: 100%;
  height: 50px;
  background: white;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;
  font-size: 12px;
  padding: 0 15px;
  color: dark;
  cursor: pointer;
}

.filter .arrow {
  top: 70%;
}

/*
  No label
*/

.no-label {
  composes: default;
  position: relative;
}

.no-label .selectWrapper {
  display: flex;
  align-items: center;
  min-height: 54px;
  position: relative;
  flex-grow: 0;
}

.noLabelCommon {
  display: block;
  padding: 0 30px 0 10px;
  font-size: 14px;
  height: 54px;
  line-height: 52px;
  box-sizing: border-box;
}

div.default label.selectWrapper span.longLabel {
    min-width: 230px;
    max-width: 280px;
    white-space: pre-wrap;
    line-height: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    border: none;
}

div:not(.player) .noLabelCommon.selectSpan {
  border: 1px solid light;
  background: white;
  border-radius: 2px;
  min-width: min-content;
  width: 100%;
}

div.player .noLabelCommon.selectSpan {
  box-shadow: 0px 4px 16px box_shadow_light_dark;
  border-radius: 8px;
  min-width: min-content;
  width: 100%;
  white-space: nowrap;
  color: cm_blue_900;
}

div.player:hover span.selectSpan {
  box-shadow: 0px 4px 16px box_shadow_medium_dark;
}

.no-label .selectBox {
  font-family: "Gilroy";
  text-transform: none;
  padding: 0 15px;
  height: 54px;
  border-radius: 2px;
  font-size: 14px;
  color: black;
  font-weight: normal;
  margin-left: 0;
  width: 230px;
  max-width: 280px;
  cursor: pointer;
  background: white;
  border: 2px solid xtraLightGrey;
}

@media mobile {
  div.player .selectBox {
    min-width: 0;
  }

  .no-label .selectBox {
    margin-left: 0;
    border-radius: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .no-label .selectWrapper {
    display: block;
    margin-right: 0;
    width: 100%;
    min-height: 44px;
    height: min-content;
    min-width: 250px;
    max-width: 280px;
  }

  .player .noLabelCommon {
    height: min-content;
  }

  div.player .noLabelCommon.selectSpan {
    min-width: 250px;
    max-width: 280px;
    white-space: pre-wrap;
  }

  .noLabelCommon.longLabel {
    line-height: 22px;
    height: 100%;
  }

  .player.default .selectBox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

/*
  Invalid
*/

.invalid {
  composes: no-label;
}

.invalid .player {
  color: cm_blue_900;
}

.invalid .selectWrapper {
  height: 54px;
  color: black;
}

.invalid .selectSpan {
  font-size: 15px;
  font-weight: 700;
  border: 2px solid;
  height: 54px;
  line-height: 52px;
  border-color: medium;
}

/*
  Mooc
*/

.mooc {
  composes: default;
  width: 150px;
}

.mooc .selectWrapper {
  margin: 0;
  height: 35px;
  border: 0;
  width: inherit;
}

.mooc select {
  color: black;
  height: 35px;
  margin-left: 0;
  width: auto;
}

.mooc .arrow,
.mooc .title {
  display: none;
}

@media mobile {
  .mooc {
    width: 40%;
  }

  .mooc select {
    padding: 0;
  }
}

/*
  Question
*/

.question {
  composes: no-label;
}

.question .selectWrapper {
  height: 54px;
}

.question .selectSpan {
  font-size: 15px;
  font-weight: 700;
  border: 2px solid;
  height: 54px;
  line-height: 52px;
}

/*
  Sort
*/

.sort {
  background: white;
  margin-bottom: 10px;
}

.sort .selectWrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 0;
  flex-wrap: wrap;
  height: auto;
  margin: 0;
}

.sort .selectSpan {
  display: block;
  padding: 15px 30px 15px 15px;
  font-size: 12px;
  padding-right: 30px;
  background: white;
  text-transform: none;
  text-align: initial;
}

.sort .title {
  display: block;
  width: 100%;
  font-weight: 700;
  margin-bottom: 10px;
}

.sort select {
  display: block;
  width: 100%;
  height: 50px;
  background: white;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;
  font-size: 12px;
  padding: 0 15px;
  color: dark;
  cursor: pointer;
}

/*
  Thematiques
*/

.thematiques {
  composes: no-label;
}

/* 
  Player
*/

.player {
  composes: no-label;
}

.player .selectBox {
  border: 0;
}

/* mozilla specific styling */
@supports (-moz-appearance:none) {
  .player label.selectWrapper select.selectBox {
    width: 100%;
  } 
}

/*
  Header
*/

.header {
  composes: mooc;
}

.header .selectBox {
  margin-left: 0;
}

.default .selectWrapper select.selectBox {
  max-width: 280px;
  width: inherit;
  border-radius: 8px;
  padding: 0;
  height: 100%;
  top: 0;
}

.header .title,
.header .selectWrapper span.selectSpan {
  min-width: 150px;
  color: transparent;
}

.header .selectWrapper select.selectBox {
  padding-left: 10px;
  border-radius: 2px;
  padding-right: 30px;
}

.header .selectBox {
  background-color: light;
  border: 0;
  font-weight: 700;
  font-family: 'Gilroy';
  color: dark;
  padding: 0 30px 0 15px;
  width: 150px;
  cursor: pointer;
}

.header .arrow {
  display: block;
}

@media mobile {
  .header {
    width: auto;
  }

  .header select {
    padding: 0 30px 0 15px;
  }
}

/*
  Template
*/
.template {
  composes: no-label;
}

.template .selectBox {
  width: auto;
  height: 54px;
  padding: 0 50px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.template .selectSpan {
  font-size: 15px;
  font-weight: 700;
  height: 54px;
  line-height: 52px;
}

.selected.template .selectSpan {
  border: 1px solid;
}

.unselected.template .selectSpan {
  border: 1px solid color(black lightness(85%));
}

.template .selectWrapper {
  display: block;
  width: auto;
  margin-right: 0;
  height: 54px;
  max-width: 100%;
}
