@value breakpoints: "../../variables/breakpoints.css";
@value colors: "../../variables/colors.css";
@value mobile from breakpoints;
@value darkGrey from colors;
@value yellow from colors;
@value borderGrey from colors;
.default {
  display: flex;
}

.error {
  composes: default;
}

.modified {
  composes: default;
}

.default label {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  flex-grow: 0;
  margin-right: 20px;
}

.title {
  font-family: "Open Sans";
  font-size: 15px;
  text-transform: none;
  color: #455A64;
  width: 180px;
}
.label {
  display: none;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  text-overflow: ellipsis;
}
.default select {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px #eceff1;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: #607d8b;
  margin-left: 20px;
  width: 230px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.modified select {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  border: solid 2px yellow;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: #607d8b;
  margin-left: 20px;
  width: 230px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.default select:focus::-ms-value {
  background-color: transparent;  /*make the select background transparent in ie */
  color: #607d8b;
 }

.thematiques,
.nolabel {
  composes: default;
  position: relative;
}

.nolabel label,
.filter label,
.sort label {
  display: flex;
  align-items: center;
  height: 37px;
  position: relative;
  flex-grow: 0;
  margin: 0 20px;
}

.thematiques label {
  display: flex;
  align-items: center;
  height: 44px;
  position: relative;
  flex-grow: 0;
}

.filter label,
.sort label {
  flex-wrap: wrap;
  height: auto;
}

.filter .label {
  display: block;
  padding: 15px 30px 15px 15px;
  font-size: 12px;
  background: borderGrey;
  padding-right: 30px;
}

.filter .title,
.sort .title {
  display: block;
  width: 100%;
  font-weight: 700;
  margin-bottom: 10px;
}

.filter select,
.sort select {
  display: block;
  width: 100%;
  height: 50px;
  background: white;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;
  font-size: 14px;
  padding: 0 15px;
  color: darkGrey;
  cursor: pointer;
}

.filter .arrow,
.sort .arrow {
  top: 70%;
}

.thematiques .title,
.nolabel .title {
  display: none;
}

.arrow {
  position: absolute;
  right: 10px;
  margin-top: -10px;
  top: 50%;
  font-size: 20px;
  color: #484848;
  font-weight: 700;
  pointer-events: none;
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-angle-down from '../../variables/fontawesome.css';
}

.nolabel select {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  border: 0;
  height: 37px;
  border-radius: 2px;
  font-size: 15px;
  color: black;
  font-weight: normal;
  margin-left: 20px;
  width: 230px;
  background: #e0e0e0;
  cursor: pointer;
}

.thematiques select {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  height: 44px;
  border-radius: 2px;
  font-size: 15px;
  color: black;
  font-weight: normal;
  margin-left: 0px;
  width: 230px;
  cursor: pointer;
  background: white;
  border: 2px solid #cfd8dc;
}

.nolabel select {
  background: white;
}

.mooc {
  composes: default;
  width: 150px;
}

.mooc label {
  margin: 0;
  height: 35px;
  border: 0;
}

.mooc select {
  color: #000;
  height: 35px;
  margin-left: 0;
  width: auto;
}

.mooc .arrow,
.mooc .title {
  display: none;
}


.header {
  composes: mooc;
  width: auto;
}

.header select {
  background-color: #F7F7F7;
  border: 0;
  font-weight: 700;
  font-family: 'Open Sans';
  color: #484848;
  padding: 0 30px 0 15px;
  width: 150px;
  cursor: pointer;
}

.header .arrow {
  display: block;
}

@media mobile {
  .mooc {
    width: 40%;
  }

  .mooc select {
    padding: 0;
  }

  .header {
    width: auto;
  }

  .header select {
    padding: 0 30px 0 15px;
  }

  .thematiques select {
    height: 100%;
    width: 100%;
  }
  .thematiques label {
    display: block;
    margin-right: 0;
    width: 100%;
    height: 44px;
  }
  .thematiques select {
      margin-left: 0;
      border-radius: 0;
  }

  .arrow:after {
    right: 10px;
    top: 30px;
  }
}

.default select[multiple] {
  padding: 0;
  height: 80px;
}
