@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;

.question {
  composes: no-label from './theme-no-label.css';
}

.question label {
  height: 54px;
}

.question .label {
  font-size: 15px;
  font-weight: 700;
  border: 2px solid;
  height: 54px;
  line-height: 52px;
}
