@value breakpoints: "../../variables/breakpoints.css";
@value colors: "../../variables/colors.css";
@value mobile from breakpoints;
@value dark from colors;
@value xtraLightGrey from colors;
@value white from colors;

.no-label {
  composes: default from './style.css';
  position: relative;
}

.no-label label {
  display: flex;
  align-items: center;
  height: 44px;
  position: relative;
  flex-grow: 0;
}

.no-label .label {
  display: block;
  padding: 0px 30px 0px 10px;
  font-size: 14px;
  border: 1px solid xtraLightGrey;
  background: white;
  border-radius: 2px;
  height: 44px;
  line-height: 42px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-label select {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px;
  height: 44px;
  border-radius: 2px;
  font-size: 15px;
  color: black;
  font-weight: normal;
  margin-left: 0px;
  width: 230px;
  cursor: pointer;
  background: white;
  border: 2px solid xtraLightGrey;
}

@media mobile {
  .no-label select {
    height: 100%;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
  }
  .no-label label {
    display: block;
    margin-right: 0;
    width: 100%;
    height: 44px;
  }
}
