@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value black from colors;

.mooc {
  composes: default from './style.css';
  width: 150px;
}

.mooc label {
  margin: 0;
  height: 35px;
  border: 0;
}

.mooc select {
  color: black;
  height: 35px;
  margin-left: 0;
  width: auto;
}

.mooc .arrow,
.mooc .title {
  display: none;
}

@media mobile {
  .mooc {
    width: 40%;
  }

  .mooc select {
    padding: 0;
  }
}
