@value breakpoints: "../../variables/breakpoints.css";
@value colors: "../../variables/colors.css";
@value mobile from breakpoints;
@value dark from colors;
@value light from colors;

.header {
  composes: mooc from './theme-mooc.css';
  width: auto;
}

.header select {
  background-color: light;
  border: 0;
  font-weight: 700;
  font-family: 'Open Sans';
  color: dark;
  padding: 0 30px 0 15px;
  width: 150px;
  cursor: pointer;
}

.header .arrow {
  display: block;
}

@media mobile {
  .header {
    width: auto;
  }

  .header select {
    padding: 0 30px 0 15px;
  }
}
