@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value xtraLightGrey from colors;
@value light from colors;
@value white from colors;
@value black from colors;
@value medium from colors;
@value dark from colors;

.answers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: -8px;
  padding: 0 24px 0 0;
}

.qcmDrag {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
}

.selectedAnswers {
  composes: answers;
  border: 2px dashed color(dark lightness(85%));
  background-color: xtraLightGrey;
  padding: 16px 8px 8px 16px;
  margin: 0 0 24px;
}

.emptyAnswers {
  composes: selectedAnswers;
  align-items: center;
  padding: 16px;
}

.emptySpan {
  width: 100%;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 600;
  color: medium;
}

.answer {
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 600;
  color: black;
  line-height: 22px;
  background-color: white;
  border: 1px solid color(dark lightness(85%));
  box-sizing: border-box;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 13px 16px;
  cursor: pointer;
}

.answer:hover {
  background-color: light;
}

.selectedAnswer {
  composes: answer;
}

.invisibleAnswer {
  composes: answer;
  display: none;
}

@media mobile {
  .selectedAnswers {
    min-height: auto;
  }

  .answer:hover {
    background-color: white;
  }
}
