@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value xtraLightGrey from colors;
@value light from colors;
@value white from colors;
@value black from colors;
@value medium from colors;
@value dark from colors;
@value cm_grey_75 from colors;
@value cm_grey_150 from colors;
@value cm_blue_900 from colors;

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
}

.answers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: -8px;
  padding: 0 24px 0 0;
}

.choices {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: auto;
}

.selectedAnswers {
  composes: answers;
  border-bottom: 2px solid cm_grey_150;
  padding: 16px 8px 8px 16px;
  margin: 0 0 24px;
}

.emptyAnswers {
  composes: selectedAnswers;
  align-items: center;
  padding: 16px;
}

.emptySpan {
  width: 100%;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 600;
  color: medium;
}

.choice {
  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 13px 16px;
  cursor: pointer;
  margin-bottom: 8px;
  margin-right: 8px;
  overflow: hidden;
  hyphens: auto;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.unselected {
  composes: choice;
  color: cm_blue_900;
  line-height: 20px;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.selected {
  composes: choice;
  position: relative;
  border-radius: 8px;
}

.background {
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  transition: opacity 0.25s linear, background-color 0.25s linear;
}

.selected .background{
  opacity: 1;
}

.selected:hover {
  background: black;
}

.selected:hover .background{
  opacity: 0.8;
}

.content {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.unselected:hover {
  background-color: cm_grey_75;
}

.selectedAnswerText {
  color: white;
}

.invisibleAnswer {
  composes: choice;
  display: none;
}

@media mobile {
  .selectedAnswers {
    min-height: auto;
  }
}
