@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;
@value cm_grey_500 from colors;
@value cm_grey_700 from colors;
@value cm_primary_blue from colors;

.textBase {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.filtersMainContainer {
    composes: textBase;
    display: flex;
    align-items: center;
}

.filtersContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.filtersList {
    overflow-x: scroll;
    scrollbar-width: none;
    align-items: center;
    display: flex;
}

.filterOption, .defaultOption {
    display: flex;
    color: cm_grey_500;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.filterSelected {
    color: cm_grey_700;
    border-bottom: 2px solid cm_primary_blue;
}

.filterLabel {
    min-width: 70px;
}

.filterSeparator {
    padding: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.filterSeparator::before {
  content: '';
  width: 1px;
  height: 24px;
  background-color: cm_grey_100;
}

.filterButton {
    margin-left: auto;
    color: cm_grey_700;
}