.open {
  margin: 0;
  background: #FAFAFA;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
  border-radius: 3px;
}

/*------------------------------------------------------------ list */

.list {
  margin: 0px;
  padding: 0px;
}

.closed .list {
  display: none;
}

.line {
  list-style: none;
  color: black;
  padding: 10px;
}

.line:hover {
  background: #e4e4e4;
}


/*------------------------------------------------------------ header */

.openHeader {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px 0px #ECEFF1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 37px;
}

.closedHeader {
  background: none;
}

.closedHeader span{
  cursor: pointer;
}

.closedHeader:hover {
  color: white;
}

.closeText {
  line-height: 37px;
  padding: 0 10px;
  color: black;
}

/*------------------------------------------------------------ icon buttons */

.icon {
  font-family: 'icons-default';
  color: #78909C;
  font-size: 12px;
  width: 22px;
  height: 22px;
  margin-right:5px;
  text-align: center;
  line-height: 37px;
}

.arrow {
  composes: icon;
  margin-left: 7px;
}

.close {
  composes: icon;
  float: right;
}

.close:hover {
  color: #A6B9C3;
}
