@value breakpoints: "../../../variables/breakpoints.css";
@value colors: "../../../variables/colors.css";
@value desktop from breakpoints;
@value mobile from breakpoints;
@value positive from colors;
@value negative from colors;

.layoutSection {
  width: 100%;
}

.sectionCTA {
  display: flex;
  height: 15%;
  align-items: center;
  justify-content: center;
}

.screen {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-flow: column;
}

.screenWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }

  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px) scale(0.2);
  }
}

.message {
  position: absolute;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 36px;
  color: #0e3a3d;
  transform: translateX(-50%);
  opacity: 0;
  top: 20%;
  left: 50%;
  animation: fadeInDown 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50px) scale(0.1);
  }

  30% {
    transform: translateX(-50%) translateY(-50px) scale(0.2) rotate(-180deg);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) scale(1) rotate(0deg);
  }
}

.gameOver {
  position: absolute;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 55px;
  color: #0e3a3d;
  transform: translateX(-50%);
  opacity: 1;
  top: 20%;
  left: 50%;
  animation: fadeIn 3s;
}

.sectionBody {
  flex: 1 1;
}

.sectionRace {
  height: 85%;
}

/* ----------------------------------------------------------------- */

.team {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
}

.answered {
  display: flex;
  margin-right: 60px;
}

.waiting {
  display: flex;
}

.avatar {
  left: 20px;
  width: 45px;
  height: 45px;
  margin-right: -10px;
  border: 3px solid white;
  border-radius: 50%;
  background-size: contain;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.noAnswer {
}

.correct {
  border: 3px solid positive;
}

.notCorrect {
  border: 3px solid negative;
}

/* ----------------------------------------------------------------- */


@media mobile {
  .screen {
    width: 100%;
  }
}
