@value colors: "../../variables/colors.css";
@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value mobile from breakpoints;
@value cm_grey_100 from colors;
@value cm_grey_150 from colors;
@value cm_grey_200 from colors;
@value cm_grey_500 from colors;
@value cm_grey_700 from colors;


.associatedSkillsWrapper {
  margin-bottom: 12px;
}

.chipsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chipWrapper {
  width: fit-content;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: cm_grey_150;
  color: cm_grey_500;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}

.chipWrapper:hover {
  background-color: cm_grey_200;
  color: cm_grey_700;
}

.chipWrapperFocused {
  background-color: #DDD1FF;
  color: #4B0AFF;
}

.chipWrapperFocused:hover {
  background-color: #B89EFF;
  color: #2B00A3;
}

.chipFocusedContent {
  display: flex;
  align-items: center;
  max-width: 224px;
  gap: 4px;

  div {
    padding: 0 !important;
  }
}

.chipFocusedContentText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.infoIconTooltip {
  background-color: transparent;
}

.tooltip,
.tooltipSkillFocused {
  width: fit-content;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  top: -48px;

  p {
    padding: 8px 8px;
    margin: 0;
  }
}

.tooltipSkillFocused {
  top: -64px;
}

.tooltipContentWrapper {
  padding: 8px 12px;
  text-align: left;
  width: max-content;
  font-weight: 400;
  line-height: 16px;
}

@media desktop {
  .associatedSkillsWrapper {
    margin-top: 24px;
  }
  
  .chipFocusedContent {
    max-width: max-content;
  }
}

@media mobile {
  .associatedSkillsWrapper {
    margin-top: 24px;
  }

  .chipFocusedContent {
    max-width: 100%;
  }

  .chipWrapperFocused {
    max-width: 69vw;
  }
}