@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;
@value cm_grey_200 from colors;
@value cm_grey_700 from colors;

.associatedSkillsWrapper {
  margin-bottom: 28px;
}

.chipsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chipWrapper {
  width: fit-content;
  border-radius: 10px;
  padding: 8px 12px;
  background-color: cm_grey_200;
  color: cm_grey_700;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chipWrapperFocused {
  background-color: #DDD1FF;
  color: #3900D6;
}

.chipFocusedContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoIconTooltip {
  background-color: transparent;
}

.tooltip {
  width: fit-content;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  right: -45px;
  top: -71px;
}