@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;
@value cm_grey_200 from colors;
@value white from colors;

.button {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: cm_grey_100;
}

.button:hover {
  background-color: cm_grey_200;
}

.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.disabled:hover {
  background-color: cm_grey_100;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: inherit;
  text-decoration: none;
}

.default {
  composes: button;
  width: 44px;
  height: 44px;
  border-radius: 7px;
}

.responsive {
  composes: button;
  width: 44px;
  height: 44px;
  border-radius: 7px;
}

.responsive .icon {
  width: 14px;
  height: 14px;
}

.small {
  composes: button;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

@media tablet {
  .responsive {
    composes: button;
    width: 32px;
    height: 32px;
    border-radius: 5px;
  }

  .responsive .icon {
    width: 12px;
    height: 12px;
  }
}

.default .icon {
  width: 14px;
  height: 14px;
}

.small .icon {
  width: 12px;
  height: 12px;
}

/* ----------------- CM bulk style ------------------------- */

.bulkArrowDown {
  composes: button;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 1px solid cm_grey_200;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.5;
}

.bulkArrowDown .icon {
  width: 8px;
  height: 8px;
}

.bulkArrowUp {
  composes: bulkArrowDown;
  transform: rotate(180deg);
}

.bulkBulletButton{
  background-color: white;
}