@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.productsWrapper {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%
}

.productsContainer {
  width: 840px;
  display: inline-block;
  vertical-align: top;
  margin-top: -190px;
}

@media desktop {
  .productsContainer {
    margin-top: 20px;
  }
}

@media tablet {
  .productsWrapper {
  }
}

@media mobile {
  .productsWrapper {
    text-align: center;
  }
}
