@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

@value colors: "../../variables/colors.css";
@value light from colors;
@value white from colors;
@value dark from colors;
@value medium from colors;
@value brand from colors;
@value black from colors;

.sidebar {
  color: dark;
  max-width: 200px;
  margin: 10px;
}

.sidebar_part {
  padding: 0px 0 0 0;
  border: 1px solid light;;
  margin-bottom: 20px;

}
.sidebar_part > ul {
  padding: 0px;
  margin: 0px;
}

.itemList {
  list-style-type: none;
  display: block;
}

.selectItem {
  padding: 15px 0px 0px 20px ;
}


.linkItem {
  padding: 12px 15px;
  border-left: 3px solid transparent;
  margin-top: 15px;
}
.itemList > .linkItem ~ .linkItem  {
/* hack cf https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class */
  margin-top: 0px;
}
.linkItem a {
  color: dark;
  text-decoration: none
}

.linkItem:hover {
  border-left-color: medium;
  background-color: light;
  color: brand;
}
.linkItem:hover a{
  color: brand;
}

.selectLinkItem {
  border-left-color: brand;
}


.infoItem {
  list-style-type: none;
  padding: 0px;
}

.infoItemTitle {
  padding: 12px;
  background-color: light;
}

.infoItemContent {
  padding: 12px;
  color: brand;
  border-left: 3px solid brand;
}
