@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;

.wrapper {
  width: 100%;
  padding-bottom: 50px;
}

.titleWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.titleWrapper:first-child {
  margin-top: 0;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.groupGrid {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.groupGrid:first-child {
  flex: 1;
}

.groupGrid .titleWrapper {
  width: 352px;
}

.groupGrid .grid {
  flex: 3;
  margin-top: 50px;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-evenly;
}

.grid .field {
  margin-right: 20px;
}

.field {
  margin-bottom: 20px;
}

.field:last-child {
  margin-bottom: 0;
}

.fieldCoorpmanager {
  margin: 0 0 32px 0;
}

.defaultWidth {
  composes: fieldCoorpmanager;
  width: 300px;
}

.mediumWidth {
  composes: fieldCoorpmanager;
  width: 444px;
}

.largeWidth {
  composes: fieldCoorpmanager;
  width: 100%;
}

@media desktop {
  .groupGrid {
    flex-direction: column;
  }

  .groupGrid .grid {
    justify-content: flex-start;
    margin-top: 0;
  }

  .groupGrid .grid .field {
    flex: 1;
  }
}
