@value colors: "../../variables/colors.css";
@value darkGrey from colors;

.wrapper {
  width: 100%;
  padding-bottom: 50px;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title h3 {
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 700;
  color: darkGrey;
  margin: 0;
}

.title h4 {
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  color: darkGrey;
  margin: 5px 0;
}

.field {
  margin-bottom: 20px;
}

.field:last-child {
  margin-bottom: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}

.grid .field {
  margin-bottom: 20px;
  padding-right: 20px;
}
