@value colors: "../../variables/colors.css";
@value cm_primary_blue from colors;
@value cm_grey_500 from colors;
@value cm_grey_100 from colors;
@value cm_blue_200 from colors;

.container{
  font-family: 'Gilroy';
  flex: 0 0 100%;
  justify-content: space-around;
  display: flex;
  padding-top: .3rem;
  box-sizing: border-box;
}

.step {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.step::before {
  border-color: cm_grey_500;
  width: 100%;
  position: absolute;
  border: 1px solid;
  height: 0px;
  display: block;
  z-index: 1;
  top: 38px;
  content: '';
}

.step:first-child:before {
  width: 50%;
  left: unset;
  right: unset;
  -webkit-transform: translateX(51%);
  -ms-transform: translateX(51%);
  transform: translateX(51%);
}

.step:last-child:before {
  width: 50%;
  left: 0;
}

.step::after {
  width: 0%;
  left: 0;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.dot {
  border-color: cm_grey_500;
  background-color: cm_grey_500;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-left: 2px;
  margin-bottom: 1px;
  border: 1px solid cm_grey_500;
}

.dot::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(.75);
  -ms-transform: scale(.75);
  transform: scale(.75);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.step.done .dot {
  border-color: cm_primary_blue;
  background-color: cm_primary_blue;
}

.outerDot {
  border-color: cm_grey_100;
  background-color: cm_grey_100;
  height: 16px;
  width: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  top: .125em;
  z-index: 12;
  margin: auto;
  border: 1px solid cm_grey_100;
}

.step.done .outerDot {
  border-color: cm_blue_200;
  background-color: cm_blue_200;
}

.label {
  font-size: 12px;
  display: block;
  margin: .5em 0;
  text-align: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}