@value colors: "../../variables/colors.css";
@value cm_primary_blue from colors;
@value cm_grey_500 from colors;
@value cm_grey_200 from colors;
@value cm_blue_200 from colors;
@value white from colors;

.container{
  font-family: 'Gilroy';
  flex: 0 0 100%;
  justify-content: space-around;
  display: flex;
  padding-top: .3rem;
  box-sizing: border-box;
}

.step {
  width: 100%;
  position: relative;
  padding: 0px 5px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  align-content: space-between;
}

.step::before {
  width: 100%;
  position: absolute;
  border: 1px solid cm_grey_500;
  height: 0px;
  display: block;
  z-index: 1;
  bottom: 17px;
  content: '';
}

.step:first-child:before {
  width: 50%;
  right: 0px;
}

.step:last-child:before {
  width: 50%;
  left: 0px;
}

.step::after {
  width: 0%;
  left: 0;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.dot {
  background-color: cm_grey_500;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-left: 3px;
  margin-top: 3px;
  border: 1px solid cm_grey_500;
}

.dot::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(.75);
  -ms-transform: scale(.75);
  transform: scale(.75);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.step.done .dot {
  border-color: cm_primary_blue;
  background-color: cm_primary_blue;
}

.outerDot {
  background-color: cm_grey_200;
  height: 18px;
  width: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  display: inline-block;
  position: relative;
  z-index: 12;
  margin: 0px auto;
  border: 8px solid white;
}

.step.done .outerDot {
  background-color: cm_blue_200;
}

.label {
  font-size: 12px;
  display: block;
  margin-bottom: 12px;
  text-align: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}