@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value dark from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.wrapper {
  background: xtraLightGrey;
  padding: 25px 45px;
  display: flex;
  align-items: center;
}

.texts {
  width: 100%;
}

.titleTexts {
  width: 80%;
}

.wrapper > .button {
  background-color: dark;
}

.icon {
  width: 32px;
  height: 32px;
}

.warning,
.title {
  margin-left: 10px;
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 13px;
}

.title {
  margin-left: 0;
}

.description {
  font-style: italic;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 13px;
}

@media mobile {
  .wrapper {
    display: block;
  }

  .button {
    display: block;
    width: 100%;
  }
}
