@value colors: '../../variables/colors.css';
@value white from colors;

.hoverFill {
  display: inline-block;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  transition-property: background-color;
  transition-duration: 0.3s;
  overflow: hidden;
}

.hoverFill::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: white;
  opacity: 0.15;
  transform: scale3d(0, 1, 1) skewX(70deg);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hoverFill:hover::after,
.hoverFill:focus::after,
.hoverFill:active::after {
  transform: scale3d(2, 1, 1) skewX(25deg);
}
