@value colors: "../../variables/colors.css";
@value orange from colors;
@value xtraLightGrey from colors;
@value white from colors;

.button {
  composes: hoverFill from './hover-fill.css';
  min-width: 200px;
  background-color: orange;
  text-transform: inherit;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  line-height: 52px;
  text-align: center;
  border: none;
}

.button::before {
  background-color: white;
  opacity: 0.15;
}

.button input {
  padding: 0 30px;
}

.button input:disabled {
  background-color: xtraLightGrey;
  cursor: default;
}
