@value colors: "../../variables/colors.css";
@value yellow from colors;
@value borderGrey from colors;

.button {
  border-radius: 2px;
  width: 200px;
  background-color: yellow;
}

.button:before {
  background-color: #fff;
  opacity: 0.15;
}

.button a,
.button input {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  line-height: 52px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button input {
  padding: 0 30px;
}

.button input:disabled {
  background-color: borderGrey;
  cursor: default;
}
