@value colors: "../../variables/colors.css";
@value cm_primary_blue from colors;
@value cm_grey_500 from colors;

.container {
    margin: 48px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: Gilroy;
  }
  
.firstMessage {
    color: cm_primary_blue;
    display: block;
    font-weight: 700;
    line-height: 22px;
  }
  
.secondMessage {
    color: cm_grey_500;
    display: block;
    font-weight: 600;
    line-height: 20px;
  }
