@value colors: "../../variables/colors.css";
@value brand from colors;
@value transparent from colors;
@value white from colors;

.button {
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  padding: 0 20px;
}

/*
  Small button
*/

.button {
  height: 42px;
  line-height: 38px;
  border-radius: 23px;
}

.smallButton {
  height: 32px;
  line-height: 28px;
  border-radius: 18px;
}

/*
  Light button
*/

.button {
  background-color: brand;
  border-color: brand;
  color: white;
}

.button:hover {
  background-color: white;
  border-color: brand;
  color: brand;
}

.lightButton {
  background-color: white;
  border-color: brand;
  color: brand;
}

.lightButton:hover {
  background-color: brand;
  border-color: brand;
  color: white;
}
