@value colors: "../../variables/colors.css";
@value brand from colors;
@value transparent from colors;
@value white from colors;
@value grey from colors;
@value negative from colors;

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  user-select: none;
}

/*
  Small button
*/

.button {
  height: 42px;
  line-height: 38px;
  border-radius: 23px;
}

.smallButton {
  height: 32px;
  line-height: 28px;
  border-radius: 18px;
}

.disabled {
  color: white;
  background-color: grey;
  cursor: auto;
}

/*
  Secondary button
*/

.button {
  border-width: 2px;
  border-style: solid;
  border-color: brand;
  background-color: brand;
  transition: background 0.5s, color 0.5s, border 0.5s;
  color: white;
}

.button:hover {
  color: white;
  background-color: color(brand blackness(+10%));
}

.secondaryButton {
  background-color: transparent;
  border-color: brand;
  color: brand;
}

.secondaryButton:hover {
  border-color: transparent;
}

/*
  Light button
*/

.lightButton {
  background-color: white;
  border-color: transparent;
  color: brand;
}

/*
  Logout button
*/
.logoutWrapper {
  display: flex;
  align-items: center;
  min-width: 120px;
  min-width: max-content;
}

.logoutButton {
  composes: lightButton;
  color: negative;
}

.logoutButton:hover {
  background-color: white;
  border-color: transparent;
  color: color(negative blackness(+10%));
}

.logoutButton:hover .logoutIcon {
  color: color(negative blackness(+10%));
}

.logoutIcon {
  composes: lightButton;
  padding-right: 8px;
  transition: all 0.5s;
  fill: none;
  stroke-width: 2px;
  color: negative;
}

.rectangularButton {
  composes: button;
  border-radius: 4px;
}

.fullWidth {
  width: 100%;
  text-align: center;
}
