@value colors: "../../variables/colors.css";
@value brand from colors;
@value xtraLightGrey from colors;
@value dark from colors;
@value light from colors;
@value primaryAdd3 from colors;
@value primaryAdd2 from colors;

.subscriptionFreemium {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscriptionFreemiumTitle {
  color: brand;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin: 10px;
}
.subscriptionFreemiumContent {
  color: dark;
  font-size: 14px;
  text-align: center;
  margin: 30px;
}

.subscriptionFreemiumButton {
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: primaryAdd2;
  border-radius: 50px;
  padding: 20px;
  margin: 20px 20px 0px 20px;
  border: none;
  cursor: pointer;
}

.subscriptionFreemiumButton:hover {
  background: primaryAdd3;
}
