@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value medium from colors;
@value xtraLightGrey from colors;
@value cm_grey_400 from colors;
@value dark from colors;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  margin-bottom: 24px;
}
.actionsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.title {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
}

.buttonCreate {
  width: 194px;
}

.selectMultiple {
  width: 291px;
}

.item {
  margin-bottom: 8px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listWithSelectMultiple {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 200px;
}

.tableHeaderWrapper {
  display: grid;
  grid-template-columns: 70% auto; 
  padding: 8px 16px;
  align-items: center;
  gap: 24px;
  border-radius: 7px;
  padding: 8px 16px;
}


.tableHeaderItem {
  display: flex;
  gap: 16px;
  flex: 1 0 0;
  overflow: hidden;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  color: var(--font-font-color-tertiary, #9999A8);
  text-overflow: ellipsis;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.dataColumnsWrapper {
  align-items: center;
  display: flex;
  width: 100%;
  margin-left: 24px;
}

.settings {
  align-items: center;
  display: flex;
  height: 100%;
}