@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value medium from colors;
@value xtraLightGrey from colors;
@value cm_grey_400 from colors;
@value cm_grey_500 from colors;
@value cm_grey_700 from colors;
@value dark from colors;
@value cm_primary_blue from colors;
@value cm_blue_600 from colors;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 24px;
}

.actionsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.title {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
}

.checkboxAndActionsWrapper {
  display: flex;
  gap: 24px; 
}

.selectMultiple {
  width: 291px;
}

.item {
  margin-bottom: 8px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listWithSelectMultiple {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 200px;
}

.tableHeaderWrapper {
  display: grid;
  grid-template-columns: 60% auto; 
  align-items: center;
  border-radius: 7px;
  padding: 8px 24px;
}


.tableHeaderItem {
  display: flex;
  flex: 1 0 0;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  color: var(--font-font-color-tertiary, #9999A8);
  text-overflow: ellipsis;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.dataColumnsWrapper {
  align-items: center;
  display: flex;
  width: 100%;
  align-content: space-between;
}

.settings {
  align-items: center;
  display: flex;
  height: 100%;
}


.loader {
  width: 60px;
  height: 60px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.inputWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.emptySearchResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cm_grey_700;
  font-family: Gilroy;
  margin-top: 40px;
}

.emptySearchResultTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}

.emptySearchResultDescription {
  color: cm_grey_500;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.emptySearchResultButton {
  color: cm_primary_blue;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  margin-top: 32px;
  width: auto;
}

.emptySearchResultButton:hover {
  color: cm_blue_600;
}
