@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value medium from colors;
@value xtraLightGrey from colors;
@value dark from colors;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  margin-bottom: 24px;
}
.actionsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.title {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
}

.buttonCreate {
  width: 194px;
}

.selectMultiple {
  width: 291px;
}

.item {
  margin-bottom: 8px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listWithSelectMultiple {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 200px;
}