@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.menuitem {
  width: 100%;
}

.list {
  list-style-type: none;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list:last-child {
  border-bottom: none;
}

.item {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  z-index: 9;
  vertical-align: top;
}

.item:hover {
  cursor: pointer;
}

.item a {
  font-family: Open Sans;
  font-size: 12px;
  padding: 4px;
  color: #4C616B;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 22px;
}

.item:hover a {
  color: #00b0ff;
}

.item:last-child a {
  border: solid 1px #ffb90d;
  color: #ffb90d;
}

.item:last-child:hover a {
  background: #ffb90d;
  border-color: #ffb90d;
  color: white;
}

.SubNav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 220px;
}

.item:hover .SubNav {
  display: block;
  color: #23527c;
}

@media mobile {
  .menuitem {
    display: none;
  }
}
