@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value brand from colors;

.background {
  width: 100%;
  height: 25px;
  background-color: xtraLightGrey;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progress {
  background-color: brand;
  border-radius: 5px;
  height: 100%;
  animation: progressbar 2s ease-in-out;
}

.texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.text {
  font-family: "Gilroy";
  font-size: 13px;
  text-transform: none;
}

.description {
  composes: text;
  margin-left: 10px;
}

.percentage {
  composes: text;
  margin-right: 10px;
}
.step {
  flex: 1 1 0px;
  border-right: 2px solid xtraLightGrey;
}
.step:last-child {
  opacity: 0;
}
.steps {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
}

@keyframes progressbar {
  0% {
    width: 0;
  }
}
