.container {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

.imagesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  flex: 1;
}