@value colors: "../../variables/colors.css";
@value lightGrey from colors;
@value darkGrey from colors;
@value white from colors;

.modulewrapper {
  position: relative;
  display: inline-block;
  flex: 0 1 33%;
  margin: 0 5px;
}

.filtered {
  composes: modulewrapper;
  opacity: 0.5;
}

.bubble {
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
  text-align: center;
}

.bubbleBG {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition-duration: 0.5s;
  margin: auto;
  border: 1px solid lightGrey;
  box-sizing: border-box;
  background-color: white;
}

.icon {
  position: absolute;
  display: inline-block;
  font-family: 'icons-default';
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  width: 38px;
  height: 38px;
  transition-duration: 0.5s;
}

.label {
  font-family: 'Open Sans';
  text-transform: uppercase;
  color: darkGrey;
  font-size: 9px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.bubble:hover .bubbleBG {

}

.bubble:active .bubbleBG {

}

.iconDisabled {
  composes: icon;
}

.bubble:hover .iconDisabled {
  color: white!important;
}
