@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../../variables/colors.css";
@value extraLightGrey from colors;

.list {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  background-color: extraLightGrey;
  width: 100%;
  padding: 20px 0;
}

.card {
  width: 600px;
  padding: 5px;
  box-sizing: border-box;
}

@media mobile {
  .list {
    align-items: stretch;
  }

  .card {
    width: 100%;
  }
}
