@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

@value colors: "../../../variables/colors.css";
@value xtraLightGrey from colors;

.list {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  background-color: xtraLightGrey;
  width: 100%;
}

.card {
  width: 600px;
  padding: 5px;
  box-sizing: border-box;
}

.card:first-child {
  margin-top: 20px;
}

.card:last-child {
  margin-bottom: 20px;
}

@media mobile {
  .list {
    align-items: stretch;
  }

  .card {
    width: 100%;
  }
}
