@value colors: "../../variables/colors.css";
@value white from colors;
@value cm_positive_100 from colors;
@value cm_negative_100 from colors;

.wrapper {
  width: 100%;
  height: 134px;
  font-family: Gilroy;
  color: white;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.popin {
  width: calc(100% - 80px);
  padding: 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  background-color: cm_positive_100;
  box-shadow: 0px 0px 68px rgba(53, 204, 127, 0.4);
}

.wrong {
  background-color: cm_negative_100;
  box-shadow: 0px 0px 68px rgba(239, 72, 74, 0.4);
}

.iconCircle {
  width: 60px;
  height: 60px;
  background: white;
  opacity: 0.7;
  border-radius: 60px;
}

.result {
  margin-left: 12px;
  width: 114px;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
}

.information {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
}

.information .label {
  width: 140px;
  height: 25px;
  padding: 4px 8px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 56px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information .message {
  display: block;
  margin-top: 4px;
}
