@value colors: "../../style/colors.css";
@value primary from colors;
@value defaultColor: primary;

.normal {
  font-size: 1.875rem;
  font-weight: normal;
  line-height: 2.25rem;
}

.disabled {
  composes: normal;
  opacity: 0.5;
}
