@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;
@value cm_grey_400 from colors;
@value cm_grey_500 from colors;
@value cm_grey_75 from colors;
@value cm_grey_50 from colors;
@value cm_primary_blue from colors;
@value white from colors;

.button {
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: cm_grey_400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: white;
}

.button:hover {
  background-color: cm_grey_100;
}

.selected {
  background-color: cm_grey_50;
  border: 2px solid cm_primary_blue;
}

.selected:hover {
  background-color: cm_grey_75;
  color: cm_grey_500;
}

.default {
  composes: button;
  width: 144px;
  height: 120px;
  border-radius: 12px;
  position: relative;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.checkIcon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 8px;
}

.iconText {
  font-size: 12px;
}