@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value medium from colors;
@value dark from colors;
@value light from colors;
@value black from colors;
@value white from colors;
@value grey from colors;
@value brand from colors;
@value negative from colors;

.wrapper {
  position: relative;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 36px 32px 32px;
  width: 100%;
  box-sizing: border-box;
}

.contentWrapperNoPadding {
  composes: contentWrapper;
}

.error {
  color: negative;
  text-align: center;
  border: solid 2px negative;
  padding: 36px 32px 32px;
  box-sizing: border-box;
  width: 80%;
  margin: 32px auto;
}

.loading {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.stepWrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: light;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}

.stepBar {
  position: absolute;
  z-index: 1;
  height: 4px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  transition: width 0.2s linear;
}

.infos {
  position: absolute;
  z-index: 1;
  background-color: light;
  color: dark;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.stepCount {
  composes: infos;
  right: 0;
  padding: 4px 5px 4px 10px;
  border-bottom-left-radius: 12px;
}

.guideWrapper {
  display: none;
  composes: infos;
  left: 0;
  padding: 4px 10px 4px 5px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.guideWrapper span {
  margin-right: 5px;
}

.guideWrapper::after {
  display: inline-block;
  content: 'тиа';
  transform: rotate(90deg);
}

.question {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 10px 0 4px;
  max-width: 100%;
}

.helpView {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 500;
  color: medium;
  flex-grow: 0.1;
  margin: 4px 0 10px;
  text-align: center;
}

.cta {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  font-family: 'Open Sans';
}

.cta:focus {
  border: 3px solid;
}

.ctaWrapper {
  display: flex;
  flex-grow: 0.1;
  padding-top: 15px;
  align-items: flex-end;
  font-family: 'Open Sans';
}

.footer {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}

.resourcesWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0.7;
  margin-top: 20px;
}

.clueWrapper {
  flex-grow: 0.7;
}

.stars {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  color: grey;
  letter-spacing: 0;
  width: 100%;
  margin: 24px 0;
  text-align: center;
  padding: 0 9px;
  box-sizing: border-box;
}

.contextDescription {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  color: grey;
  width: 100%;
  margin: 24px 0;
  padding: 0 9px;
}

.contextWrapper {
  margin: 25px auto;
}

.contextMedia {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media mobile {
  .wrapper {
    box-shadow: none;
    border-radius: 0;
  }

  .resourcesWrapper {
    width: 100%;
    margin-top: 12px;
  }

  .contentWrapper {
    padding: 32px 8px 16px;
    margin-bottom: 80px;
    overflow-y: auto;
  }

  .contentWrapperNoPadding {
    composes: contentWrapper;
    padding: 32px 0 16px;
  }

  .guideWrapper {
    display: none;
  }

  .question {
    margin: 10px 8px 4px;
    font-size: 17px;
  }

  .helpView {
    margin-bottom: 6px;
    font-size: 13px;
  }

  .ctaWrapper {
    text-align: center;
    display: block;
    width: 90%;
  }

  .cta {
    font-size: 18px;
    height: 53px;
    line-height: 53px;
    border-radius: 30px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .contextMedia {
    margin: 0 auto 25px;
  }
}
