@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;

@value colors: "../../../variables/colors.css";
@value medium from colors;
@value dark from colors;
@value light from colors;
@value black from colors;
@value white from colors;
@value brand from colors;

.wrapper {
  position: relative;
  box-shadow: 0 0 4px 5px rgba(0,0,0,0.04);
  border-radius: 3px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 32px 32px;
  width: 100%;
  box-sizing: border-box;
}

.contentWrapperHelpers {
  composes: contentWrapper;
  background-color: light;
}

.clue {
  background: brand;
  border: 10px solid white;
  margin-bottom: 24px;
  padding: 24px;
  text-align: center;
  width: 45%;
}

.icon {
  position: relative;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 8px;
  float: right;
}

.iconClue {
  position: absolute;
  color: brand;
  top: 0px;
  right: 4px;
  composes: fa from '../../../variables/fontawesome.css';
  composes: fa-puzzle-piece from '../../../variables/fontawesome.css';
}

.iconClue:before {
  line-height: 27px;
  font-size: 14px;
}

.clueText {
  font-family: 'Open Sans';
  font-style: italic;
  color: white;
  display: block;
  width: 100%;
  float: right;
}

.stepWrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: light;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}

.stepBar {
  position: absolute;
  height: 4px;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  transition: width 0.2s linear;
}

.infos {
  position: absolute;
  background-color: light;
  color: dark;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.stepCount {
  composes: infos;
  right: 0;
  padding: 4px 5px 4px 10px;
  border-bottom-left-radius: 12px;
}

.stepCount span {
}

.guideWrapper {
  composes: infos;
  left: 0;
  padding: 4px 10px 4px 5px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.guideWrapper span {
  margin-right: 5px;
}

.guideWrapper:after {
  display: inline-block;
  content: '⨠';
  transform: rotate(90deg);
}

.question {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.helpView {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 500;
  color: medium;
  margin-bottom: 25px;
}

.answerWrapper {
  max-width: 100%;
}

.picker {
}

.qcm {
}

.qcmImage {
}

.freeText {
}

.dropDown {
}

.range {
}

.cta {
  padding-left: 25px;
  padding-right: 25px;
}

.cta:focus {
  border: 3px solid;
}

.cta a {
  font-size: 16px;
}

.footer {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}

@media mobile {
  .wrapper {
    box-shadow: none;
    border-radius: 0;
  }

  .contentWrapper {
    padding: 32px 16px 16px;
    margin-bottom: 80px;
    overflow-y: auto;
  }

  .guideWrapper {
    display: none;
  }

  .question {
    margin-bottom: 16px;
    font-size: 17px;
  }

  .helpView {
    margin-bottom: 16px;
  }

  .answerWrapper {
    width: 100%;
    text-align: center;
  }

  .ctaWrapper {
    width: 100%;
    text-align: center;
  }

  .cta {
    padding: 23px 0;
    width: 100%;
  }

  .cta a {
    font-size: 18px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
