@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value white from colors;
@value black from colors;
@value xtraLightGrey from colors;
@value dark from colors;

.default {
  width: 350px;
  margin: 5px;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.default:hover {
  background-color: xtraLightGrey;
}

.title {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: black;
  flex-grow: 1;
}

.level {
  font-family: 'Open Sans';
  color: white;
  background-color: dark;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 10px;
  margin-left: 20px;
}

.module {
  margin-left: 20px;
}

@media mobile {
  .default {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
  }

  .level {
    margin-left: 10px;
  }

  .module {
    margin-left: 10px;
  }
}
