@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.default {
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.10);
}

.label {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 800;
  color: #fff;
  background-color: #000;
}

.level {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 1600;
  color: #000;
}
