@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value cm_grey_900 from colors;
@value primaryAdd1 from colors;
@value cm_grey_400 from colors;
@value cm_grey_500 from colors;
@value cm_primary_blue from colors;

.wrapper {
  font-family: Gilroy;
  align-items: center;
  background-color: color(xtraLightGrey a(90%));
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
}

.gridLayout {
  display: grid;
  grid-template-columns: 60% auto;
}

.disabled {
  opacity: 0.5;
}

.title {
  color: cm_grey_900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2 0 0;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtitle {
  font-size: 12px;
  line-height: 16px;
  color: cm_grey_400;
}

.cursorPointer {
  cursor: pointer;
}

.settings {
  align-items: center;
  display: flex;
  height: 100%;
  gap: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 16px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.titleProviderWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.providerTag {
  margin-left: 8px;
}

.order {
  width: 6px;
  height: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: cm_grey_400;
  margin: 0 16px 0 0;
}

.dataColumnsWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: space-between;
}

.hiddenOverflowX {
  overflow-x: hidden;
  margin-right: 5px;
}

.hiddenOverflowX:hover {
  overflow-x: auto;
}

.withSubtitle {
  padding: 8px 16px;

  .setting {
    gap: 8px;
  }
}
.containerImage {
  min-height: 56px;
  min-width: 56px;
}

.checkableSelected {
  border-radius: 12px;
  border: 2px solid cm_primary_blue;
  height: 80px;
}
