@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value cm_grey_900 from colors;
@value primaryAdd1 from colors;
@value cm_grey_400 from colors;

.wrapper {
  align-items: center;
  background-color: color(xtraLightGrey a(90%));
  border-radius: 7px;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
}

.title {
  color: cm_grey_900;
  flex-grow: 0;
  font-family: Gilroy;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: normal;
  margin-right: 24px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
 
}

.settings {
  align-items: center;
  display: flex;
  height: 100%; 
}

.tag {
  margin: 0 16px 0 0; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit {
  margin: 0 16px 0 0;
  min-width: 93px;
}

.order {
  width: 6px;
  height: 20px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: cm_grey_400;
  margin: 0 16px 0 0;
}
.orderWrapper {
  align-items: center;
  display: flex;
  width: 100%;
}