@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value cm_grey_900 from colors;
@value primaryAdd1 from colors;
@value cm_grey_400 from colors;
@value cm_grey_500 from colors;

.wrapper {
  align-items: center;
  background-color: color(xtraLightGrey a(90%));
  border-radius: 7px;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
  gap: 24px;
}

.gridLayout {
  display: grid;
  grid-template-columns: 60% auto; 
  background-color: red;
}

.title {
  color: cm_grey_900;
  flex-grow: 0;
  display: flex;
  height: 56px;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  font-family: Gilroy;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: normal;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.settings {
  align-items: center;
  display: flex;
  height: 100%;
  gap: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: yellow;
}

.tag {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cell {
  display: flex;
  height: 56px;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  color: cm_grey_500;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
}

.order {
  width: 6px;
  height: 20px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: cm_grey_400;
  margin: 0 16px 0 0;
}

.dataColumnsWrapper {
  align-items: center;
  display: flex;
  max-width: 80%;
}
