@value colors: "../../variables/colors.css";
@value white from colors;
@value cm_green_200 from colors;
@value cm_purple_200 from colors;
@value cm_orange_200 from colors;
@value lightBlack from colors;
@value cm_yellow_scorm from colors;
@value cm_bleu_article from colors;
@value cm_red_video from colors;
@value cm_violet_podcast from colors;

.level {
  font-family: Gilroy;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 7px;
  font-style: normal;
  color: white;
}

.base {
  composes: level;
  background-color: cm_green_200;
}

.advanced {
  composes: level;
  background-color: cm_purple_200;
}

.coach {
  composes: level;
  background-color: cm_orange_200;
}

.chapter {
  composes: level;
  background-color: lightBlack;
}

.scorm {
  composes: level;
  background-color: cm_yellow_scorm;
}

.article {
  composes: level;
  background-color: cm_bleu_article;
}

.video {
  composes: level;
  background-color: cm_red_video;
}

.podcast {
  composes: level;
  background-color: cm_violet_podcast;
}