@value colors: "../../variables/colors.css";
@value dark from colors;
@value medium from colors;
@value negative from colors;
@value xtraLightGrey from colors;
@value light from colors;
@value brand from colors;

.makeItFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 360px;
  height: 300px;
  background-color: #fafafa;
}

.baseText {
  text-transform: none;
  color: dark;
  font-family: 'Open Sans';
}
