@value colors: "../../variables/colors.css";
@value brand from colors;
@value dark from colors;
@value medium from colors;
@value battle from colors;
@value negative from colors;
@value xtraLightGrey from colors;

.makeItFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 360px;
  height: 300px;
  background-color: #fafafa;
}

.icon {
  width: 50px;
}

.baseText {
  text-transform: none;
  color: dark;
  font-family: 'Open Sans';
}

.wrapper {
  display: flex;
  justify-content: center;
  composes: box;
  position: relative;
  border-radius: 2%;
  border: solid 1px #eceff1;
}

.overlay {
  composes: box makeItFlex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.95;
  justify-content: center;
  pointer-events: none;
  height: 100%;
}

.overlay p {
  justify-content: center;
  text-transform: none;
  color: dark;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
}

.input {
  width: 25%;
  height: 25%;
  cursor: pointer;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: initial;
}

/* DropZonePlaceholder  */

.dropZonePlaceHolder {
  composes: makeItFlex;
  pointer-events: none;
  margin: 32px;
  width: 100%;
}

.inputWrapper {
  composes: makeItFlex;
  align-items: center;
  padding: 22px;
  min-height: 112px;
  justify-content: center;
  border: 1px dashed medium;
  width: 100%;
  text-align: center;
  border-radius: 3px;
}

.title {
  composes: baseText;
  font-size: 20px;
  text-transform: none;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
}

.description {
  composes: baseText;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  margin: 10px 0;
}

/*dropOverlay*/

.arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: xtraLightGrey;
  border: 10px solid rgba(0, 176, 255, 0.1);
}

.uploadLabel {
  composes: baseText;
  font-size: 16px;
  font-weight: 700;
}

/*Reporting*/

.reportingContainer {
  width: 100%;
  pointer-events: none;
}

.repport {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #eceff1;
  background-color: white;
  height: 20%;
}

.reportIcon {
  width: 20px;
}

.reportError {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.repport p {
  pointer-events: none;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

.successLabel {
  color: dark;
  font-size: 16px;
  font-weight: bold;
}

.fileName {
  font-size: 12px;
}

.repport span {
  font-size: 40px;
}

.errorReport {
  composes: baseText;
  height: 60%;
  color: negative;
}

.reporting ul {
  padding: 0;
  margin: 0;
}

/*Preview*/

.previewContainer {
  composes: makeItFlex;
  justify-content: center;

  height: 70%;
}
.previewContainer img {
  width: 60%;
}

.previewContainer video {
  width: 70%;
}
