@value colors: "../../variables/colors.css";
@value brand from colors;
@value dark from colors;
@value xtraLightGrey from colors;
@value negative from colors;
@value battle from colors;
@value orangeAdd from colors;
@value light from colors;
@value white from colors;
@value primaryAdd2 from colors;
@value medium from colors;

@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.paymentForm {
  margin: 5px;
  padding: 30px;
  box-shadow: 0 0 4px 0 light;
  background-color: white;
}

.acceptedCards {
  display: flex;
  align-items: center;
}

.acceptedCardsText {
  margin: 0 15px;
  color: dark;
}

.acceptedCardsCheck {
  width: 20px;
  height: 20px;
}

.acceptedCardsImage {
  height: 40px;
}

.cardNumber, .cardExpiry, .cardCvc {
  border: 1px solid medium;
  padding: 20px 10px;
}

.cardNumber {
  flex: 1;
}

.cardExpiry, .cardCvc {
  min-width: 45%;
}

.cardBlock {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.creditCardOwnerEmail {
  margin: 20px 0;
}

.creditCardOwnerEmailText {
  padding: 20px 0;
  text-align: center;
  word-wrap: break-word;
  color: dark;
}

.creditCardOwnerEmailSeparator {
  margin: 0px 40px;
  border: solid 1px xtraLightGrey;
  border-bottom: none;
}

.securedPayment {
  display: flex;
  align-items: flex-end;
}

.securedPaymentImage {
  width: 22px;
}

.securedPaymentText {
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 12px;
}

.paymentErrors {
  margin: 10px 0;
  padding: 10px;
  border: solid 1px negative;
  background-color: orangeAdd;
  color: negative;
  font-size: 12px;
}

.paymentWarning {
  margin: 10px 0;
  padding: 10px;
  border: solid 1px battle;
  background-color: white;
  color: battle;
  font-size: 12px;
}

.invalidElement {
  color: negative;
  box-shadow: 0 0 4px 0 negative;
}

.subscribeButtonContainer {
  display: flex;
  justify-content: center;
}

.subscribeButton {
  border: none;
  background-color: brand;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  height: 100px;
  white-space: pre-line;
  padding: 0 30px;
  max-width: 450px;
  cursor: pointer;
}

.subscribeButton:hover {
  background-color: primaryAdd2;
}

.subscribeButton:disabled {
  background-color: primaryAdd1;
  cursor: not-allowed;
}

.subscriptionDisclaimer {
  color: medium;
  font-size: 10px;
  margin: 25px 0;
  text-align: justify;
}

@media mobile {
  .paymentForm {
    padding: 20px;
  }
}

@media tablet {
  .acceptedCardsCheck {
    width: 14px;
    height: 14px;
  }

  .acceptedCardsText {
    font-size: 12px;
  }

  .acceptedCardsImage {
    height: 25px;
  }
}
