@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;
@value cm_negative_100 from colors;
@value cm_negative_300 from colors;
@value negative_100 from colors;
@value cm_grey_200 from colors;

.buttonMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttonMenuContainer.scrollable {
  max-height: 314px; /* 6.75 * 40px (hauteur d'un item) + 8px (gap) */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: cm_grey_200 transparent;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: cm_grey_200;
  border-radius: 3px;
}

.button {
  width: auto;
  min-height: 40px;
  height: 40px;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  pointer-events: auto;
  border-radius: 8px;
  /* prevents text selection when dragging 
  the mouse over the button */
  user-select: none;
}

.disabled {
  pointer-events: none;
}


.defaultStyle {
  background-color: transparent;
  color: cm_grey_700;
}

.defaultLeft {
  composes: defaultStyle;
  justify-content: flex-start;
}

.defaultStyle:hover {
  background-color: cm_grey_100;
}

.dangerous {
  composes: defaultStyle;
  color: cm_negative_300;
}

.dangerous:hover {
  background-color: negative_100;
}

.dangerousLeft {
  composes: dangerous;
  justify-content: flex-start;
}

