@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;
@value cm_grey_200 from colors;
@value cm_grey_900 from colors;
@value cm_negative_100 from colors;

.button {
  width: 100%;
  height: 44px;
  border-radius: 7px;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  pointer-events: auto;
  /* prevents text selection when dragging 
  the mouse over the button */
  user-select: none;
}

.disabled {
  opacity: 0.1;
  pointer-events: none;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  margin: 0 8px 0 8px;
  display: block;
}

.firstButton {
  border-radius: 7px 7px 0px 0px;
}

.lastButton {
  border-radius: 0px 0px 7px 7px;
}

.secondary {
  background-color: cm_grey_100;
  color: cm_grey_900;
}

.secondary:hover {
  background-color: cm_grey_200;
}

.dangerous {
  composes: secondary;
  color: cm_negative_100;
}
