@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;
@value cm_grey_200 from colors;
@value cm_grey_900 from colors;
@value cm_negative_100 from colors;

.button {
  width: 100%;
  height: 40px;
  font-family: Gilroy;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  pointer-events: auto;
  /* prevents text selection when dragging 
  the mouse over the button */
  user-select: none;
}

.disabled {
  opacity: 0.1;
  pointer-events: none;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  margin: 0 8px 0 8px;
  display: block;
}

.defaultStyle {
  background-color: cm_grey_100;
  color: cm_grey_900;
}

.defaultLeft {
  composes: defaultStyle;
  justify-content: flex-start;
}

.defaultStyle:hover {
  background-color: cm_grey_200;
}

.dangerous {
  composes: defaultStyle;
  color: cm_negative_100;
}

.dangerousLeft {
  composes: dangerous;
  justify-content: flex-start;
}

.buttonMenuWithIcon {
  background-color: transparent;
  font-weight: 600;
  width: 201px;
  justify-content: flex-start;
}

.buttonMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
