@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value cm_blue_900 from colors;
@value box_shadow_light_dark from colors;

.headerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 98px;
}

.titlesWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.fontDefault {
  font-family: 'Gilroy';
  font-weight: 700;
  display: flex;
}

.title {
  composes: fontDefault;
  color: cm_blue_900;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
}

.skillName {
  composes: fontDefault;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.stepsWrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}

.iconButtonWrapper {
  margin-top: 0;
  margin-right: 64px;
  position: relative;
}

.review {
  background-color: white;
  box-shadow: 0px 4px 16px box_shadow_light_dark;
}

/* 
 parenthesis doesn't work with @values &&
 not using them gives lparentexpected lint error
*/
@media tablet and (min-width: 641px) {
  .titlesWrapper {
    margin-left: 32px;
    width: 100%;
  }
  
  .fontDefault {
    font-family: 'Gilroy';
    font-weight: 700;
    display: flex;
  }
  
  .title {
    font-size: 18px;
    line-height: 24px;
  }
  
  .skillName {
    font-size: 14px;
    line-height: 20px;
    max-width: 28%;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .iconButtonWrapper {
    margin-right: 33px;
  }

}

@media mobile {
  .headerWrapper {
    height: 126px;
    align-items: start;
  }

  .stepsWrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
  }

  .titlesWrapper {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 10px;
    width: 100%;
    overflow: hidden;
  }

  .iconButtonWrapper {
    margin-top: 20px;
    margin-right: 20px;
  }

  .title {
    font-size: 16px;
    line-height: 22px;
  }

  .skillName {
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: inherit;
    display: block;
  }
}
