@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;

.container {
  font-family: Gilroy;
  width: 256px;
  height: 334px;
  border: 1px cm_grey_100 solid;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  height: 44px;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.circularProgressBarContainer {
  padding: 14px;
}
