.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.errorMessage {
  width: 80%;
  font-family: 'Open Sans';
  font-size: 15px;
  color: white;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  text-align: center;
}
