@value colors: "../../variables/colors.css";
@value black from colors;

.list {
  padding: 10px 10px 50px;
}

.list .item {
  width: 800px;
  height: 310px;
  background: black;
  position: relative;
}

.checkbox {
  display: none;
}

.image {
  height: auto;
}

.iframe {
  composes: iframe from '../video-iframe/style.css';
}

.togglerDisplay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.checkbox:checked ~ .iframe {
  display: block;
}

.checkbox:checked ~ .togglerDisplay {
  display: none;
}
