@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value medium from colors;
@value black from colors;

.input {
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: none;
  padding: 0 15px;
  border: solid 2px;
  border-color: medium;
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  width: 230px;
  outline: none;
}

.input::placeholder {
  color: black;
}

.input:focus {
  outline: none;
}

@media mobile {
  .wrapper {
    width: 304px;
    box-sizing: border-box;
  }

  .input {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
}

