.hoverFill {
  display: inline-block;
  transform: translateZ(0);
  backface-visibility: hidden;
  position: relative;
  transition-property: background-color;
  transition-duration: 0.3s;
  overflow: hidden;
}

.hoverFill:before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0) skewX(70deg);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.hoverFill:hover:before,
.hoverFill:focus:before,
.hoverFill:active:before {
  transform: scaleX(2) skewX(25deg);
}
