@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value grey from colors;
@value dark from colors;
@value black from colors;
@value lightBlack from colors;
@value xtraLightGrey from colors;
@value white from colors;

.microLearningCardInfo {
  flex: 1 0 auto;
}

.microLearningIcon {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 53px;
}

.microLearningIcon svg {
  background:white;
  border-radius: 50%;
  margin: 0 auto;
  padding: 3px;
  box-sizing: content-box; 
  color: lightBlack;
}

.microLearninglabel {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 800;
  color: lightBlack;
  text-transform: uppercase;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  text-align: left;
  margin-top: 5px;
  font-size: 17px;
  letter-spacing: 0;
  font-family: 'Open Sans';
  overflow: hidden;
  user-select: none;
}

.coorpmanager,
.title {
  composes: title;
  font-size: 12px;
  font-weight: bold;
}

.lightTitle {
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.darkTitle {
  color: lightBlack;
}

.darkAuthorTitle {
  color: dark;
}

.author {
  display: flex;
  text-align: left;
  align-items: center;
  font-size: 12px;
  width: 100%;
  font-family: 'Open Sans';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 100;
  user-select: none;
}

.coorpmanager,
.author {
  font-size: 8px;
}

.hero .title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.card .author {
  margin-top: 5px;
}

.coorpmanager,
.card .author {
  margin-top: 0px;
}

.hero .author {
  margin-top: 9px;
  margin-bottom: 24px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 6px black;
  justify-content: center;
}

.infoWrapper.progressBarDisabled {
  padding-bottom: 35px;
}

.infoWrapper.hero {
  height: auto;
  justify-content: center;
}

.infoWrapper.card {
  height: 100%;
  justify-content: flex-end;
}

.infoWrapper.empty {
  padding-bottom: 25px;
}

.title.empty::before {
  content: '▅▅▅▅▅▅▅▅▅▅▅  ▅▅▅▅▅▅▅▅▅';
}

.author.empty::before {
  content: '▅▅▅▅▅▅▅▅▅';
}

.progress {
  display: block;
  height: 4px;
  animation: progressbar 2s ease-in-out;
}

.adaptiveIcon {
  font-size: 5px;
  width: 25px;
  height: 25px;
  color: lightBlack;
  margin-right: 5px;
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.authorIcon {
  width: 12px;
  height: 12px;
  margin-left: 0.25em;
}

.iconShadow {
  filter: drop-shadow(1px 1px 6px grey);
  color: white;
}

@keyframes progressbar {
  0% {
    width: 0;
  }
}

.progressDefaultWrapper {
  position: relative;
  left: 0;
  width: 194px;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  margin: 16px auto;
  background: light;
}

.progressWrapper {
  composes: progressDefaultWrapper;
  height: 4px;
  margin: 16px auto;
}

.coorpmanager,
.progressWrapper {
  composes: progressDefaultWrapper;
  height: 2px;
  margin: 11px auto;
}

.card .progressWrapper {
  width: 150px;
}

.hero .progressWrapper {
  margin: 0 auto;
}

.contentTypeInfo {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 700;
}

.externalContent .cardInfo {
  flex-grow: 2;
  max-height: 115px;
  overflow: hidden;
}

@media mobile {
  .author {
    font-size: 12px;
    margin-top: 5px;
  }

  .hero .title {
    font-size: 17px;
  }
}

@media tablet {
  .hero .author {
    font-size: 12px;
  }
}

.hideProgressBar {
  composes: progressWrapper;
  opacity: 0;
}
