@value transitionTime: 0.5s;
@value localTransition: border-radius transitionTime ease, height transitionTime ease;
@value cardWidth: 205px;

@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

@value colors: "../../variables/colors.css";
@value white from colors;
@value light from colors;
@value medium from colors;
@value black from colors;

/*-------------------------------------------------- Card */

.default {
  width: cardWidth;
  margin: 10px;
  overflow: hidden;
  transition: localTransition;
  transition-delay: 0s;
  border-radius: 3px;

  animation-name: disciplineCardFadeIn;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

.hidden {
  composes: default;
  height: 0;
  width: 0;
  margin: 0;
  transition: localTransition;
  transition-delay: 1s;
  animation-name: disciplineCardFadeOut;
}

/*-------------------------------------------------- Text */
.disciplineWrapper {
  position: relative;
  background: white;
  height: 110px;
  margin: 0;
  transition: localTransition;
  overflow: hidden;
}

.coverWrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.coverColorWrapper {
  composes: coverWrapper;
}

.cover {
  width: 100%;
}

.gradient {
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, black 100%);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.textWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  cursor: pointer;
}

.textWrapper:hover .title {
  text-decoration: underline;
}

.title {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 800;
  color: white;;
  text-shadow: 0 0 2px rgba(0,0,0,0.50);
}

.bar {
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.arrow {
  display: none;
}

.modulesWrapper {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: localTransition;
  border: solid 1px light;
  border-top: none;

  animation-duration: 0.3s;
  animation-name: disciplineCardFadeIn;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@media mobile {

  .default {
    width: auto;
    margin: 5px;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.10);
    flex: 0 0 80px;
  }

  .disciplineWrapper {
    height: 80px;
    background-color: white;;
    background-image: none;
    font-size: 15px;
    color: black;
    letter-spacing: 0;
  }

  .coverWrapper {
    display: none;
  }

  .textWrapper {
    justify-content: space-between;
    align-items: center;
  }

  .textWrapper:hover .title {
    text-decoration: none;
  }

  .title {
    color: black;
    text-shadow: none;
  }

  .arrow {
    display: block;
    width: 10px;
    height: 20px;
    margin-left: 20px;
  }

  .arrow:before {
    position: absolute;
    font-size: 14px;
    top: 50%;
    margin-top: -6px;
    color: medium;
  }

  .modulesWrapper{
    display: none;
  }
}

/*-------------------------------------------------- Animation */

@keyframes disciplineCardFadeIn {
  0% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes disciplineCardFadeOut {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}
