@value transitionTime: 0.5s;
@value localTransition: border-radius transitionTime ease, height transitionTime ease;
@value cardWidth: 205px;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

/*-------------------------------------------------- Card */

.default {
  display: inline-block;
  width: cardWidth;
  margin: 10px;
  overflow: hidden;
  transition: localTransition;
  transition-delay: 0s;

  animation-name: disciplineCardFadeIn;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

.hidden {
  composes: default;
  height: 0;
  width: 0;
  margin: 0;
  transition: localTransition;
  transition-delay: 1s;
  animation-name: disciplineCardFadeOut;
}

@media mobile {
  .default {
    width: 90%;
    margin: 5px;
  }
}

/*-------------------------------------------------- Text */
.area {
  position: relative;
  background: white;
  height: 75px;
  margin: 0;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: localTransition;
  overflow: hidden;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 2;
}
.wrapperCover {
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 75px;
  background-color: #fff;
}
.cover {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
}

.headerModule {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.arrow {
  display: none;
}

@media mobile {
  .default{
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.10);
  }
  .area {
    background-color: #fff;
    background-image: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 15px;
    color: #010101;
    letter-spacing: 0;
  }
  .wrapperCover {
    display: none;
  }
  .bar {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .text {
    align-items: center;
  }
  .headerModule {
    color: #010101;
  }

  .arrow {
    display: block;
    position: absolute;
    right: 25px;
    composes: fa from '../../variables/fontawesome.css';
    composes: fa-chevron-right from '../../variables/fontawesome.css';
  }

  .arrow:before {
    position: absolute;
    font-size: 14px;
    top: 50%;
    margin-top: -6px;
    color: #B0BEC5;
  }
}

/*-------------------------------------------------- Modules */

.moduleProgressionWrapper {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px #E0E0E0;
  border-top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: localTransition;

  animation-duration: 0.3s;
  animation-name: disciplineCardFadeIn;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@media mobile {
  .moduleProgressionWrapper{
    display: none;
  }
}

/*-------------------------------------------------- Animation */

@keyframes disciplineCardFadeIn {
  0% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes disciplineCardFadeOut {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}
