@value colors: "../../variables/colors.css";
@value light from colors;

@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.parent {
    background-color: light;
}

.cart {
    width: 90%;
    max-width: 1175px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cartBlock {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

@media mobile {
  .cart {
    width: 100%;
  }

  .cartBlock {
    max-width: 100%;
    width: 100%;
  }
}

.backButton {
  border: none;
  text-align: center;
  margin: 10px 5px;
  padding: 20px 0;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  background: #ECEFF1;
  color: #90A4AE;
}
