@font-face {
  font-family: 'icons-default';
  src:url('./assets/fonts/icons-default.eot');
  src:url('./assets/fonts/icons-default.eot?#iefixulqsyy') format('embedded-opentype'),
  url('./assets/fonts/icons-default.woff') format('woff'),
  url('./assets/fonts/icons-default.ttf') format('truetype'),
  url('./assets/fonts/icons-default.svg') format('svg');
}

@font-face {
  font-family: 'social-icons';
  src:url('./assets/fonts/social-font.woff') format('woff'),
  url('./assets/fonts/social-font.ttf') format('truetype'),
  url('./assets/fonts/social-font.svg') format('svg');
}
