@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 1252px;
  margin: auto;
}

.title {
  position: relative;
  font-family: OpenSans;
  font-weight: 700;
  font-size: 28px;
  color: #546E7A;
  margin-bottom: 50px;
  margin-left: 350px;
}

.title:before {
  content: "";
  position: absolute;
  background-color: rgba(255, 185, 13, 0.6);
  height: 15px;
  width: 115px;
  z-index: -1;
  top: 20px;
  left: -20px;
}

.catalogWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.categoriesWrapper {
  position: relative;
  z-index: 1;
  width: 230px;
  float: left
}

.productsWrapper {
  box-sizing: border-box;
  padding-left: 320px;
  width: 100%
}

@media desktop {
  .wrapper {
    max-width: 960px;
  }
}

@media tablet {
  .wrapper {
    max-width: 670px;
  }

  .title {
    margin-left: 320px;
  }

  .productsWrapper {
    padding-left: 290px;
  }
}

@media mobile {
  .title {
    margin-left: 0px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
  }

  .wrapper {
    max-width: 670px;
    position: relative;
    text-align: center;
  }

  .catalogWrapper {
    text-align: left;
  }

  .categoriesWrapper {
    width: 100%;
    float: none;
    margin: 0 auto;
  }

  .productsWrapper {
    padding-left: 0px;
    text-align: center;
  }

}
