@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value desktop from breakpoints;
@value wide from breakpoints;

.wrapper {
  composes: wrapper from '../layout.css';
  display: block;
  overflow: hidden;
  padding: 20px;
}

.cardsTitle {
  composes: cardsTitle from '../layout.css';
}

.column {
  margin-bottom: 30px;
}

.leftColumn {
  composes: column;
}

.rightColumn {
  composes: column;
}

.header, .products {
  composes: leftColumn;
}

.cta, .details {
  composes: rightColumn;
}

.leftColumn {
  float: left;
  width: 840px;
}

.rightColumn {
  float: right;
  width: 280px;
}

@media desktop {
  .wrapper {
    display: flex;
  }

  .column {
    display: flex;
    flex-basis: 100%;
  }

  .header {
    order: 1;
  }
  .cta {
    order: 2;
  }
  .details {
    order: 5;
    display: flex;
  }
  .products {
    order: 5;
  }
  .details > * {
    flex-grow: 1;
  }
}

.productsWrapper {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%
}

.productsContainer {
  display: inline-block;
  vertical-align: top;
}

@media mobile {
  .details {
    flex-flow: column;
  }

  .details > * {
    margin-bottom: 30px;
  }
  .details > *:last-child {
    margin-bottom: 0;
  }
}
