@value colors: "../../variables/colors.css";
@value defaultText from "../../variables/fonts.css";

.container { 
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    border-radius: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imageBox{
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden; 
}

.content{
    position: relative;
    z-index: 1;
    margin-bottom: 5%;
}

.zoom::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-size: cover;
    transform-origin: center;
    transition: all 1s ease-out;
}

.filtre{
    width:100%
}

.filtre:after{
    content:'';
    position: absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.25);
    opacity: 0;
    transition: all 1s;
}

.container:hover .filtre::after{
    opacity:1;
}

.zoom::after{
    transition: all 0.25s ease-out;
}

.container:hover .zoom::after{
    transform: scale(1.1);
    transition: all 1s ease-out;
}

.avatar {
    align-items: center;
    align-content: center;
    justify-content: center;
    width:auto;
}

.image{
    width: 100%;
    height: 100%;
    flex-basis: 70%;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden; 
    display: inline-block;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: solid 1px lightGrey;
    border-right: solid 1px lightGrey;
    border-bottom: solid 1px lightGrey;
}

.lightButton{
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Gilroy';
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 20px;
    cursor: pointer;
    user-select: none;
    height: 42px;
    line-height: 38px;
    border-radius: 23px;
    background-color: white;
    border-color: transparent;
}


.levelContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
}

.level {
    text-align: center;
    font-family: 'Gilroy';
    border: solid 1px #ffffff;
    color: white;
    padding: 0px 15px;
    border-radius: 50px;
    font-size: 10px;
    width: fit-content;
    margin-top: 10px;
    margin-right: 10px;
  }

.level p{
    margin-top: 5px;
    margin-bottom: 5px;
}