@value defaultText from "../../variables/fonts.css";

.avatar {
    align-items: center;
    align-content: center;
    justify-content: center;
    width:auto;
    display: flex;
    flex-direction: column;
}

.wrapper{
    text-align: center;
    font-size: 15px;
    composes: defaultText;
    color: #ffffff;
    line-height: normal;
}

.wrapper p{
    margin-top: 1px;
    margin-bottom: 5%;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}