@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value dark from colors;
@value transparent from colors;

.wrapperNone {
  display: none;
}

.wrapper {
  display: flex;
  padding: 65px 25px 7px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.choice {
  width: 25%;
  padding: 5px 1%;
  position: relative;
  box-sizing: border-box;
}

.radioGroup {
  margin-top: 22px;
}

.timerWrapper {
  composes: choice;
  padding-bottom: 24px;
}

.title {
  color: dark;
  margin: 0;
  display: block;
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 700;
  text-transform: none;
  width: 100%;
  user-select: none;
}

.timerSubtitle {
  border-radius: 25px;
  color: dark;
  display: table;
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 7px;
  text-align: center;
  user-select: none;
  width: auto;
}

.choice label {
  margin: 0;
}

.choice select {
  background: transparent;
}

.toggle {
  padding-top: 10px;
}

@media tablet {
  .wrapper {
    flex-wrap: wrap;
    padding: 65px 10px 0;
    justify-content: space-between;
  }

  .choice {
    width: 50%;
    padding: 12px 3%;
  }

  .timerWrapper {
    padding-bottom: 24px;
  }
}

@media mobile {
  .wrapper {
    padding: 65px 0 0;
  }

  .choice {
    padding: 10px 0;
    width: 100%;
  }

  .timerWrapper {
    padding-bottom: 24px;
  }

  .toggle {
    padding-top: 0;
    width: 52px;
  }
}
