@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value dark from colors;
@value xtraLightGrey from colors;
@value light from colors;
@value white from colors;
@value transparent from colors;

.search {
  display: block;
  width: 100%;
  position: relative;
  z-index: 4;
  font-family: "Gilroy";
  background: xtraLightGrey;
  min-height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid light;
}

.default {
  display: none;
  padding: 25px 0;
  width: 100%;
  background: white;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.activeDefault {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.wrapperFilters {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background: white;
}

.title {
  display: block;
  color: dark;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  font-family: Gilroy;
  position: relative;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  margin-left: 14px;
}

.arrow svg {
  vertical-align: middle;
}

.activeDefault .arrow,
.activeWrapperSortBy .arrow {
  transform: rotate(180deg);
  transition: transform 0.4s ease-out;
}

.default .arrow,
.wrapperSortBy .arrow {
  transform: rotate(0deg);
  transition: transform 0.4s ease-out;
}

.wrapperSortBy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: light;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.activeWrapperSortBy {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.select {
  width: 25%;
}

.CTAfilter {
  composes: hoverFill from '../../atom/button/hover-fill.css';
  display: none;
}

.default,
.wrapperSortBy,
.activeDefault,
.activeWrapperSortBy {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  padding: 0;
  background: xtraLightGrey;
}

.default {
  border-right: solid 1px light;
  border-bottom: solid 1px light;
}

.activeDefault {
  border-right: solid 1px light;
  background: light;
}

.activeWrapperSortBy {
  border-left: solid 1px light;
  background: light;
}

.wrapperSortBy {
  border-left: solid 1px light;
  border-bottom: solid 1px light;
}

.wrapperFilters,
.sorting,
.activeWrapperFilters,
.activeSorting {
  width: 100%;
  box-sizing: border-box;
  background: light;
}

.activeSorting {
  max-height: 150px;
  overflow: hidden;
  padding: 70px 15px 10px;
  opacity: 1;
}

.sorting {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  opacity: 0;
}

.wrapperFilters {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  opacity: 0;
}

.activeWrapperFilters {
  max-height: 270px;
  overflow: hidden;
  padding: 0 15px;
  opacity: 1;
}

.activeWrapperFilters .wrapper label {
  margin-left: 0;
}

.sorting .select label div,
.activeSorting .select label div {
  top: 50%;
}

.sorting .select select,
.activeSorting .select select {
  background: transparent;
}

.sorting .select,
.activeSorting .select {
  width: 21%;
  padding-left: 36px;
}

.sorting label,
.activeSorting label {
  margin: 0;
}

.sorting .select label span:first-child,
.activeSorting .select label span:first-child {
  display: none;
}

[data-animated='true'] .sorting {
  transition: all 0.4s ease-out;
}

[data-animated='true'] .activeSorting {
  transition: all 0.4s ease-out;
}

[data-animated='true'] .wrapperFilters {
  transition: all 0.4s ease-out;
}

[data-animated='true'] .activeWrapperFilters {
  transition: all 0.4s ease-out;
}

[data-animated='false'] .activeWrapperFilters {
  animation: open-filters-desktop 0.4s ease-out 0s;
}

[data-animated='false'] .activeSorting {
  animation: open-sorts 0.4s ease-out 0s;
}

[data-animated='false'] .activeDefault .arrow,
[data-animated='false'] .activeWrapperSortBy .arrow {
  animation: rotate 0.4s ease-out 0.2s;
}

@keyframes open-filters-desktop {
  0% {max-height: 0px;}
  100% {max-height: 270px;}
}

@keyframes open-filters-tablet {
  0% {max-height: 0px;}
  100% {max-height: 380px;}
}

@keyframes open-filters-mobile {
  0% {max-height: 0px;}
  100% {max-height: 850px;}
}

@keyframes open-sorts {
  0% {max-height: 0px;}
  100% {max-height: 150px;}
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}

@media tablet {
  .search {
    border-top: 1px solid light;
  }

  .activeWrapperFilters {
    max-height: 380px;
  }

  [data-animated='false'] .activeWrapperFilters {
    animation: open-filters-tablet 0.4s ease-out 0s;
  }

  .select {
    width: 50%;
  }

  .sorting .select,
  .activeSorting .select {
    width: 44%;
    padding: 0 20px;
  }

  .sorting label,
  .activeSorting label {
    margin: 0;
  }
}

@media mobile {
  .search {
    border-top: 1px solid light;
  }

  .activeSorting {
    padding: 65px 10px 0;
    max-height: 200px;
  }

  .activeWrapperFilters {
    max-height: 850px;
  }

  [data-animated='false'] .activeWrapperFilters {
    animation: open-filters-mobile 0.4s ease-out 0s;
  }

  .sorting,
  .activeSorting {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sorting label,
  .activeSorting label {
    margin: 0;
    width: 100%;
  }

  .sorting .select,
  .activeSorting .select {
    display: inline-block;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
  }

  .wrapperFilters .wrapper,
  .activeWrapperFilters .wrapper,
  .activeWrapperFilters .wrapper label {
    width: 100%;
  }

  .wrapperFilters .CTAfilter,
  .sorting .CTAfilter,
  .activeWrapperFilters .CTAfilter,
  .activeSorting .CTAfilter {
    display: block;
    width: 100%;
    height: 49px;
    margin-top: 20px;
    line-height: 50px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    position: relative;
    bottom: 15px;
  }

  .activeWrapperFilters .CTAfilter::before,
  .activeSorting .CTAfilter::before {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
