@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value mobile from breakpoints;
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value darkGrey from colors;
@value borderGrey from colors;

.search {
  display: block;
  width: 100%;
  position: relative;
  z-index: 5;
  font-family: "Open Sans";
  background: light;
  min-height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
}

.wrapperNone {
  display: none;
}

.default {
  display: none;
  padding: 25px 0;
  width: 100%;
  background: white;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.activeDefault {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.wrapperFilters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 135px;
  height: auto;
  padding: 0 4%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background: white;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 25px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.title {
  display: block;
  color: darkGrey;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  font-family: Open Sans;
  position: relative;
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-chevron-down from '../../variables/fontawesome.css';
}
.title:before {
  display: block;
  right: 25%;
  position: absolute;
  font-size: 14px;
  right: 35%;
  color: inherit;
}

.wrapperSortBy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: light;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.activeWrapperSortBy {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.select {
  width: 25%;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px 10%;
  box-sizing: border-box;
  background: light;
}

.sorting .title {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: darkGrey;
}

.sorting label {
  float: right;
  flex-wrap: nowrap;
  width: 150%;
}

.sorting label span {
  padding-top: 8px;
  padding-right: 10px;
  font-weight: 700;
  text-align: right;
  font-size: 13px;
}

.sorting label div {
  margin-top: -20px;
}

.CTAfilter {
  display: none;
}

.default,
.wrapperSortBy,
.activeDefault,
.activeWrapperSortBy {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  padding: 0;
  background: borderGrey;
}

.choice {
  width: 25%;
  padding: 10px 20px;
  position: relative;
}

.choice label {
  margin: 0;
}

.choice label span {
  font-size: 13px;
  color: darkGrey;
  user-select: none;
}

.choice select {
  font-size: 12px;
  background: borderGrey;
}

.default {
  border-right: solid 1px light;
}

.activeDefault {
  border-right: solid 1px light;
  background: light;
}

.activeWrapperSortBy {
  border-left: solid 1px light;
  background: light;
}

.wrapperSortBy {
  border-left: solid 1px light;
}
.default .title:before,
.wrapperSortBy .title:before,
.activeDefault .title:before,
.activeWrapperSortBy .title:before {
  font-family: FontAwesome;
}

.activeDefault .title,
.activeWrapperSortBy .title,
.activeDefault .title:before,
.activeWrapperSortBy .title:before {
  color: inherit;
}

.activeDefault .title:before,
.activeWrapperSortBy .title:before {
  transform: rotate(180deg);
  transition: transform .4s ease-out;
}
.default .title:before,
.wrapperSortBy .title:before {
  transform: rotate(0deg);
  transition: transform .4s ease-out;
}

.wrapperFilters,
.sorting,
.activeWrapperFilters,
.activeSorting {
  width: 100%;
  padding: 50px 0 0;
  box-sizing: border-box;
  background: light;
}
.activeSorting {
  padding: 75px 25px 25px;
}

.sorting,
.wrapperFilters {
  display: none;
}

.activeSorting,
.activeWrapperFilters {
  visibility: visible;
}

.wrapperFilters .wrapper,
.activeWrapperFilters .wrapper {
  display: flex;
  justify-content: flex-start;
}

.activeWrapperFilters .wrapper label {
  margin-left: 0;
}

.sorting .select label div,
.activeSorting .select label div {
  top: 50%;
}

.sorting .select select,
.activeSorting .select select  {
  background: borderGrey;
}

.sorting .select label span,
.activeSorting .select label span {
  display: none;
}

@media desktop {
  .sorting label,
  .activeSorting .select {
    width: 25%;
  }
}

@media tablet {
  .wrapper {
    flex-wrap: wrap;
    padding: 10px;
  }

  .choice {
    width: 45%;
    padding: 10px;
  }

  .wrapperFilters {
    padding: 0 32px;
  }

  .wrapperFilters .wrapper,
  .activeWrapperFilters .wrapper {
    justify-content: space-between;
  }

  .select {
    select: 50%;
  }

  .sorting label,
  .activeSorting .select {
    width: 50%;
  }
}

@media mobile {
  .activeSorting {
    padding: 75px 0 10px;
  }

  .wrapper {
    padding: 0;
  }

  .choice{
    padding: 10px 0;
    width: 100%;
  }

  .sorting label,
  .activeSorting label {
    margin: 0;
    width: 100%;
  }

  .sorting .select,
  .activeSorting .select {
    display: inline-block;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  .wrapperFilters .wrapper,
  .activeWrapperFilters .wrapper,
  .activeWrapperFilters .wrapper label {
    width: 100%;
  }

  .wrapperFilters .CTAfilter,
  .sorting .CTAfilter,
  .activeWrapperFilters .CTAfilter,
  .activeSorting .CTAfilter {
    display: block;
    width: 100%;
    height: 49px;
    margin-top: 16px;
    line-height: 50px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    position: relative;
    bottom: 0;
  }
  .activeWrapperFilters .CTAfilter:before,
  .activeSorting .CTAfilter:before {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
