@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value mobile from breakpoints;
@value tablet from breakpoints;

.toggleBox {
  position: absolute;
  left: -99999px;
  top: -99999px;
}

.toggler {
  display: none;
  content: "≡";
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
}

.list {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list li:last-child {
  padding-right: 0;
}

.item {
  display: inline-block;
  position: relative;
  padding: 15px;
  z-index: 9;
}

.item:hover {
  cursor: pointer;
}

.item > a {
  font-family: Open Sans;
  font-size: 12px;
  color: #4C616B;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 22px;
  display: inline-block;
}

.item:hover > a {
  color: #00b0ff;
}

.button {
 composes: item;
 cursor: default;
 padding: 0 5px;
}

.button a {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 2px;
  font-weight: 500;
}

.primary {
  composes: button;
}

.primary a {
  border: solid 1px #ffb90d;
  color: #ffb90d;
}

.primary a:hover {
  background: #ffb90d;
  border-color: #ffb90d;
  color: white;
}

.secondary {
  composes: button;
}

.secondary a {
  border: solid 1px #4C616B;
  color: #4C616B;
}

.secondary a:hover {
  border: solid 1px #4C616B;
  background-color: #4C616B;
  color: white;
}

.subNav {
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1000;
  min-width: 230px;
}

.item:hover .subNav {
  display: block;
}

.transifexList {
  display: inline-flex;
  list-style: none;
  text-align: left;
  padding: 0 20px;
}

.transifexList:after {
  position: relative;
  top: 5px;
}

@media tablet {
  .list {
    position: fixed;
    height: 100%;
    width: 275px;
    top: 0;
    right: -280px;
    background-color: #ECEFF1;
    box-shadow: 1px 0 10px grey;
    transition: right 0.2s ease-out;
    overflow: auto;
    padding: 10px 0;
  }

  .item {
    display: block;
    padding: 5px 0;
    text-align: center;
    border-bottom: solid 2px #eee;
    position: relative;
  }

  .subNav {
    display: block;
    position: relative;
    top: auto;
    min-width: auto;
    left: auto;
  }

  .item:hover > a {
    color: inherit;
  }

  .button {
    cursor: default;
    margin: 10px 0;
    padding: 0 20px;
  }

  .button a {
    width: 100%;
    box-sizing: border-box;
  }

  .button a:hover {
    color: #ffffff;
  }

  .secondary a {
    border: solid 1px #4C616B;
    color: #4C616B;
  }

  .primary > a {
    border: solid 1px #ffb90d;
    color: #ffb90d;
  }

  .toggler {
    display: block;
  }

  .toggleBox {
    display: block;
  }

  .toggleBox:checked ~ .toggler {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .toggleBox:checked ~ .list {
    display: block;
    right: 0;
  }
}
