@value colors: "../../variables/colors.css";
@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value mobile from breakpoints;
@value white from colors;
@value cm_grey_50 from colors;
@value cm_grey_100 from colors;
@value cm_grey_500 from colors;

.backgroundContainer {
  background-color: white;
  min-height: 100%;
  width: 100%;
  font-family: "Gilroy";
  font-style: normal;
}

.container {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  max-width: calc(1080px + 32px);
}

.cardsListContainer {
  background-color: cm_grey_50;
  padding: 48px 0;
}

/* to ecrase wrapper's style from CardsList component */
.cardsListContainer > :first-child {
  padding: 0;
}

.skillFocusContainer {
  border-radius: 16px;
  border: 1px solid cm_grey_100;
  overflow: hidden;
  margin-top: 48px;
  margin-bottom: 40px;
}

.skillFocusHeader,
.skillListHeader {
  padding: 24px;
  display: flex;
  position: relative;
  border-bottom: 1px solid cm_grey_100;
}

.skillFocusHeaderIcon,
.skillListHeaderIcon {
  border-radius: 12px;
  overflow: hidden;
  margin-right: 12px;
}

.skillFocusHeaderWrapper {
  display: flex;
  flex: 1;
}

.skillFocusHeaderContent,
.skillListHeaderContent {
  flex: 1;
}

.skillFocusHeaderContent {
  margin-right: 16px;
}

.skillFocusHeaderTitle,
.skillListHeaderTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.skillFocusHeaderDescription,
.skillListHeaderDescription {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: cm_grey_500;
  display: flex;
  align-items: center;
}

.skillFocusEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 72px;
}

.skillFocusEmptyTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
  text-align: center;
}

.skillFocusEmptyDescription {
  max-width: 502px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 32px;
}

.img {
  width: 204px;
  height: 200px;
  margin-bottom: 32px;
  border-radius: 50%;
}

.skillFocusContent {
  display: flex;
  padding: 24px;
}

.radarContainer {
  width: 700px;
  height: 444px;

  svg {
    overflow: initial;
  }
}

.toolBarContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.skillFilterContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skillFilterNumber,
.skillFilterNumberInActive {
  border-radius: 50%;
  background-color: #D6E6FF;
  color: #0061FF;
  padding: 2px 4px;
  margin-left: 8px;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
}

.skillFilterNumberInActive {
  background-color: #EAEAEB;
  color: #515161;
}

.searchWrapper {
  border-radius: 12px;
  width: 190px;
  background-color: cm_grey_100;
}

.infoIconTooltip {
  background-color: transparent;
}

.tooltip {
  padding: 8px 12px;
  width: 238px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  right: -100px;
  
  ol {
    padding: 14px;
  }
}

.skillListHeader {
  padding: 24px 0;
  border: none;
}

.skillListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.skillListEmptyContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.emptySearchResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptySearchResultTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}

.emptySearchResultDescription {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 16px;
}

.emptySearchResultClearSearch {
  color: #0061FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.emptySearchResultClearSearch:hover {
  text-decoration: underline;
}

@media mobile {
  .skillFocusHeaderWrapper {
    margin-bottom: 16px;
  }

  .skillFocusHeader{
    flex-direction: column;
  }

  .skillFocusContent {
    flex-direction: column;
  }

  .radarContainer {
    width: 100%;
    height: 280px;
    margin-bottom:48px;
  }
  
  .toolBarContainer {
    flex-direction: column;
    gap: 16px;
  }

  .searchWrapper {
    width: 100%;
  }

  .skillFilterContainer {
    overflow-x: auto;
  }

  .skillListContainer {
    align-items: center;
    justify-content: center;
  }
}

@media tablet {
  .skillFocusContent {
    flex-direction: column;
  }

  .cardsListContainer {
    padding: 24px 16px;
  }
}