@value colors: "../../variables/colors.css";
@value blue from colors;


.hero {
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  transition: background 1s ease-out;
}

.cta {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 250px;
  height: 63px;
  background: white;
  border-radius: 3px;
}

.cta:hover {
  background: blue;
}
.cta:hover .label span {
  color: white;
}

.label {
  line-height: 63px;
}

.label span {
  line-height: normal;
  display: inline-block;
  font-weight: 700;
  font-size: 17px;
  padding: 6px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: blue;
}
