@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.hero {
  height: 250px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  transition: all 0.2s ease-out;
}

.label {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 17px;
  color: white;
  line-height: 60px;
}

@media mobile {
  .hero {
    height: 130px;
  }
}
