@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value blue from colors;

.hero {
  height: 300px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  transition: background 1s ease-out;
}

.cta, .ctaHover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 250px;
  height: 63px;
  background: white;
  border-radius: 3px;
  transition: opacity .5s ease-out;
}

.cta:hover {
  opacity: 0;
}

.label, .labelHover {
  line-height: 63px;
}

.label span, .labelHover span {
  line-height: normal;
  display: inline-block;
  font-weight: 700;
  font-size: 17px;
  padding: 6px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: white;
}

@media mobile {
  .hero {
    height: 250px;
  }
}
