@value colors: "../../variables/colors.css";
@value cm_grey_100 from colors;
@value cm_positive_100 from colors;
@value cm_negative_100 from colors;
@value white from colors;
@value positive from colors;
@value negative from colors;
@value cm_negative_50 from colors;
@value cm_green_secondary_200 from colors;
@value cm_green_secondary_100 from colors;
@value cm_pink_50 from colors;
@value cm_primary_blue from colors;

.defaultStyle {
  width: fit-content;
  height: 100%;
  opacity: 0.5;
  border-radius: 50%;
  background-color: cm_grey_100;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  font-family: Gilroy;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease, font-size 0.25s ease, transform 0.25s ease, line-height 0.25s ease;
  user-select: none;
  padding: 2px 4px;
  border-radius: 999px; /*responsive pill*/
}

.current {
  opacity: 1;
  font-size: 16px;
  transform: scale(1.25);
  transition: transform 0.25s ease;
}

.right {
  background-color: cm_positive_100;
}

.wrong {
  background-color: cm_negative_100;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightIcon {
  color: white;
  width: 37.5%;
  transition: transform 0.25s ease;
}

.currentRightIcon {
  transform: scale(1.333, 1.166);
}

.wrongIcon {
  color: white;
  width: 31.25%;
  transition: color 0.25s ease;
}

.currentWrongIcon {
  transform: scale(1.5);
}

/* ----------------- CM bulk theme ------------------------- */


.valid {
  opacity: 1;
  min-width: 24px;
  background-color: cm_green_secondary_100;
}

.validIcon {
  color: cm_green_secondary_200;
  width: 50%;
  transition: transform 0.25s ease;
}

.invalid {
  opacity: 1;
  min-width: 24px;
  background-color: cm_negative_50;
}

.invalidIcon {
  color: cm_negative_100;
  width: 41.67%;
  transition: color 0.25s ease;
}

.errorsNumber {
  opacity: 1;
  min-width: 24px;
  background-color: cm_pink_50;
  color: cm_negative_100;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.selected {
  background-color: #D6E6FF;
  color: cm_primary_blue;
}
