@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value mobile from breakpoints;

.interrogationBase {
  font-family: "Gilroy";
  font-size: 800px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.06;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  user-select: none;
}

.mainContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.interrogationLeft {
  composes: interrogationBase;
  position: absolute;
  left: -14%;
  top: -15%;
  transform: rotate(49.77deg);
}

.interrogationRight {
  composes: interrogationBase;
  position: absolute;
  left: 72%;
  top: -10%;
  transform: rotate(135deg);
}

.recYellow {
  position: absolute;
  left: -50.79%;
  right: 77.63%;
  top: 5.34%;
  bottom: 24.77%;
  background: radial-gradient(
    57.72% 58.96% at 57.97% 41.54%,
    #ffc043 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.3;
  filter: blur(80px);
}

.recRed {
  position: absolute;
  left: 3.72%;
  right: 42.62%;
  top: 23.04%;
  bottom: -9.22%;
  background: radial-gradient(
    47.72% 48.96% at 57.97% 41.54%,
    #ff7043 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.3;
  filter: blur(60px);
}

.recBlue {
  position: absolute;
  left: 42.5%;
  right: 0.35%;
  top: 40.78%;
  bottom: -67.67%;
  background: radial-gradient(
    51.64% 56.95% at 39.9% 50%,
    rgba(0, 97, 255, 0.55) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.5;
  filter: blur(80px);
}

.recGreen {
  position: absolute;
  left: 64.14%;
  right: -20.87%;
  top: -27.96%;
  bottom: 35.85%;
  background: radial-gradient(
    51.64% 56.95% at 56.78% 61.36%,
    #2199ab 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.3;
  filter: blur(80px);
}

.recGreenLight {
  position: absolute;
  left: 60.13%;
  right: -18.51%;
  top: 13.13%;
  bottom: 6.78%;
  background: radial-gradient(
    51.64% 56.95% at 54.18% 40.45%,
    #18bb98 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.3;
  filter: blur(80px);
}

@media tablet {
  .interrogationLeft {
    left: -8%;
    top: 6%;
    font-size: 500px;
  }

  .interrogationRight {
    left: 70%;
    top: 6%;
    font-size: 500px;
  }

  .recYellow {
    left: -20.79%;
    right: 55.63%;
    top: 5.34%;
    bottom: 34.77%;
    background: radial-gradient(
      37.72% 38.96% at 57.97% 41.54%,
      #ffc043 0%,
      rgba(255, 255, 255, 0) 100%
    );
    
  }

  .recRed {
    position: absolute;
    left: 3.72%;
    right: 32.62%;
    top: 23.04%;
    bottom: -9.22%;
    background: radial-gradient(
      27.72% 28.96% at 57.97% 41.54%,
      #ff7043 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .recBlue {
    top: 30.78%; 
    background: radial-gradient(
      21.64% 26.95% at 39.9% 50%,
      rgba(0, 97, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .recGreen {
    bottom: 43.13%;
    background: radial-gradient(
      31.64% 36.95% at 56.78% 61.36%,
      #2199ab 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.4;
  }
  
  .recGreenLight {
    left:40%;
    top: 13.13%;
    background: radial-gradient(
      31.64% 36.95% at 54.18% 40.45%,
      #18bb98 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.4;
  }
}

@media mobile {
  .interrogationLeft {
    left: -25%;
    top: 3%;
    font-size: 400px;
  }

  .interrogationRight {
    left: 55%;
    top: 36%;
    font-size: 400px;
  }
}
