@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value grey from colors;
@value dark from colors;
@value xtraLightGrey from colors;
@value white from colors;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.default {
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.11);
}

.course {
  composes: default;
  border-radius: 8px;
  width: 256px;
  height: 297px;
}

.default .image {
  background-position: 50%;
  background-size: cover;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.emptyIcon {
  vertical-align: middle;
  width: 80px;
  height: 70px;
  position: absolute;
  z-index: 1;
  right: 50%;
  transform: translate(50%, 50%);
  top: 0;
}