@value colors: "../../variables/colors.css";
@value cm_grey_800: from colors;
@value cm_grey_400: from colors;


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.loaderWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }

.loader {
    margin-bottom: 8px;
    height: 32px;
    width: 32px;
  }

.text {
    font-family: 'Gilroy';
    margin: 0 auto 0 auto;
}
.mainText {
    composes: text;
    color: cm_grey_800;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-top: 36px;
}

.subText {
    composes: text;
    color: cm_grey_400;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 4px;
    ;
}

.progressionValue { 
    color: cm_grey_400;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    width: 100%;
}

.leftButtonLink {
    width: 152px;
    height: 44px;
    margin-left: 0;
}
.rightButtonLink {
    width: 152px;
    height: 44px;
    margin-left: 20px;
}