@value colors: "../../variables/colors.css";
@value brand from colors;
@value black from colors;
@value dark from colors;
@value medium from colors;
@value battle from colors;
@value light from colors;
@value xtraLightGrey from colors;

.wrapper {
  width: 360px;
}

.title {
  font-family: "Gilroy";
  font-size: 15px;
  text-transform: none;
  color: dark;
  margin-bottom: 20px;
}

.description {
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  color: dark;
  margin: 10px 0;
  text-align: justify;
}

.previewWrapper {
  width: 100%;
  box-sizing: border-box;
  border: 1px dashed medium;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modified {
  composes: previewWrapper;
  border: 2px solid battle;
}

.previewWrapper span {
  font-family: 'Gilroy';
  color: dark;
  font-size: 15px;
  font-weight: 700;
  line-height: 100px;
}

.previewView {
  padding: 10px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
}

.previewView img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.inputWrapper {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  border: 1px dashed medium;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetUploadWrapper {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  background-color: xtraLightGrey;
  border: solid 1px light;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* fonts */
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px;
}

.resetSrcLabel {
  font-family: Gilroy;
  color: dark;
  max-width: 220px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
  margin-left: 9px;
}

.closeIcon {
  margin-right: 9px;
  cursor: pointer;
  color: dark;
}

.closeIcon:hover {
  color: black;
}

.dragging {
  composes: inputWrapper;
  border: 3px dashed brand;
}

.arrow {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  transition: all 0.2s cubic-bezier(0.47, 1.04, 0.46, 2.16);
}

.dragging .arrow {
  transform: scale(1.2);
}

.uploadLabel {
  font-family: 'Gilroy';
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: dark;
}

.loading {
  min-height: 100px;
  border: none;
  position: relative;
}
