@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

@value colors: "../../variables/colors.css";
@value light from colors;
@value white from colors;
@value dark from colors;
@value medium from colors;
@value brand from colors;
@value black from colors;
@value battle from colors;

.wrapper {
  min-height: 60px;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: white;
}

.open {
  composes: header;
}

.slider {
  padding-top: 60px;
  height: 300px;
  width: 100%;
}

.logoWrapper {
  display: flex;
  height: 100%;
  flex: 0 1 auto;
}

.logo {
  display: block;
  flex: 0 1 auto;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

.logoMobile {
  display: none;
}

.logo img {
  height: 100%;
  width: auto;
  display: block;
}

.options {
  position: relative;
  display: flex;
  align-items: stretch;
}

.themes {
  position: relative;
  display: flex;
  align-items: stretch;
  margin-left: 20px;
  border-left: 1px solid light;
  border-right: 1px solid light;
}

.currentOption {
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  color: dark;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.pages .currentOption {
  padding: 0 0 0 20px;
}

.caret {
  margin: 2px 0 0 10px;
  color: medium;
  width: 10px;
  height: 10px;
  transition: transform 0.3s;
}

.caretUp {
  composes: caret;
  transform: rotate(180deg);
}

.themesHovered {
  composes: themes;
}

.themesHovered .optionsGroup {
  display: block;
  z-index:3;
}

.themes .optionsGroup:hover {
  display: block;
}

.optionsGroup {
  display: none;
  position: absolute;
  top: 59px;
  left: -1px;
  width: 200px;
  padding: 10px 0;
  background-color: white;
  border: 1px solid light;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.02);
}

.option {
  display: block;
  padding: 0 10px;
  font-size: 13px;
  color: dark;
  font-family: 'Open Sans';
  line-height: 40px;
  font-weight: 600;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option:hover {
  color: brand;
}

.menuWrapper {
  display: flex;
  height: 60px;
  flex: 0 0 auto;
}

.pages {
  height: 100%;
  border-right: 1px solid light;
  padding: 0 20px;
  display: flex;
  align-items: stretch;
}

.page {
  position: relative;
  padding: 0 15px;
  cursor: pointer;
  color: dark;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.activePage {
  composes: page;
}

.page .bar {
  background-color: brand;
  height: 3px;
  width: 0;
  bottom: 0px;
  position: absolute;
  left: 50%;
  transition: all 0.2s ease-out;
}

.activePage .bar {
  left: 0;
  width: 100%;
}

.page:hover .bar {
  left: 0;
  width: 100%;
}

.battlesCounter {
  position: absolute;
  top: 15px;
  right: 0px;
  background-color: battle;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  color: black;
  border-radius: 8px;
  padding: 0 5px;
  pointer-events: none;
}

.more {
  composes: options;
}

.more:hover .optionsGroup {
  display: block;
}

.links {
  height: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.links > div {
  margin-left: 10px;
}

.user {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.userLink {
  display: block;
}

.avatarWrapper {
  position: relative;
  margin-left: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: medium;
  border: 1px solid light;
}

.avatar img {
  width: 100%;
}

.notifications {
  position: absolute;
  top: 0;
  right: -5px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  color: white;
  border-radius: 8px;
  padding: 0 5px;
  pointer-events: none;
}

.stats {
  display: flex;
  height: 100%;
  padding: 0 10px;
  border-right: 1px solid light;
}

.stat {
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.stat:hover .label {
  text-decoration: underline;
}

.iconWrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 16px;
  height: 16px;
}

.stars {
  composes: icon;
}

.ranking {
  composes: icon;
}

.badge {
  composes: icon;
  margin-top: 1px;
}

.stat .label {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 700;
  color: dark;
  margin-top: 5px;
}

.settings {
  position: relative;
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsToggle {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.settingsToggle:hover {
  color: black;
}

.settingsToggle:before {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

.settingsWrapper {
  position: absolute;
  top: 75px;
  right: 0;
  width: 300px;
  border-radius: 3px;
  border: 1px solid light;
  background: white;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.02);
}

.settingsWrapperHidden {
  composes: settingsWrapper;
  display: none;
}

.settingsWrapper:after, .settingsWrapper:before {
	bottom: 100%;
	right: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.settingsWrapper:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: white;
	border-width: 10px;
	margin-right: -10px;
}
.settingsWrapper:before {
	border-color: rgba(220, 224, 224, 0);
	border-bottom-color: light;
	border-width: 11px;
	margin-right: -11px;
}

.settingsGroup {
  padding: 20px;
}

.setting {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting .label {
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
  color: dark;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.setting .link {
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
  color: dark;
  text-decoration: none;
}

.closeSettings {
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
  color: medium;
  height: 40px;
  border-top: 1px solid light;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.closeSettings:hover {
  color: dark;
}

@media desktop {

}

@media tablet {

  .header {
    flex-direction: column;
    padding: 0;
    background-color: transparent;
    justify-content: flex-start;
    align-items: stretch;
  }

  .open {
    height: 100%;
  }

  .logoWrapper {
    width: 100%;
    height: 60px;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: white;
    z-index: 2;
  }

  .logo {
    display: none;
  }

  .logoMobile {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 0 1 auto;
    position: relative;
    padding: 10px 0;
    height: 100%;
    box-sizing: border-box;
  }

  .logoMobile img {
    height: 100%;
    width: auto;
  }

  .logoMobile .notifications {
    top: 5px;
    right: 10px;
  }

  .themes {
    border: 0;
    margin-left: 0;
  }

  .themes .currentOption {
    padding: 0;
  }

  .themes .optionsGroup {
    left: auto;
    right: -20px;
  }

  .menuWrapper {
    display: flex;
    position: fixed;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 20px 80px;
    box-sizing: border-box;
    height: 100%;
    background-color: white;
    left: 0;
    top: -100%;
    width: 100%;
    transition: top 0.4s ease-out;
  }

  .open .menuWrapper {
    top: 60px;
  }

  .pages {
    padding: 10px 0 10px;
    margin: 10px 0 10px;
    flex-direction: column;
    border: 0;
    height: auto;
    border-top: 1px solid light;
    border-bottom: 1px solid light;
    flex-shrink: 0;
  }

  .pages .page {
    line-height: 40px;
    padding: 0;
  }

  .page .bar {
    display: none;
  }

  .pages .currentOption {
    display: none;
  }

  .pages .optionsGroup {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    border: 0;
    padding: 0;
    background-color: transparent;
  }

  .pages .option {
    padding: 0;
    line-height: 40px;
  }

  .battlesCounter {
    position: relative;
    margin-top: -15px;
    right: auto;
    top: auto;
  }

  .links {
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 20px;
    margin: 0 0 10px;
    border-bottom: 1px solid light;
    flex-shrink: 0;
  }

  .links .link {
    margin-bottom: 10px;
  }

  .user {
    height: auto;
    padding: 10px 0 20px;
    border-bottom: 1px solid light;
    margin-bottom: 10px;
    flex-shrink: 0;
  }

  .stats {
    padding: 0;
    border: 0;
    height: auto;
  }

  .stat {
    height: auto;
  }

  .settings {
    height: auto;
    margin: 0;
    flex-shrink: 0;
  }

  .settingsToggle {
    display: none;
  }

  .settingsWrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    top: 0;
    box-shadow: none;
    border: 0;
  }

  .settingsWrapper:before {
    display: none;
  }

  .settingsWrapper:after {
    display: none;
  }

  .settingsWrapperHidden {
    display: block;
  }

  .settingsGroup {
    padding: 0;
  }

  .closeSettings {
    display: none;
  }

  .slider {
    height: 200px;
  }
}

@media mobile {


}
