@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value white from colors;
@value medium from colors;
@value brand from colors;
@value black from colors;
@value dark from colors;
@value battle from colors;
@value orangeAdd from colors;
@value transparent from colors;

.wrapper {
  min-height: 60px;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid light;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  z-index: 10;
  background-color: white;
}

.searchBar {
  display: flex;
  justify-content: flex-start;
  flex: 1 0 0%;
  height: 100%;
  border-right: solid 1px light;
  border-left: solid 1px light;
  background-color: white;
}

.hiddenSearchBar {
  composes: searchBar;
}

.noItems {
  display: none;
}

.open {
  composes: header;
}

.open .searchBar {
  border-left: none;
  border-right: none;
}

.logoWrapper {
  height: 100%;
  background-color: white;
  padding: 10px 16px;
  box-sizing: border-box;
}

.logo {
  height: 100%;
}

.navMobile {
  display: none;
}

.logo img {
  height: 100%;
  display: block;
  margin: 0;
}

.options {
  position: relative;
  display: flex;
  align-items: stretch;
}

.currentOption {
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  color: dark;
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.items .currentOption {
  padding: 0 0 0 20px;
}

.caret {
  margin: 2px 0 0 15px;
  color: medium;
  width: 10px;
  height: 10px;
  transition: transform 0.3s;
}

.burger {
  margin: 0 20px 0 0;
  color: medium;
  width: 25px;
  height: 25px;
}

.burgerHidden {
  composes: caret;
  display: none;
}

.close {
  margin: 0 20px 0 0;
  color: medium;
  width: 25px;
  height: 25px;
}

.closeHidden {
  composes: close;
  display: none;
}

.optionsGroup {
  display: none;
  position: absolute;
  top: 59px;
  left: -1px;
  width: 200px;
  padding: 10px 0;
  background-color: white;
  border: 1px solid light;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.02);
}

.option {
  display: flex;  
  padding: 0 10px;
  font-size: 13px;
  color: dark;
  font-family: 'Gilroy';
  line-height: 40px;
  font-weight: 600;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option:hover {
  color: brand;
}

.menuWrapper {
  display: flex;
  align-items: flex-end;
  height: 60px;
}

.hiddenMenuWrapper {
  composes: menuWrapper;
}

.items {
  height: 100%;
  border-right: 1px solid light;
  padding: 0 10px;
  display: flex;
  align-items: stretch;
  opacity: 1;
}

.item {
  position: relative;
  padding: 0 15px;
  cursor: pointer;
  color: dark;
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.activePage {
  composes: item;
}

.item .bar {
  background-color: brand;
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  left: 50%;
  transition: all 0.2s ease-out;
}

.option .line {
  background-color: brand;
  width: 3px;
  height: 0;
  left: 0;
  position: absolute;
  transition: all 0.2s ease-out;
  display: none;
}

.activePage .bar {
  left: 0;
  width: 100%;
}

.option:hover  .line {
  height: 40px;
  width: 3px;
  display: inherit;
}

.item:hover .bar {
  left: 0;
  width: 100%;
}

.more {
  composes: options;
}

.more:hover .optionsGroup {
  display: block;
}

.links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.ctaLink {
  /* ie fallback for min(32px, 1%) */
  margin-right: 32px;
  margin-right: min(32px, 1%);
  white-space: nowrap;
}

.user {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.userLink {
  display: block;
  height: 100%;
}
.notification {
  width: 32px;
  height: 32px;
  margin: auto 16px auto 4px;
  padding: 8px;
  position: relative;
  color:  dark;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: color(dark a(8%));
  transition: all 0.5s linear;
}
.notification:hover {
  background-color: color(dark a(17%));
  color:  dark;
}
.active {
  background-color: color(orangeAdd a(8%));
  color: orangeAdd;
}
.active:hover {
  background-color: color(orangeAdd a(17%));
  color: orangeAdd;
}

.avatarWrapper {
  position: relative;
  margin-left: 20px;
  display: flex;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: medium;
  border: 1px solid light;
}

.avatar img {
  width: 100%;
}

.notifications {
  position: absolute;
  top: -5px;
  right: -5px;
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  background-color: orangeAdd;
  padding: 0 5px;
}

.itemBadge {
  composes: notifications;
  top: 10px;
}

.notifications:hover,
.itemBadge:hover {
  transform: scale(1.3);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.stats {
  display: flex;
  height: 100%;
  padding: 0 10px;
  border-right: 1px solid light;
}

.stat {
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.stat:hover .label {
  text-decoration: underline;
}

.iconWrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 16px;
  height: 16px;
}

.stars {
  composes: icon;
}

.ranking {
  composes: icon;
}

.badge {
  composes: icon;
  margin-top: 1px;
}

.stat .label {
  font-family: 'Gilroy';
  font-size: 10px;
  font-weight: 700;
  color: dark;
  margin-top: 5px;
}

.settings {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding-right: 8px;
}

.settingsToggle {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.settingsToggle:hover {
  color: black;
}

.settingsToggle::before {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

.settingsWrapper {
  position: absolute;
  top: 75px;
  right: 0;
  width: 300px;
  border-radius: 3px;
  border: 1px solid light;
  background: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.02);
}

.settingsWrapperHidden {
  composes: settingsWrapper;
  display: none;
}

.settingsWrapper::after,
.settingsWrapper::before {
  bottom: 100%;
  right: 20px;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.settingsWrapper::after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-right: -10px;
}

.settingsWrapper::before {
  border-color: rgba(220, 224, 224, 0);
  border-bottom-color: light;
  border-width: 11px;
  margin-right: -11px;
}

.settingsGroup {
  padding: 20px;
}

.setting {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.languageSelect {
  width: 98%;
  height: 30px;
}

.selectBoxes {
  flex-direction: column;
  height: 60px;
  align-items: baseline;
  margin-top: 10px;
}

.setting .label {
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 600;
  color: dark;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.setting .link {
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 600;
  color: dark;
  text-decoration: none;
}

.closeSettings {
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 600;
  color: medium;
  height: 40px;
  border-top: 1px solid light;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.closeSettings:hover {
  color: dark;
}

.homeIcon {
  min-width: 14px;
  height: 14px;
  margin-left: 16px;
}

.toolTipText {
  font-family: 'Gilroy';
  font-size: 14px;
  height: 24px;
  line-height: 27px;
  order: 0;
  margin-right: 16px;
  width: 100%;
}

[role="tooltip"],
.logo .tooltipIconContainer + [role="tooltip"] {
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  position: absolute;
  background-color: white;
  bottom: -2.5em;
  height: 32px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.tooltipIconContainer::after {
  content: ' ';
  display: inline-block;
  visibility: inherit;
  opacity: inherit;
  height: 15px;
  width: 15px;
  transform: rotate(-45deg);
  background-color: white;
  position: inherit;
  top: -6px;
  right: 40%;
  border-radius: 2px;
}

@media desktop {
  .item {
    padding: 0 11px;
  }

  .logoWrapper {
    height: 100%;
    background-color: white;
    padding: 10px 16px;
    box-sizing: border-box;
  }

  .logo {
    height: 100%;
  }

  .navMobile {
    display: none;
  }

  .logo img {
    height: 100%;
    display: block;
    margin: 0;

    /* hack for ie <= 11, limit for 1/3 of desktop breakpoint (1024px) */
    max-width: 150px;
  }
}

@media tablet {
  .header {
    flex-direction: row;
    padding: 0;
    background-color: white;
    justify-content: flex-start;
    height: auto;
    align-items: center;
    min-height: 60px;
  }

  .open {
    height: auto;
    display: flex;
    min-height: 60px;
  }

  .logoWrapper {
    background-color: white;
    z-index: 2;
    margin: 0 8px 0 0;
  }

  .logo {
    display: none;
  }

  .navMobile {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 0 1 auto;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    min-height: 30px;
  }

  .navMobile img {
    height: 100%;
    max-height: 50px;
    width: 100%;
    max-width: 100px;
    display: block;
    align-self: center;
  }

  .hiddenMenuWrapper {
    display: none;
    top: 0px;
  }

  .menuWrapper {
    align-items: flex-start;
    display: flex;
    position: fixed;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 20px 10px;
    box-sizing: border-box;
    height: auto;
    background-color: white;
    left: 0;
    top: -100vh;
    width: 100%;
    transition: top 0.8s ease-out;
    max-height: 100vh;
  }

  .menuWrapper:last-child  {
    padding-bottom: 60px;  
  }

  .hiddenSearchBar {
    display: none;
  }

  .open .menuWrapper {
    top: 60px;
    position: absolute;
  }

  .items {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    flex-direction: column;
    border: 0;
    height: auto;
    border-top: 1px solid light;
    border-bottom: 1px solid light;
    flex-shrink: 0;
  }

  .items .item {
    line-height: 40px;
    padding:  0 0 0 8px ;
  }

  .item .bar {
    background-color: brand;
  width: 3px;
  height: 0;
  left: 0;
  position: absolute;
  transition: all 0.2s ease-out;
  display: none;
  }
  .item:hover .bar {
    height: 40px;
    width: 3px;
    display: inherit;
  }

  .items .currentOption {
    display: none;
  }

  .items .optionsGroup {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    border: 0;
    padding: 0;
    background-color: transparent;
  }

  .items .option {
    padding:  0 0 0 8px ;
    line-height: 40px;
  }

  .itemBadge {
    position: relative;
    margin-top: -15px;
    right: auto;
    top: auto;
  }

  .ctaLink {
    margin-right: 0px;
  }

  .links > * {
    margin-top: 10px;
  }

  .links {
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0 20px;
    margin: 0 0 10px;
    border-bottom: 1px solid light;
    flex-shrink: 0;
    flex-direction: column;
  }

  .links .link {
    margin-bottom: 10px;
  }

  .user {
    height: auto;
    padding: 10px 0 20px;
    border-bottom: 1px solid light;
    margin-bottom: 10px;
    flex-shrink: 0;
    width: 100%;
  }

  .stats {
    padding: 0;
    border: 0;
    height: auto;
  }

  .stat {
    height: auto;
  }

  .settings {
    height: auto;
    margin: 0;
    flex-shrink: 0;
    padding-bottom: 40px;
  }

  .settingsToggle {
    display: none;
  }

  .settings div label {
    margin-right: 0;
  }

  .settingsWrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    top: 0;
    box-shadow: none;
    border: 0;
  }

  .settingsWrapper::before {
    display: none;
  }

  .settingsWrapper::after {
    display: none;
  }

  .settingsWrapperHidden {
    display: block;
  }

  .settingsGroup {
    padding: 0;
  }

  .open .settingsGroup,
  .open .settings {
    width: 100%;
  }

  .closeSettings {
    display: none;
  }
}
