@value colors: "../../variables/colors.css";
@value yellow from colors;
@value darkGrey from colors;

@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;

.titleContainer {
    height: 103px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.headerTitle {
    font-size: 40px;
    color: darkGrey;
}

@media mobile {
    .titleContainer {
        height: 46px;
        margin-bottom: 0;
    }

    .headerTitle {
        font-size: 15px;
    }
}