@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value brand from colors;
@value primaryAdd1 from colors;

.wrapper {
  width: 100%;
  background-color: color(xtraLightGrey a(90%));
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 48px;
  box-sizing: border-box;
}

.title {
  font-family: 'Gilroy';
  font-size: 14px;
  color: brand;
  font-weight: 700;
}

.settings {
  display: flex;
  height: 100%;
  align-items: center;
}

.label {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 14px;
  color: brand;
  margin-left: 30px;
  margin-right: 16px;
}

.contentTypeWrapper {
  width: 310px;
}
