@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value white from colors;
@value xtraLightGrey from colors;
@value black from colors;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 55px;
}

.answer {
  color: black;
  background-color: white;
  border: 1px solid xtraLightGrey;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px;
  width: 210px;
  height: 245px;
  margin: 0 4px 8px;
}

.imageWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 110px;
  margin-bottom: 16px;
  background-size: cover;
  background-position: center center;
}

.titleWrapper {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  padding: 0 8px;
  box-sizing: border-box;
  max-height: 100px;
  overflow: hidden;
}

.answer:hover {
  background-color: xtraLightGrey;
}

.selected {
  composes: answer;
  color: white;
}

@media mobile {
  .wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .answer {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 82px;
    margin: 0 0 8px;
  }

  .answer:last-child {
    margin-bottom: 0;
  }

  .imageWrapper {
    height: 66px;
    width: 86px;
    margin-bottom: 0;
    margin-right: 16px;
    flex-shrink: 0;
  }

  .titleWrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
  }
}
