@value colors: "../../variables/colors.css";
@value breakpoints: "../../variables/breakpoints.css";
@value white from colors;
@value cm_primary_blue from colors;
@value cm_blue_600 from colors;
@value cm_tablet from breakpoints;

.quickAccess {
  height: 273px;
  cursor: pointer;
}

.link {
  color: inherit;
}

.content {
  height: 225px;
  border-radius: 8px;
  transition: all 0.5s linear;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.content:hover {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
}

.description {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0px 16px 0px;
}

.iconWrapper {
  width: 44px;
  height: 44px;
  border-radius: 8px;
}

.iconFeatureWrapper {
  composes: iconWrapper;
  justify-content: center;
  display: flex;
  align-items: center;
}

.iconFeature {
  color: white;
  width: 20px;
  height: 20px;
}

.cta {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  flex: 1;
}

.iconGotoWrapper {
  composes: iconWrapper;
  line-height: 0;
  background-color: white;
}

.hoverMooc {
  composes: iconWrapper;
  background-color: cm_primary_blue;
}

.hover {
  composes: iconWrapper;
}

.iconGotoWrapper:hover .hover{
  background: inherit;
  transition: all 0.5s linear;
}

.iconGotoWrapper .hover{
  background: white;
}

.hoverMooc:hover{
  background-color: cm_blue_600;
}

.iconGoto {
  width: 14px;
  height: 14px;
  position: relative;
  top: 15px;
  left: 15px;
  color: inherit;
  transition: all 0.5s linear;
}

.iconGotoWrapper:hover .iconGoto{
  color: white;
}

.newTabIcon {
  padding-left: 8px;
  width: 20px;
  height: 20px;
}

@media cm_tablet {
  .description {
    max-width: 313px;
  }
}
