@value colors: "../../variables/colors.css";
@value cm_primary_blue from colors;
@value cm_grey_100 from colors;
@value cm_grey_900 from colors;

.container {
  width: 100%;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  width: 41%;
  min-width: 309px;
}

.contentFilter {
  width: 24%;
  min-width: 181px;
}

.cardsContainer {
  margin: 24px 0 0 0;
  width: 100%;
}

.cards {
  display: inline-block;
  margin: 0 16px 16px 0px;
}