@value colors: "../../variables/colors.css";
@value cm_primary_blue from colors;
@value cm_grey_100 from colors;


.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}

.titleContainer {
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 10;
    font-weight: 600;
}

.buttonContainer {
    font-weight: normal;
    color: cm_primary_blue;
    cursor: pointer;
}

.filterSeparator {
    background-color: cm_grey_100;
    width: 100%;
    height: 1px;
    align-self: stretch;
    margin: 24px 0;
}
