@value colors: "../../variables/colors.css";
@value brand from colors;
@value xtraLightGrey from colors;
@value white from colors;
@value light from colors;

@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.tab {
  cursor: pointer;
  padding: 20px;
  background: white;
  margin: 10px;
  border-left: solid 5px brand;
  margin: 10px 0;
}

.tab:hover {
  background: light;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

.link {
  padding: 10px;
}

@media mobile {
  .tab {
    margin: 0;
    border: none;
    padding: 10px 0;
    display: flex;
    border: solid 1px xtraLightGrey;
  }

  .link {
    display: none;
  }
}
