@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../../variables/colors.css";
@value cm_blue_900 from colors;

.wrapper {
  width: 500px;
}

.title {
  display: table;
  font-family: "Gilroy";
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  margin: 0 auto 15px;
  text-align: center;
  user-select: none;
  width: auto;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
}

.label {
  font-family: "Gilroy";
  color: cm_blue_900;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  line-height: 24px;
  user-select: none;
  font-style: normal;
}

@media mobile {
  .wrapper {
    margin: 0 auto;
    width: 90%;
  }
}

.innerHTML {
  composes: innerHTML from '../../../atom/label/style.css'
}
