@value colors: "../../variables/colors.css";
@value mediumGrey from colors;

.wrapper {

}

.section {
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: mediumGrey;
  border-bottom: 0px;
}

.section:last-child {
  border-bottom: 1px solid mediumGrey;
}

.loading {
  composes: section;
  width: 100%;
  background-color: #F6F6F6;
  height: 60px;
  min-height: 60px;
  position: relative;
}