@value colors: "../../variables/colors.css";
@value medium from colors;
@value xtraLightGrey from colors;

.section {
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: medium;
  border-bottom: 0;
}

.section:last-child {
  border-bottom: 1px solid medium;
}

.loading {
  composes: section;
  width: 100%;
  background-color: xtraLightGrey;
  height: 60px;
  min-height: 60px;
  position: relative;
}
