@value colors: "../../variables/colors.css";
@value cm_grey_500 from colors;

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.titleContainer {
    color: cm_grey_700;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 10;
}

.buttonContainer {
    font-weight: normal;
    color: cm_grey_500;
}

.optionsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.switchOption label {
    margin: 0;
}

.switchOption span {
    color: cm_grey_500;
}