@value colors: "../../variables/colors.css";
@value lightMediumGray from colors;
@value white from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.resource {
  position: relative;
  width: auto;
  min-height: 52px;
  cursor: pointer;
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
  flex: 1 0 52px;
}

.video,
.pdf,
.audio {
  composes: resource;
}

.posterWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 45px;
  border: 1px solid ;
  box-shadow: 1px 1px 3px lightMediumGray;
}

.poster {
  width: 65px;
  height: 41px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightMediumGray;
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
}

.description {
  font-family: 'Gilroy';
  font-size: 11px;
  margin-left: 16px;
  margin-right: 16px;
  flex: 1;
}

.selectedDescription {
  composes: description;
  font-weight: bold;
}

@media tablet {
  .resource {
    width: 100%;
    height: 52px;
    padding-left: 20px;
    margin-bottom: 0;
    border-bottom: solid 2px white;
    box-sizing: border-box;
    flex: 1 0 52px;
  }
}

.innerHTML {
  composes: innerHTML from '../label/style.css';
}
