@value colors: "../../variables/colors.css";
@value light from colors;
@value white from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;

.resource {
  position: relative;
  width: 230px;
  height: 47px;
  cursor: pointer;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.video {
  composes: resource;
}

.pdf {
  composes: resource;
}

.posterWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 45px;
  border: 1px solid;
}

.poster {
  width: 65px;
  height: 41px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pdf .poster {
  background-color: light;
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
}

.description {
  font-family: "Open Sans";
  font-size: 11px;
  margin-left: 16px;
  max-width: 50vw;
}

.selectedDescription {
  composes: description;
  font-weight: bold;
}

@media tablet {
  .resource {
    width: 100%;
    height: 75px;
    padding-left: 20px;
    margin-bottom: 0;
    border-bottom: solid 2px white;
    box-sizing: border-box;
  }
}
