@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value white from colors;
@value medium from colors;

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -200px;
  }

  30% {
    opacity: 0;
    margin-top: -200px;
  }

  100% {
    margin-top: 70px;
    opacity: 1;
  }
}

.banner {
  display: flex;
  align-items: center;
  position: fixed;
  font-family: 'Gilroy';
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  margin: 70px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 5px 30px;
  animation: fadeIn 3s;
  z-index: 10000;
}

.button {
  min-width: 120px;
  margin-left: 30px;
}

.intro {
  font-weight: 700;
  margin-right: 7px;
}

.link {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  margin-left: 5px;
}

.link:hover {
  opacity: 0.7;
}

@media mobile {
  .banner {
    flex-direction: column;
  }

  .button {
    margin: 5px 0 10px;
  }
}
