.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
}

.skillInformationsContainer {
  display: flex;
  gap: 96px;
  align-items: end;
}

.iconEditor {
  min-width: 420px;
  margin-bottom: 32px;
}
