.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  padding-bottom: 32px;
}

.skillInformationsContainer {
  display: flex;
  gap: 96px;
  align-items: center;
}

.iconEditor {
  min-width: 420px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
