@value colors: "../../../../variables/colors.css";
@value dark from colors;
@value light from colors;
@value medium from colors;
@value cm_black from colors;
@value cm_blue from colors;
@value cm_grey from colors;
@value cm_background from colors;
@value xtraLightGrey from colors;
@value breakpoints: "../../../../variables/breakpoints.css";
@value mobile from breakpoints;

.wrapper {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

.header {
  font-family: 'Gilroy';
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: light;
  cursor: pointer;
  transition: background-color 0.3s;
  color: dark;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coorpManagerOpenHeader {
  composes: header;
  background-color: cm_background;
  padding: 0 24px;
}

.coorpManagerClosedHeader {
  composes: header;
  padding: 0 24px;
  background-color: cm_background;
  border-bottom: 0px;
}

.border {
  width: 4px;
  height: 36px;
}

.borderBgBlue {
  background-color: cm_blue;
}

.borderBgNone {
  background-color: none;
}

.header:hover .titleLabel {
  color: cm_black;
}

.selectedTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35px;
}

.titleLabel {
  font-size: 14px;
  font-weight: 700;
}

.titleIcon {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.setupTitleActivatedIcon {
  composes: titleIcon;
}

.iconBlue {
  color: cm_blue;
}

.iconGrey {
  color: cm_grey;
}

.setupTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.labelBlack {
  color: cm_black;
}

.setupSelectedTitle {
  composes: setupTitle;
}

.setupTitleLabel {
  font-size: 14px;
  font-weight: 700;
  color: cm_grey;
}

.setupSelectedTitleLabel {
  font-size: 14px;
  font-weight: 700;
  color: cm_blue;
}

.icon {
  position: absolute;
  top: 50%;
  right: 43px;
  width: 16px;
  height: 16px;
  transition: transform 0.2s, opacity 0.1s;
}

.header:hover .titleIcon {
  color: black;
}

.header:hover .blueTitleIcon {
  color: cm_blue;
}

.coorpManagerOpenHeader:hover .titleIcon {
  color: cm_blue;
}

.header:hover .setupTitleLabel {
  color: black;
}

.openIcon {
  composes: icon;
  opacity: 0;
  transform: translate(50%, -50%) rotate(90deg);
}

.openIconActivated {
  composes: icon;
  opacity: 1;
  transform: translate(50%, -50%) rotate(180deg);
}

.newTabIcon {
  composes: icon;
  opacity: 1;
  transform: translate(50%, -50%);
}

.closeIcon {
  composes: icon;
  opacity: 0;
  transform: translate(50%, -50%) rotate(90deg);
}

.closeIconActivated {
  composes: icon;
  opacity: 1;
  transform: translate(50%, -50%);
}

.container {
  background-color: xtraLightGrey;
  animation: fadeIn 3s forwards;
  font-family: 'Gilroy';
  overflow: hidden;
}

.setupContainer {
  background-color: xtraLightGrey;
  animation: fadeIn 3s forwards;
  overflow: hidden;
}

.header {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 28px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: light;
  cursor: pointer;
  border-bottom: 1px solid xtraLightGrey;
  transition: background-color 0.3s;
  color: dark;
}


.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleLabel {
  font-size: 16px;
  font-weight: 600;
}

.titleIcon {
  width: 22px;
  height: 22px;
  margin-right: 15px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 43px;
  width: 16px;
  height: 16px;
  transition: transform 0.2s, opacity 0.1s;
}

.openIcon {
  composes: icon;
  opacity: 0;
  transform: translate(50%, -50%) rotate(90deg);
}

.openIconActivated {
  composes: icon;
  opacity: 1;
  transform: translate(50%, -50%) rotate(180deg);
}

.closeIcon {
  composes: icon;
  opacity: 0;
  transform: translate(50%, -50%) rotate(90deg);
}

.closeIconActivated {
  composes: icon;
  opacity: 1;
  transform: translate(50%, -50%);
}

.container {
  background-color: xtraLightGrey;
  animation: fadeIn 3s forwards;
  overflow: hidden;
}

.setupPart .container  {
  background-color: xtraLightGrey;
  animation: fadeIn 3s forwards;
  overflow: hidden;
  border-top: 1px solid medium;
}

.setupPart .header{
  background-color: xtraLightGrey;
}

@keyframes fadeIn {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 10000px;
  }
}

@media mobile {
  .openHeader:hover {
    background-color: xtraLightGrey;
  }

  .closedHeader:hover {
    background-color: light;
  }
}
