@value colors: "../../variables/colors.css";
@value medium from colors;
@value light from colors;

.wrapperSearch {
  display: flex;
  width: 100%;
  flex-flow: nowrap;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.icon {
  position: relative;
  margin: 0 0 0 -20px;
  width: 19px;
  height: 19px;
  left: 35px;
}

.search {
  font-family: "Open Sans";
  text-transform: none;
  margin: 0 3px;
  padding: 0 15px 0 45px;
  border: 0;
  height: 50px;
  border-radius: 0;
  font-size: 15px;
  color: medium;
  width: 100%;
  outline: none;
}

.search:focus {
  outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff;
    background-image: none;
    color: medium;
}
