@value colors: "../../variables/colors.css";
@value darkGrey from colors;
@value lightGrey from colors;
@value mediumGrey from colors;

.wrapper {
  position: relative;
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-search from '../../variables/fontawesome.css';
}

.wrapper:before {
  position: absolute;
  font-size: 18px;
  top: 50%;
  margin-top: -9px;
  left: 15px;
  color: darkGrey;
}

.search {
  font-family: "Open Sans";
  text-transform: none;
  padding: 0 15px 0 45px;;
  border: solid 2px lightGrey;
  height: 50px;
  border-radius: 3px;
  font-size: 15px;
  color: mediumGrey;
  width: 300px;
}
