@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value medium from colors;
@value white from colors;
@value black from colors;

.wrapper {
  background-color: white;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  z-index: 1100;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 45px;
  width: 220px;
  overflow: hidden;
}

.logo a {
  display: block;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logoDesktop {
  display: inline-block;
}

.logoMobile {
  display: none;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.list a {
  cursor: pointer;
  text-decoration: none;
}

.element { 
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 600;
  list-style: none;
  height: 32px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 4px 12px;
  margin-right: 12px;
  color: black;
  background-color: #f1f6fe;
  border-radius: 5px;
}

.icon {
  height: 19px;
  width: 25px;
  top: 0;
  left: 0;
  margin: 0 4px;
}

.seeMyPlatform {
  composes: element;
  color: white;
  background-color: #0061ff;
}

.seeMyPlatform .icon {
  margin-top: -4px;
}

.globalAnalytics {
  composes: element;
  background-color: #eaeaeb;
}

.platformList {
  composes: element;
  background-color: #fafafa;
}

.logOut {
  composes: element;
  background-color: transparent;
  color: #ed3436;
}

.platformName {
  composes: element;
  background-color: transparent;
  font-size: 20px;
  text-align: left;
  color: #111117;
}

.profilePicture {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px #fff;
  border-radius: 50%;
  overflow: hidden;
  background: light;
  flex-shrink: 0;
}

@media tablet {
  .platformList li {
    display: none;
  }

  .platformName {
    font-size: 16px;
  }

  .logOut li {
    display: none;
  }

  .icon {
    width: 30px;
  }
}

@media mobile {
  .wrapper {
    padding: 0 10px;
  }

  .logo {
    width: 125px;
  }

  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: inline-block;
  }
}
