@value colors: "../../../../variables/colors.css";
@value cm_primary_blue from colors;
@value cm_blue_50 from colors;
@value cm_grey_75 from colors;
@value cm_grey_400 from colors;
@value cm_grey_500 from colors;
@value cm_grey_700 from colors;
@value transparent from colors;

/* TourGuideJS styles */

:global([data-tg-tour]) {
  scroll-margin: 30px 0;
}

:global(.tg-backdrop) {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 99;
  border-radius: 7px;
  box-shadow: rgba(33, 33, 33, 0.8) 0 0 1px 2px, rgba(33, 33, 33, 0.8) 0 0 0 1000vh;
  border: 1px solid rgba(193, 192, 232, 0.5);
  top: 50vh;
  left: 50vw;
  width: 0;
  height: 0;
}

:global(.tg-backdrop.tg-backdrop-animate) {
  transition: all 300ms;
}

:global(.tg-backdrop.allow-interaction) {
  pointer-events: none;
}

:global(.tg-dialog) {
  border-radius: 12px;
  animation-delay: 100ms;
  min-height: 120px;
  background: #fff;
  color: #252525;
  max-width: 340px;
  width: max-content;
  z-index: 9999;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  font-size: 0.9rem;
}

:global(.tg-dialog .tg-dialog-header) {
  display: flex;
  align-items: center;
  padding: 25px 25px 0 25px;
}

:global(.tg-dialog .tg-dialog-header .tg-dialog-title) {
  font-size: 1rem;
  font-weight: 700;
  margin-right: auto;
}

:global(.tg-dialog .tg-dialog-header .tg-dialog-title + .tg-dialog-body) {
  padding: 18.75px 25px 18.75px 25px;
}

:global(.tg-dialog .tg-dialog-header .tg-dialog-close-btn) {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  opacity: 0.4;
  cursor: pointer;
  white-space: nowrap;
}

:global(.tg-dialog .tg-dialog-header .tg-dialog-close-btn:hover) {
  opacity: 0.8;
}

:global(.tg-dialog .tg-dialog-header .tg-dialog-close-btn:focus) {
  opacity: 1;
}

:global(.tg-dialog .tg-dialog-header .tg-dialog-spinner) {
  display: none;
  opacity: 0.4;
  margin-top: -1px;
  -webkit-animation: tg-spin 1s linear infinite;
  -moz-animation: tg-spin 1s linear infinite;
  -o-animation: tg-spin 1s linear infinite;
  animation: tg-spin 1s linear infinite;
}

:global(@keyframes tg-spin) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

:global(.tg-dialog .tg-dialog-progress-bar) {
  background: #f1f1f1;
  height: 5px;
  display: block;
  margin-top: 18.75px;
  position: relative;
}

:global(.tg-dialog .tg-dialog-progress-bar > .tg-bar) {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 4px;
  background: #414144;
  height: 100%;
  display: block;
  transition: all 300ms;
}

:global(.tg-dialog .tg-dialog-body) {
  padding: 25px;
  font-weight: 400;
}

:global(.tg-dialog .tg-dialog-dots) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 10px;
  border-top: 1px solid #dedee7;
  border-bottom: 1px solid #dedee7;
}

:global(.tg-dialog .tg-dialog-dots > span.tg-dot) {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #c2c7ce;
  border-radius: 12px;
  margin: 0 4px;
}

:global(.tg-dialog .tg-dialog-dots > span.tg-dot.tg-dot-active) {
  background: #5362d9;
}

:global(.tg-dialog .tg-dialog-footer) {
  padding: 12.5px 25px 25px 25px;
  display: flex;
  align-items: center;
}

:global(.tg-dialog .tg-dialog-footer button.tg-dialog-btn) {
  padding: 5px 10px;
  border: 1px solid #cbcfd5;
  color: #6f727e;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.82rem;
  white-space: nowrap;
}

:global(.tg-dialog .tg-dialog-footer button.tg-dialog-btn + button) {
  margin-left: auto;
}

:global(.tg-dialog .tg-dialog-footer button.tg-dialog-btn.disabled) {
  pointer-events: none;
  opacity: 0.6;
}

:global(.tg-dialog .tg-dialog-footer button.tg-dialog-btn:hover) {
  color: #464852;
  border: 1px solid #b5b7c2;
  outline: none;
  box-shadow: none;
}

:global(.tg-dialog .tg-dialog-footer button.tg-dialog-btn:focus) {
  outline: none;
  box-shadow: none;
}

:global(.tg-dialog .tg-dialog-footer button.tg-dialog-btn:active) {
  color: #4655cb;
  background: #f1f2ff;
  border: 1px solid #5362d9;
  outline: none;
  box-shadow: none;
}

:global(.tg-dialog .tg-dialog-footer .tg-dialog-footer-sup) {
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  line-height: 1;
}

:global(.tg-dialog .tg-dialog-footer .tg-dialog-footer-sup .tg-step-progress) {
  font-size: 0.78rem;
  font-weight: 700;
  margin: 0 auto;
  opacity: 0.4;
  letter-spacing: 1px;
  display: inline-block;
}

:global(.tg-dialog .tg-dialog-footer .tg-dialog-footer-sup .tg-dialog-dots) {
  padding: 0;
  margin: 0;
  border: none;
}

:global(.tg-dialog .tg-dialog-footer .tg-dialog-footer-sup .tg-dialog-dots > span.tg-dot) {
  width: 8px;
  height: 8px;
  margin: 0 3px;
}

:global(.tg-dialog .tg-dialog-footer .tg-dialog-footer-sup .tg-dialog-dots + .tg-step-progress) {
  margin-top: 10px;
  font-size: 0.68rem;
}

:global(.tg-dialog .tg-arrow) {
  position: absolute;
  background: #fff;
  width: 9px;
  height: 9px;
  border-radius: 1px;
  transform: rotate(45deg);
}

:global(.tg-dialog.tg-dialog-fixed) {
  transition: none;
  animation-delay: 0ms;
}

:global(.tg-dialog.animate-position) {
  transition: all 300ms;
}

:global(.tg-dialog.tg-dialog-loading .tg-dialog-header .tg-dialog-title) {
  opacity: 0.4;
}

:global(.tg-dialog.tg-dialog-loading .tg-dialog-header .tg-dialog-close-btn) {
  display: none;
}

:global(.tg-dialog.tg-dialog-loading .tg-dialog-header .tg-dialog-spinner) {
  display: inline-block;
}

:global(.tg-dialog.tg-dialog-loading .tg-dialog-body) {
  opacity: 0.4;
  pointer-events: none;
}

:global(.tg-dialog.tg-dialog-loading .tg-dialog-footer) {
  pointer-events: none;
  opacity: 0.4;
}

:global(.tg-no-interaction *) {
  pointer-events: none !important;
  user-select: none !important;
}

:global(.tg-no-interaction .tg-dialog),
:global(.tg-no-interaction .tg-active-element),
:global(.tg-dialog *),
:global(.tg-active-element *) {
  pointer-events: auto !important;
  user-select: text !important;
}

/* Custom styles for Coorpacademy */

:global(.coorp-tourguide-dialog) {
  font-family: Gilroy;
  font-weight: 900;
  font-style: Solid;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

:global(.coorp-tourguide-dialog #tg-dialog-prev-btn.disabled) {
  opacity: 0;
}

:global(.coorp-tourguide-dialog #tg-dialog-next-btn) {
  cursor: pointer;
  border-color: transparent;
  vertical-align: middle;
  color: cm_primary_blue;
  background-color: cm_blue_50;
  font-family: Gilroy;
  font-weight: 900;
  font-style: Solid;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 8px 10px;
}

:global(.coorp-tourguide-dialog #tg-dialog-prev-btn) {
  cursor: pointer;
  border-color: transparent;
  vertical-align: middle;
  color: cm_grey_500;
  background-color: cm_grey_75;
  font-family: Gilroy;
  font-weight: 900;
  font-style: Solid;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 8px 10px;
}

:global(.coorp-tourguide-dialog #tg-dialog-next-btn:hover) {
  color: color(cm_primary_blue a(75%));
  background-color: color(cm_blue_50 a(75%));
}

:global(.coorp-tourguide-dialog #tg-dialog-prev-btn:hover) {
  color: color(cm_grey_500 a(75%));
  background-color: color(cm_grey_75 a(75%));
}

:global(.coorp-tourguide-dialog #tg-dialog-title) {
  color: cm_grey_700;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: bottom;
  padding-top: 15px;
}

:global(.coorp-tourguide-dialog #tg-dialog-close-btn) {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
}

:global(.coorp-tourguide-dialog #tg-dialog-body) {
  font-weight: 600;
  font-style: SemiBold;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: bottom;
  color: cm_grey_500;
}

:global(.coorp-tourguide-dialog .tg-dialog-footer) {
  justify-content: space-between;
}

:global(.coorp-tourguide-dialog .tg-dialog-footer-sup) {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  color: cm_grey_400;
  position: absolute;
  top: 20px;
  left: 14px;
}
