.group {
  list-style-type: none;
  padding: 0;
  display: flex;
  overflow-y: inherit;
  align-content: flex-start;
  flex-wrap: wrap;
}

.dragAndDrop {
  margin-right: 16px;
  width: 202px;
  height: 183px;
}
