.title {
  margin-bottom: 18px;
}
.group {
  display: flex;
  overflow-y: inherit;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-left: 31px;
}

.dragAndDrop {
  margin-right: 16px;
}

.dragAndDrop:nth-child(4) {
  margin-right: 0px;
}
