.container {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  align-items: stretch;
  box-sizing: content-box;
}
.setup {
  width: 100%;
}
.coorpmanager {
  border: 0px;
  width: 400px;
  margin: 0px auto;
}

