@value colors: "../../variables/colors.css";
@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value mobile from breakpoints;
@value xtraLightGrey from colors;
@value cm_grey_100 from colors;
@value cm_grey_200 from colors;
@value cm_grey_400 from colors;
@value cm_grey_500 from colors;

.container {
  font-family: "Gilroy";
  font-style: normal;
  max-width: 1080px;
  margin: auto;
  margin-top: 48px;
}

.sortSection {
  display: flex;
  margin: 16px 0;
  justify-content: space-between;
}

.certificatesCount {
  color: cm_grey_500;
}

.sortSectionWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4px;
}

.sortSection {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.sortWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  color: cm_grey_500;
}

.certificateList {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

@media mobile {
  .sortSectionWrapper {
    flex-direction: column-reverse;
    margin-bottom: 16px;
    align-items: normal;
  }

  .sortSection {
    gap: 16px;
  }
  
  .certificateList {
    justify-content: center;
  }
}