@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.cursuses {
  width: 230px;
}

.title {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 15px;
  color: #546E7A;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.list {
  list-style-type: none;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 1px solid #CFD8DC;
}

.cursus {
  border-bottom: 1px solid #CFD8DC;
  padding: 5px 20px;
  height: 40px;
}

.cursus:hover {
  background-color: #123;
  cursor: pointer;
}

.cursus a {
  font-family: OpenSans;
  font-size: 14px;
  color: #37474F;
  text-decoration: none;

}

.cursus:hover a {
  color: #00B0FF;
}

@media mobile {
  .cursuses {
    display: none;
  }
}
