@value breakpoints: "../../../variables/breakpoints.css";
@value mobile from breakpoints;

@value colors: "../../../variables/colors.css";
@value positive from colors;
@value negative from colors;

.game {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  justify-content: space-around;
  background-size: cover;
}

.topScreen {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.view {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  composes: view;
  overflow-y: scroll;
  z-index: 2;
}

.slideWrapper {
  display: block;
  margin: auto;
}

.towers {
  composes: view;
}

/*-------------------------------------------------*/

.answerPopin {
  width: 400px;
  position: absolute;
  left: 50%;
  border-radius: 15px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.answerPopin > span {
  font-family: 'Open Sans';
  margin: 10px auto;
}

.win {
  color: positive;
  font-size: 95px;
  font-weight: 700;
}

.lose {
  color: negative;
  font-size: 85px;
  font-weight: 500;
}

/*-------------------------------------------------*/

.message {
  position: absolute;
  font-family: 'Open Sans';
  font-size: 35px;
  font-weight: 500;
  color: #0e3a3d;
  top: 25%;
  display: flex;
  justify-content: center;
  width: 100%;
}

/*-------------------------------------------------*/

.timer {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: center;
}

.timer > h1 {
  font-family: 'Open Sans';
  font-size: 65px;
  font-weight: 300;
  color: #0e3a3d;
  margin: 0;
}

/*-------------------------------------------------*/
