.game {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  justify-content: space-around;
  background-image: url('https://user-images.githubusercontent.com/910636/46425210-5fdb3700-c73b-11e8-96d5-e685f3037191.jpg');
  background-size: cover;
}

.topScreen {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.view {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  composes: view;
  overflow-y: scroll;
}

.slideWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.towers {
  composes: view;
}

/*-------------------------------------------------*/

.answerPopin {
  width: 400px;
  height: 250px;
  position: absolute;
  background: #ffffffdb;
  left: 50%;
  border-radius: 15px;
  transform: translateX(-50%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  align-items: center;
  justify-content: center;
}

.answerPopin > span {
  font-family: 'Open Sans';
  font-size: 65px;
  font-weight: 300;
  color: #0e3a3d;
  margin: 0;
}

/*-------------------------------------------------*/

.timer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: center
}

.timer > h1 {
  font-family: 'Open Sans';
  font-size: 65px;
  font-weight: 300;
  color: #0e3a3d;
  margin: 0;
}
