.game {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  background-color: transparent;
  justify-content: space-around;
  background-size: cover;
}

.topScreen {
  background-image: url('https://user-images.githubusercontent.com/910636/46425210-5fdb3700-c73b-11e8-96d5-e685f3037191.jpg');
  background-size: cover;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.movingView {
  position: absolute;
  display: flex;
  width: 200%;
  height: 100%;
}

.movingViewPart {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.slideWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.slide {
  composes: movingViewPart;
  overflow-y: scroll;
}

.towers {
  composes: movingViewPart;
}

/*-------------------------------------------------*/

.answerPopin {
  width: 400px;
  height: 250px;
  position: absolute;
  background: #d4d4d4;
  left: 50%;
  transform: translateX(-50%);
}
