@value colors: "../../variables/colors.css";
@value positive from colors;
@value brand from colors;
@value dark from colors;
@value xtraLightGrey from colors;
@value white from colors;

.wrapper {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.arrow {
  width: 58px;
  height: 58px;
  box-sizing: border-box;
  font-size: 30px;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: all 0.2s cubic-bezier(0.47, 1.04, 0.46, 2.16);
}

.dropping .arrow {
  transform: scale(1.2);
}

.default {
  border: 2px dashed xtraLightGrey;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  background: white;
  transition: border-color 0.35s ease-out;
}

.loading {
  composes: default;
  height: 80px;
  border: none;
  position: relative;
}

.dropping {
  composes: default;
  border: 3px dashed brand;
}

.cont {
  color: dark;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.desc {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 17px;
  color: dark;
}

.browse {
  margin-top: 10px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 17px;
  color: brand;
}

.inputFile {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
