@value colors: "../../variables/colors.css";
@value white from colors;
@value negative from colors;
@value dark from colors;

.default {
  position: relative;
  width: 90px;
  height: 67px;
}

.livesCounter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: dark;
  font-size: 22px;
  font-family: 'Open Sans';
  font-weight: 700;
  top: 0;
  right: 0;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: white;

}

.heartWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 42px;
  height: 100%;
}

.centeredOverlapIcon {
  position: absolute;
  left: 50%;
  top: 50%;
}

.heartIcon {
  composes: centeredOverlapIcon;
  margin: -17px 0 0 -17px;
  width: 34px;
  height: 34px;
}

.heart {
  composes: heartIcon;
}

.heartOutline {
  composes: heartIcon;
}

.heartOutline > path:last-child {
  stroke: white;
  stroke-width: 4px;
}
