@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.card {
  margin: 0px 0px 8px 0px;
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.10);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.card:last-child {
  margin: 0px;
}

.card:hover {
  background-color: #F7F7F7;
}

.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #eeeeee;
  margin-right: 20px;
  flex: 0 0 50px;
}

.avatar img {
  width: 100%;
  height: auto;
}

.info {
  flex-grow: 1;
}

.name {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #484848;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name span {
  color: #AAAAAA;
  margin-left: 5px;
}

.icon {
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-bolt from '../../variables/fontawesome.css';
  font-size: 22px;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: #ffe100;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
}

.discipline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.disciplineName {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: #484848;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.level {
  font-family: 'Open Sans';
  color: #ffffff;
  background-color: #474649;
  text-transform: uppercase;
  padding: 2px 10px;
  border-radius: 3px;
  font-size: 8px;
  margin-left: 10px;
}

.start {
  margin-left: 20px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #484848;
}

.arrow {
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-chevron-right from '../../variables/fontawesome.css';
  color: #C7C7C7;
  font-size: 20px;
  margin-left: 20px;
}

@media mobile {
  .card {
    margin-bottom: 8px;
    border-left: 0;
  }

  .icon {
    left: 0;
  }

  .avatar {
    margin-right: 10px;
  }

  .level {
    margin-left: 10px;
  }

  .arrow {
    margin-left: 10px;
  }

  .start {
    display: none;
  }

  .name{
    font-size: 13px;
  }
}
