.form {
  margin: 0;
}

.form fieldset {
  margin-bottom: 20px;
}

.buttons {
  text-align: right;
}

.save {
  background-color: #66bb6a;
  border-radius: 2px;
}

.save:before {
  background-color: #29AF2F;
}

.save input {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: Transparent;
  background-repeat:no-repeat;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  line-height: 52px;
  padding: 0 30px;
  text-align: center;
  border: none;
  cursor: pointer;
}
