.form {
  margin: 0;
}

.form fieldset {
  margin-bottom: 20px;
}

.buttons {
  text-align: right;
}

.cancel {
  background-color: #FF7043;
  margin: 0 5px;
  width: auto;
}

.save {
  background-color: #66bb6a;
  width: auto;
}
