@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value cm_blue_900 from colors;
@value cm_positive_100 from colors;


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.textBase {
  font-family: 'Gilroy';
  font-style: normal;
  user-select: none;
}

.textContainerBase {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.textIconBase {
  composes: textBase;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(36px);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 24px;
  box-shadow: 0px 0px 45px 6px rgba(255, 206, 10, 0.1);
  width: 280px;
  animation: fadeIn 2s ease-in-out forwards;
}

.mainIcon {
  display: flex;
  justify-content: center;
  margin: 20px 0px 12px;
}

.title {
  composes: textBase;
  color: cm_blue_900;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

.textContainerStar {
  composes: textContainerBase;
  justify-content: flex-end;
}

.textContainerRank {
  composes: textContainerBase;
  justify-content: space-between;
  padding: 0 45px;
}

.textStar {
  composes: textIconBase;
  color: #ffde03;
}

.textRank {
  composes: textIconBase;
  color: cm_blue_900;
}

.iconStar {
  color: #ffde03;
  padding: 0 55px 0 10px;
}

.iconRank {
  color: cm_positive_100;
}

.rankSuffix {
  composes: textIconBase;
  color: cm_blue_900;
}

@media mobile {
  .mainIcon {
    margin: 14px 0px 6px;
  }

  .textContainerBase {
    margin-bottom: 20px;
  }
}