@value breakpoints: "../../../../variables/breakpoints.css";
@value mobile, tablet from breakpoints;
@value colors: "../../../../variables/colors.css";
@value medium from colors;
@value dark from colors;
@value light from colors;
@value black from colors;
@value grey from colors;
@value brand from colors;
@value negative from colors;
@value orangeAdd from colors;
@value white from colors; 

.wrapper {
  position: relative;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 960px;
  width: 100%;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 80px;
}

.contentProgression {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 36px 32px 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0px 0px 3px 3px;
}

.contentWrapperNoPadding {
  composes: contentWrapper;
}

.error {
  color: negative;
  text-align: center;
  border: solid 2px negative;
  padding: 36px 32px 32px;
  box-sizing: border-box;
  width: 80%;
  margin: 32px auto;
}

.loading {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.stepWrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: light;
  overflow: hidden;
}

.stepBar {
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: width 0.3s ease-out;
  transition-delay: 0.5s;
}

.infos {
  position: absolute;
  z-index: 1;
  background-color: light;
  color: dark;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
}

.stepCount {
  composes: infos;
  right: 0;
  padding: 4px 5px 4px 10px;
  border-bottom-left-radius: 12px;
}

.guideWrapper {
  composes: infos;
  left: 0;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 16px;
  padding: 12px;
}

.newMedia {
  color: orangeAdd;
  background-color: color(orangeAdd a(10%));
}

.newMedia span {
  animation: fade 2.5s infinite linear;
}

.guideWrapper:hover {
  color: white;
  transition: 1s; 
}

.newMedia:hover {
  background-color: orangeAdd;
}

.reviewLesson:hover {
  background-color: grey;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.question {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 24px 0 4px;
  max-width: 70%;
  width: 100%;
  padding: 0 9px;
  box-sizing: border-box;
}

.contextTitle {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 24px 0 4px;
  width: 100%;
  padding: 0 9px;
  box-sizing: border-box;
}

.helpView {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 500;
  color: medium;
  flex-grow: 0.1;
  margin: 4px 0 10px;
  text-align: center;
  max-width: 70%;
  width: 100%;
}

.ctaWrapper > .cta {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  font-family: "Open Sans";
  min-width: 160px;
  text-align: center;
}

.ctaWrapper > .cta:focus {
  border: 3px solid;
}

.ctaWrapper {
  display: flex;
  flex-grow: 0.1;
  padding-top: 15px;
  align-items: flex-end;
  font-family: "Open Sans";
}

.resourcesWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0.7;
  margin-top: 20px;
}

.clueWrapper {
  flex-grow: 0.7;
  width: 100%;
}

.stars {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  color: grey;
  letter-spacing: 0;
  width: 100%;
  margin: 24px 0;
  text-align: center;
  padding: 0 9px;
  box-sizing: border-box;
}

.context {
  width: 100%;
}

.contextDescription {
  font-family: "Open Sans";
  font-size: 14px;
  color: grey;
  width: 100%;
  margin: 24px 0;
  padding: 0 9px;
  box-sizing: border-box;
}

.contextWrapper {
  margin: 25px auto;
  text-align: center;
}

.contextPdfWrapper {
  width: 341px;
  height: 241px;
}

.contextAudioWrapper {
  width: 380px;
  height: 240px;
}

.contextMedia {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media tablet {
  .wrapper {
    box-shadow: none;
    border-radius: 0;
  }

  .question {
    max-width: 60%;
  }
  .helpView {
    max-width: 60%;
  }
}

@media mobile {
  .wrapper {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  .resourcesWrapper {
    width: 100%;
    margin-top: 12px;
  }

  .contentWrapper {
    padding: 32px 8px 16px;
    margin-bottom: 80px;
    overflow-y: auto;
  }

  .contentWrapperNoPadding {
    composes: contentWrapper;
    padding: 32px 0 16px;
  }

  .question {
    margin: 10px 8px 4px;
    font-size: 17px;
    max-width: initial;
  }

  .helpView {
    margin-bottom: 6px;
    font-size: 13px;
  }

  .ctaWrapper {
    text-align: center;
    display: block;
    width: 80%;
  }

  .ctaWrapper > .cta {
    display: flex;
    font-size: 18px;
    height: 53px;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    width: 100%;
  }

  .contextMedia {
    margin: 0 auto 25px;
  }
  .guideWrapper {
    left: initial;
    margin-left: initial;
  }
  .contentProgression {
    justify-content: center;
  }
  .question {
    margin-top: 54px;
  }
}
