@value colors: "../../variables/colors.css";
@value light from colors;
@value white from colors;

.container {
  font-family: "Open sans", serif;
  color: light;
  position: relative;

  display: flex;

  border: 1px solid light;

  height: 91px;
  max-width: 375px;
  background-color: white;
  cursor: pointer;
}

.imageContainer {
  border-right: 1px solid light;
  padding: 5px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 40px;
  height: 40px;
}

.closeCross {
  position: absolute;
  top: 0px;
  right: 9px;
  color: grey;
}

.closeCross::before {
  content: "x";
}

.content {
  margin: auto;

  padding: 10px;
  max-width: 75%;
  white-space: nowrap;
  overflow: auto;
}

.content h5 {
  color: rgb(0, 176, 255);
  margin: 0;
  text-overflow: ellipsis;
}

.redirectionLink {
  font-size: 0.7rem;
  color: gray;
}

.redirectionLink:hover {
  text-decoration: underline;
  font-weight: 600;
}
