@value colors: "../../variables/colors.css";
@value brand from colors;
@value darkbrand from colors;
@value positive from colors;
@value lightGreen from colors;

.unsubscribe {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
    flex: 2;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.button {
  font-size: 15px;
  border-radius: 30px;
  height: 60px;
  white-space: pre-line;
  padding: 0 30px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.keepSubscriptionButton {
  composes: button;
  border: none;
  background-color: brand;
  color: white;
}

.keepSubscriptionButton:hover {
  background-color: darkbrand;
}

.unsubscribeButton {
  composes: button;
  background-color: white;
  color: brand;
  border: 1px solid;
}

.unsubscribeButton:hover {
  background-color: #f0f0f0;
}

.unsubscribeConfirmation {
  white-space: pre-line;
  text-align: left;
  padding: 20px;
  border: solid 1px positive;
  background-color: lightGreen;
  color: positive;
}
