@value mobile, tablet from "../../variables/breakpoints.css";

.default {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.resourcesList {
  margin-left: 16px;
  margin-top: 16px;
  width: 230px;
  height: 100%;
}

.resourcePlayer {
  height: 343px;
  width: 609px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media tablet {
  .default {
    flex-flow: column;
    height: auto;
    width: 100%;
  }

  .resourcePlayer {
    width: 100%;
    min-width: 100vw;
    height: 56.25vw;
  }

  .resourcesList {
    display: flex;
    flex-flow: column;
    margin: 0;
    width: 100%;
    height: auto;
  }
}
