@value breakpoints: "../../variables/breakpoints.css";
@value desktop from breakpoints;
@value tablet from breakpoints;
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value grey from colors;
@value dark from colors;
@value xtraLightGrey from colors;
@value white from colors;

.feedbackWrapper {
  width: 100%;
  border-bottom: solid 2px light;
  padding: 40px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  width: 100%;
  height: 34px;
  margin-bottom: 20px;
  font-family: 'OpenSans';
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: dark;
}

.descWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.description {
  width: 476px;
  height: 252px;
  margin-right: 32px;
  font-family: 'OpenSans';
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.1px;
  text-align: left;
  color: dark;
}

.resource {
  min-width: 341px;
  max-width: 400px;
  min-height: 241px;
  max-height: 400px;
  overflow: hidden;
}
