@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

@value colors: "../../variables/colors.css";
@value white from colors;

.static {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 80px;
  font-size: 14px;
  box-sizing: border-box;
  color: #4C616B;
  text-transform: uppercase;
  z-index: 800;
  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: inline-block;
}

.logo {
  display: inline-block;
  height: 45px;
  width: 250px;
  overflow: hidden;
  flex-shrink: 0;
}

.logo a {
  display: block;
}

.logo img {
  width: 100%;
  height: 100%;
}

@media mobile {
  .logo {
    width: 125px;
    height: auto;
  }
}
