.header {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  font-family: 'Open Sans';
}

.joined {
  margin-top: 20px;
  font-size: 16px;
}

.name {
  margin-top: 5px;
  font-size: 28px;
}
