@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.wrapper,
.deviceView {
  display: block;
  width: 100%;
  height: 100%;
}

.picture,
.default {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.cover {
  background-size: cover;
}

.contain {
  background-size: contain;
}

.mobileContainer,
.desktopContainer {
  width: 100%;
  height: 100%;
}

.mobileContainer {
  display: none;
}

.desktopContainer {
  display: block;
}

@media desktop {
  .mobileContainer {
    display: none;
  }

  .desktopContainer {
    display: block;
  }
}

@media mobile {
  .mobileContainer {
    display: block;
  }

  .desktopContainer {
    display: none;
  }
}
