@value colors: "../../variables/colors.css";
@value white from colors;
@value light from colors;
@value negative from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value tablet from breakpoints;
@value desktop from breakpoints;

.wrapper,
.deviceView {
  display: block;
  width: 100%;
  height: 100%;
}

.picture,
.default {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.cover {
  background-size: cover;
}

.contain {
  background-size: contain;
}

.mobile,
.desktop {
  width: 100%;
  height: 100%;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media desktop {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@media mobile {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
