.set {
  padding: 30px;
}

.set legend {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: #686868
}

.set div {
  margin-bottom: 20px;
}

.set div:last-child {
  margin-bottom: 0;
}
