@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value desktop from breakpoints;
.loader {
  position: relative;
  height: 100px;
  width: 100%;
}

.default {
  width: 100%;
  display: flex;
  overflow-y: inherit;
  align-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 23%;
  margin-right: 16px;
}

@media desktop {
  .card {
    width: 46%;
  }
}

@media tablet {
  .card {
    margin-top: 16px;
    margin-right: 16px;
    width: 46%;
  }
}