@value breakpoints: "../../variables/breakpoints.css";
@value cm_tablet from breakpoints;
@value desktop from breakpoints;
.loader {
  position: relative;
  height: 100px;
  width: 100%;
}

.default {
  width: 100%;
  display: flex;
  overflow-y: inherit;
  align-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  border-right: 16px solid transparent;
  border-bottom: 16px solid transparent;
  box-sizing: border-box;
}

@media cm_tablet {
  .card {
    width: 50%;
  }
}