@value colors: "../../variables/colors.css";
@value lightRed from colors;
@value lightGreen from colors;
@value lightOrange from colors;
@value darkGrey from colors;
@value borderGrey from colors;
@value blue from colors;
@value green from colors;
@value grey from colors;
@value light from colors;
@value darkBlueGrey from colors;

.wrapper {
  width: 100%;
}

.title {
  margin-bottom: 20px;
}

.title h3 {
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 700;
  color: darkGrey;
  margin: 0;
}

.title p {
  display: block;
  margin: 16px 0;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 400;
  color: grey;
}

.title span {
  display: block;
  padding: 16px 0 32px 0;
  margin-bottom: 24px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 400;
  color: grey;
  border-bottom: solid 2px borderGrey;
}

.subWrapper {
  margin-bottom: 24px;
  padding-bottom: 32px;
  border-bottom: solid 2px borderGrey;
}

.subWrapper p {
  display: block;
  margin: 16px 0;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 400;
  color: grey;
}

.subWrapper div {
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.subWrapper .mandatory {
  font-family: 'Open Sans';
  font-weight: 700;
  color: darkBlueGrey;
}

.subWrapper .subtitles {
  display: flex;
  align-items: center;
  margin: 40px 0 16px 0;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: darkBlueGrey;
}

.subtitles span {
  width: 17%;
}

.algorithm span,
.binding span {
  text-align: right;
  line-height: 25px;
}

.subWrapper label {
  margin-right: 16px;
}

.subWrapper input[type="text"] {
  width: 400px;
}

.subWrapper input[type="button"] {
  background-color: darkGrey;
}

.subWrapper input[type="button"]:hover {
  background-color: grey;
}

.subWrapper .skew {
  display: flex;
  align-items: center;
}

.subWrapper .algorithm,
.subWrapper .binding {
  display: flex;
  align-items: center;
  color: darkBlueGrey;
}

.skewDesc {
  font-family: 'Open Sans';
  font-weight: 500;
  color: borderGrey;
  font-style: italic;
  font-size: 12px;
} 

.validate {
  text-align: right;
}

@keyframes notificationAppear {
  0% {
    margin-left: 100%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
