.input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.templateLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
}