@value colors: "../../variables/colors.css";
@value dark from colors;
@value medium from colors;

.member {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid medium;
  border-bottom: none;
  height: 45px;
}

.member > h1 {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: normal;
  color: dark;
}

.avatar {
  position: absolute;
  left: 7px;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  border-radius: 50%;
  background-size: contain;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
