.teams {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.teamBuilder {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  justify-content: space-evenly;
  background-image: url("https://user-images.githubusercontent.com/910636/46425210-5fdb3700-c73b-11e8-96d5-e685f3037191.jpg");
  background-size: cover;
}

.title {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 36px;
}
