@value colors: "../../variables/colors.css";
@value dark from colors;
@value brand from colors;
@value light from colors;
@value cm_grey_400 from colors;

.back {
  margin-bottom: 30px;
}

.group {
  margin: 0 0 32px 0;
}

.form {
  margin: 0 0 48px 0;
}

.group:last-child {
  margin: 0;
}

.arrowBack {
  width: 15px;
  height: 15px;
  margin-top: -2px;
}

.backDesc {
  margin-left: 10px;
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 700;
  color: dark;
  text-decoration: none;
}

.backDesc:hover {
  color: brand;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 20px;
}

.button:first-child {
  margin-left: 0;
}

.saveButton {
  composes: button;
}

.resetButton {
  composes: button;
}

.loaderContainer {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 60px;
  width: 60px;
}