.wrapper {

}

.group {
  width: 100%;
  border-top: 1px solid #E0E0E0;
  margin-top: 50px;
  padding-top: 50px;
}

.group:first-child {
  margin-top: 0;
  border-top: none;
  padding-top: 0;
}

.saveGroup {
  composes: group;
  text-align: right;
  border-top: none;
  padding-top: 0;
}
