@value colors: "../../variables/colors.css";
@value dark from colors;
@value brand from colors;
@value light from colors;

.wrapper {

}

.back {
  margin-bottom: 30px;
}

.arrowBack {
  width: 15px;
  height: 15px;
  margin-top: -2px;
}

.backDesc {
  margin-left: 10px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: dark;
  text-decoration: none;
}

.backDesc:hover {
  color: brand;
}

.group {
  border-bottom: 1px solid light;
  margin-top: 50px;
}

.group:first-child {
  margin-top: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  /*border-top: 1px solid #E0E0E0;*/
  padding-top: 50px;
}

.button {
  margin-left: 20px;
}

.button:first-child {
  margin-left: 0;
}

.saveButton {
  composes: button;
}

.resetButton {
  composes: button;
}
