@value colors: "../../variables/colors.css";
@value darkGrey from colors;
@value blue from colors;

.wrapper {

}

.back {
  margin-bottom: 30px;
}

.arrowBack {
  composes: fa from '../../variables/fontawesome.css';
  composes: fa-arrow-left from '../../variables/fontawesome.css';
  width: 18px;
  height: 11px;
  font-size: 15px;
  color: darkGrey;
}

.backDesc {
  margin-left: 10px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: darkGrey;
  text-decoration: none;
}

.backDesc:hover {
  color: blue;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #E0E0E0;
  margin-top: 50px;
  padding-top: 50px;
}

.button {
  margin-left: 20px;
}

.button:first-child {
  margin-left: 0;
}

.saveButton {
  composes: button;
}

.resetButton {
  composes: button;
}
