@value breakpoints: "../../../variables/breakpoints.css";
@value tablet from breakpoints;
@value colors: "../../../variables/colors.css";
@value light from colors;
@value white from colors;
@value dark from colors;
@value brand from colors;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
}

.container.newPost {
  flex-direction: row;
}

.wrapper {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  margin-bottom: 10px;
}

.wrapper.newPost {
  width: auto;
  margin-bottom: 0;
}

.image {
  background-color: light;
  overflow: hidden;
  width: 41px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 50%;
  border: none;
  margin: auto 27px auto 0;
}

.image img {
  width: 100%;
  height: 100%;
}

.comment {
  flex-grow: 1;
  width: 100%;
}

.comment textarea {
  resize: vertical;
  outline: 0;
  text-transform: none;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  border: solid 1px light;
  border-radius: 3px;
  background-color: white;
  font-size: 14px;
  font-family: 'Gilroy';
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: none;
  box-sizing: border-box;
}

.post {
  padding: 0 0 0 30px;
  vertical-align: middle;
  display: block;
  margin: auto 0;
}

.post > .disabledButton {
  cursor: default;
  min-width: auto;
  line-height: 45px;
  border-radius: 100px;
}

.post > .disabledButton::after {
  opacity: 0;
}

.post > .button {
  min-width: auto;
  line-height: 45px;
  border-radius: 100px;
}

@media tablet {
  .container.newPost {
    flex-direction: column;
  }

  .wrapper.newPost {
    width: 100%;
    margin-bottom: 10px;
  }

  .post > .button,
  .post > .disabledButton {
    line-height: 34px;
  }

  .image {
    margin: auto 16px auto 0;
  }
}
