@value colors: "../../../variables/colors.css";
@value lightGrey from colors;
@value darkGrey from colors;
@value extraLightGrey from colors;

.container {
  padding: 5px;
}

.wrapper {
  display: flex;
}

.image {
  background-color: extraLightGrey;
  border-radius: 3px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  flex-shrink: 0;
}

.image img {
  width: 100%;
  height: 100%;
}

.comment {
  flex-grow: 1;
  width: 100%;
}

.comment textarea {
  resize: none;
  outline: 0;
  text-transform: none;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  border: solid 2px lightGrey;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'Open Sans';
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: none;
  box-sizing: border-box;
}

.post {
  float: right;
  margin-top: 10px;
}

.button {
  background-color: darkGrey;
  width: 100px;
  padding: 0;
}
.button input {
  padding: 0 5px;
}
