@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value desktop from breakpoints;

.container {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerTitle {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 16px;
}

.leftSection {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1 0 auto;
  width: 65%;
}

.form {
  margin: 45px 32px 0 0;
}

.rightSection {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 320px;
  bottom: 0px;
}

.stickySection {
  box-sizing: border-box;
  position: sticky;
  z-index: 1;
  top: 10px;
}

.summaryZone {
  width: 100%;
  position: relative;
  min-height: 500px;
  justify-content: space-between;
}

.actionZone {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.button {
  width: calc(50% - 8px);
}

.footer {
  width: 100%;
  bottom: 0px;
  display: none;
}

@media desktop {
  .rightSection {
    display: none;
  }

  .footer {
    display: block;
  }
}

@media tablet {
  .rightSection {
    display: none;
  }

  .footer {
    display: block;
  }
}
