@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value desktop from breakpoints;

.container {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  height: calc(100vh - 124px);
  width: 100%;
}

.leftSection {
  display: block;
  overflow: auto;
  box-sizing: border-box;
  width: calc(100% - 320px);
  height: 100%;
  position: relative;
}

.leftSectionWithoutSummary {
  display: block;
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.rightSection {
  height: 100%;
  padding-bottom: 58px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  flex: 0 1 320px;
}

.stickySection {
  height: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerTitle {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 16px;
}

.form {
  margin: 45px 32px 0 0;
}

.summaryZone {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.actionZone {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 16px 0;
  flex-wrap: wrap;
}

.button {
  width: 100%;
  max-width: 184px;
}

.footerWithoutSummary {
  width: 100%;
  bottom: 0px;
  position: inherit;
  display: flex;
  justify-content: flex-end;
}

.footer {
  width: 100%;
  bottom: 0px;
  display: none;
  position: inherit;
}

.actionFooterWithoutSummary {
  width: 100%;
  display: flex;
  right: 0;
  max-width: 184px;
  bottom: -10px;
  position: sticky;
  position: absolute;
}

@media desktop, tablet {
  .leftSection {
    width: 100%;
    min-height: 500px;
  }

  .rightSection {
    display: none;
  }

  .footer  {
    display: flex;
    align-items: flex-end;
    bottom: 10px;
    position: sticky;
    z-index: 1;
  }

  .footer::before {
    content: '';
    background: linear-gradient(to top,white 64px, #ffffff00 );
    bottom: -10px;
    left: 0px;
    right: 0px; 
    height: 84px;
    position: absolute;
    z-index: -1;
  }

  .summaryFooter {
    width: 57%;
    height: 100%;
  }

  .actionFooter {
    max-width: 184px;
    width: 100%;
  }
  
  .actionZone {
    margin: 0;
  }
}
