@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value brand from colors;
@value medium from colors;
@value white from colors;
@value light from colors;
@value dark from colors;

.wrapper {
  overflow-x: scroll;
  padding-bottom: 15px;
}

.table {
  border: 1px solid light;
  font-family: 'Open Sans';
  border-spacing: 0;
}

.table thead {
  background-color: xtraLightGrey;
}

.table th {
  text-align: left;
  border-right: 1px solid light;
  border-bottom: 1px solid light;
  position: relative;
}

.table th:last-child {
  border-right: 0;
}

.table tbody td {
  font-weight: 600;
  color: dark;
  line-height: 42px;
  padding: 0 25px;
  white-space: nowrap;
}

.table td {
  border-right: 1px solid light;
  border-bottom: 1px solid light;
}

.table td:last-child {
  border-right: 0;
}

.table tr:last-child td {
  border-bottom: 0;
}

.table tbody tr:hover {
  background-color: xtraLightGrey;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .options{
  display: block;
}

.toggle {
  width: 100%;
}

.toggle label, .noOptions label {
  display: inline-block;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: medium;
  box-sizing: border-box;
  line-height: 70px;
  white-space: nowrap;
  padding: 0 40px 0 25px;
  width: 100%;
}

.noOptions label {
  cursor: auto;
}

.optionsIconWrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
}

.optionsIcon {
  margin: 4px 10px 0 0;
}

.options {
  display: none;
  position: absolute;
  top: 72px;
  left: -1px;
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid light;
  box-shadow: 0 7px 8px 0 rgba(0,0,0,0.14);
}

.option {
}

.option button {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0;
  background: none;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: medium;
}

.option button:hover {
  color: dark;
}

.selected {
  composes: option;
}

.selected button {
  color: dark;
}

.editLink {
}
