@value colors: "../../variables/colors.css";
@value xtraLightGrey from colors;
@value brand from colors;
@value medium from colors;
@value white from colors;
@value light from colors;
@value dark from colors;

.wrapper {
  overflow-x: scroll;
  padding-bottom: 15px;
}

.table {
  border: 1px solid light;
  font-family: 'Gilroy';
  border-spacing: 0;
}

.table thead {
  background-color: xtraLightGrey;
}

.table th {
  text-align: left;
  border-right: 1px solid light;
  border-bottom: 1px solid light;
  position: relative;
}

.table th:last-child {
  border-right: 0;
}

.table tbody td {
  font-weight: 600;
  color: dark;
  line-height: 42px;
  padding: 0 25px;
  white-space: nowrap;
}

.table td {
  border-right: 1px solid light;
  border-bottom: 1px solid light;
}

.table td:last-child {
  border-right: 0;
}

.table tr:last-child td {
  border-bottom: 0;
}

.readonly {}

.table:not(.readonly) tbody tr:hover {
  background-color: xtraLightGrey;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .options {
  display: block;
}

.toggle {
  width: 100%;
}

.toggle label,
.noOptions label {
  display: inline-block;
  cursor: pointer;
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 700;
  color: medium;
  box-sizing: border-box;
  line-height: 70px;
  white-space: nowrap;
  padding: 0 40px 0 25px;
  width: 100%;
}

.noOptions label {
  cursor: auto;
}

.optionsIconWrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
}

.optionsIcon {
  margin: 4px 10px 0 0;
}

.options {
  display: none;
  position: absolute;
  top: 72px;
  left: -1px;
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid light;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.14);
}

.option button {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0;
  background: none;
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: medium;
}

.option button:hover {
  color: dark;
}

.selected {
  composes: option;
}

.highlighted {
  background-color: xtraLightGrey;
}

.highlighted  td:first-child {
  font-weight: 800;
}

.selected button {
  color: dark;
}

.header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Gilroy';
  color: dark;
}

/* ----------------- cockpit theme ------------------------- */

.cockpit {
  padding-bottom: 0;
  border-radius: 4px;
  overflow: scroll;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.19);
  font-family: 'Gilroy';
  background-color: white;
}

.cockpit > table {
  width: 100%;
}

.cockpit > table {
  border: 0;
}


.cockpit table > thead > tr {
  background-color: xtraLightGrey;
}

.cockpit tbody td {
  width: 26px;
  height: 50px;
  line-height: 0;
}

.cockpit th {
  border-top: none;
  border-left: none;
}

.cockpit td {
  border: none;
  text-align: center;
}

.cockpit tr td {
  border-right: 1px solid light;
  border-bottom: 1px solid light;
}

.cockpit tr th {
  text-align: center;
}

.cockpit tr td:first-child {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 600px;
  width: 60%;
}

.cockpit tr th:first-child {
  text-align: left;
}

.cockpit thead tr th .noOptions label {
  padding: 0;
  font-size: 23px;
  margin: 0;
  line-height: 38px;
}

.cockpit tbody tr.highlighted {
  background-color: light;
}

.cockpit .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.cockpit .title {
  font-weight: 500;
  color: dark;
}

.cockpit .legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.cockpit .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cockpit .label {
  padding-left: 10px;
}

.cockpit .nostatus {
  font-size: 20px;
}

.cockpit .videosubtitle {
  vertical-align: middle;
  padding-right: 4px;
}
