@value colors: "../../variables/colors.css";
@value cm_grey_700 from colors;
@value cm_grey_400 from colors;

.title {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: cm_grey_700;
}

.rolesGroup {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field {
  margin: 8px 0;
}

@media desktop {
  .rolesGroup {
    flex-direction: row;
  }

  .content {
    margin-top: 0;
  }
}
