@value breakpoints: "../../../../../variables/breakpoints.css";
@value mobile, tablet from breakpoints;
@value colors: "../../../../../variables/colors.css";
@value xtraLightGrey from colors;
@value light from colors;
@value orangeAdd from colors;
@value grey from colors;
@value positive from colors;
@value black from colors;
@value medium from colors;
@value white from colors;

.wrapper {
  max-width: 960px;
  position: fixed;
  width: 100%;
  left: 50%;
  bottom: 0;
  height: 80px;
  display: flex;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-left: 1px solid light;
  border-right: 1px solid light;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.button {
  flex: 1;
  background-color: xtraLightGrey;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid light;
  border-top: 1px solid light;
  box-sizing: border-box;
}

.button:last-child {
  border-right: 0;
}

.button:hover {
  transition: all 0.15s ease-in-out;
  border-top: 2px solid;
}

.selected {
  composes: button;
  background-color: white;
  border-top: 2px solid;
}

.disabled {
  composes: button;
  pointer-events: none;
}

.disabled .logo {
  color: medium;
  opacity: 0.5;
}

.disabled .title {
  color: medium;
  opacity: 0.5;
}

.notify {
  position: absolute;
  background-color: orangeAdd;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  top: -3px;
  right: -3px;
}

.logo {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: grey;
}

.highlighted {
  composes: logo;
  background-color: positive;
}

.title {
  margin-top: 4px;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 13px;
  color: black;
}

@media tablet {
  .wrapper {
    max-width: 100vw;
    border-radius: 0;
  }
}

@media mobile {
  .coach {
    display: none;
  }
}
