@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;
@value colors: "../../variables/colors.css";
@value darkGrey from colors;
@value mediumGrey from colors;
@value primary from colors;
@value white from colors;
@value extraLightGrey from colors;

.categories {
  width: 230px;
}

.category {
  margin-bottom: 50px;
}

.category h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  color: darkGrey;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.filters {
  list-style-type: none;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}

.filter {
  border-bottom: 1px solid mediumGrey;
  height: 40px;
}

.filter a {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 14px;
  color: darkGrey;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.filter a:hover {
  color: primary;
}

.filter a.selected {
  font-family: "Open Sans";
  font-weight: 800;
  color: primary;
}

.mobileToggler {
  display: none;
}

.togglerDisplay {
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: darkGrey;
  padding: 0 22px;
  border-radius: 2px;
  color: white;
  margin: 0 auto;
  cursor: pointer;
}

.togglerDisplay span {
  font-family: "Open Sans";
  font-weight: 800;
  letter-spacing: 0.4px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

@media mobile {
  .categories {
    width: 280px;
    margin: 0 auto 20px;
    position: relative;
  }

  .category {
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    border: 1px solid extraLightGrey;
  }

  .category h2 {
    display: none;
  }

  .filter {
    border-bottom: 1px solid extraLightGrey;
  }

  .filter:last-child {
    border-bottom: none;
  }

  .filter a {
    font-family: "Open Sans";
    font-weight: 700;
    color: darkGrey;
    font-size: 12px;
    text-transform: none;
    display: block;
    padding: 0 15px;
  }

  .arrow {
    color: white;
    border-right: 4px solid;
    border-bottom: 4px solid;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 25px;
    right: 20px;
    transform: rotate(-135deg);
    cursor: pointer;
  }

  .togglerDisplay {
    display: block;
  }

  .mobileToggler:checked ~ .arrow {
    transform: rotate(45deg);
    top: 20px;
  }

  .mobileToggler:checked ~ .category {
    display: none;
  }
}
