@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value dark from colors;
@value xtraLightGrey from colors;

.header {
  border-bottom: solid 1px light;
  padding: 27px 30px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.thread {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.thread h1 {
  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: dark;
  margin: 0;
  padding: 0 0 16px;
}

.loader {
  position: relative;
  height: 100px;
}

@media tablet {
  .header {
    padding: 16px;
  }

  .thread h1 {
    padding: 0 0 5px;
  }
}
