@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value desktop from breakpoints;
@value wide from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value white from colors;
@value black from colors;
@value transparent from colors;
@value lightBlack from colors;
@value lightMediumGray from colors;

.headSpacingContainer {
  width: 100%;
  background-color: #2B2E31;
  display: flex;
  flex-wrap: nowrap;
}

.headSectionWrapper {
  width: 100%;
  align-items: baseline;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.logoWrapper {
  height: 100%;
  align-self: center;
}

.coorpAppLogo {
  color: white;
  width: 176.4px;
  height: 100px;
  align-self: center;
}

.marketingLabel {
  align-self: center;
  width: auto;
  height: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: uppercase;
}

.mobileAppLinks {
  align-self: center;
}

.siteMapSpacingContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  flex-direction: row;
  background-color: black;
}

.siteMapContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-family: "Open Sans";
  background-color: black;
}

.sectionsContainer {
  display: flex;
}

.sectionWrapper {
  padding-right: 60px;
  padding-bottom: 24px;
}

.sectionTitle {
  padding-top: 16px;
  color: lightMediumGray;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* The list of page links under each title */
.pagesList {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.pageLink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 14px;
  max-width: 200px;
  cursor: pointer;
  padding-bottom: 6.5px;
  /* because when we have an OnClick event, the component "Link"
   forces the pointer-events to none */
  pointer-events: initial!important;
}

.pageLink:hover {
  color: white;
  font-weight: bold;
}

.logoSocialNetworksContainer {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.coorpLogo {
  padding-top: 32px;
  color: white;
  width: 120.1px;
  height: 65px;
}

.socialNetworksWrapper {
  padding-top: 24px;
  display: flex;
  flex-wrap: nowrap;
}

.socialLink {
  padding-right: 9px;
}

@media desktop, wide, (max-width: 4000px) {
  .headSpacingContainer {
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
  }

  .headSectionWrapper {
    height: 101px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
  }

  .logoAndLabelWrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  /* separates the mkting logo from the label */
  .logoWrapper::after {
    align-self: center;
    content: '';
    display: inline-block;
    width: 1px;
    height: 24px;
    border-right: solid 1px white;
    margin-right: 20px;
    margin-left: 20px;
    transform: translateY(-150%);
  }

  .marketingLabel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mobileAppLinks {
    padding-left: 50px;
  }

  .siteMapSpacingContainer {
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
  }

  .siteMapContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1080px;
  }

  .sectionWrapper {
    max-width: 300px;
    width: max-content;
  }

  .pageLink {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  .logoSocialNetworksContainer {
    padding-bottom: 24px;
  }

}

@media (max-width: 1140px) {
  .headSectionWrapper {
    max-width: calc(100% - 60px);
  }

  .siteMapContainer {
    max-width: calc(100% - 60px);
  }
}

@media tablet, (max-width: 1080px) {
  .headSpacingContainer {
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
    height: 221px;
  }

  .headSectionWrapper {
    max-width: 100%;
    height: 157px;
    flex-direction: column;
  }

  .logoAndLabelWrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .logoWrapper {
    margin-top: -22.5px;
    margin-left: 0px;
    height: auto;
  }

  .logoWrapper::after {
    display: none;
  }

  .coorpAppLogo {
    height: 80px;
    align-self: center;
  }

  .marketingLabel {
    width: 100%;
    max-width: 341px;
    height: 42px;
    overflow-wrap: normal;
    white-space: normal;
    text-align: center;
    padding-bottom: 17px;
  }

  .mobileAppLinks {
    margin-top: 1px;
    padding-left: 0px;
    align-self: center;
  }

  .siteMapContainer {
    flex-direction: column;
  }

  .sectionsContainer {
    margin-left: 0px;
    align-self: flex-start;
    flex-direction: column;
    min-width: -webkit-fill-available;
    min-width: stretch;
    flex: 1 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    flex-grow: 1;
  }

  .sectionWrapper {
    padding-right: 0px;
    padding-bottom: 10px;
    min-width: 100%;
    flex-grow: 1;
    align-content: flex-start;
  }

  .pageLink {
    font-weight: bold;
    white-space: normal;
    text-overflow: unset;
    display: block;
    color:white;
  }

  .logoSocialNetworksContainer {
    align-self: center;
    padding-right: 0px;
    padding-bottom: 11px;
  }

  .socialNetworksWrapper {
    padding-bottom: 24px;
  }

  .sectionTitle {
    margin-bottom: 0px;
    padding-bottom: 0px;
    overflow-wrap: normal;
  }

  .pagesList {
    margin-top: 8px;
    margin-bottom: 4px;
    background: black padding-box;
    position: relative;
  }

  .pagesList::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0px;
    border-bottom: solid 1em transparent;
    box-shadow: 0 1px 0 lightBlack;
  }
}

/* support for extra small screens < 340px */
@media (max-width: 339px) {
  .sectionsContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.storeLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.img {
  width: 110px;
  height: 35px;
  cursor: pointer;
}

.imgApple {
  width: 110px;
  height: 35px;
  cursor: pointer;
  padding-right: 9px;
  border-radius: 5px 11px 11px 5px;
}





