@value breakpoints: "../../variables/breakpoints.css";
@value tablet from breakpoints;
@value desktop from breakpoints;
@value colors: "../../variables/colors.css";
@value light from colors;
@value white from colors;
@value black from colors;
@value dark from colors;
@value transparent from colors;
@value lightBlack from colors;
@value primaryAdd2 from colors;
@value defaultText from "../../variables/fonts.css";

.wrapper {
  min-height: 193px;
}

.headSectionWrapper {
  width: 100%;
  height: 101px;
  background-color: lightBlack;
  align-items: baseline;
  display: flex;
}

.logoWrapper {
  margin-left: 255px;
  height: 100%;
  /* background-color: white; */
  display: inline-block;
  align-self: center;
  /* max-width: 180px; */
  background-color:lightBlack;
  /* box-sizing: border-box; */
}

.line {
  align-self: center;
  width: 1px;
  height: 24px;
  border-right: solid 1px white;
}

.coorpAppLogo {
  color: primaryAdd2;
  /* padding: 0 5px; */
  width: 176.4px;
  height: 100px;
  align-self: center;
  padding-right: 20px;
}

.marketingLabel {
  padding-left: 20px;
  display: inline-block;
  align-self: center;
  background-color:lightBlack;
  width: 444px;
  height: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  /* tried with defaultText but it is not working */
  /* compose: defaultText; */
}

.mobileAppLinks {
  display: inline-block;
}

.siteMapContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* justify-items: center;*/
  align-items: flex-start; 
  font-family: "Open Sans";
  background-color: black;
  margin-bottom: 10px;
}

.sectionsContainer {
  margin-left: 255px;
}

.sectionTitle {
  color: white;
  width: 41px;
  height: 16px;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1px;
}

.coorpLogo {
  color: white;
  padding: 0 5px;
  width: 120.1px;
  height: 65px;
  border-right:1px white; 
}


/* .links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 15em;
} */

