@value colors: "../../../variables/colors.css";
@value medium from colors;
@value white from colors;
@value dark from colors;
@value light from colors;

.title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: light;
  cursor: pointer;
}

.title h3 {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 700;
  color: dark;
  margin: 0;
}

.container {
  background-color: white;
  animation: fadeIn 3s forwards;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 10000px;
  }
}

.none {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
}
