@value colors: "../../../variables/colors.css";
@value medium from colors;
@value white from colors;
@value primaryAdd2 from colors;
@value xtraLightGrey from colors;

.title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: xtraLightGrey;
  cursor: pointer;
}

.title h3 {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  color: primaryAdd2;
  margin: 0;
}

.container {
  padding: 40px;
  background-color: white;
  border-top: 1px solid medium;
  animation: fadeIn 3s forwards;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 10000px;
  }
}

.none {
  display: none;
}

.arrow {
  composes: fa from '../../../variables/fontawesome.css';
  color: medium;
  font-size: 24px;
}

.down {
  composes: arrow;
  composes: fa-plus from '../../../variables/fontawesome.css';
}

.up {
  composes: arrow;
  composes: fa-minus from '../../../variables/fontawesome.css';
}
